@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Dashboard_Config_DetailModel
@{




    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Spartan Dashboard Config Detail
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Dashboard_Config_DetailRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Dashboard_Config_DetailPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Spartan Dashboard Config Detail
								<button onclick="Dashboard_Config_DetailGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Dashboard_Config_DetailBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Dashboard_Config_DetailResources.Dashboard_Config_Detail</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Dashboard_Config_DetailDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Dashboard_Config_DetailPropertyBusinessModal" id="Dashboard_Config_DetailPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Dashboard_Config_DetailBusinessRule-form" onclick="Dashboard_Config_DetailGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Dashboard_Config_DetailPropertyModal" id="Dashboard_Config_DetailPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Dashboard_Config_DetailBusinessRuleModal" id="Dashboard_Config_DetailBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Dashboard_Config_DetailAddBusinessRuleModal" id="Dashboard_Config_DetailAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Dashboard_Config_Detail", FormMethod.Post, new { id = "CreateDashboard_Config_Detail", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Dashboard_Config_DetailCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divDetail_Id">
                                <label class="col-sm-2 control-label">@Resources.Dashboard_Config_DetailResources.Detail_Id</label>
                                <div class="col-sm-8" data-field-id="Detail_Id" data-attribute="223486" data-field-name="@Resources.Dashboard_Config_DetailResources.Detail_Id">
                                    <label class="form-control" for="Dashboard_Config_DetailDetail_Id" id="Dashboard_Config_DetailDetail_Id">@Model.Detail_Id</label>
                                </div>
                            </div>
<div class="form-group" id="divReport_Id">
	<label class="col-sm-2 control-label">@Resources.Dashboard_Config_DetailResources.Report_Id</label>
	<div class="col-sm-8" data-field-id="Report_Id" data-attribute="223488" data-field-name="@Resources.Dashboard_Config_DetailResources.Report_Id">
		<input class="form-control inputNumber" id="Dashboard_Config_DetailReport_Id" name="Dashboard_Config_DetailReport_Id" type="text" value="@Model.Report_Id">
	</div>
</div>
<div class="form-group" id="divReport_Name">
                                <label class="col-sm-2 control-label">@Resources.Dashboard_Config_DetailResources.Report_Name</label>
                                <div class="col-sm-8" data-field-id="Report_Name" data-attribute="223489" data-field-name="@Resources.Dashboard_Config_DetailResources.Report_Name">
                                    <input class="form-control" id="Dashboard_Config_DetailReport_Name" name="Dashboard_Config_DetailReport_Name" type="text" value="@Model.Report_Name">
                                </div>
                            </div>
<div class="form-group" id="divConfigRow">
	<label class="col-sm-2 control-label">@Resources.Dashboard_Config_DetailResources.ConfigRow</label>
	<div class="col-sm-8" data-field-id="ConfigRow" data-attribute="223499" data-field-name="@Resources.Dashboard_Config_DetailResources.ConfigRow">
		<input class="form-control inputNumber" id="Dashboard_Config_DetailConfigRow" name="Dashboard_Config_DetailConfigRow" type="text" value="@Model.ConfigRow">
	</div>
</div>
<div class="form-group" id="divConfigColumn">
	<label class="col-sm-2 control-label">@Resources.Dashboard_Config_DetailResources.ConfigColumn</label>
	<div class="col-sm-8" data-field-id="ConfigColumn" data-attribute="223500" data-field-name="@Resources.Dashboard_Config_DetailResources.ConfigColumn">
		<input class="form-control inputNumber" id="Dashboard_Config_DetailConfigColumn" name="Dashboard_Config_DetailConfigColumn" type="text" value="@Model.ConfigColumn">
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Detail_Id" id="ReferenceDetail_Id" />
												<input type="hidden" value="@Model.Detail_Id" name="Detail_Id" id="Detail_IdId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Dashboard_Config_DetailConfigureSave" name="Dashboard_Config_DetailConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDashboard_Config_DetailConfigureType" />
												<input type="hidden" id="hdnDashboard_Config_DetailBusinessRuleFieldId" />
												<input type="hidden" id="hdnDashboard_Config_DetailBusinessRuleFieldName" />
												<input type="hidden" id="hdnDashboard_Config_DetailBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Dashboard_Config_DetailGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Dashboard_Config_DetailBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Dashboard_Config_Detail.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Dashboard_Config_DetailGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Dashboard_Config_DetailCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Dashboard_EditorCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Dashboard_Config_DetailRowElement = "Dashboard_Config_DetailPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Dashboard_Config_DetailRowElement + "')){ Dashboard_Config_DetailInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDashboard_Config_DetailData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDashboard_Config_Detail").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDashboard_Config_Detail")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Dashboard_Config_DetailCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Dashboard_Config_Detail/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Dashboard_Config_DetailPropertyBag", "Dashboard_Config_Detail")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Dashboard_Config_DetailGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDashboard_Config_DetailBusinessRuleFieldId').val(FieldId);
				$('#hdnDashboard_Config_DetailBusinessRuleFieldName').val(FieldName);
				$('#hdnDashboard_Config_DetailBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDashboard_Config_DetailBusinessRuleFieldId').val(), FieldName: $('#hdnDashboard_Config_DetailBusinessRuleFieldName').val(), ObjectId: '40190', Attribute: $('#hdnDashboard_Config_DetailBusinessRuleAttribute').val(), Screen: 'Dashboard_Config_Detail' }, function (data) {
                $(".Dashboard_Config_DetailBusinessRuleModal").html(data);
            });
        }
        function Dashboard_Config_DetailGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDashboard_Config_DetailBusinessRuleFieldId').val(FieldId);
				$('#hdnDashboard_Config_DetailBusinessRuleFieldName').val(FieldName);
				$('#hdnDashboard_Config_DetailBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDashboard_Config_DetailBusinessRuleFieldId').val(), FieldName: $('#hdnDashboard_Config_DetailBusinessRuleFieldName').val(), ObjectId: '40190', Attribute: $('#hdnDashboard_Config_DetailBusinessRuleAttribute').val(), Screen: 'Dashboard_Config_Detail' }, function (data) {
                $(".Dashboard_Config_DetailAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDashboard_Config_DetailBusinessRuleFieldId').val(), FieldName: $('#hdnDashboard_Config_DetailBusinessRuleFieldName').val(), ObjectId: '40190', Attribute: $('#hdnDashboard_Config_DetailBusinessRuleAttribute').val(), Screen: 'Dashboard_Config_Detail' }, function (data) {
				$(".Dashboard_Config_DetailBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Dashboard_Config_Detail/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Dashboard_Config_Detail/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Dashboard_Config_Detail/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDashboard_Config_DetailConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDashboard_Config_DetailConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Dashboard_Config_Detail/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDashboard_Config_DetailConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Dashboard_Config_Detail/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Dashboard_Config_Detail' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Dashboard_Config_Detail' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Dashboard_Config_DetailConfigureSave').text('Save Settings');
                    $('#hdnDashboard_Config_DetailConfigureType').val("1");
                });
            }
        }
		$('#CreateDashboard_Config_Detail').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDashboard_Config_DetailBusinessRuleFieldId').val(fieldId);
			$('#hdnDashboard_Config_DetailBusinessRuleFieldName').val(fieldName);
			$('#hdnDashboard_Config_DetailBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
