@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.IngredientesModel
@{
    Spartane_File attachedFileImagen = (Spartane_File)ViewBag.ImagenSpartane_File;

/*

*/
    List<SelectListItem> varClasificacion_Ingredientes_Clasificacion = null;
    if (ViewBag.Clasificacion_Ingredientess_Clasificacion != null)
    { varClasificacion_Ingredientes_Clasificacion = (List<SelectListItem>)ViewBag.Clasificacion_Ingredientess_Clasificacion; }
    List<SelectListItem> varSubgrupos_Ingredientes_Subgrupo = null;
    if (ViewBag.Subgrupos_Ingredientess_Subgrupo != null)
    { varSubgrupos_Ingredientes_Subgrupo = (List<SelectListItem>)ViewBag.Subgrupos_Ingredientess_Subgrupo; }
    List<SelectListItem> varUnidades_de_Medida_Unidad = null;
    if (ViewBag.Unidades_de_Medidas_Unidad != null)
    { varUnidades_de_Medida_Unidad = (List<SelectListItem>)ViewBag.Unidades_de_Medidas_Unidad; }
    List<SelectListItem> varEstatus_Ingredientes_Estatus = null;
    if (ViewBag.Estatus_Ingredientess_Estatus != null)
    { varEstatus_Ingredientes_Estatus = (List<SelectListItem>)ViewBag.Estatus_Ingredientess_Estatus; }


    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial || ViewBag.viewInEframe)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.IngredientesResources.Ingredientes
                <button onclick="IngredientesGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#IngredientesBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.IngredientesResources.Ingredientes</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="IngredientesDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in IngredientesPropertyBusinessModal" id="IngredientesPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#IngredientesBusinessRule-form" onclick="IngredientesGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in IngredientesBusinessRuleModal" id="IngredientesBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Ingredientes", FormMethod.Post, new { id = "CreateIngredientes", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid IngredientesCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.IngredientesResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="254519" data-field-name="@Resources.IngredientesResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divEs_un_ingrediente_de_SMAE">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Es_un_ingrediente_de_SMAE</label>
                                <div class="col-sm-8" data-field-id="Es_un_ingrediente_de_SMAE" data-attribute="260976" data-field-name="@Resources.IngredientesResources.Es_un_ingrediente_de_SMAE">
                                    @Html.CheckBoxFor(m => m.Es_un_ingrediente_de_SMAE, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divClasificacion">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Clasificacion</label>
                                <div class="col-sm-8" data-field-id="Clasificacion" data-attribute="257539" data-field-name="@Resources.IngredientesResources.Clasificacion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Clasificación must be a number." data-val-required="The Clasificación field is required." id="Clasificacion" name="Clasificacion">
                                        <option value=""></option>
                                        @if (varClasificacion_Ingredientes_Clasificacion != null){ 
                                            foreach (var itemClasificacion in varClasificacion_Ingredientes_Clasificacion)
                                            {
                                                if (itemClasificacion.Value == Convert.ToString(Model.Clasificacion))
                                                {
                                                    <option value="@itemClasificacion.Value" selected>@itemClasificacion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemClasificacion.Value">@itemClasificacion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Clasificacion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 257539).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Clasificacion_Ingredientes', 'Clasificacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divSubgrupo">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Subgrupo</label>
                                <div class="col-sm-8" data-field-id="Subgrupo" data-attribute="259609" data-field-name="@Resources.IngredientesResources.Subgrupo">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Subgrupo must be a number." data-val-required="The Subgrupo field is required." id="Subgrupo" name="Subgrupo">
                                        <option value=""></option>
                                        @if (varSubgrupos_Ingredientes_Subgrupo != null){ 
                                            foreach (var itemSubgrupo in varSubgrupos_Ingredientes_Subgrupo)
                                            {
                                                if (itemSubgrupo.Value == Convert.ToString(Model.Subgrupo))
                                                {
                                                    <option value="@itemSubgrupo.Value" selected>@itemSubgrupo.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemSubgrupo.Value">@itemSubgrupo.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Subgrupo" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 259609).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Subgrupos_Ingredientes', 'Subgrupo');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNombre_Ingrediente">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Nombre_Ingrediente</label>
                                <div class="col-sm-8" data-field-id="Nombre_Ingrediente" data-attribute="254520" data-field-name="@Resources.IngredientesResources.Nombre_Ingrediente">
                                    <textarea id="Nombre_Ingrediente" name="Nombre_Ingrediente" class="form-control Datos_Generales" rows="4" cols="50">@Model.Nombre_Ingrediente</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre_Ingrediente" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divIngrediente">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Ingrediente</label>
                                <div class="col-sm-8" data-field-id="Ingrediente" data-attribute="260977" data-field-name="@Resources.IngredientesResources.Ingrediente">
                                    <textarea id="Ingrediente" name="Ingrediente" class="form-control Datos_Generales" rows="4" cols="50">@Model.Ingrediente</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Ingrediente" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            @if (attachedFileImagen != null && attachedFileImagen.File_Id > 0)
                            {
                                <div class="form-group" id="divAttachmentImagen">
                                    <label class="col-sm-2 control-label">@Resources.Resources.PreviouslyAttachedFile</label>
                                    <div class="col-sm-8 Datos_Generales" data-field-id="Imagen" data-attribute="258699" data-field-name="@Resources.IngredientesResources.Imagen">
                                        <a href="@Url.Content("~/Frontal/Ingredientes/GetFile")?id=@attachedFileImagen.File_Id" target="_blank">@attachedFileImagen.Description</a>
                                        <img src="@Url.Content("~/Content/Images/RemoveAttachment.png")" onclick="RemoveAttachmentMainImagen('@attachedFileImagen.File_Id')" />
                                    </div>
                                    <input id="hdnRemoveImagen" name="RemoveImagen" value="0" type="hidden" />
                                    <input class="form-control col-md-12 Datos_Generales" id="hdnAttachedImagen" type="hidden" name="Imagen" value="@Model.Imagen">
                                </div>
                            }
                            <div class="form-group" id="divImagen">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Imagen</label>
                                <div class="col-sm-8" data-field-id="Imagen" data-attribute="258699" data-field-name="@Resources.IngredientesResources.Imagen">
                                    <input type="file" name="ImagenFile" id="ImagenFile" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group" id="divCantidad_sugerida">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Cantidad_sugerida</label>
                                <div class="col-sm-8" data-field-id="Cantidad_sugerida" data-attribute="259610" data-field-name="@Resources.IngredientesResources.Cantidad_sugerida">
                                    <input class="form-control Datos_Generales" id="Cantidad_sugerida" name="Cantidad_sugerida" type="text" value="@Model.Cantidad_sugerida">
                                    @*<span class="field-validation-valid" data-valmsg-for="Cantidad_sugerida" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCantidad_Sugerida_Decimal">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Cantidad_Sugerida_Decimal</label>
                                <div class="col-sm-8" data-field-id="Cantidad_Sugerida_Decimal" data-attribute="260825" data-field-name="@Resources.IngredientesResources.Cantidad_Sugerida_Decimal">
									@if(Model.Cantidad_Sugerida_Decimal.HasValue)
									{
										<input class="form-control col-md-12 inputNumber Datos_Generales" id="Cantidad_Sugerida_Decimal" name="Cantidad_Sugerida_Decimal" type="text" min="0.00" max="999999.99" value="@Model.Cantidad_Sugerida_Decimal.Value.ToString(new CultureInfo("en-US"))">
									}
									else
									{
										<input class="form-control col-md-12 inputNumber Datos_Generales" id="Cantidad_Sugerida_Decimal" name="Cantidad_Sugerida_Decimal" type="text" min="0.00" max="999999.99" value="">
									}                                    
                                </div>
                            </div>
                            <div class="form-group" id="divUnidad">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Unidad</label>
                                <div class="col-sm-8" data-field-id="Unidad" data-attribute="259611" data-field-name="@Resources.IngredientesResources.Unidad">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Unidad must be a number." data-val-required="The Unidad field is required." id="Unidad" name="Unidad">
                                        <option value=""></option>
                                        @if (varUnidades_de_Medida_Unidad != null){ 
                                            foreach (var itemUnidad in varUnidades_de_Medida_Unidad)
                                            {
                                                if (itemUnidad.Value == Convert.ToString(Model.Unidad))
                                                {
                                                    <option value="@itemUnidad.Value" selected>@itemUnidad.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemUnidad.Value">@itemUnidad.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Unidad" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 259611).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Unidades_de_Medida', 'Unidad');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divPeso_bruto_redondeado_g">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Peso_bruto_redondeado_g</label>
                                <div class="col-sm-8" data-field-id="Peso_bruto_redondeado_g" data-attribute="259612" data-field-name="@Resources.IngredientesResources.Peso_bruto_redondeado_g">
									@if(Model.Peso_bruto_redondeado_g.HasValue)
									{
										<input class="form-control col-md-12 inputNumber Datos_Generales" id="Peso_bruto_redondeado_g" name="Peso_bruto_redondeado_g" type="text" min="0.00" max="999999.99" value="@Model.Peso_bruto_redondeado_g.Value.ToString(new CultureInfo("en-US"))">
									}
									else
									{
										<input class="form-control col-md-12 inputNumber Datos_Generales" id="Peso_bruto_redondeado_g" name="Peso_bruto_redondeado_g" type="text" min="0.00" max="999999.99" value="">
									}                                    
                                </div>
                            </div>
                            <div class="form-group" id="divPeso_neto_g">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Peso_neto_g</label>
                                <div class="col-sm-8" data-field-id="Peso_neto_g" data-attribute="259613" data-field-name="@Resources.IngredientesResources.Peso_neto_g">
									@if(Model.Peso_neto_g.HasValue)
									{
										<input class="form-control col-md-12 inputNumber Datos_Generales" id="Peso_neto_g" name="Peso_neto_g" type="text" min="0.00" max="999999.99" value="@Model.Peso_neto_g.Value.ToString(new CultureInfo("en-US"))">
									}
									else
									{
										<input class="form-control col-md-12 inputNumber Datos_Generales" id="Peso_neto_g" name="Peso_neto_g" type="text" min="0.00" max="999999.99" value="">
									}                                    
                                </div>
                            </div>
                            <div class="form-group" id="divEstatus">
                                <label class="col-sm-2 control-label">@Resources.IngredientesResources.Estatus</label>
                                <div class="col-sm-8" data-field-id="Estatus" data-attribute="261297" data-field-name="@Resources.IngredientesResources.Estatus">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Estatus" name="Estatus">
                                        <option value=""></option>
                                        @if (varEstatus_Ingredientes_Estatus != null){ 
                                            foreach (var itemEstatus in varEstatus_Ingredientes_Estatus)
                                            {
                                                if (itemEstatus.Value == Convert.ToString(Model.Estatus))
                                                {
                                                    <option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstatus.Value">@itemEstatus.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estatus" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 261297).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estatus_Ingredientes', 'Estatus');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="IngredientesGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('IngredientesCreateForm');"  />
									<button onclick="IngredientesGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#IngredientesBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="IngredientesGuardarYNuevo" onclick="return checkClientValidate('IngredientesCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="IngredientesGuardarYCopia" onclick="return checkClientValidate('IngredientesCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnIngredientesBusinessRuleFieldId" />
                                <input type="hidden" id="hdnIngredientesBusinessRuleFieldName" />
                                <input type="hidden" id="hdnIngredientesBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="IngredientesCancelar" name="IngredientesCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="IngredientesGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#IngredientesBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Ingredientes.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/IngredientesGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/IngredientesCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        
        function RemoveAttachmentMainImagen () {
            $("#hdnRemoveImagen").val("1");
            $("#divAttachmentImagen").hide();
        }


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var viewInEframe =  ('@ViewBag.viewInEframe' == 'True');
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('43960');
		   
		   
			
             @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
             }
             EjecutarValidacionesAlComienzo();
             

            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			
			 if (viewInEframe) {             
                $('#IngredientesGuardarYNuevo').hide();
                $('#IngredientesGuardarYCopia').hide();
                $('#IngredientesCancelar').hide(); 
                $('#ConfigureSave').hide();
                $('#IngredientesGuardar').val('Actualizar Seccion ' + '@Resources.IngredientesResources.Ingredientes' )
            }

			
			

        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Ingredientes/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendIngredientesData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateIngredientes").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateIngredientes")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceClave").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('IngredientesCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Ingredientes/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".IngredientesBusinessRuleModal").html(data);
			});
		}
                function IngredientesGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('43960');
			$('#Screen').val('Ingredientes');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function IngredientesBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Ingredientes/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Ingredientes/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Ingredientes/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Ingredientes/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Ingredientes/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateIngredientes').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        IngredientesGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Ingredientes/Get_Datos_Generales")?Id=" + $("#ReferenceClave").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Clave').val(result.data.Clave);
                    $('#Es_un_ingrediente_de_SMAE').prop('checked', result.data.Es_un_ingrediente_de_SMAE);
                    $('#Clasificacion').val(result.data.Clasificacion);
                    $('#Subgrupo').val(result.data.Subgrupo);
                    $('#Nombre_Ingrediente').val(result.data.Nombre_Ingrediente);
                    $('#Ingrediente').val(result.data.Ingrediente);
                    $('#Imagen').val(result.data.Imagen);
                    $('#Cantidad_sugerida').val(result.data.Cantidad_sugerida);
                    $('#Cantidad_Sugerida_Decimal').val(result.data.Cantidad_Sugerida_Decimal);
                    $('#Unidad').val(result.data.Unidad);
                    $('#Peso_bruto_redondeado_g').val(result.data.Peso_bruto_redondeado_g);
                    $('#Peso_neto_g').val(result.data.Peso_neto_g);
                    $('#Estatus').val(result.data.Estatus);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Clave', newId);
			                data.append('Es_un_ingrediente_de_SMAE', $('#Es_un_ingrediente_de_SMAE').prop('checked'));
                data.append('Clasificacion', $('#Clasificacion').val());
                data.append('Subgrupo', $('#Subgrupo').val());
                data.append('Nombre_Ingrediente', $('#Nombre_Ingrediente').val());
                data.append('Ingrediente', $('#Ingrediente').val());
                data.append('Imagen', $('#hdnAttachedImagen').val());
                data.append('ImagenFile', $('#ImagenFile')[0].files[0]);
                data.append('ImagenRemoveAttachment', $('#hdnRemoveImagen').val());
                data.append('Cantidad_sugerida', $('#Cantidad_sugerida').val());
                data.append('Cantidad_Sugerida_Decimal', $('#Cantidad_Sugerida_Decimal').val());
                data.append('Unidad', $('#Unidad').val());
                data.append('Peso_bruto_redondeado_g', $('#Peso_bruto_redondeado_g').val());
                data.append('Peso_neto_g', $('#Peso_neto_g').val());
                data.append('Estatus', $('#Estatus').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Ingredientes/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Ingredientes_cmbLabelSelect" name="Ingredientes_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

