@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Solicitud_de_Cita_con_EspecialistaModel
@{

/*
    string Fecha_de_solicitud = "";
    if (Model.Fecha_de_solicitud == "")
    { Model.Fecha_de_solicitud = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Retroalimentacion = "";
    if (Model.Fecha_de_Retroalimentacion == "")
    { Model.Fecha_de_Retroalimentacion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
    List<SelectListItem> varSpartan_User_Usuario_que_solicita = null;
    if (ViewBag.Spartan_Users_Usuario_que_solicita != null)
    { varSpartan_User_Usuario_que_solicita = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_solicita; }
    List<SelectListItem> varMedicos_Especialista = null;
    if (ViewBag.Medicoss_Especialista != null)
    { varMedicos_Especialista = (List<SelectListItem>)ViewBag.Medicoss_Especialista; }
    List<SelectListItem> varRespuesta_Logica_Asististe_a_tu_cita = null;
    if (ViewBag.Respuesta_Logicas_Asististe_a_tu_cita != null)
    { varRespuesta_Logica_Asististe_a_tu_cita = (List<SelectListItem>)ViewBag.Respuesta_Logicas_Asististe_a_tu_cita; }
    List<SelectListItem> varCalificacion_Calificacion_Especialista = null;
    if (ViewBag.Calificacions_Calificacion_Especialista != null)
    { varCalificacion_Calificacion_Especialista = (List<SelectListItem>)ViewBag.Calificacions_Calificacion_Especialista; }
    List<SelectListItem> varMotivos_Motivo_no_concreto_cita = null;
    if (ViewBag.Motivoss_Motivo_no_concreto_cita != null)
    { varMotivos_Motivo_no_concreto_cita = (List<SelectListItem>)ViewBag.Motivoss_Motivo_no_concreto_cita; }


    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Solicitud_de_Cita_con_EspecialistaResources.Solicitud_de_Cita_con_Especialista
                <button onclick="Solicitud_de_Cita_con_EspecialistaGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Solicitud_de_Cita_con_EspecialistaBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Solicitud_de_Cita_con_EspecialistaResources.Solicitud_de_Cita_con_Especialista</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Solicitud_de_Cita_con_EspecialistaDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Solicitud_de_Cita_con_EspecialistaPropertyBusinessModal" id="Solicitud_de_Cita_con_EspecialistaPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Solicitud_de_Cita_con_EspecialistaBusinessRule-form" onclick="Solicitud_de_Cita_con_EspecialistaGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Solicitud_de_Cita_con_EspecialistaBusinessRuleModal" id="Solicitud_de_Cita_con_EspecialistaBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Solicitud_de_Cita_con_Especialista", FormMethod.Post, new { id = "CreateSolicitud_de_Cita_con_Especialista", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Solicitud_de_Cita_con_EspecialistaCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Solicitud_de_Cita_con_EspecialistaResources.TabDatos_Generales</a></li>
<li class=""><a data-toggle="tab" href="#tabSolicitud"> @Resources.Solicitud_de_Cita_con_EspecialistaResources.TabSolicitud</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="258896" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Folio">
                                    <label class="form-control" for="Folio" id="lblFolio">
                                    @if (Model.Folio== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Folio</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_de_solicitud">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Fecha_de_solicitud</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_solicitud" data-attribute="258897" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Fecha_de_solicitud">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_solicitud"  name="Fecha_de_solicitud" type="text" value="@Model.Fecha_de_solicitud">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_solicitud">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Hora_de_solicitud</label>
                                <div class="col-sm-8" data-field-id="Hora_de_solicitud" data-attribute="258898" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Hora_de_solicitud">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Hora_de_solicitud"  name="Hora_de_solicitud" type="text" data-autoclose="true" value="@Model.Hora_de_solicitud">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divUsuario_que_solicita">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Usuario_que_solicita</label>
                                <div class="col-sm-8" data-field-id="Usuario_que_solicita" data-attribute="258899" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Usuario_que_solicita">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Usuario que solicita must be a number." data-val-required="The Usuario que solicita field is required." id="Usuario_que_solicita" name="Usuario_que_solicita">
                                        <option value=""></option>
                                        @if (varSpartan_User_Usuario_que_solicita != null){ 
                                            foreach (var itemUsuario_que_solicita in varSpartan_User_Usuario_que_solicita)
                                            {
                                                if (itemUsuario_que_solicita.Value == Convert.ToString(Model.Usuario_que_solicita))
                                                {
                                                    <option value="@itemUsuario_que_solicita.Value" selected>@itemUsuario_que_solicita.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemUsuario_que_solicita.Value">@itemUsuario_que_solicita.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Usuario_que_solicita" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258899).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Usuario_que_solicita');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNombre_Completo">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Nombre_Completo</label>
                                <div class="col-sm-8" data-field-id="Nombre_Completo" data-attribute="258900" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Nombre_Completo">
                                    <textarea id="Nombre_Completo" name="Nombre_Completo" class="form-control Datos_Generales" rows="4" cols="50">@Model.Nombre_Completo</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre_Completo" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCorreo_del_Paciente">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Correo_del_Paciente</label>
                                <div class="col-sm-8" data-field-id="Correo_del_Paciente" data-attribute="258901" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Correo_del_Paciente">
                                    <textarea id="Correo_del_Paciente" name="Correo_del_Paciente" class="form-control Datos_Generales" rows="4" cols="50">@Model.Correo_del_Paciente</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Correo_del_Paciente" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCelular_del_Paciente">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Celular_del_Paciente</label>
                                <div class="col-sm-8" data-field-id="Celular_del_Paciente" data-attribute="258902" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Celular_del_Paciente">
                                    <input class="form-control Datos_Generales" id="Celular_del_Paciente" name="Celular_del_Paciente" type="text" value="@Model.Celular_del_Paciente">
                                    @*<span class="field-validation-valid" data-valmsg-for="Celular_del_Paciente" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divEspecialista">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Especialista</label>
                                <div class="col-sm-8" data-field-id="Especialista" data-attribute="258903" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Especialista">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Especialista must be a number." data-val-required="The Especialista field is required." id="Especialista" name="Especialista">
                                        <option value=""></option>
                                        @if (varMedicos_Especialista != null){ 
                                            foreach (var itemEspecialista in varMedicos_Especialista)
                                            {
                                                if (itemEspecialista.Value == Convert.ToString(Model.Especialista))
                                                {
                                                    <option value="@itemEspecialista.Value" selected>@itemEspecialista.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEspecialista.Value">@itemEspecialista.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Especialista" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258903).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Medicos', 'Especialista');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divCorreo_del_Especialista">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Correo_del_Especialista</label>
                                <div class="col-sm-8" data-field-id="Correo_del_Especialista" data-attribute="258904" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Correo_del_Especialista">
                                    <textarea id="Correo_del_Especialista" name="Correo_del_Especialista" class="form-control Datos_Generales" rows="4" cols="50">@Model.Correo_del_Especialista</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Correo_del_Especialista" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCorreo_enviado">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Correo_enviado</label>
                                <div class="col-sm-8" data-field-id="Correo_enviado" data-attribute="258905" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Correo_enviado">
                                    @Html.CheckBoxFor(m => m.Correo_enviado, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            </div>
                                </div>


                            <div id="tabSolicitud" class="tab-pane">
                                <div class="panel-body">
                            <div class="form-group" id="divFecha_de_Retroalimentacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Fecha_de_Retroalimentacion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Retroalimentacion" data-attribute="258906" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Fecha_de_Retroalimentacion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Solicitud" id="Fecha_de_Retroalimentacion"  name="Fecha_de_Retroalimentacion" type="text" value="@Model.Fecha_de_Retroalimentacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_Retroalimentacion">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Hora_de_Retroalimentacion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Retroalimentacion" data-attribute="258907" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Hora_de_Retroalimentacion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Solicitud" id="Hora_de_Retroalimentacion"  name="Hora_de_Retroalimentacion" type="text" data-autoclose="true" value="@Model.Hora_de_Retroalimentacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divAsististe_a_tu_cita">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Asististe_a_tu_cita</label>
                                <div class="col-sm-8" data-field-id="Asististe_a_tu_cita" data-attribute="258908" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Asististe_a_tu_cita">
                                    <select class="form-control Solicitud" data-val="true" data-val-number="The field ¿Asististe a tu cita? must be a number." data-val-required="The ¿Asististe a tu cita? field is required." id="Asististe_a_tu_cita" name="Asististe_a_tu_cita">
                                        <option value=""></option>
                                        @if (varRespuesta_Logica_Asististe_a_tu_cita != null){ 
                                            foreach (var itemAsististe_a_tu_cita in varRespuesta_Logica_Asististe_a_tu_cita)
                                            {
                                                if (itemAsististe_a_tu_cita.Value == Convert.ToString(Model.Asististe_a_tu_cita))
                                                {
                                                    <option value="@itemAsististe_a_tu_cita.Value" selected>@itemAsististe_a_tu_cita.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemAsististe_a_tu_cita.Value">@itemAsististe_a_tu_cita.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Asististe_a_tu_cita" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258908).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Respuesta_Logica', 'Asististe_a_tu_cita');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divCalificacion_Especialista">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Calificacion_Especialista</label>
                                <div class="col-sm-8" data-field-id="Calificacion_Especialista" data-attribute="258909" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Calificacion_Especialista">
                                    <select class="form-control Solicitud" data-val="true" data-val-number="The field ¿Cómo calificas la atención que recibiste? must be a number." data-val-required="The ¿Cómo calificas la atención que recibiste? field is required." id="Calificacion_Especialista" name="Calificacion_Especialista">
                                        <option value=""></option>
                                        @if (varCalificacion_Calificacion_Especialista != null){ 
                                            foreach (var itemCalificacion_Especialista in varCalificacion_Calificacion_Especialista)
                                            {
                                                if (itemCalificacion_Especialista.Value == Convert.ToString(Model.Calificacion_Especialista))
                                                {
                                                    <option value="@itemCalificacion_Especialista.Value" selected>@itemCalificacion_Especialista.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemCalificacion_Especialista.Value">@itemCalificacion_Especialista.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Calificacion_Especialista" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258909).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Calificacion', 'Calificacion_Especialista');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divMotivo_no_concreto_cita">
                                <label class="col-sm-2 control-label">@Resources.Solicitud_de_Cita_con_EspecialistaResources.Motivo_no_concreto_cita</label>
                                <div class="col-sm-8" data-field-id="Motivo_no_concreto_cita" data-attribute="258910" data-field-name="@Resources.Solicitud_de_Cita_con_EspecialistaResources.Motivo_no_concreto_cita">
                                    <select class="form-control Solicitud" data-val="true" data-val-number="The field Cuéntanos cuál fue la razón must be a number." data-val-required="The Cuéntanos cuál fue la razón field is required." id="Motivo_no_concreto_cita" name="Motivo_no_concreto_cita">
                                        <option value=""></option>
                                        @if (varMotivos_Motivo_no_concreto_cita != null){ 
                                            foreach (var itemMotivo_no_concreto_cita in varMotivos_Motivo_no_concreto_cita)
                                            {
                                                if (itemMotivo_no_concreto_cita.Value == Convert.ToString(Model.Motivo_no_concreto_cita))
                                                {
                                                    <option value="@itemMotivo_no_concreto_cita.Value" selected>@itemMotivo_no_concreto_cita.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemMotivo_no_concreto_cita.Value">@itemMotivo_no_concreto_cita.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Motivo_no_concreto_cita" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258910).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Motivos', 'Motivo_no_concreto_cita');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
                                <input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Solicitud_de_Cita_con_EspecialistaGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Solicitud_de_Cita_con_EspecialistaCreateForm');"  />
									<button onclick="Solicitud_de_Cita_con_EspecialistaGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Solicitud_de_Cita_con_EspecialistaBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Solicitud_de_Cita_con_EspecialistaGuardarYNuevo" onclick="return checkClientValidate('Solicitud_de_Cita_con_EspecialistaCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Solicitud_de_Cita_con_EspecialistaGuardarYCopia" onclick="return checkClientValidate('Solicitud_de_Cita_con_EspecialistaCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnSolicitud_de_Cita_con_EspecialistaBusinessRuleFieldId" />
                                <input type="hidden" id="hdnSolicitud_de_Cita_con_EspecialistaBusinessRuleFieldName" />
                                <input type="hidden" id="hdnSolicitud_de_Cita_con_EspecialistaBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Solicitud_de_Cita_con_EspecialistaCancelar" name="Solicitud_de_Cita_con_EspecialistaCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Solicitud_de_Cita_con_EspecialistaGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Solicitud_de_Cita_con_EspecialistaBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Solicitud_de_Cita_con_Especialista.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Solicitud_de_Cita_con_EspecialistaGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Solicitud_de_Cita_con_EspecialistaCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;

		var Tab_Solicitud = true;


        $(document).ready(function () {
            $('#ObjectId').val('44454');
		   
		   
			
             @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();

				if (Tab_Solicitud)
					Fill_Solicitud();


                </text>
             }
             EjecutarValidacionesAlComienzo();
                         $('#Fecha_de_solicitud').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_solicitud').clockpicker();
            $('#Fecha_de_Retroalimentacion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Retroalimentacion').clockpicker();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			

        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendSolicitud_de_Cita_con_EspecialistaData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateSolicitud_de_Cita_con_Especialista").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateSolicitud_de_Cita_con_Especialista")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceFolio").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Solicitud_de_Cita_con_EspecialistaCreateForm', 'Datos_Generales')) {
				return false;
			}						

			if (Tab_Solicitud && !checkClientValidate('Solicitud_de_Cita_con_EspecialistaCreateForm', 'Solicitud')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);

			if (Tab_Solicitud)
				Save_Solicitud(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Solicitud_de_Cita_con_EspecialistaBusinessRuleModal").html(data);
			});
		}
                function Solicitud_de_Cita_con_EspecialistaGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('44454');
			$('#Screen').val('Solicitud_de_Cita_con_Especialista');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Solicitud_de_Cita_con_EspecialistaBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateSolicitud_de_Cita_con_Especialista').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Solicitud_de_Cita_con_EspecialistaGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/Get_Datos_Generales")?Id=" + $("#ReferenceFolio").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Folio').val(result.data.Folio);
                    $('#Fecha_de_solicitud').val(result.data.Fecha_de_solicitud);
                    $('#Hora_de_solicitud').val(result.data.Hora_de_solicitud);
                    $('#Usuario_que_solicita').val(result.data.Usuario_que_solicita);
                    $('#Nombre_Completo').val(result.data.Nombre_Completo);
                    $('#Correo_del_Paciente').val(result.data.Correo_del_Paciente);
                    $('#Celular_del_Paciente').val(result.data.Celular_del_Paciente);
                    $('#Especialista').val(result.data.Especialista);
                    $('#Correo_del_Especialista').val(result.data.Correo_del_Especialista);
                    $('#Correo_enviado').prop('checked', result.data.Correo_enviado);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Folio', newId);
			                data.append('Fecha_de_solicitud', $('#Fecha_de_solicitud').val());
                data.append('Hora_de_solicitud', $('#Hora_de_solicitud').val());
                data.append('Usuario_que_solicita', $('#Usuario_que_solicita').val());
                data.append('Nombre_Completo', $('#Nombre_Completo').val());
                data.append('Correo_del_Paciente', $('#Correo_del_Paciente').val());
                data.append('Celular_del_Paciente', $('#Celular_del_Paciente').val());
                data.append('Especialista', $('#Especialista').val());
                data.append('Correo_del_Especialista', $('#Correo_del_Especialista').val());
                data.append('Correo_enviado', $('#Correo_enviado').prop('checked'));

			$.ajax({
				url: '@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}

		function Fill_Solicitud()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/Get_Solicitud")?Id=" + $("#ReferenceFolio").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Folio').val(result.data.Folio);
                    $('#Fecha_de_Retroalimentacion').val(result.data.Fecha_de_Retroalimentacion);
                    $('#Hora_de_Retroalimentacion').val(result.data.Hora_de_Retroalimentacion);
                    $('#Asististe_a_tu_cita').val(result.data.Asististe_a_tu_cita);
                    $('#Calificacion_Especialista').val(result.data.Calificacion_Especialista);
                    $('#Motivo_no_concreto_cita').val(result.data.Motivo_no_concreto_cita);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Solicitud(newId) {
			var data = new FormData();
			data.append('Folio', newId);
			                data.append('Fecha_de_Retroalimentacion', $('#Fecha_de_Retroalimentacion').val());
                data.append('Hora_de_Retroalimentacion', $('#Hora_de_Retroalimentacion').val());
                data.append('Asististe_a_tu_cita', $('#Asististe_a_tu_cita').val());
                data.append('Calificacion_Especialista', $('#Calificacion_Especialista').val());
                data.append('Motivo_no_concreto_cita', $('#Motivo_no_concreto_cita').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Solicitud_de_Cita_con_Especialista/Post_Solicitud")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Solicitud");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Solicitud");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Solicitud_de_Cita_con_Especialista_cmbLabelSelect" name="Solicitud_de_Cita_con_Especialista_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

