@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.MR_Referenciados_Codigo_de_DescuentoModel
@{

    string Fecha_de_aplicacion = "";
    if (Model.Fecha_de_aplicacion == "")
    { Model.Fecha_de_aplicacion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varTipo_Paciente_Tipo_de_usuario = null;
    if (ViewBag.Tipo_Pacientes_Tipo_de_usuario != null)
    { varTipo_Paciente_Tipo_de_usuario = (List<SelectListItem>)ViewBag.Tipo_Pacientes_Tipo_de_usuario; }
    List<SelectListItem> varSpartan_User_Usuario = null;
    if (ViewBag.Spartan_Users_Usuario != null)
    { varSpartan_User_Usuario = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add MR Referenciados Código de Descuento
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "MR_Referenciados_Codigo_de_DescuentoRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal MR_Referenciados_Codigo_de_DescuentoPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								MR Referenciados Código de Descuento
								<button onclick="MR_Referenciados_Codigo_de_DescuentoGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#MR_Referenciados_Codigo_de_DescuentoBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.MR_Referenciados_Codigo_de_DescuentoResources.MR_Referenciados_Codigo_de_Descuento</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="MR_Referenciados_Codigo_de_DescuentoDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in MR_Referenciados_Codigo_de_DescuentoPropertyBusinessModal" id="MR_Referenciados_Codigo_de_DescuentoPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#MR_Referenciados_Codigo_de_DescuentoBusinessRule-form" onclick="MR_Referenciados_Codigo_de_DescuentoGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in MR_Referenciados_Codigo_de_DescuentoPropertyModal" id="MR_Referenciados_Codigo_de_DescuentoPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in MR_Referenciados_Codigo_de_DescuentoBusinessRuleModal" id="MR_Referenciados_Codigo_de_DescuentoBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in MR_Referenciados_Codigo_de_DescuentoAddBusinessRuleModal" id="MR_Referenciados_Codigo_de_DescuentoAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "MR_Referenciados_Codigo_de_Descuento", FormMethod.Post, new { id = "CreateMR_Referenciados_Codigo_de_Descuento", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid MR_Referenciados_Codigo_de_DescuentoCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="260933" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Folio">
                                    <label class="form-control" for="MR_Referenciados_Codigo_de_DescuentoFolio" id="MR_Referenciados_Codigo_de_DescuentoFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divTipo_de_usuario">
	<label class="col-sm-2 control-label">@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Tipo_de_usuario</label>
	<div class="col-sm-8" data-field-id="Tipo_de_usuario" data-attribute="260935" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Tipo_de_usuario">
		<select class="form-control" data-val="true" data-val-number="The field Tipo de usuario must be a number." data-val-required="The Tipo de usuario field is required." id="MR_Referenciados_Codigo_de_DescuentoTipo_de_usuario" name="MR_Referenciados_Codigo_de_DescuentoTipo_de_usuario">
			<option value=""></option>
			@if (varTipo_Paciente_Tipo_de_usuario != null){ 
				foreach (var itemTipo_de_usuario in varTipo_Paciente_Tipo_de_usuario)
				{
					if (itemTipo_de_usuario.Value == Convert.ToString(Model.Tipo_de_usuario))
					{
						<option value="@itemTipo_de_usuario.Value" selected>@itemTipo_de_usuario.Text</option>
					}
					else
					{
						<option value="@itemTipo_de_usuario.Value">@itemTipo_de_usuario.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divUsuario">
	<label class="col-sm-2 control-label">@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Usuario</label>
	<div class="col-sm-8" data-field-id="Usuario" data-attribute="260936" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Usuario">
		<select class="form-control" data-val="true" data-val-number="The field Usuario must be a number." data-val-required="The Usuario field is required." id="MR_Referenciados_Codigo_de_DescuentoUsuario" name="MR_Referenciados_Codigo_de_DescuentoUsuario">
			<option value=""></option>
			@if (varSpartan_User_Usuario != null){ 
				foreach (var itemUsuario in varSpartan_User_Usuario)
				{
					if (itemUsuario.Value == Convert.ToString(Model.Usuario))
					{
						<option value="@itemUsuario.Value" selected>@itemUsuario.Text</option>
					}
					else
					{
						<option value="@itemUsuario.Value">@itemUsuario.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divFecha_de_aplicacion">
                                <label class="col-sm-2 control-label">@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Fecha_de_aplicacion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_aplicacion" data-attribute="260937" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Fecha_de_aplicacion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="MR_Referenciados_Codigo_de_DescuentoFecha_de_aplicacion" readonly="readonly" name="MR_Referenciados_Codigo_de_DescuentoFecha_de_aplicacion" type="text" value="@Model.Fecha_de_aplicacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divDescuento_Total">
                                <label class="col-sm-2 control-label">@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Descuento_Total</label>
                                <div class="col-sm-8" data-field-id="Descuento_Total" data-attribute="260938" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Descuento_Total">
                                    <input class="form-control col-md-12 inputNumber" id="MR_Referenciados_Codigo_de_DescuentoDescuento_Total" name="MR_Referenciados_Codigo_de_DescuentoDescuento_Total" type="text" min="0.00" max="999999.99" value="@Model.Descuento_Total.ToString()">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="MR_Referenciados_Codigo_de_DescuentoConfigureSave" name="MR_Referenciados_Codigo_de_DescuentoConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnMR_Referenciados_Codigo_de_DescuentoConfigureType" />
												<input type="hidden" id="hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldId" />
												<input type="hidden" id="hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldName" />
												<input type="hidden" id="hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="MR_Referenciados_Codigo_de_DescuentoGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#MR_Referenciados_Codigo_de_DescuentoBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/MR_Referenciados_Codigo_de_Descuento.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/MR_Referenciados_Codigo_de_DescuentoGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/MR_Referenciados_Codigo_de_DescuentoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Codigos_de_DescuentoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var MR_Referenciados_Codigo_de_DescuentoRowElement = "MR_Referenciados_Codigo_de_DescuentoPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + MR_Referenciados_Codigo_de_DescuentoRowElement + "')){ MR_Referenciados_Codigo_de_DescuentoInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#MR_Referenciados_Codigo_de_DescuentoFecha_de_aplicacion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendMR_Referenciados_Codigo_de_DescuentoData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateMR_Referenciados_Codigo_de_Descuento").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateMR_Referenciados_Codigo_de_Descuento")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('MR_Referenciados_Codigo_de_DescuentoCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/MR_Referenciados_Codigo_de_Descuento/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("MR_Referenciados_Codigo_de_DescuentoPropertyBag", "MR_Referenciados_Codigo_de_Descuento")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function MR_Referenciados_Codigo_de_DescuentoGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldId').val(FieldId);
				$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldName').val(FieldName);
				$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldId').val(), FieldName: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldName').val(), ObjectId: '44740', Attribute: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleAttribute').val(), Screen: 'MR_Referenciados_Codigo_de_Descuento' }, function (data) {
                $(".MR_Referenciados_Codigo_de_DescuentoBusinessRuleModal").html(data);
            });
        }
        function MR_Referenciados_Codigo_de_DescuentoGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldId').val(FieldId);
				$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldName').val(FieldName);
				$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldId').val(), FieldName: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldName').val(), ObjectId: '44740', Attribute: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleAttribute').val(), Screen: 'MR_Referenciados_Codigo_de_Descuento' }, function (data) {
                $(".MR_Referenciados_Codigo_de_DescuentoAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldId').val(), FieldName: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldName').val(), ObjectId: '44740', Attribute: $('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleAttribute').val(), Screen: 'MR_Referenciados_Codigo_de_Descuento' }, function (data) {
				$(".MR_Referenciados_Codigo_de_DescuentoBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/MR_Referenciados_Codigo_de_Descuento/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/MR_Referenciados_Codigo_de_Descuento/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/MR_Referenciados_Codigo_de_Descuento/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnMR_Referenciados_Codigo_de_DescuentoConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnMR_Referenciados_Codigo_de_DescuentoConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/MR_Referenciados_Codigo_de_Descuento/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnMR_Referenciados_Codigo_de_DescuentoConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/MR_Referenciados_Codigo_de_Descuento/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#MR_Referenciados_Codigo_de_Descuento' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#MR_Referenciados_Codigo_de_Descuento' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#MR_Referenciados_Codigo_de_DescuentoConfigureSave').text('Save Settings');
                    $('#hdnMR_Referenciados_Codigo_de_DescuentoConfigureType').val("1");
                });
            }
        }
		$('#CreateMR_Referenciados_Codigo_de_Descuento').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldId').val(fieldId);
			$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleFieldName').val(fieldName);
			$('#hdnMR_Referenciados_Codigo_de_DescuentoBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
