@model IList<Spartane.Web.Areas.Frontal.Models.Spartan_BR_Peer_ReviewGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Spartan_BR_Peer_ReviewResources.Key_Peer_Review
            </td>
                        <td class="column1">
                @Resources.Spartan_BR_Peer_ReviewResources.User_that_reviewed
            </td>
            <td class="column1">
                @Resources.Spartan_BR_Peer_ReviewResources.Acceptance_Criteria
            </td>
            <td class="column1">
                @Resources.Spartan_BR_Peer_ReviewResources.It_worked
            </td>
            <td class="column1">
                @Resources.Spartan_BR_Peer_ReviewResources.Rejection_reason
            </td>
            <td class="column1">
                @Resources.Spartan_BR_Peer_ReviewResources.Comments
            </td>
            <td class="column1">
                @Resources.Spartan_BR_Peer_ReviewResources.Evidence
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Key_Peer_Review
                    </td>
					                    <td>
                        @item.User_that_reviewedName
                    </td>
                    <td>
                        @item.Acceptance_Criteria
                    </td>
                    <td>
                        @item.It_worked
                    </td>
                    <td>
                        @item.Rejection_reasonDescription
                    </td>
                    <td>
                        @item.Comments
                    </td>
                    <td>
                        @item.Evidence
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>

