@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Codigos_de_DescuentoModel
@{

/*
    string Fecha_de_Registro = "";
    if (Model.Fecha_de_Registro == "")
    { Model.Fecha_de_Registro = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_inicio_vigencia = "";
    if (Model.Fecha_inicio_vigencia == "")
    { Model.Fecha_inicio_vigencia = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_fin_vigencia = "";
    if (Model.Fecha_fin_vigencia == "")
    { Model.Fecha_fin_vigencia = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_autorizacion = "";
    if (Model.Fecha_de_autorizacion == "")
    { Model.Fecha_de_autorizacion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
    List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varTipos_de_Vendedor_Tipo_de_Vendedor = null;
    if (ViewBag.Tipos_de_Vendedors_Tipo_de_Vendedor != null)
    { varTipos_de_Vendedor_Tipo_de_Vendedor = (List<SelectListItem>)ViewBag.Tipos_de_Vendedors_Tipo_de_Vendedor; }
    List<SelectListItem> varSpartan_User_Vendedor = null;
    if (ViewBag.Spartan_Users_Vendedor != null)
    { varSpartan_User_Vendedor = (List<SelectListItem>)ViewBag.Spartan_Users_Vendedor; }
    List<SelectListItem> varTipos_de_Descuento_Tipo_de_Descuento = null;
    if (ViewBag.Tipos_de_Descuentos_Tipo_de_Descuento != null)
    { varTipos_de_Descuento_Tipo_de_Descuento = (List<SelectListItem>)ViewBag.Tipos_de_Descuentos_Tipo_de_Descuento; }
    List<SelectListItem> varEstatus_de_Codigos_de_Descuento_Estatus = null;
    if (ViewBag.Estatus_de_Codigos_de_Descuentos_Estatus != null)
    { varEstatus_de_Codigos_de_Descuento_Estatus = (List<SelectListItem>)ViewBag.Estatus_de_Codigos_de_Descuentos_Estatus; }
    List<SelectListItem> varSpartan_User_Usuario_que_autoriza = null;
    if (ViewBag.Spartan_Users_Usuario_que_autoriza != null)
    { varSpartan_User_Usuario_que_autoriza = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_autoriza; }
    List<SelectListItem> varResultado_de_Autorizacion_Resultado = null;
    if (ViewBag.Resultado_de_Autorizacions_Resultado != null)
    { varResultado_de_Autorizacion_Resultado = (List<SelectListItem>)ViewBag.Resultado_de_Autorizacions_Resultado; }

    Permission permissionMS_Planes_por_Codigo_de_Descuento = ViewBag.PermissionMS_Planes_por_Codigo_de_Descuento;
    Permission permissionMR_Referenciados_Codigo_de_Descuento = ViewBag.PermissionMR_Referenciados_Codigo_de_Descuento;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Codigos_de_DescuentoResources.Codigos_de_Descuento
                <button onclick="Codigos_de_DescuentoGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Codigos_de_DescuentoResources.Codigos_de_Descuento</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Codigos_de_DescuentoDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Codigos_de_DescuentoPropertyBusinessModal" id="Codigos_de_DescuentoPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form" onclick="Codigos_de_DescuentoGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Codigos_de_DescuentoBusinessRuleModal" id="Codigos_de_DescuentoBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddMS_Planes_por_Codigo_de_DescuentoModal" id="AddMS_Planes_por_Codigo_de_Descuento-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>

                    <div aria-hidden="true" class="modal fade in AddMR_Referenciados_Codigo_de_DescuentoModal" id="AddMR_Referenciados_Codigo_de_Descuento-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Codigos_de_Descuento", FormMethod.Post, new { id = "CreateCodigos_de_Descuento", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Codigos_de_DescuentoCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Codigos_de_DescuentoResources.TabDatos_Generales</a></li>
<li class=""><a data-toggle="tab" href="#tabAutorizacion"> @Resources.Codigos_de_DescuentoResources.TabAutorizacion</a></li>
<li class=""><a data-toggle="tab" href="#tabReferenciados"> @Resources.Codigos_de_DescuentoResources.TabReferenciados</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="260902" data-field-name="@Resources.Codigos_de_DescuentoResources.Folio">
                                    <label class="form-control" for="Folio" id="lblFolio">
                                    @if (Model.Folio== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Folio</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_de_Registro">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Fecha_de_Registro</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Registro" data-attribute="260903" data-field-name="@Resources.Codigos_de_DescuentoResources.Fecha_de_Registro">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_Registro"  name="Fecha_de_Registro" type="text" value="@Model.Fecha_de_Registro">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_Registro">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Hora_de_Registro</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Registro" data-attribute="260904" data-field-name="@Resources.Codigos_de_DescuentoResources.Hora_de_Registro">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Hora_de_Registro"  name="Hora_de_Registro" type="text" data-autoclose="true" value="@Model.Hora_de_Registro">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divUsuario_que_Registra">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Usuario_que_Registra</label>
                                <div class="col-sm-8" data-field-id="Usuario_que_Registra" data-attribute="260905" data-field-name="@Resources.Codigos_de_DescuentoResources.Usuario_que_Registra">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Usuario que Registra must be a number." data-val-required="The Usuario que Registra field is required." id="Usuario_que_Registra" name="Usuario_que_Registra">
                                        <option value=""></option>
                                        @if (varSpartan_User_Usuario_que_Registra != null){ 
                                            foreach (var itemUsuario_que_Registra in varSpartan_User_Usuario_que_Registra)
                                            {
                                                if (itemUsuario_que_Registra.Value == Convert.ToString(Model.Usuario_que_Registra))
                                                {
                                                    <option value="@itemUsuario_que_Registra.Value" selected>@itemUsuario_que_Registra.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemUsuario_que_Registra.Value">@itemUsuario_que_Registra.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Usuario_que_Registra" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260905).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Usuario_que_Registra');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Vendedor">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Tipo_de_Vendedor</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Vendedor" data-attribute="260906" data-field-name="@Resources.Codigos_de_DescuentoResources.Tipo_de_Vendedor">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Vendedor must be a number." data-val-required="The Tipo de Vendedor field is required." id="Tipo_de_Vendedor" name="Tipo_de_Vendedor">
                                        <option value=""></option>
                                        @if (varTipos_de_Vendedor_Tipo_de_Vendedor != null){ 
                                            foreach (var itemTipo_de_Vendedor in varTipos_de_Vendedor_Tipo_de_Vendedor)
                                            {
                                                if (itemTipo_de_Vendedor.Value == Convert.ToString(Model.Tipo_de_Vendedor))
                                                {
                                                    <option value="@itemTipo_de_Vendedor.Value" selected>@itemTipo_de_Vendedor.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Vendedor.Value">@itemTipo_de_Vendedor.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Vendedor" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260906).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipos_de_Vendedor', 'Tipo_de_Vendedor');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divVendedor">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Vendedor</label>
                                <div class="col-sm-8" data-field-id="Vendedor" data-attribute="260907" data-field-name="@Resources.Codigos_de_DescuentoResources.Vendedor">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Vendedor must be a number." data-val-required="The Vendedor field is required." id="Vendedor" name="Vendedor">
                                        <option value=""></option>
                                        @if (varSpartan_User_Vendedor != null){ 
                                            foreach (var itemVendedor in varSpartan_User_Vendedor)
                                            {
                                                if (itemVendedor.Value == Convert.ToString(Model.Vendedor))
                                                {
                                                    <option value="@itemVendedor.Value" selected>@itemVendedor.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemVendedor.Value">@itemVendedor.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Vendedor" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260907).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Vendedor');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Descuento">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Tipo_de_Descuento</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Descuento" data-attribute="260908" data-field-name="@Resources.Codigos_de_DescuentoResources.Tipo_de_Descuento">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Descuento must be a number." data-val-required="The Tipo de Descuento field is required." id="Tipo_de_Descuento" name="Tipo_de_Descuento">
                                        <option value=""></option>
                                        @if (varTipos_de_Descuento_Tipo_de_Descuento != null){ 
                                            foreach (var itemTipo_de_Descuento in varTipos_de_Descuento_Tipo_de_Descuento)
                                            {
                                                if (itemTipo_de_Descuento.Value == Convert.ToString(Model.Tipo_de_Descuento))
                                                {
                                                    <option value="@itemTipo_de_Descuento.Value" selected>@itemTipo_de_Descuento.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Descuento.Value">@itemTipo_de_Descuento.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Descuento" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260908).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipos_de_Descuento', 'Tipo_de_Descuento');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divDescuento">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Descuento</label>
                                <div class="col-sm-8" data-field-id="Descuento" data-attribute="260909" data-field-name="@Resources.Codigos_de_DescuentoResources.Descuento">
									@if(Model.Descuento.HasValue)
									{
										<input class="form-control col-md-12 inputNumber Datos_Generales" id="Descuento" name="Descuento" type="text" min="0.00" max="999999.99" value="@Model.Descuento.Value.ToString(new CultureInfo("en-US"))">
									}
									else
									{
										<input class="form-control col-md-12 inputNumber Datos_Generales" id="Descuento" name="Descuento" type="text" min="0.00" max="999999.99" value="">
									}                                    
                                </div>
                            </div>
                        <div class="form-group" id="divProductos">
	                     <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Productos</label>
	                     <div class="col-sm-8" data-field-id="Productos" data-attribute="260910" data-field-name="@Resources.Codigos_de_DescuentoResources.Productos">
		                  <select id="ddlProductosMult" name="ddlProductosMult" class="form-control chosen-select" multiple="multiple">
		                  </select>
	                     </div>
                        </div>
                            <div class="form-group" id="divTexto_promocional">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Texto_promocional</label>
                                <div class="col-sm-8" data-field-id="Texto_promocional" data-attribute="260911" data-field-name="@Resources.Codigos_de_DescuentoResources.Texto_promocional">
                                    <textarea id="Texto_promocional" name="Texto_promocional" class="form-control Datos_Generales" rows="4" cols="50">@Model.Texto_promocional</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Texto_promocional" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_inicio_vigencia">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Fecha_inicio_vigencia</label>
                                <div class="col-sm-8" data-field-id="Fecha_inicio_vigencia" data-attribute="260912" data-field-name="@Resources.Codigos_de_DescuentoResources.Fecha_inicio_vigencia">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_inicio_vigencia"  name="Fecha_inicio_vigencia" type="text" value="@Model.Fecha_inicio_vigencia">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_fin_vigencia">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Fecha_fin_vigencia</label>
                                <div class="col-sm-8" data-field-id="Fecha_fin_vigencia" data-attribute="260913" data-field-name="@Resources.Codigos_de_DescuentoResources.Fecha_fin_vigencia">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_fin_vigencia"  name="Fecha_fin_vigencia" type="text" value="@Model.Fecha_fin_vigencia">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divCantidad_maxima_de_referenciados">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Cantidad_maxima_de_referenciados</label>
                                <div class="col-sm-8" data-field-id="Cantidad_maxima_de_referenciados" data-attribute="260914" data-field-name="@Resources.Codigos_de_DescuentoResources.Cantidad_maxima_de_referenciados">
                                    <input class="form-control inputNumber Datos_Generales" id="Cantidad_maxima_de_referenciados" name="Cantidad_maxima_de_referenciados" type="text" value="@Model.Cantidad_maxima_de_referenciados">
                                    @*<span class="field-validation-valid" data-valmsg-for="Cantidad_maxima_de_referenciados" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCodigo_de_descuento">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Codigo_de_descuento</label>
                                <div class="col-sm-8" data-field-id="Codigo_de_descuento" data-attribute="260915" data-field-name="@Resources.Codigos_de_DescuentoResources.Codigo_de_descuento">
                                    <input class="form-control Datos_Generales" id="Codigo_de_descuento" name="Codigo_de_descuento" type="text" value="@Model.Codigo_de_descuento">
                                    @*<span class="field-validation-valid" data-valmsg-for="Codigo_de_descuento" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divEstatus">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Estatus</label>
                                <div class="col-sm-8" data-field-id="Estatus" data-attribute="260916" data-field-name="@Resources.Codigos_de_DescuentoResources.Estatus">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Estatus" name="Estatus">
                                        <option value=""></option>
                                        @if (varEstatus_de_Codigos_de_Descuento_Estatus != null){ 
                                            foreach (var itemEstatus in varEstatus_de_Codigos_de_Descuento_Estatus)
                                            {
                                                if (itemEstatus.Value == Convert.ToString(Model.Estatus))
                                                {
                                                    <option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstatus.Value">@itemEstatus.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estatus" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260916).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estatus_de_Codigos_de_Descuento', 'Estatus');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            </div>
                                </div>


                            <div id="tabAutorizacion" class="tab-pane">
                                <div class="panel-body">
                            <div class="form-group" id="divFecha_de_autorizacion">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Fecha_de_autorizacion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_autorizacion" data-attribute="260917" data-field-name="@Resources.Codigos_de_DescuentoResources.Fecha_de_autorizacion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Autorizacion" id="Fecha_de_autorizacion"  name="Fecha_de_autorizacion" type="text" value="@Model.Fecha_de_autorizacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_autorizacion">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Hora_de_autorizacion</label>
                                <div class="col-sm-8" data-field-id="Hora_de_autorizacion" data-attribute="260918" data-field-name="@Resources.Codigos_de_DescuentoResources.Hora_de_autorizacion">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Autorizacion" id="Hora_de_autorizacion"  name="Hora_de_autorizacion" type="text" data-autoclose="true" value="@Model.Hora_de_autorizacion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divUsuario_que_autoriza">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Usuario_que_autoriza</label>
                                <div class="col-sm-8" data-field-id="Usuario_que_autoriza" data-attribute="260919" data-field-name="@Resources.Codigos_de_DescuentoResources.Usuario_que_autoriza">
                                    <select class="form-control Autorizacion" data-val="true" data-val-number="The field Usuario que autoriza must be a number." data-val-required="The Usuario que autoriza field is required." id="Usuario_que_autoriza" name="Usuario_que_autoriza">
                                        <option value=""></option>
                                        @if (varSpartan_User_Usuario_que_autoriza != null){ 
                                            foreach (var itemUsuario_que_autoriza in varSpartan_User_Usuario_que_autoriza)
                                            {
                                                if (itemUsuario_que_autoriza.Value == Convert.ToString(Model.Usuario_que_autoriza))
                                                {
                                                    <option value="@itemUsuario_que_autoriza.Value" selected>@itemUsuario_que_autoriza.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemUsuario_que_autoriza.Value">@itemUsuario_que_autoriza.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Usuario_que_autoriza" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260919).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Usuario_que_autoriza');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divObservaciones">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Observaciones</label>
                                <div class="col-sm-8" data-field-id="Observaciones" data-attribute="260920" data-field-name="@Resources.Codigos_de_DescuentoResources.Observaciones">
                                    <textarea id="Observaciones" name="Observaciones" class="form-control Autorizacion" rows="4" cols="50">@Model.Observaciones</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Observaciones" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divResultado">
                                <label class="col-sm-2 control-label">@Resources.Codigos_de_DescuentoResources.Resultado</label>
                                <div class="col-sm-8" data-field-id="Resultado" data-attribute="260921" data-field-name="@Resources.Codigos_de_DescuentoResources.Resultado">
                                    <select class="form-control Autorizacion" data-val="true" data-val-number="The field Resultado must be a number." data-val-required="The Resultado field is required." id="Resultado" name="Resultado">
                                        <option value=""></option>
                                        @if (varResultado_de_Autorizacion_Resultado != null){ 
                                            foreach (var itemResultado in varResultado_de_Autorizacion_Resultado)
                                            {
                                                if (itemResultado.Value == Convert.ToString(Model.Resultado))
                                                {
                                                    <option value="@itemResultado.Value" selected>@itemResultado.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemResultado.Value">@itemResultado.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Resultado" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260921).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Resultado_de_Autorizacion', 'Resultado');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            </div>
                                </div>


                            <div id="tabReferenciados" class="tab-pane">
                                <div class="panel-body">
                            <div id="divReferenciados">
                            <div class="ibox-title">
                                <h5>@Resources.Codigos_de_DescuentoResources.Referenciados</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionMR_Referenciados_Codigo_de_Descuento.New && !ViewBag.Consult)
                                    {
                                        <a onclick="MR_Referenciados_Codigo_de_DescuentofnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="MR_Referenciados_Codigo_de_DescuentoAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="Codigos_de_DescuentoGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '260939')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionMR_Referenciados_Codigo_de_Descuento.New && !ViewBag.Consult)
                                    {
                                        <a onclick="MR_Referenciados_Codigo_de_DescuentofnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddMR_Referenciados_Codigo_de_Descuento-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="MR_Referenciados_Codigo_de_DescuentoGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>


                                                <th class="Tipo_de_usuarioHeader"><span>
<button type="button" data-attribute="260935" data-field-id="MR_Referenciados_Codigo_de_DescuentoTipo_de_usuario" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Tipo_de_usuario" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Tipo_de_usuario">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Tipo_de_usuario</span></th>
                                                <th class="UsuarioHeader"><span>
<button type="button" data-attribute="260936" data-field-id="MR_Referenciados_Codigo_de_DescuentoUsuario" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Usuario" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Usuario">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Usuario</span></th>
                                                <th class="Fecha_de_aplicacionHeader"><span>
<button type="button" data-attribute="260937" data-field-id="MR_Referenciados_Codigo_de_DescuentoFecha_de_aplicacion" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Fecha_de_aplicacion" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Fecha_de_aplicacion">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Fecha_de_aplicacion</span></th>
                                                <th class="Descuento_TotalHeader"><span>
<button type="button" data-attribute="260938" data-field-id="MR_Referenciados_Codigo_de_DescuentoDescuento_Total" data-field-name="@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Descuento_Total" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Descuento_Total">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.MR_Referenciados_Codigo_de_DescuentoResources.Descuento_Total</span></th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
                                <input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Codigos_de_DescuentoGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Codigos_de_DescuentoCreateForm');"  />
									<button onclick="Codigos_de_DescuentoGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Codigos_de_DescuentoGuardarYNuevo" onclick="return checkClientValidate('Codigos_de_DescuentoCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Codigos_de_DescuentoGuardarYCopia" onclick="return checkClientValidate('Codigos_de_DescuentoCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnCodigos_de_DescuentoBusinessRuleFieldId" />
                                <input type="hidden" id="hdnCodigos_de_DescuentoBusinessRuleFieldName" />
                                <input type="hidden" id="hdnCodigos_de_DescuentoBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Codigos_de_DescuentoCancelar" name="Codigos_de_DescuentoCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Codigos_de_DescuentoGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Codigos_de_DescuentoBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Codigos_de_Descuento.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Codigos_de_DescuentoGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Codigos_de_DescuentoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;

		var Tab_Autorizacion = true;

		var Tab_Referenciados = true;


        $(document).ready(function () {
            $('#ObjectId').val('44735');
		               GetProductos_MS_Planes_por_Codigo_de_DescuentoItem();

              
            GetMR_Referenciados_Codigo_de_Descuento_Tipo_PacienteItem();
            GetMR_Referenciados_Codigo_de_Descuento_Spartan_UserItem();


           
              showMR_Referenciados_Codigo_de_DescuentoGrid(null);

		   
			
             @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();

				if (Tab_Autorizacion)
					Fill_Autorizacion();

				if (Tab_Referenciados)
					Fill_Referenciados();


                </text>
             }
             EjecutarValidacionesAlComienzo();
                         $('#Fecha_de_Registro').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Registro').clockpicker();
            $('#Fecha_inicio_vigencia').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Fecha_fin_vigencia').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Fecha_de_autorizacion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_autorizacion').clockpicker();


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			

        });

var MS_Planes_por_Codigo_de_DescuentoDataDataTable;
var MS_Planes_por_Codigo_de_DescuentoTable;
var Productos_MS_Planes_por_Codigo_de_DescuentoItems;
        function GetProductos_MS_Planes_por_Codigo_de_DescuentoItem() {
            Productos_MS_Planes_por_Codigo_de_DescuentoItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Codigos_de_Descuento/GetProductos_MS_Planes_por_Codigo_de_DescuentoAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Productos_MS_Planes_por_Codigo_de_DescuentoItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
var MS_Planes_por_Codigo_de_DescuentoData = [];
function getMS_Planes_por_Codigo_de_DescuentoData() {
	$.ajax({
		url: "@Url.Content("~/Frontal/Codigos_de_Descuento/GetMS_Planes_por_Codigo_de_Descuento")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceFolio").val() != "" ? "&RelationId=" + $("#ReferenceFolio").val() : ""),
		type: 'GET',
		dataType: "json",
		async: false,
		success: function (result) {
			MS_Planes_por_Codigo_de_DescuentoDataDataTable = result.data;
			$("#ddlProductosMult").val(result.data);
			$("#ddlProductosMult").trigger('chosen:updated');
		},
		error: function (result) {
			showNotification("@Resources.Resources.ErrorContactingServer", "error");
		}
	});
}

function FillProductos() {
try {
	for (var i = 0; i < Productos_MS_Planes_por_Codigo_de_DescuentoItems.length ; i++) {
 
		var d = Productos_MS_Planes_por_Codigo_de_DescuentoItems[i]
                $("#ddlProductosMult").append(new Option(
		d.Nombre_del_Plan, d.Folio
));
	}
	$(".chosen-select").chosen({ width: "100%", no_results_text: "Oops, nothing found!" });
	$('#ddlProductosMult').children("selected").each(function () {
		$(this).prop("selected", false);
	});

	if (MS_Planes_por_Codigo_de_DescuentoDataDataTable != undefined)
	{
		if (MS_Planes_por_Codigo_de_DescuentoDataDataTable.length > 0)
		{
			var array = [];
			for (var j = 0; j < MS_Planes_por_Codigo_de_DescuentoDataDataTable.length; j++)
			{
                               
				array.push(MS_Planes_por_Codigo_de_DescuentoDataDataTable[j].Planes_de_Suscripcion);


			}
			$('#ddlProductosMult').val(array);
		}  
	}
	$('#ddlProductosMult').trigger('chosen:updated');
}
catch (err) {
	alert(err.message);
}
}
function SendMS_Planes_por_Codigo_de_Descuento(callBack, FolioId) {
            MS_Planes_por_Codigo_de_DescuentoData = GetMS_Planes_por_Codigo_de_DescuentoFromDataTable();

            if (MS_Planes_por_Codigo_de_DescuentoData.length > 0 || $("#ReferenceFolio").val() != FolioId) {
                if ($("#ReferenceFolio").val() != "0" && FolioId ==null)
                    FolioId = $("#ReferenceFolio").val();                
                if ($("#ReferenceFolio").val() == '')
                    $("#ReferenceFolio").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Codigos_de_Descuento/PostMS_Planes_por_Codigo_de_Descuento?MasterId=")' + FolioId + "&referenceId=" + $("#ReferenceFolio").val(),
                    type: 'POST',
                    data: GetMS_Planes_por_Codigo_de_Descuento(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(FolioId);
            }
            return true;
        }

        function ShowMessagePendingRowMS_Planes_por_Codigo_de_Descuento()
        {
            alert('@string.Format(Resources.Resources.PendingRow, "Productos")')
        }

$(function () {
FillProductos();
});
        var MR_Referenciados_Codigo_de_DescuentoinsertRowCurrentIndex = -1;
        var MR_Referenciados_Codigo_de_DescuentoDataDataTable;
        function getMR_Referenciados_Codigo_de_DescuentoData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Codigos_de_Descuento/GetMR_Referenciados_Codigo_de_Descuento")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceFolio").val() != "" ? "&RelationId=" + $("#ReferenceFolio").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    MR_Referenciados_Codigo_de_DescuentoDataDataTable = result.data;
                    showMR_Referenciados_Codigo_de_DescuentoGrid(result.data);
                    $('#MR_Referenciados_Codigo_de_DescuentoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#MR_Referenciados_Codigo_de_DescuentoGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function MR_Referenciados_Codigo_de_DescuentoGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

           columnData[counter++] = $($(GetMR_Referenciados_Codigo_de_Descuento_Tipo_PacienteDropDown()).val(data.Tipo_de_usuario)).addClass('Tipo_de_usuario inputNumber').attr('id', nameOfTable + 'Tipo_de_usuario' + rowIndex).attr('data-field', 'Tipo_de_usuario').after($.parseHTML(addNew('MR_Referenciados_Codigo_de_Descuento', 'Tipo_Paciente','Tipo_de_usuario', 260935)));
           columnData[counter++] = $($(GetMR_Referenciados_Codigo_de_Descuento_Spartan_UserDropDown()).val(data.Usuario)).addClass('Usuario inputNumber').attr('id', nameOfTable + 'Usuario' + rowIndex).attr('data-field', 'Usuario').after($.parseHTML(addNew('MR_Referenciados_Codigo_de_Descuento', 'Spartan_User','Usuario', 260936)));
            columnData[counter++] = $($($.parseHTML(GetGridDatePicker())).val(data.Fecha_de_aplicacion)).addClass('Fecha_de_aplicacion').attr('id', nameOfTable + 'Fecha_de_aplicacion' + rowIndex).attr('data-field', 'Fecha_de_aplicacion');
            columnData[counter++] = $($($.parseHTML(inputData)).val(data.Descuento_Total)).addClass('Descuento_Total').attr('id', nameOfTable + 'Descuento_Total' + rowIndex).attr('data-field', 'Descuento_Total');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedMR_Referenciados_Codigo_de_DescuentoData = [];
        function MR_Referenciados_Codigo_de_DescuentoDeleteRow(rowIndex, row) {
            var rowIndexTable = MR_Referenciados_Codigo_de_DescuentoTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionMR_Referenciados_Codigo_de_Descuento.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRMR_Referenciados_Codigo_de_Descuento('MR_Referenciados_Codigo_de_Descuento_', '_' + rowIndex)) {
                var prevData = MR_Referenciados_Codigo_de_DescuentoTable.fnGetData(rowIndexTable );
                removedMR_Referenciados_Codigo_de_DescuentoData.push(prevData);
                MR_Referenciados_Codigo_de_DescuentoTable.fnDeleteRow(rowIndexTable );
				showMR_Referenciados_Codigo_de_DescuentoGrid(MR_Referenciados_Codigo_de_DescuentoTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function MR_Referenciados_Codigo_de_DescuentorowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionMR_Referenciados_Codigo_de_Descuento.Edit' == 'True',
                 Delete: '@permissionMR_Referenciados_Codigo_de_Descuento.Delete' == 'True'
            };
            setMR_Referenciados_Codigo_de_DescuentoValidation();
            var MR_Referenciados_Codigo_de_DescuentoRowElement = "MR_Referenciados_Codigo_de_Descuento_" + index.toString();
            $(row).addClass(MR_Referenciados_Codigo_de_DescuentoRowElement);
            var nameOfTable='MR_Referenciados_Codigo_de_Descuento_';
            var rowIndex = '_' + index;
            MR_Referenciados_Codigo_de_DescuentoinsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertMR_Referenciados_Codigo_de_DescuentoRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + MR_Referenciados_Codigo_de_DescuentoRowElement + "')){ MR_Referenciados_Codigo_de_DescuentoInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='MR_Referenciados_Codigo_de_DescuentoCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#MR_Referenciados_Codigo_de_DescuentoGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#MR_Referenciados_Codigo_de_DescuentoGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#MR_Referenciados_Codigo_de_DescuentoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#MR_Referenciados_Codigo_de_DescuentoGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='MR_Referenciados_Codigo_de_DescuentoEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddMR_Referenciados_Codigo_de_Descuento-form' onclick='MR_Referenciados_Codigo_de_DescuentoEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='MR_Referenciados_Codigo_de_DescuentoDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Tipo_de_usuario' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Tipo_de_usuario'+rowIndex+'">').text(GetMR_Referenciados_Codigo_de_Descuento_Tipo_PacienteName(data.Tipo_de_usuario)).appendTo(row);
	    else 
		$('<td style="display:none;" id="'+nameOfTable+'Tipo_de_usuario'+rowIndex+'">').text(GetMR_Referenciados_Codigo_de_Descuento_Tipo_PacienteName(data.Tipo_de_usuario)).appendTo(row);
            if ($('.Usuario' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Usuario'+rowIndex+'">').text(GetMR_Referenciados_Codigo_de_Descuento_Spartan_UserName(data.Usuario)).appendTo(row);
	    else 
		$('<td style="display:none;" id="'+nameOfTable+'Usuario'+rowIndex+'">').text(GetMR_Referenciados_Codigo_de_Descuento_Spartan_UserName(data.Usuario)).appendTo(row);
            if ($('.Fecha_de_aplicacion' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Fecha_de_aplicacion'+rowIndex+'">').text(data.Fecha_de_aplicacion).appendTo(row);
            else
                $('<td style="display:none;" id="'+nameOfTable+'Fecha_de_aplicacion'+rowIndex+'">').text(data.Fecha_de_aplicacion).appendTo(row);
            if ($('.Descuento_Total' + 'Header').css('display') != 'none')
                $('<td class="dt-right"  id="'+nameOfTable+'Descuento_Total'+rowIndex+'">').text(data.Descuento_Total).appendTo(row);
            else 
                 $('<td style="display:none" class="dt-right"  id="'+nameOfTable+'Descuento_Total'+rowIndex+'">').text(data.Descuento_Total).appendTo(row);

        }

        var MR_Referenciados_Codigo_de_DescuentoTable;
        function showMR_Referenciados_Codigo_de_DescuentoGrid(dataSet) {
            //removedMR_Referenciados_Codigo_de_DescuentoData = [];
            MR_Referenciados_Codigo_de_DescuentoTable = $('#MR_Referenciados_Codigo_de_DescuentoGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": MR_Referenciados_Codigo_de_DescuentorowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Tipo_de_usuario", "orderable": false },
                    { "data": "Usuario", "orderable": false },
                    { "data": "Fecha_de_aplicacion", "orderable": false },
                    { "data": "Descuento_Total","className": "dt-right", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setMR_Referenciados_Codigo_de_DescuentoValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#MR_Referenciados_Codigo_de_DescuentoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }


    var MR_Referenciados_Codigo_de_Descuento_Tipo_PacienteItems;
        function GetMR_Referenciados_Codigo_de_Descuento_Tipo_PacienteItem() {
            MR_Referenciados_Codigo_de_Descuento_Tipo_PacienteItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Codigos_de_Descuento/GetMR_Referenciados_Codigo_de_Descuento_Tipo_PacienteAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    MR_Referenciados_Codigo_de_Descuento_Tipo_PacienteItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
    var MR_Referenciados_Codigo_de_Descuento_Spartan_UserItems;
        function GetMR_Referenciados_Codigo_de_Descuento_Spartan_UserItem() {
            MR_Referenciados_Codigo_de_Descuento_Spartan_UserItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Codigos_de_Descuento/GetMR_Referenciados_Codigo_de_Descuento_Spartan_UserAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    MR_Referenciados_Codigo_de_Descuento_Spartan_UserItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }



        var MR_Referenciados_Codigo_de_DescuentoData = [];
        var MR_Referenciados_Codigo_de_DescuentodeletedItem = [];
        var MR_Referenciados_Codigo_de_DescuentoDataMain = [];
        var MR_Referenciados_Codigo_de_DescuentoDataMainPages = [];
        var MR_Referenciados_Codigo_de_DescuentonewItemCount = 0;
        var MR_Referenciados_Codigo_de_DescuentomaxItemIndex = 0;
        var MR_Referenciados_Codigo_de_DescuentoDataMainInitialized = false;

        function SendMR_Referenciados_Codigo_de_Descuento(callBack, FolioId) {
            MR_Referenciados_Codigo_de_DescuentoData = GetMR_Referenciados_Codigo_de_DescuentoFromDataTable();

            if (MR_Referenciados_Codigo_de_DescuentoData.length > 0 || $("#ReferenceFolio").val() != FolioId) {
                if ($("#ReferenceFolio").val() != "0" && FolioId ==null)
                    FolioId = $("#ReferenceFolio").val();                
                if ($("#ReferenceFolio").val() == '')
                    $("#ReferenceFolio").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Codigos_de_Descuento/PostMR_Referenciados_Codigo_de_Descuento?MasterId=")' + FolioId + "&referenceId=" + $("#ReferenceFolio").val(),
                    type: 'POST',
                    data: GetMR_Referenciados_Codigo_de_Descuento(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(FolioId);
            }
            return true;
        }

        function GetAddMR_Referenciados_Codigo_de_DescuentoPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddMR_Referenciados_Codigo_de_Descuento", "MR_Referenciados_Codigo_de_Descuento")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddMR_Referenciados_Codigo_de_DescuentoModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddMR_Referenciados_Codigo_de_Descuento", "MR_Referenciados_Codigo_de_Descuento")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddMR_Referenciados_Codigo_de_DescuentoModal").html(data);
            });*@
        }

        function ShowMessagePendingRowMR_Referenciados_Codigo_de_Descuento()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Referenciados"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Referenciados"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });










        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Codigos_de_Descuento/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendCodigos_de_DescuentoData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateCodigos_de_Descuento").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateCodigos_de_Descuento")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceFolio").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Codigos_de_DescuentoCreateForm', 'Datos_Generales')) {
				return false;
			}						

			if (Tab_Autorizacion && !checkClientValidate('Codigos_de_DescuentoCreateForm', 'Autorizacion')) {
				return false;
			}						

			if (Tab_Referenciados && !checkClientValidate('Codigos_de_DescuentoCreateForm', 'Referenciados')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);

			if (Tab_Autorizacion)
				Save_Autorizacion(id);

			if (Tab_Referenciados)
				Save_Referenciados(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Codigos_de_Descuento/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Codigos_de_DescuentoBusinessRuleModal").html(data);
			});
		}
                function Codigos_de_DescuentoGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('44735');
			$('#Screen').val('Codigos_de_Descuento');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Codigos_de_DescuentoBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Codigos_de_Descuento/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Codigos_de_Descuento/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Codigos_de_Descuento/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Codigos_de_Descuento/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Codigos_de_Descuento/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateCodigos_de_Descuento').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Codigos_de_DescuentoGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Codigos_de_Descuento/Get_Datos_Generales")?Id=" + $("#ReferenceFolio").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Folio').val(result.data.Folio);
                    $('#Fecha_de_Registro').val(result.data.Fecha_de_Registro);
                    $('#Hora_de_Registro').val(result.data.Hora_de_Registro);
                    $('#Usuario_que_Registra').val(result.data.Usuario_que_Registra);
                    $('#Tipo_de_Vendedor').val(result.data.Tipo_de_Vendedor);
                    $('#Vendedor').val(result.data.Vendedor);
                    $('#Tipo_de_Descuento').val(result.data.Tipo_de_Descuento);
                    $('#Descuento').val(result.data.Descuento);
                    getMS_Planes_por_Codigo_de_DescuentoData();
                    $('#Texto_promocional').val(result.data.Texto_promocional);
                    $('#Fecha_inicio_vigencia').val(result.data.Fecha_inicio_vigencia);
                    $('#Fecha_fin_vigencia').val(result.data.Fecha_fin_vigencia);
                    $('#Cantidad_maxima_de_referenciados').val(result.data.Cantidad_maxima_de_referenciados);
                    $('#Codigo_de_descuento').val(result.data.Codigo_de_descuento);
                    $('#Estatus').val(result.data.Estatus);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Folio', newId);
			                data.append('Fecha_de_Registro', $('#Fecha_de_Registro').val());
                data.append('Hora_de_Registro', $('#Hora_de_Registro').val());
                data.append('Usuario_que_Registra', $('#Usuario_que_Registra').val());
                data.append('Tipo_de_Vendedor', $('#Tipo_de_Vendedor').val());
                data.append('Vendedor', $('#Vendedor').val());
                data.append('Tipo_de_Descuento', $('#Tipo_de_Descuento').val());
                data.append('Descuento', $('#Descuento').val());
                data.append('Texto_promocional', $('#Texto_promocional').val());
                data.append('Fecha_inicio_vigencia', $('#Fecha_inicio_vigencia').val());
                data.append('Fecha_fin_vigencia', $('#Fecha_fin_vigencia').val());
                data.append('Cantidad_maxima_de_referenciados', $('#Cantidad_maxima_de_referenciados').val());
                data.append('Codigo_de_descuento', $('#Codigo_de_descuento').val());
                data.append('Estatus', $('#Estatus').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Codigos_de_Descuento/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    					    SendMS_Planes_por_Codigo_de_Descuento(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}

		function Fill_Autorizacion()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Codigos_de_Descuento/Get_Autorizacion")?Id=" + $("#ReferenceFolio").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Folio').val(result.data.Folio);
                    $('#Fecha_de_autorizacion').val(result.data.Fecha_de_autorizacion);
                    $('#Hora_de_autorizacion').val(result.data.Hora_de_autorizacion);
                    $('#Usuario_que_autoriza').val(result.data.Usuario_que_autoriza);
                    $('#Observaciones').val(result.data.Observaciones);
                    $('#Resultado').val(result.data.Resultado);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Autorizacion(newId) {
			var data = new FormData();
			data.append('Folio', newId);
			                data.append('Fecha_de_autorizacion', $('#Fecha_de_autorizacion').val());
                data.append('Hora_de_autorizacion', $('#Hora_de_autorizacion').val());
                data.append('Usuario_que_autoriza', $('#Usuario_que_autoriza').val());
                data.append('Observaciones', $('#Observaciones').val());
                data.append('Resultado', $('#Resultado').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Codigos_de_Descuento/Post_Autorizacion")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Autorizacion");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Autorizacion");
				},
				cache: false
			});
		}

		function Fill_Referenciados()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Codigos_de_Descuento/Get_Referenciados")?Id=" + $("#ReferenceFolio").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Folio').val(result.data.Folio);
                    MR_Referenciados_Codigo_de_DescuentoDataDataTable = result.Referenciados;
                    showMR_Referenciados_Codigo_de_DescuentoGrid(result.Referenciados);
                    $('#MR_Referenciados_Codigo_de_DescuentoGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#MR_Referenciados_Codigo_de_DescuentoGrid .gridDatePicker').attr("readonly", "");

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Referenciados(newId) {
			var data = new FormData();
			data.append('Folio', newId);
			
			$.ajax({
				url: '@Url.Content("~/Frontal/Codigos_de_Descuento/Post_Referenciados")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Referenciados");
					} else {
						newId = result;
                    					    SendMR_Referenciados_Codigo_de_Descuento(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Referenciados");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Codigos_de_Descuento_cmbLabelSelect" name="Codigos_de_Descuento_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

