@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Ejercicios_RutinasAdvanceSearchModel
@{
    List<SelectListItem> varTipo_de_Enfoque_del_Ejercicio_Enfoque_del_Ejercicio = null;
    if (ViewBag.Tipo_de_Enfoque_del_Ejercicios_Enfoque_del_Ejercicio != null)
    { varTipo_de_Enfoque_del_Ejercicio_Enfoque_del_Ejercicio = (List<SelectListItem>)ViewBag.Tipo_de_Enfoque_del_Ejercicios_Enfoque_del_Ejercicio; }
    List<SelectListItem> varEjercicios_Ejercicio = null;
    if (ViewBag.Ejercicioss_Ejercicio != null)
    { varEjercicios_Ejercicio = (List<SelectListItem>)ViewBag.Ejercicioss_Ejercicio; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_Ejercicios_Rutinas", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Ejercicios_RutinasResources.Folio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromFolio, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.FromFolio)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToFolio, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToFolio", @data_min = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.ToFolio)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Ejercicios_RutinasResources.Orden_de_realizacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromOrden_de_realizacion, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromOrden_de_realizacion" })
                    @Html.ValidationMessageFor(m => m.FromOrden_de_realizacion)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToOrden_de_realizacion, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToOrden_de_realizacion", @data_min = "txtAdvanceFromOrden_de_realizacion" })
                    @Html.ValidationMessageFor(m => m.ToOrden_de_realizacion)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Ejercicios_RutinasResources.Secuencia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.SecuenciaFilter, filters, new { @class = "form-control", @id = "ddlSecuenciaFilter" })
                    @Html.TextBoxFor(m => m.Secuencia, new { @class = "form-control", @type = "text", @id = "txtSecuencia" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Ejercicios_RutinasResources.Enfoque_del_Ejercicio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Enfoque_del_EjercicioFilter, filters, new { @class = "form-control", @id = "ddlEnfoque_del_EjercicioFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEnfoque_del_Ejercicio, new { @class = "form-control", @type = "text", @id = "txtAdvanceEnfoque_del_Ejercicio" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Enfoque_del_Ejercicio_Enfoque_del_Ejercicio!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEnfoque_del_EjercicioMultiple, varTipo_de_Enfoque_del_Ejercicio_Enfoque_del_Ejercicio,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEnfoque_del_Ejercicio"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Ejercicios_RutinasResources.Ejercicio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EjercicioFilter, filters, new { @class = "form-control", @id = "ddlEjercicioFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEjercicio, new { @class = "form-control", @type = "text", @id = "txtAdvanceEjercicio" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEjercicios_Ejercicio!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEjercicioMultiple, varEjercicios_Ejercicio,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEjercicio"
                        });
                    }
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Ejercicios_RutinasResources.Cantidad_de_series</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCantidad_de_series, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCantidad_de_series" })
                    @Html.ValidationMessageFor(m => m.FromCantidad_de_series)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCantidad_de_series, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCantidad_de_series", @data_min = "txtAdvanceFromCantidad_de_series" })
                    @Html.ValidationMessageFor(m => m.ToCantidad_de_series)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Ejercicios_RutinasResources.Cantidad_de_repeticiones</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCantidad_de_repeticiones, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCantidad_de_repeticiones" })
                    @Html.ValidationMessageFor(m => m.FromCantidad_de_repeticiones)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCantidad_de_repeticiones, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCantidad_de_repeticiones", @data_min = "txtAdvanceFromCantidad_de_repeticiones" })
                    @Html.ValidationMessageFor(m => m.ToCantidad_de_repeticiones)
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Ejercicios_RutinasResources.Descanso_en_segundos</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromDescanso_en_segundos, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromDescanso_en_segundos" })
                    @Html.ValidationMessageFor(m => m.FromDescanso_en_segundos)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToDescanso_en_segundos, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToDescanso_en_segundos", @data_min = "txtAdvanceFromDescanso_en_segundos" })
                    @Html.ValidationMessageFor(m => m.ToDescanso_en_segundos)
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_Ejercicios_Rutinas/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromFolio").val() != "" || $("#txtAdvanceToFolio").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Ejercicios_RutinasFolioFrom = $("#txtAdvanceFromFolio").val();
            advanceSearch.Detalle_Ejercicios_RutinasFolioTo = $("#txtAdvanceToFolio").val();
        }
        if ($("#txtAdvanceFromOrden_de_realizacion").val() != "" || $("#txtAdvanceToOrden_de_realizacion").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Ejercicios_RutinasOrden_de_realizacionFrom = $("#txtAdvanceFromOrden_de_realizacion").val();
            advanceSearch.Detalle_Ejercicios_RutinasOrden_de_realizacionTo = $("#txtAdvanceToOrden_de_realizacion").val();
        }
        if ($("#txtAdvanceSecuencia").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Ejercicios_RutinasSecuencia = $("#txtAdvanceSecuencia").val();
            advanceSearch.Detalle_Ejercicios_RutinasSecuenciaSearchType = $("#ddlAdvanceSecuenciaFilter").val();
        }
        advanceSearch.Enfoque_del_EjercicioSearchType = 0;
        if ($('#ddlAdvanceEnfoque_del_Ejercicio').val().length > 0 || $("#txtAdvanceEnfoque_del_Ejercicio").val() == "") {


            if (isDetalle_Ejercicios_RutinasTextSearch) {
                advanceSearch.Enfoque_del_EjercicioName = $("#txtAdvanceEnfoque_del_Ejercicio").val();
                advanceSearch.Enfoque_del_EjercicioNameSearchType = $("#ddlAdvanceEnfoque_del_Ejercicio").val();
                advanceSearch.Enfoque_del_EjercicioSearchType = 1;
            }
            else {

                advanceSearch.Enfoque_del_EjercicioToSearch = $("#ddlAdvanceEnfoque_del_Ejercicio").val();
                advanceSearch.Enfoque_del_EjercicioSearchType = 2;
            }
        }
        advanceSearch.EjercicioSearchType = 0;
        if ($('#ddlAdvanceEjercicio').val().length > 0 || $("#txtAdvanceEjercicio").val() == "") {


            if (isDetalle_Ejercicios_RutinasTextSearch) {
                advanceSearch.EjercicioName = $("#txtAdvanceEjercicio").val();
                advanceSearch.EjercicioNameSearchType = $("#ddlAdvanceEjercicio").val();
                advanceSearch.EjercicioSearchType = 1;
            }
            else {

                advanceSearch.EjercicioToSearch = $("#ddlAdvanceEjercicio").val();
                advanceSearch.EjercicioSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromCantidad_de_series").val() != "" || $("#txtAdvanceToCantidad_de_series").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Ejercicios_RutinasCantidad_de_seriesFrom = $("#txtAdvanceFromCantidad_de_series").val();
            advanceSearch.Detalle_Ejercicios_RutinasCantidad_de_seriesTo = $("#txtAdvanceToCantidad_de_series").val();
        }
        if ($("#txtAdvanceFromCantidad_de_repeticiones").val() != "" || $("#txtAdvanceToCantidad_de_repeticiones").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Ejercicios_RutinasCantidad_de_repeticionesFrom = $("#txtAdvanceFromCantidad_de_repeticiones").val();
            advanceSearch.Detalle_Ejercicios_RutinasCantidad_de_repeticionesTo = $("#txtAdvanceToCantidad_de_repeticiones").val();
        }
        if ($("#txtAdvanceFromDescanso_en_segundos").val() != "" || $("#txtAdvanceToDescanso_en_segundos").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Ejercicios_RutinasDescanso_en_segundosFrom = $("#txtAdvanceFromDescanso_en_segundos").val();
            advanceSearch.Detalle_Ejercicios_RutinasDescanso_en_segundosTo = $("#txtAdvanceToDescanso_en_segundos").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_Ejercicios_Rutinas').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_Ejercicios_RutinasTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceEnfoque_del_Ejercicio").keypress(function () {
            isDetalle_Ejercicios_RutinasTextSearch = true;
            $("#ddlAdvanceEnfoque_del_Ejercicio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEnfoque_del_Ejercicio").change(function () {
            isDetalle_Ejercicios_RutinasTextSearch = false;
            $("#txtAdvanceEnfoque_del_Ejercicio").val('');
        });
        $("#txtAdvanceEjercicio").keypress(function () {
            isDetalle_Ejercicios_RutinasTextSearch = true;
            $("#ddlAdvanceEjercicio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEjercicio").change(function () {
            isDetalle_Ejercicios_RutinasTextSearch = false;
            $("#txtAdvanceEjercicio").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

