@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Spartan_BR_Action_Param_TypeAdvanceSearchModel
@{
    List<SelectListItem> varSpartan_BR_Presentation_Control_Type = null;
    if (ViewBag.Spartan_BR_Presentation_Control_Types != null)
    { varSpartan_BR_Presentation_Control_Type = (List<SelectListItem>)ViewBag.Spartan_BR_Presentation_Control_Types; }    

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Spartan_BR_Action_Param_Type", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
                <div class="MarginBottom ">
                    <h3>@Resources.Spartan_BR_Action_Param_TypeResources.ParameterTypeId</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromParameterTypeId, new { @class = "form-control greaterThanZero", @type = "text", @id = "txtAdvanceFromParameterTypeId" })
                    @Html.ValidationMessageFor(m => m.FromParameterTypeId)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToParameterTypeId, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @id = "txtAdvanceToParameterTypeId", @data_min = "txtAdvanceFromParameterTypeId" })
                    @Html.ValidationMessageFor(m => m.ToParameterTypeId)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_BR_Action_Param_TypeResources.Description</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.DescriptionFilter, filters, new { @class = "form-control", @id = "ddlDescriptionFilter" })
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @type = "text", @id = "txtDescription" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_BR_Action_Param_TypeResources.Presentation_Control_Type</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Presentation_Control_TypeFilter, filters, new { @class = "form-control", @id = "ddlPresentation_Control_TypeFilter" })
                    @Html.TextBoxFor(m => m.AdvancePresentation_Control_Type, new { @class = "form-control", @type = "text", @id = "txtAdvancePresentation_Control_Type" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varSpartan_BR_Presentation_Control_Type!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvancePresentation_Control_TypeMultiple, varSpartan_BR_Presentation_Control_Type,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvancePresentation_Control_Type"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_BR_Action_Param_TypeResources.Query_for_Fill_Condition</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Query_for_Fill_ConditionFilter, filters, new { @class = "form-control", @id = "ddlQuery_for_Fill_ConditionFilter" })
                    @Html.TextBoxFor(m => m.Query_for_Fill_Condition, new { @class = "form-control", @type = "text", @id = "txtQuery_for_Fill_Condition" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_BR_Action_Param_TypeResources.Code_for_Fill_Condition</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Code_for_Fill_ConditionFilter, filters, new { @class = "form-control", @id = "ddlCode_for_Fill_ConditionFilter" })
                    @Html.TextBoxFor(m => m.Code_for_Fill_Condition, new { @class = "form-control", @type = "text", @id = "txtCode_for_Fill_Condition" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_BR_Action_Param_TypeResources.Implementation_Code</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Implementation_CodeFilter, filters, new { @class = "form-control", @id = "ddlImplementation_CodeFilter" })
                    @Html.TextBoxFor(m => m.Implementation_Code, new { @class = "form-control", @type = "text", @id = "txtImplementation_Code" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Spartan_BR_Action_Param_Type/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromParameterTypeId").val() != "" || $("#txtAdvanceToParameterTypeId").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_BR_Action_Param_TypeParameterTypeIdFrom = $("#txtAdvanceFromParameterTypeId").val();
            advanceSearch.Spartan_BR_Action_Param_TypeParameterTypeIdTo = $("#txtAdvanceToParameterTypeId").val();
        }
        if ($("#txtAdvanceDescription").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_BR_Action_Param_TypeDescription = $("#txtAdvanceDescription").val();
            advanceSearch.Spartan_BR_Action_Param_TypeDescriptionSearchType = $("#ddlAdvanceDescriptionFilter").val();
        }
        advanceSearch.Presentation_Control_TypeSearchType = 0;
        if ($('#ddlAdvancePresentation_Control_Type').val().length > 0 || $("#txtAdvancePresentation_Control_Type").val() == "") {


            if (isSpartan_BR_Action_Param_TypeTextSearch) {
                advanceSearch.Presentation_Control_TypeName = $("#txtAdvancePresentation_Control_Type").val();
                advanceSearch.Presentation_Control_TypeNameSearchType = $("#ddlAdvancePresentation_Control_Type").val();
                advanceSearch.Presentation_Control_TypeSearchType = 1;
            }
            else {

                advanceSearch.Presentation_Control_TypeToSearch = $("#ddlAdvancePresentation_Control_Type").val();
                advanceSearch.Presentation_Control_TypeSearchType = 2;
            }
        }
        if ($("#txtAdvanceQuery_for_Fill_Condition").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_BR_Action_Param_TypeQuery_for_Fill_Condition = $("#txtAdvanceQuery_for_Fill_Condition").val();
            advanceSearch.Spartan_BR_Action_Param_TypeQuery_for_Fill_ConditionSearchType = $("#ddlAdvanceQuery_for_Fill_ConditionFilter").val();
        }
        if ($("#txtAdvanceCode_for_Fill_Condition").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_BR_Action_Param_TypeCode_for_Fill_Condition = $("#txtAdvanceCode_for_Fill_Condition").val();
            advanceSearch.Spartan_BR_Action_Param_TypeCode_for_Fill_ConditionSearchType = $("#ddlAdvanceCode_for_Fill_ConditionFilter").val();
        }
        if ($("#txtAdvanceImplementation_Code").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_BR_Action_Param_TypeImplementation_Code = $("#txtAdvanceImplementation_Code").val();
            advanceSearch.Spartan_BR_Action_Param_TypeImplementation_CodeSearchType = $("#ddlAdvanceImplementation_CodeFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblSpartan_BR_Action_Param_Type').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isSpartan_BR_Action_Param_TypeTextSearch = true;

    $(document).ready(function () {
        $('.clockpicker').clockpicker();
        $("#txtAdvancePresentation_Control_Type").keypress(function () {
            isSpartan_BR_Action_Param_TypeTextSearch = true;
            $("#ddlAdvancePresentation_Control_Type").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePresentation_Control_Type").change(function () {
            isSpartan_BR_Action_Param_TypeTextSearch = false;
            $("#txtAdvancePresentation_Control_Type").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {



            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });

        });

    </script>
}

