@model Spartane.Core.Domain.Spartan_User.Spartan_User

@{
    string disabled = "";
    if (Convert.ToInt32(Session["EstatusChangePassword"]) != 2)
    {
        disabled = "disabled=\"disabled\"";
    }   
}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post, new { id = "formPass", role = "form", data_toggle = "validator", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <input type="hidden" id="Id_User" name="Id_User" value="@Model.Id_User" />
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1" style="color: #000;">@Resources.LoginResources.Password</label>
                        <input type="password" @disabled class="form-control" style="color: #000;" id="Password" name="Password" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" style="color: #000;">@Resources.LoginResources.ConfirmNewPassword</label>
                        <input type="password" @disabled class="form-control" style="color: #000;" id="ConfirmPassword" data-match="#Password" name="ConfirmPassword" data-match-error="@Resources.LoginResources.PasswordMatch" required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div id="error-old-password" style="text-align: center; padding-bottom: 10px; color: red; "></div>
                        @if (Convert.ToInt32(Session["EstatusChangePassword"]) != 2)
                        {
                            if (Convert.ToInt32(Session["EstatusChangePassword"]) == 3)
                            {
                                <div class="alert alert-danger" role="alert" style="text-align: center;">
                                    @Resources.Resources.NoAuthorizationChangePassword</div>
                            }
                            if (Convert.ToInt32(Session["EstatusChangePassword"]) == 1)
                            {
                                <div class="alert alert-warning" role="alert" style="text-align: center;">
                                    @Resources.Resources.PendingAuthorizationChangePassword
                                </div>
                            }
                            if (Convert.ToInt32(Session["EstatusChangePassword"]) == 0 || Convert.ToInt32(Session["EstatusChangePassword"]) == 4)
                            {
                                <button type="submit" class="btn btn-primary">@Resources.Resources.AuthorizationChangePassword</button>
                                <button id="cancel" type="button" data-dismiss="modal" class="btn btn-primary close">@Resources.Resources.Cancelar</button>
                            }
                        }
                        else
                        {
                            <button id="savePasswordPU" type="button" class="btn btn-primary">@Resources.Resources.Guardar</button>
                            <button id="cancel" type="button" data-dismiss="modal" class="btn btn-danger">@Resources.Resources.Cancelar</button>
                        }

                    </div>
                }
                </div>
            </div>
        </div>
