@using System.Collections.Generic
@using System.Web.UI.WebControls
@using Spartane.Core.Domain.Spartan_Bitacora_SQL;

@using Spartane.Core.Domain.Permission
@using Spartane.Web.Areas.WebApiConsumer
@using Spartane.Web.Helpers
@{
    ViewBag.Title = Resources.Resources.Index;
    Permission permission = ViewBag.Permission;
    var advanceSearch = (bool)ViewBag.AdvanceSearch;

    List<SelectListItem> varSpartan_Format = null;
    if (ViewBag.Spartan_Formats != null)
    { varSpartan_Format = (List<SelectListItem>)ViewBag.Spartan_Formats; }

}
<style>
    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }
</style>

<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Resources.Spartan_Bitacora_SQLResources.Spartan_Bitacora_SQL</h2>
        
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                
            </li>
            <li class="active">
                <strong>@Resources.Spartan_Bitacora_SQLResources.Spartan_Bitacora_SQL</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
		@{
            if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
            {
                <h2>&nbsp;</h2>
                <button onclick="Spartan_Bitacora_SQLGetBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton" data-toggle="modal" data-target="#Spartan_Bitacora_SQLBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
                <div aria-hidden="true" class="modal fade in Spartan_Bitacora_SQLPropertyBusinessModal" id="Spartan_Bitacora_SQLPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Property & Business Rules
                                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
                                    </div>
                                    <div class="clearfix col-sm-12">&nbsp;</div>
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Spartan_Bitacora_SQLBusinessRule-form" onclick="Spartan_Bitacora_SQLGetBusinessRule()">Business Rule</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                </div>
                <div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_Bitacora_SQLBusinessRuleModal" id="Spartan_Bitacora_SQLBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                </div>
                <div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_Bitacora_SQLAddBusinessRuleModal" id="Spartan_Bitacora_SQLAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                </div>
            }
		}
    </div>
</div>

<input type="hidden" value="List" name="Operation" id="Operation" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

<span id="popupNotification"></span>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div id="jsGrid">
                    </div>

                    @* Model Start Here *@

                    @using (Ajax.BeginForm("", "", new AjaxOptions { OnSuccess="" }))
                    {
                        
                    }
                    
                     @* Model Print Start*@
                    <div id="exportModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">Export options</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-3">Export option:</div>
                                        <div class="col-md-8 col-md-offset-0">
                                            <label class="">
                                                <input type="radio" name="optradio" value="1" checked="true">Export only current page records
                                            </label>
                                            <label class="">
                                                <input type="radio" name="optradio" value="0">Export all records
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                            </div>
                                        </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" id="btnPrint" class="btn btn-primary" onclick="return PrintDocument(3);">Export</button>
                                    <button type="button" id="btnPdf" class="btn btn-primary" onclick="return Export(1);">Export</button>
                                    <button type="button" id="btnExcel" class="btn btn-primary" onclick="return Export(2);">Export</button>
                                    <button type="button" id="btnCSV" class="btn btn-primary" onclick="return Export(4);">Export</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
					@* Model Print Format Start*@
                    <div id="printFormatModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">Imprimir Formato</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div id="spartan_formats" class="col-md-6 col-md-offset-0">
                                            @if (varSpartan_Format != null)
                                            {
                                                foreach (var itemFormat_Type in varSpartan_Format)
                                                {                                               
                                                    <div class="">
                                                        <label>
                                                            <input type="radio" name="optradioFormat" value="@itemFormat_Type.Value" checked="checked" />@itemFormat_Type.Text
                                                        </label>
                                                    </div>
                                                }
                                            }                                                                                    
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" id="btnPrint" class="btn btn-primary" onclick="return ExportToPdfFormats();">Generar Pdf</button>         
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>                              
                            </div>
                            <!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <div id="botonera">
						@if (permission.New)
                        { 
                            @Html.ActionLink(Resources.Resources.Create, "Create", "Spartan_Bitacora_SQL", new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            <a href="#" class="btn btn-danger not-permission-btn" data-placement="top" data-toggle="tooltip" data-original-title="@Resources.Resources.NoPermission">@Resources.Resources.Create</a>
                        }
                        @Html.ActionLink(@Resources.Resources.AdvanceSearch, "ShowAdvanceFilter", "Spartan_Bitacora_SQL", new { previousFilters = advanceSearch }, new { @class = ("btn btn-primary") })
                        <button onclick="ClearFilter()" class=" btn btn-primary">@Resources.Resources.ClearFilter</button>
                                </div>
                    <div class="table-responsive">

                        <table id="tblSpartan_Bitacora_SQL" class="table table-striped table-bordered table-hover dataTables-example scroll_content" style=" overflow-x:scroll;  display:none;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Folio</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Id_User</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Type_SQL</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Register_Date</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Computer_Name</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Server_Name</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Database_Name</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.System_Name</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.System_Version</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Windows_Version</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Command_SQL</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Folio_SQL</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Object_Id</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.IP</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Json</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Result</th>
                                    <th>@Resources.Spartan_Bitacora_SQLResources.Error</th>

                                </tr>
                            </thead>
                            <tfoot style="display:table-header-group;">
                                <tr>
                                    <td></td>
                                    <td class="filterColumn" s-spartan="number"></td>
                                    <td class="filterColumn" s-spartan="number"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="date"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="number"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="text"></td>
                                    <td class="filterColumn" s-spartan="checkbox"></td>
                                    <td class="filterColumn" s-spartan="text"></td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/plugins/dataPickerStyles")
@Styles.Render("~/plugins/clockpickerStyles")
@Styles.Render("~/plugins/awesomeCheckboxStyles")

@Scripts.Render("~/plugins/dataTables")
@Scripts.Render("~/plugins/dataPicker")
@Scripts.Render("~/plugins/clockpicker")
@*@Scripts.Render("~/plugins/slimScroll")*@

<script type="text/javascript" src="~/Scripts/Custom/tablePlugin.js"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Spartan_Bitacora_SQLIndexRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<style>
    .dataTables_filter {
        display: none;
    }

    div.dataTables_info {
        display: inline-block;
        float: left;
    }
</style>

<script type="text/javascript">
	var MRWhere = '';
    var MROrder = '';
    var table;
    var currentFilter;
     var permission = {
        Consult: '@permission.Consult.ToString()' == 'True',
        New: '@permission.New.ToString()' == 'True',
        Edit: '@permission.Edit.ToString()' == 'True',
        Delete: '@permission.Delete.ToString()' == 'True',
        Export: '@permission.Export.ToString()' == 'True',
        Print: '@permission.Print.ToString()' == 'True',
        Configure: '@permission.Configure.ToString()' == 'True',
    };

    $(document).ready(function () {
	
	 $('.loading').show();
        $("#frmAdvanceSearch").submit(function (e) {
            e.preventDefault();
            InitiateAdvanceSearch();
        });
        $('a').tooltip();
    });

    var advanceSearchQuery = "@(advanceSearch)", isSpartan_Bitacora_SQLTextSearch = true;

    function ClearFilter() {

        $('.filterData').each(function( index, element ){
            if ($(this).attr('type') != 'checkbox') {
                $(this).val('');
            }
            else {
                $(this).attr('checked', false);
            }
        });
        advanceSearchQuery = "False";
        ClearFilterConfig();
        table.search('').columns().search('').draw();
    }

    function ClearFilterConfig() {
        $.ajax({
            url: '@Url.Content("~/Frontal/Spartan_Bitacora_SQL/ClearAdvanceFilter")',
            type: 'POST',
            dataType: "json",
            success: function (result) {
            },
            error: function (result) {
                showNotification("@Resources.Resources.ErrorContactingServer", "error");
                return null;
            }
        });
    }

    //Used to initiate advance function
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblSpartan_Bitacora_SQL').DataTable().draw();
        return false;
    }

    function GetAdvanceSearchQuery() {
        return advanceSearchQuery;
    }

    function VisibilityAdvanceSearch() {
        $('#btnAdvanceSearch').click();
        return false;
    }

    function Export(format) {
        currentFilter = table.page.info();

        var queryString = GetQueryString();

        var Folio = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Id_User = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Type_SQL = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Register_Date = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Computer_Name = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Server_Name = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Database_Name = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var System_Name = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var System_Version = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Windows_Version = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Command_SQL = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Folio_SQL = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Object_Id = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var IP = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Json = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Result = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Error = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();


        var queryString = "&Folio=" + Folio 
        + "&Id_User=" + Id_User
        + "&Type_SQL=" + Type_SQL
        + "&Register_Date=" + Register_Date
        + "&Computer_Name=" + Computer_Name
        + "&Server_Name=" + Server_Name
        + "&Database_Name=" + Database_Name
        + "&System_Name=" + System_Name
        + "&System_Version=" + System_Version
        + "&Windows_Version=" + Windows_Version
        + "&Command_SQL=" + Command_SQL
        + "&Folio_SQL=" + Folio_SQL
        + "&Object_Id=" + Object_Id
        + "&IP=" + IP
        + "&Json=" + Json
        + "&Result=" + Result
        + "&Error=" + Error
;

        var url = "@Url.Content("~/Frontal/Spartan_Bitacora_SQL/Export?format=")" + format
            + "&pageIndex=" + ($('#exportModal :radio:checked').val() == "0" ? 1 : currentFilter.page + 1)
            + "&pageSize=" + ($('#exportModal :radio:checked').val() == "0" ? 0 : currentFilter.length) + queryString +  "&where=" + encodeURIComponent(MRWhere) + "&order=" + MROrder;
        window.open(url, '_blank');
    };

    function GetQueryString() {
        var Folio = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Id_User = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Type_SQL = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Register_Date = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Computer_Name = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Server_Name = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Database_Name = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var System_Name = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var System_Version = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Windows_Version = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Command_SQL = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Folio_SQL = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Object_Id = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var IP = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Json = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Result = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();
        var Error = $("#tblSpartan_Bitacora_SQL tfoot td:nth-child(2) :input").val();


        return "&Folio=" + Folio 
        + "&Id_User=" + Id_User
        + "&Type_SQL=" + Type_SQL
        + "&Register_Date=" + Register_Date
        + "&Computer_Name=" + Computer_Name
        + "&Server_Name=" + Server_Name
        + "&Database_Name=" + Database_Name
        + "&System_Name=" + System_Name
        + "&System_Version=" + System_Version
        + "&Windows_Version=" + Windows_Version
        + "&Command_SQL=" + Command_SQL
        + "&Folio_SQL=" + Folio_SQL
        + "&Object_Id=" + Object_Id
        + "&IP=" + IP
        + "&Json=" + Json
        + "&Result=" + Result
        + "&Error=" + Error
;

    }
	
	$(document).on("click", ".editor_print", function () {

        var idRecord = $(this).data('idrecord');
        $("#printFormatModal").data('idrecord', idRecord);
        // As pointed out in comments, 
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
    function ExportToPdfFormats()
    {
        var RecordId = $("#printFormatModal").data('idrecord');
        var FormatId = $("input:radio[name='optradioFormat']:checked").val();
        var url = "@Url.Content("~/Frontal/Spartan_Bitacora_SQL/PrintFormats?idFormat=")" + FormatId + "&RecordId=" + RecordId;
        var printWindow = window.open(url, '_blank');
    }
	
    function PrintDocument(format) {


        currentFilter = table.page.info();

        var queryString = GetQueryString();

        @* TODO: Code to handle filters*@
        @*var url = "@Url.Content("~/Frontal/Spartan_Bitacora_SQL/Print?format=")" + format
           + "&pageIndex=" + ($('#exportModal :radio:checked').val() == "0" ? 1 : currentFilter.page + 1)
           + "&pageSize=" + ($('#exportModal :radio:checked').val() == "0" ? 0 : currentFilter.length) + queryString;

        debugger;
        var printWindow = window.open(url, '_blank');

        printWindow.print();

        @*var title = '@Resources.Resources.PrintText';
                printWindow.document.write('<title>' + title + '</title>');

                printWindow.print();
                printWindow.close();*@

        $.ajax({

            url: "@Url.Content("~/Frontal/Spartan_Bitacora_SQL/Print")?format=" + "3" + "&pageIndex=" +
               ($('#exportModal :radio:checked').val() == "0" ? 1 : currentFilter.page + 1)
                + "&pageSize=" + ($('#exportModal :radio:checked').val() == "0" ? 0 : currentFilter.length)+ "&where=" + encodeURIComponent(MRWhere) + "&order=" + MROrder,
            async:false,
            success: function (data) {
                var printWindow = window.open();
                var title = '@Resources.Resources.PrintText';
                printWindow.document.write('<title>' + title + '</title>');
                printWindow.document.write(data);
                printWindow.print();
                //printWindow.close();

            },
            error: function () {
                showNotification('Error', "error");
            }
        });

    }

    function SetTitle(printWindow) {
        if (printWindow.document) {
            printWindow.document.title = "Spartan Bitacora SQL Print";
        } else {
            setTimeout(SetTitle, 10);
        }
    }

    Serialize = function (obj) {
        var str = [];
        for (var p in obj)
            if (obj.hasOwnProperty(p)) {
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
            }
        return str.join("&");
    }
    function GetContentType() {
        switch ($('#myModal #sel1').val()) {
            case "1":
                return "application/pdf; charset=utf-8";
            case "2":
                return "application/vnd.ms-excel; charset=utf-8";
        }
        return null;
    }

    var isInitialized = false;
    var filterState = JSON.parse(localStorage.getItem("GRID_STATE_MANAGEMENT"));

    $(function () {
        //Popup
        $("#btnExportPopUpOpen").click(function () {
            $('#myModal').modal('show');
        });

        $(document).on("click", ".buttons-pdf", function (e, data) {

            $("#btnPrint").hide();
            $("#btnExcel").hide();
            $("#btnPdf").show();
            $("#btnCSV").hide();
            $('#exportModal').modal('show');

        });

        $(document).on("click", ".buttons-print", function (e, data) {

            $("#btnPdf").hide();
            $("#btnExcel").hide();
            $("#btnPrint").show();
            $("#btnCSV").hide();
            $('#exportModal').modal('show');
        });

        $(document).on("click", ".buttons-excel", function (e, data) {

            $("#btnPdf").hide();
            $("#btnExcel").show();
            $("#btnPrint").hide();
            $("#btnCSV").hide();
            $(this).bind();
            $('#exportModal').modal('show');
        });

        $(document).on("click", ".buttons-csv", function (e, data) {


            $("#btnPdf").hide();
            $("#btnExcel").hide();
            $("#btnPrint").hide();
            $("#btnCSV").show();
            $('#exportModal').modal('show');

        });

		var oDatatableStateData;
        // initialize datatable variable
        table = $('#tblSpartan_Bitacora_SQL').DataTable({
            dom: '<"html5buttons"B>lTfgt<"bottom"ip>',
            //"dom": '<"top"f>rt<"bottom"ilp><"clear">'
            buttons: [
                { extend: 'copy', text: '@Resources.Resources.Copy', exportOptions: { columns: [1 ,':visible'] }, className: !permission.Export ? 'disabled' : '', },
                { extend: 'csv', text: '@Resources.Resources.CSV', exportOptions: { columns: [1 ,2 ] }, className: !permission.Export ? 'disabled' : '', },
                { extend: 'excel', title: '@Resources.Resources.Excel', text: '@Resources.Resources.Excel', exportOptions: { columns: [1 ,2 ] }, className: !permission.Export ? 'disabled' : '', },
                { extend: 'pdf', title: '@Resources.Resources.PDF', text: '@Resources.Resources.PDF', exportOptions: { columns: [1 ,2 ] }, className: !permission.Export ? 'disabled' : '', },
                {
                    extend: 'print', title: '@Resources.Resources.PrintText', text: '@Resources.Resources.Print', exportOptions: { columns: [1 ,2 ] }, className: !permission.Print ? 'disabled' : '',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');

                        if (!permission.Print) {
                            $(win.document.body).addClass('disabled');
                            $(win.document.body).attr('disabled', 'true');
                        }
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ],
            "processing": true,
            "serverSide": true,
            "info": true,
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "@Resources.Resources.All"]],
            "sAjaxSource": "@Url.Content("~/Frontal/Spartan_Bitacora_SQL/GetSpartan_Bitacora_SQLList")" + "?where=" + encodeURIComponent(MRWhere) + "&order=" + MROrder,
            "fnServerParams": function ( aoData ) {
                aoData.push({ "name": "AdvanceSearch", "value": GetAdvanceSearchQuery() });
            },
            "bStateSave": false,
            "fnStateSave": function (oSettings, oData) {
                localStorage.setItem(JSON.stringify(oData), 'Spartan_Bitacora_SQLDatatable_');
            },
            "fnStateLoad": function (oSettings) {
                var data = localStorage.getItem('Spartan_Bitacora_SQLDatatable_');
                return JSON.parse(data);
            },
            "fnStateLoaded": function (oSettings, oData) {
                oDatatableStateData = oData;              
                setFilterState('tblSpartan_Bitacora_SQL', oDatatableStateData); 
            },
            "aoColumns": [
                {
                    "data": null,
                    "className": "center actionColumn text-nowrap",
					"orderable": false, 					
					"render": function (data, type, full, meta) {
                        var edit = '<a title="@Resources.Resources.Edit" href="@Url.Action("Create", "Spartan_Bitacora_SQL")?Id=' + data.Folio + '" class="editor_edit edit-MR  @((!permission.Edit) ? "not-permission" : "")"><i class="fa fa-edit"></i></a>';
                        if (!permission.Edit)
                            edit = '<a href="#" class="not-permission  edit-MR" data-placement="top" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.NoPermission"><i class="fa fa-edit"></i></a>';
                        var consult = '<a title="@Resources.Resources.Consult" href="@Url.Action("Create", "Spartan_Bitacora_SQL")?Id=' + data.Folio + '&consult=1"  class="editor_remove"><i class="fa fa-male"></i></a>';
                        if (!permission.Consult)
                            consult = '<a href="#" class="not-permission" data-placement="top" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.NoPermission"><i class="fa fa-male"></i></a>';
                        var print = '<a title="@Resources.Resources.Print" data-toggle="modal" data-target="#printFormatModal" data-idRecord="' + data.Folio + '"  class="editor_print print-MR"><i class="fa fa-print"></i></a>';
                        if (!permission.Print)
                            print = '<a href="#" class="not-permission print-MR" data-placement="top" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.NoPermission"><i class="fa fa-print"></i></a>';
                        var del = '<a title="@Resources.Resources.Delete" onclick="DeleteSpartan_Bitacora_SQL(\'' + data.Folio + '\')" class="editor_remove eliminar-MR"><i class="fa fa-times"></i></a>';
                        if (!permission.Delete)
                            del = '<a href="#" class="not-permission eliminar-MR" data-placement="top" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.NoPermission"><i class="fa fa-times"></i></a>';
                        return edit + del + consult + print;
                    }
                }, 
                { "data": "Folio", "orderable": true, "name": "Folio" }
                ,{ "data": "Id_User", "orderable": true, "name": "Id_User" }
                ,{ "data": "Type_SQL", "orderable": true, "name": "Type_SQL" }
                ,{ "data": "Register_Date", "orderable": true, "searchable": true, "type": "date", "name": "Register_Date" }
                ,{ "data": "Computer_Name", "orderable": true, "name": "Computer_Name" }
                ,{ "data": "Server_Name", "orderable": true, "name": "Server_Name" }
                ,{ "data": "Database_Name", "orderable": true, "name": "Database_Name" }
                ,{ "data": "System_Name", "orderable": true, "name": "System_Name" }
                ,{ "data": "System_Version", "orderable": true, "name": "System_Version" }
                ,{ "data": "Windows_Version", "orderable": true, "name": "Windows_Version" }
                ,{ "data": "Command_SQL", "orderable": true, "name": "Command_SQL" }
                ,{ "data": "Folio_SQL", "orderable": true, "name": "Folio_SQL" }
                ,{ "data": "Object_Id", "orderable": true, "name": "Object_Id" }
                ,{ "data": "IP", "orderable": true, "name": "IP" }
                ,{ "data": "Json", "orderable": true, "name": "Json" }
                ,{ "data": "Result", "orderable": true, "name": "Result","render": function (data) { return data == true ? "@Resources.Resources.Yes" : "@Resources.Resources.No"; }}
                ,{ "data": "Error", "orderable": true, "name": "Error" }

            ],
			"colReorder": true,
            "order": [[1, "asc"]],
            "language": {
                "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                "zeroRecords": "@Resources.Resources.NothingFound",
                "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                "infoEmpty": "@Resources.Resources.NoRecords",
                "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                "paginate": {
                    "previous": "@Resources.Resources.Previous",
                    "next": "@Resources.Resources.Next"
                }
            }
    }).on('init.dt', function (e, data) {
        var classNamePDF = $(this).dataTableExt.buttons.pdfHtml5.className.split(" ");
        var classNameExcel = $(this).dataTableExt.buttons.excelHtml5.className.split(" ");
        var classNamePrint = $(this).dataTableExt.buttons.print.className.split(" ");
        var classNameCSV = $(this).dataTableExt.buttons.csvHtml5.className.split(" ");
        $('.' + classNamePDF[0]).unbind();
        $('.' + classNameExcel[0]).unbind();
        $('.' + classNamePrint[0]).unbind();
        $('.' + classNameCSV[0]).unbind();
        $('a').tooltip();
        EjecutarValidacionesDespuesDeCrearLista();

        $('#tblSpartan_Bitacora_SQL').show().css({
            "width": "auto",
            "min-width": "100%"
        });

        $('.loading').hide();

    });

        setFilter('tblSpartan_Bitacora_SQL', table);

        $('.clockpicker').clockpicker();

        $('.datepicker').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: "dd-mm-yyyy"
        });
    });

    function DeleteSpartan_Bitacora_SQL(Folio) {
        if (confirm(htmlDecode('@Resources.Resources.DeleteRecord'))) {
            $.ajax({
                url: '@Url.Content("~/Frontal/Spartan_Bitacora_SQL/Delete?id=")' + Folio,
                type: 'DELETE',
                success: function (result) {
                    if (result) {
                        table.draw();
                        showNotification('@Resources.Resources.DeleteSuccess', "success");
                    } else {
                        showNotification('@Resources.Resources.DeleteError', "error");
                    }

                }
            });
        }
    }
</script>

<script type="text/javascript">
    function GetPropertyBag() {
        $.get('@Url.Action("Spartan_Bitacora_SQLPropertyBag", "Spartan_Bitacora_SQL")', function (data) {
            $(".PropertyModal").html(data);
        });
    }
    function Spartan_Bitacora_SQLGetBusinessRule() {
        $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: '', FieldName: '', ObjectId: '34957', Attribute: '3', Screen: 'Spartan_Bitacora_SQL' }, function (data) {
            $(".Spartan_Bitacora_SQLBusinessRuleModal").html(data);
        });
    }
    function Spartan_Bitacora_SQLGetAddBusinessRule(RuleId) {
        $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: '', FieldName: '', ObjectId: '34957', Attribute: '3', Screen: 'Spartan_Bitacora_SQL' }, function (data) {
            $(".Spartan_Bitacora_SQLAddBusinessRuleModal").html(data);
            $(".datatable").DataTable();
        });
    }
    function RemoveBusinessRule(RuleId) {
        $.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: '', FieldName: '', ObjectId: '34957', Attribute: '3', Screen: 'Spartan_Bitacora_SQL' }, function (data) {
            $(".Spartan_Bitacora_SQLBusinessRuleModal").html(data);
        });
    }
</script>
@section Styles {
    
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
}

