@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Sucursales_ProveedoresModel
@{


 List<SelectListItem> varTipo_de_Sucursal_Tipo_de_Sucursal = null;
    if (ViewBag.Tipo_de_Sucursals_Tipo_de_Sucursal != null)
    { varTipo_de_Sucursal_Tipo_de_Sucursal = (List<SelectListItem>)ViewBag.Tipo_de_Sucursals_Tipo_de_Sucursal; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Sucursales Proveedores
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Sucursales_ProveedoresRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Sucursales_ProveedoresPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Sucursales Proveedores
								<button onclick="Detalle_Sucursales_ProveedoresGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Sucursales_ProveedoresBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Sucursales_ProveedoresResources.Detalle_Sucursales_Proveedores</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Sucursales_ProveedoresDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Sucursales_ProveedoresPropertyBusinessModal" id="Detalle_Sucursales_ProveedoresPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Sucursales_ProveedoresBusinessRule-form" onclick="Detalle_Sucursales_ProveedoresGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Sucursales_ProveedoresPropertyModal" id="Detalle_Sucursales_ProveedoresPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Sucursales_ProveedoresBusinessRuleModal" id="Detalle_Sucursales_ProveedoresBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Sucursales_ProveedoresAddBusinessRuleModal" id="Detalle_Sucursales_ProveedoresAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Sucursales_Proveedores", FormMethod.Post, new { id = "CreateDetalle_Sucursales_Proveedores", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Sucursales_ProveedoresCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="260003" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Folio">
                                    <label class="form-control" for="Detalle_Sucursales_ProveedoresFolio" id="Detalle_Sucursales_ProveedoresFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divTipo_de_Sucursal">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Tipo_de_Sucursal</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Sucursal" data-attribute="260005" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Tipo_de_Sucursal">
                                    <select class='fullWidth AutoCompleteTipo_de_Sucursal form-control select2-dropdown' data-val="true" id="Detalle_Sucursales_ProveedoresTipo_de_Sucursal" name="Detalle_Sucursales_ProveedoresTipo_de_Sucursal">
                                        <option value="@Model.Tipo_de_Sucursal">@(Model.Tipo_de_SucursalDescripcion??Model.Tipo_de_SucursalDescripcion)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divEmail">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Email</label>
                                <div class="col-sm-8" data-field-id="Email" data-attribute="260008" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Email">
                                    <input class="form-control" id="Detalle_Sucursales_ProveedoresEmail" name="Detalle_Sucursales_ProveedoresEmail" type="text" value="@Model.Email">
                                </div>
                            </div>
<div class="form-group" id="divTelefono">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Telefono</label>
                                <div class="col-sm-8" data-field-id="Telefono" data-attribute="260009" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Telefono">
                                    <input class="form-control" id="Detalle_Sucursales_ProveedoresTelefono" name="Detalle_Sucursales_ProveedoresTelefono" type="text" value="@Model.Telefono">
                                </div>
                            </div>
<div class="form-group" id="divCalle">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Calle</label>
                                <div class="col-sm-8" data-field-id="Calle" data-attribute="260010" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Calle">
                                    <input class="form-control" id="Detalle_Sucursales_ProveedoresCalle" name="Detalle_Sucursales_ProveedoresCalle" type="text" value="@Model.Calle">
                                </div>
                            </div>
<div class="form-group" id="divNumero_exterior">
	<label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Numero_exterior</label>
	<div class="col-sm-8" data-field-id="Numero_exterior" data-attribute="260011" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Numero_exterior">
		<input class="form-control inputNumber" id="Detalle_Sucursales_ProveedoresNumero_exterior" name="Detalle_Sucursales_ProveedoresNumero_exterior" type="text" value="@Model.Numero_exterior">
	</div>
</div>
<div class="form-group" id="divNumero_interior">
	<label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Numero_interior</label>
	<div class="col-sm-8" data-field-id="Numero_interior" data-attribute="260012" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Numero_interior">
		<input class="form-control inputNumber" id="Detalle_Sucursales_ProveedoresNumero_interior" name="Detalle_Sucursales_ProveedoresNumero_interior" type="text" value="@Model.Numero_interior">
	</div>
</div>
<div class="form-group" id="divColonia">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Colonia</label>
                                <div class="col-sm-8" data-field-id="Colonia" data-attribute="260013" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Colonia">
                                    <input class="form-control" id="Detalle_Sucursales_ProveedoresColonia" name="Detalle_Sucursales_ProveedoresColonia" type="text" value="@Model.Colonia">
                                </div>
                            </div>
<div class="form-group" id="divC_P_">
	<label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.C_P_</label>
	<div class="col-sm-8" data-field-id="C_P_" data-attribute="260014" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.C_P_">
		<input class="form-control inputNumber" id="Detalle_Sucursales_ProveedoresC_P_" name="Detalle_Sucursales_ProveedoresC_P_" type="text" value="@Model.C_P_">
	</div>
</div>
<div class="form-group" id="divCiudad">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Ciudad</label>
                                <div class="col-sm-8" data-field-id="Ciudad" data-attribute="260015" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Ciudad">
                                    <input class="form-control" id="Detalle_Sucursales_ProveedoresCiudad" name="Detalle_Sucursales_ProveedoresCiudad" type="text" value="@Model.Ciudad">
                                </div>
                            </div>
<div class="form-group" id="divEstado">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Estado</label>
                                <div class="col-sm-8" data-field-id="Estado" data-attribute="260016" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Estado">
                                    <input class="form-control" id="Detalle_Sucursales_ProveedoresEstado" name="Detalle_Sucursales_ProveedoresEstado" type="text" value="@Model.Estado">
                                </div>
                            </div>
<div class="form-group" id="divPais">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Sucursales_ProveedoresResources.Pais</label>
                                <div class="col-sm-8" data-field-id="Pais" data-attribute="260017" data-field-name="@Resources.Detalle_Sucursales_ProveedoresResources.Pais">
                                    <input class="form-control" id="Detalle_Sucursales_ProveedoresPais" name="Detalle_Sucursales_ProveedoresPais" type="text" value="@Model.Pais">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Sucursales_ProveedoresConfigureSave" name="Detalle_Sucursales_ProveedoresConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Sucursales_ProveedoresConfigureType" />
												<input type="hidden" id="hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Sucursales_ProveedoresBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Sucursales_ProveedoresGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Sucursales_ProveedoresBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Sucursales_Proveedores.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Sucursales_ProveedoresGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Sucursales_ProveedoresCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/ProveedoresCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Sucursales_ProveedoresRowElement = "Detalle_Sucursales_ProveedoresPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Sucursales_ProveedoresRowElement + "')){ Detalle_Sucursales_ProveedoresInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });
       var AutoCompleteTipo_de_SucursalData =[];
       $(".AutoCompleteDetalle_Sucursales_Proveedores_Tipo_de_Sucursal").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Sucursales_Proveedores/GetDetalle_Sucursales_Proveedores_Tipo_de_Sucursal_Tipo_de_Sucursal")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Sucursales_Proveedores_Tipo_de_Sucursal_Tipo_de_SucursalData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Sucursales_Proveedores_Tipo_de_Sucursal");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Sucursales_ProveedoresData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Sucursales_Proveedores").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Sucursales_Proveedores")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Sucursales_ProveedoresCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Sucursales_Proveedores/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Sucursales_ProveedoresPropertyBag", "Detalle_Sucursales_Proveedores")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Sucursales_ProveedoresGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldName').val(), ObjectId: '44593', Attribute: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleAttribute').val(), Screen: 'Detalle_Sucursales_Proveedores' }, function (data) {
                $(".Detalle_Sucursales_ProveedoresBusinessRuleModal").html(data);
            });
        }
        function Detalle_Sucursales_ProveedoresGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldName').val(), ObjectId: '44593', Attribute: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleAttribute').val(), Screen: 'Detalle_Sucursales_Proveedores' }, function (data) {
                $(".Detalle_Sucursales_ProveedoresAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldName').val(), ObjectId: '44593', Attribute: $('#hdnDetalle_Sucursales_ProveedoresBusinessRuleAttribute').val(), Screen: 'Detalle_Sucursales_Proveedores' }, function (data) {
				$(".Detalle_Sucursales_ProveedoresBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Sucursales_Proveedores/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Sucursales_Proveedores/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Sucursales_Proveedores/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Sucursales_ProveedoresConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Sucursales_ProveedoresConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Sucursales_Proveedores/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Sucursales_ProveedoresConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Sucursales_Proveedores/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Sucursales_Proveedores' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Sucursales_Proveedores' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Sucursales_ProveedoresConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Sucursales_ProveedoresConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Sucursales_Proveedores').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Sucursales_ProveedoresBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
