@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Spartan_WorkFlow_StateModel
@{


    List<SelectListItem> varSpartan_WorkFlow_Phases_Phase = null;
    if (ViewBag.Spartan_WorkFlow_Phasess_Phase != null)
    { varSpartan_WorkFlow_Phases_Phase = (List<SelectListItem>)ViewBag.Spartan_WorkFlow_Phasess_Phase; }
 List<SelectListItem> varSpartan_Metadata_Attribute = null;
    if (ViewBag.Spartan_Metadatas_Attribute != null)
    { varSpartan_Metadata_Attribute = (List<SelectListItem>)ViewBag.Spartan_Metadatas_Attribute; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Spartan WorkFlow State
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Spartan_WorkFlow_StateRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Spartan_WorkFlow_StatePop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Spartan WorkFlow State
								<button onclick="Spartan_WorkFlow_StateGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Spartan_WorkFlow_StateBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Spartan_WorkFlow_StateResources.Spartan_WorkFlow_State</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Spartan_WorkFlow_StateDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Spartan_WorkFlow_StatePropertyBusinessModal" id="Spartan_WorkFlow_StatePropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Spartan_WorkFlow_StateBusinessRule-form" onclick="Spartan_WorkFlow_StateGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_WorkFlow_StatePropertyModal" id="Spartan_WorkFlow_StatePropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_WorkFlow_StateBusinessRuleModal" id="Spartan_WorkFlow_StateBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_WorkFlow_StateAddBusinessRuleModal" id="Spartan_WorkFlow_StateAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Spartan_WorkFlow_State", FormMethod.Post, new { id = "CreateSpartan_WorkFlow_State", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Spartan_WorkFlow_StateCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divStateId">
                                <label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_StateResources.StateId</label>
                                <div class="col-sm-8" data-field-id="StateId" data-attribute="163583" data-field-name="@Resources.Spartan_WorkFlow_StateResources.StateId">
                                    <label class="form-control" for="Spartan_WorkFlow_StateStateId" id="Spartan_WorkFlow_StateStateId">@Model.StateId</label>
                                </div>
                            </div>
<div class="form-group" id="divPhase">
	<label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_StateResources.Phase</label>
	<div class="col-sm-8" data-field-id="Phase" data-attribute="163584" data-field-name="@Resources.Spartan_WorkFlow_StateResources.Phase">
		<select class="form-control" data-val="true" data-val-number="The field Phase must be a number." data-val-required="The Phase field is required." id="Spartan_WorkFlow_StatePhase" name="Spartan_WorkFlow_StatePhase">
			<option value=""></option>
			@if (varSpartan_WorkFlow_Phases_Phase != null){ 
				foreach (var itemPhase in varSpartan_WorkFlow_Phases_Phase)
				{
					if (itemPhase.Value == Convert.ToString(Model.Phase))
					{
						<option value="@itemPhase.Value" selected>@itemPhase.Text</option>
					}
					else
					{
						<option value="@itemPhase.Value">@itemPhase.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divAttribute">
                                <label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_StateResources.Attribute</label>
                                <div class="col-sm-8" data-field-id="Attribute" data-attribute="163586" data-field-name="@Resources.Spartan_WorkFlow_StateResources.Attribute">
                                    <select class='fullWidth AutoCompleteSpartan_Metadata form-control select2-dropdown' data-val="true" id="Spartan_WorkFlow_StateAttribute" name="Spartan_WorkFlow_StateAttribute">
                                        <option value="@Model.Attribute">@(Model.AttributeLogical_Name??Model.AttributeLogical_Name)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divState_Code">
	<label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_StateResources.State_Code</label>
	<div class="col-sm-8" data-field-id="State_Code" data-attribute="163587" data-field-name="@Resources.Spartan_WorkFlow_StateResources.State_Code">
		<input class="form-control inputNumber" id="Spartan_WorkFlow_StateState_Code" name="Spartan_WorkFlow_StateState_Code" type="text" value="@Model.State_Code">
	</div>
</div>
<div class="form-group" id="divName">
                                <label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_StateResources.Name</label>
                                <div class="col-sm-8" data-field-id="Name" data-attribute="163588" data-field-name="@Resources.Spartan_WorkFlow_StateResources.Name">
                                    <input class="form-control" id="Spartan_WorkFlow_StateName" name="Spartan_WorkFlow_StateName" type="text" value="@Model.Name">
                                </div>
                            </div>
<div class="form-group" id="divValue">
	<label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_StateResources.Value</label>
	<div class="col-sm-8" data-field-id="Value" data-attribute="163589" data-field-name="@Resources.Spartan_WorkFlow_StateResources.Value">
		<input class="form-control inputNumber" id="Spartan_WorkFlow_StateValue" name="Spartan_WorkFlow_StateValue" type="text" value="@Model.Value">
	</div>
</div>
<div class="form-group" id="divText">
                                <label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_StateResources.Text</label>
                                <div class="col-sm-8" data-field-id="Text" data-attribute="163594" data-field-name="@Resources.Spartan_WorkFlow_StateResources.Text">
                                    <input class="form-control" id="Spartan_WorkFlow_StateText" name="Spartan_WorkFlow_StateText" type="text" value="@Model.Text">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.StateId" id="ReferenceStateId" />
												<input type="hidden" value="@Model.StateId" name="StateId" id="StateIdId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Spartan_WorkFlow_StateConfigureSave" name="Spartan_WorkFlow_StateConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnSpartan_WorkFlow_StateConfigureType" />
												<input type="hidden" id="hdnSpartan_WorkFlow_StateBusinessRuleFieldId" />
												<input type="hidden" id="hdnSpartan_WorkFlow_StateBusinessRuleFieldName" />
												<input type="hidden" id="hdnSpartan_WorkFlow_StateBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Spartan_WorkFlow_StateGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Spartan_WorkFlow_StateBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Spartan_WorkFlow_State.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Spartan_WorkFlow_StateGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Spartan_WorkFlowCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Spartan_WorkFlow_StateRowElement = "Spartan_WorkFlow_StatePop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Spartan_WorkFlow_StateRowElement + "')){ Spartan_WorkFlow_StateInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
			$('a').tooltip();
        });
        $(".AutoCompleteSpartan_WorkFlow_State_Attribute").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Spartan_WorkFlow_State/GetSpartan_WorkFlow_State_Attribute_Spartan_Metadata")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteSpartan_WorkFlow_State_Attribute_Spartan_MetadataData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteSpartan_WorkFlow_State_Attribute");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val(' ');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }

        function GetPropertyBag() {
            $.get('@Url.Action("Spartan_WorkFlow_StatePropertyBag", "Spartan_WorkFlow_State")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Spartan_WorkFlow_StateGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnSpartan_WorkFlow_StateBusinessRuleFieldId').val(FieldId);
				$('#hdnSpartan_WorkFlow_StateBusinessRuleFieldName').val(FieldName);
				$('#hdnSpartan_WorkFlow_StateBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnSpartan_WorkFlow_StateBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_WorkFlow_StateBusinessRuleFieldName').val(), ObjectId: '32553', Attribute: $('#hdnSpartan_WorkFlow_StateBusinessRuleAttribute').val(), Screen: 'Spartan_WorkFlow_State' }, function (data) {
                $(".Spartan_WorkFlow_StateBusinessRuleModal").html(data);
            });
        }
        function Spartan_WorkFlow_StateGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnSpartan_WorkFlow_StateBusinessRuleFieldId').val(FieldId);
				$('#hdnSpartan_WorkFlow_StateBusinessRuleFieldName').val(FieldName);
				$('#hdnSpartan_WorkFlow_StateBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnSpartan_WorkFlow_StateBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_WorkFlow_StateBusinessRuleFieldName').val(), ObjectId: '32553', Attribute: $('#hdnSpartan_WorkFlow_StateBusinessRuleAttribute').val(), Screen: 'Spartan_WorkFlow_State' }, function (data) {
                $(".Spartan_WorkFlow_StateAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnSpartan_WorkFlow_StateBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_WorkFlow_StateBusinessRuleFieldName').val(), ObjectId: '32553', Attribute: $('#hdnSpartan_WorkFlow_StateBusinessRuleAttribute').val(), Screen: 'Spartan_WorkFlow_State' }, function (data) {
				$(".Spartan_WorkFlow_StateBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Spartan_WorkFlow_State/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Spartan_WorkFlow_State/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Spartan_WorkFlow_State/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnSpartan_WorkFlow_StateConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnSpartan_WorkFlow_StateConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Spartan_WorkFlow_State/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnSpartan_WorkFlow_StateConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Spartan_WorkFlow_State/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Spartan_WorkFlow_State' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Spartan_WorkFlow_State' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Spartan_WorkFlow_StateConfigureSave').text('Save Settings');
                    $('#hdnSpartan_WorkFlow_StateConfigureType').val("1");
                });
            }
        }
		$('#CreateSpartan_WorkFlow_State').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnSpartan_WorkFlow_StateBusinessRuleFieldId').val(fieldId);
			$('#hdnSpartan_WorkFlow_StateBusinessRuleFieldName').val(fieldName);
			$('#hdnSpartan_WorkFlow_StateBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
