@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Spartan_WorkFlow_StateAdvanceSearchModel
@{
    List<SelectListItem> varSpartan_WorkFlow_Phases_Phase = null;
    if (ViewBag.Spartan_WorkFlow_Phasess_Phase != null)
    { varSpartan_WorkFlow_Phases_Phase = (List<SelectListItem>)ViewBag.Spartan_WorkFlow_Phasess_Phase; }
 List<SelectListItem> varSpartan_Metadata_Attribute = null;
    if (ViewBag.Spartan_Metadatas_Attribute != null)
    { varSpartan_Metadata_Attribute = (List<SelectListItem>)ViewBag.Spartan_Metadatas_Attribute; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Spartan_WorkFlow_State", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Spartan_WorkFlow_StateResources.StateId</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromStateId, new { @class = "form-control greaterThanZero", @type = "text", @id = "txtAdvanceFromStateId" })
                    @Html.ValidationMessageFor(m => m.FromStateId)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToStateId, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @id = "txtAdvanceToStateId", @data_min = "txtAdvanceFromStateId" })
                    @Html.ValidationMessageFor(m => m.ToStateId)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_WorkFlow_StateResources.Phase</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.PhaseFilter, filters, new { @class = "form-control", @id = "ddlPhaseFilter" })
                    @Html.TextBoxFor(m => m.AdvancePhase, new { @class = "form-control", @type = "text", @id = "txtAdvancePhase" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varSpartan_WorkFlow_Phases_Phase!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvancePhaseMultiple, varSpartan_WorkFlow_Phases_Phase,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvancePhase"
                        });
                    }
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Spartan_WorkFlow_StateResources.State_Code</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromState_Code, new { @class = "form-control greaterThanZero", @type = "text", @id = "txtAdvanceFromState_Code" })
                    @Html.ValidationMessageFor(m => m.FromState_Code)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToState_Code, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @id = "txtAdvanceToState_Code", @data_min = "txtAdvanceFromState_Code" })
                    @Html.ValidationMessageFor(m => m.ToState_Code)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_WorkFlow_StateResources.Name</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.NameFilter, filters, new { @class = "form-control", @id = "ddlNameFilter" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @type = "text", @id = "txtName" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Spartan_WorkFlow_StateResources.Value</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromValue, new { @class = "form-control greaterThanZero", @type = "text", @id = "txtAdvanceFromValue" })
                    @Html.ValidationMessageFor(m => m.FromValue)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToValue, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @id = "txtAdvanceToValue", @data_min = "txtAdvanceFromValue" })
                    @Html.ValidationMessageFor(m => m.ToValue)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_WorkFlow_StateResources.Text</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.TextFilter, filters, new { @class = "form-control", @id = "ddlTextFilter" })
                    @Html.TextBoxFor(m => m.Text, new { @class = "form-control", @type = "text", @id = "txtText" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Spartan_WorkFlow_State/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromStateId").val() != "" || $("#txtAdvanceToStateId").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_WorkFlow_StateStateIdFrom = $("#txtAdvanceFromStateId").val();
            advanceSearch.Spartan_WorkFlow_StateStateIdTo = $("#txtAdvanceToStateId").val();
        }
        advanceSearch.PhaseSearchType = 0;
        if ($('#ddlAdvancePhase').val().length > 0 || $("#txtAdvancePhase").val() == "") {


            if (isSpartan_WorkFlow_StateTextSearch) {
                advanceSearch.PhaseName = $("#txtAdvancePhase").val();
                advanceSearch.PhaseNameSearchType = $("#ddlAdvancePhase").val();
                advanceSearch.PhaseSearchType = 1;
            }
            else {

                advanceSearch.PhaseToSearch = $("#ddlAdvancePhase").val();
                advanceSearch.PhaseSearchType = 2;
            }
        }
        advanceSearch.AttributeSearchType = 0;
        if ($('#ddlAdvanceAttribute').val().length > 0 || $("#txtAdvanceAttribute").val() == "") {


            if (isSpartan_WorkFlow_StateTextSearch) {
                advanceSearch.AttributeName = $("#txtAdvanceAttribute").val();
                advanceSearch.AttributeNameSearchType = $("#ddlAdvanceAttribute").val();
                advanceSearch.AttributeSearchType = 1;
            }
            else {

                advanceSearch.AttributeToSearch = $("#ddlAdvanceAttribute").val();
                advanceSearch.AttributeSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromState_Code").val() != "" || $("#txtAdvanceToState_Code").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_WorkFlow_StateState_CodeFrom = $("#txtAdvanceFromState_Code").val();
            advanceSearch.Spartan_WorkFlow_StateState_CodeTo = $("#txtAdvanceToState_Code").val();
        }
        if ($("#txtAdvanceName").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_WorkFlow_StateName = $("#txtAdvanceName").val();
            advanceSearch.Spartan_WorkFlow_StateNameSearchType = $("#ddlAdvanceNameFilter").val();
        }
        if ($("#txtAdvanceFromValue").val() != "" || $("#txtAdvanceToValue").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_WorkFlow_StateValueFrom = $("#txtAdvanceFromValue").val();
            advanceSearch.Spartan_WorkFlow_StateValueTo = $("#txtAdvanceToValue").val();
        }
        if ($("#txtAdvanceText").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_WorkFlow_StateText = $("#txtAdvanceText").val();
            advanceSearch.Spartan_WorkFlow_StateTextSearchType = $("#ddlAdvanceTextFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblSpartan_WorkFlow_State').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isSpartan_WorkFlow_StateTextSearch = true;

    $(document).ready(function () {
        $('.clockpicker').clockpicker();
        $("#txtAdvancePhase").keypress(function () {
            isSpartan_WorkFlow_StateTextSearch = true;
            $("#ddlAdvancePhase").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePhase").change(function () {
            isSpartan_WorkFlow_StateTextSearch = false;
            $("#txtAdvancePhase").val('');
        });
        $("#txtAdvanceAttribute").keypress(function () {
            isSpartan_WorkFlow_StateTextSearch = true;
            $("#ddlAdvanceAttribute").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceAttribute").change(function () {
            isSpartan_WorkFlow_StateTextSearch = false;
            $("#txtAdvanceAttribute").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {



            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

