@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@*@model Spartane.Core.Domain.Spartan_Attribute_Type.Spartan_Attribute_Type*@
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Spartan_Attribute_TypeModel
@{




    Permission permission = ViewBag.Permission;
}
@Scripts.Render("~/plugins/dataTables")

<script src="@Url.Content("~/Scripts/BootstrapDatePicker/moment.js")"></script>
<script src="@Url.Content("~/Scripts/BootstrapDatePicker/bootstrap-datetimepicker.js")"></script>

<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                Attribute Type
                <button onclick="GetBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#BusinessRule-form">
                    <i class="fa fa-cogs fa-spin"></i>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="">
                    <label>@Resources.Spartan_Attribute_TypeResources.Spartan_Attribute_Type</label>
                </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="DisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in PropertyBusinessModal" id="PropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        Property & Business Rules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#BusinessRule-form" onclick="GetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-hidden="true" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>

                    <div aria-hidden="true" class="modal fade in BusinessRuleModal" id="BusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>

                    <div aria-hidden="true" class="modal fade in AddBusinessRuleModal" id="AddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


                }
            }
        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Spartan_Attribute_Type", FormMethod.Post, new { id = "CreateSpartan_Attribute_Type", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @*<script src="~/Scripts/BootstrapDatePicker/bootstrap-datetimepicker.js"></script>*@
                <script src="@Url.Content("~/Scripts/BootstrapDatePicker/bootstrap-datetimepicker.js")"></script>
                <span id="popupNotification"></span>
                <div class="container-fluid Spartan_Attribute_TypeCreateForm" id="viewmodeledit">
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> Datos Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@Resources.Spartan_Attribute_TypeResources.Attribute_Type_Id</label>
                                <div class="col-sm-8">
                                    <label class="form-control" for="Attribute_Type_Id" id="lblAttribute_Type_Id">@Model.Attribute_Type_Id</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">@Resources.Spartan_Attribute_TypeResources.Description</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="Description" name="Description" type="text" value="@Model.Description">
                                    @*<span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
			</div>
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Attribute_Type_Id" id="ReferenceAttribute_Type_Id" />
                                <input type="hidden" value="@Model.Attribute_Type_Id" name="Attribute_Type_Id" id="Attribute_Type_IdId" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Guardar" class="btn btn-w-m btn-primary" onclick="return checkClientValidate('Spartan_Attribute_TypeCreateForm');"  />

                                    <button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </button>

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="GuardarYNuevo" onclick="return checkClientValidate('Spartan_Attribute_TypeCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="GuardarYCopia" onclick="return checkClientValidate('Spartan_Attribute_TypeCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success"  />
                                    <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
                                }

                                @*<input type="submit" value="@Resources.Resources.Configure" id="Configure" name="Configure" class="btn btn-warning" tabindex="16" />*@
                                <input type="hidden" id="hdnConfigureType" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Cancelar" name="Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

                                <button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
                                    <i class="fa fa-cogs fa-spin"></i>
                                </button>
                            </div>
                        </div>
                }

            </div>
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

@section Scripts {



    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/select2")

@*<script src="~/Scripts/plugins/ckeditor/ckeditor.js"></script>*@
    <script type="text/javascript">
        



        $(document).ready(function () {



            initiateUIControls();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }

    </script>

<script type="text/javascript">

        function SendSpartan_Attribute_TypeData(callBack) {
            var formData = new FormData($("form#CreateSpartan_Attribute_Type")[0]);
            if (checkClientValidate('Spartan_Attribute_TypeCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Spartan_Attribute_Type/Post/")',
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
        function GetPropertyBag() {
            $.get('@Url.Action("Spartan_Attribute_TypePropertyBag", "Spartan_Attribute_Type")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function GetBusinessRule() {
            $.get('@Url.Action("Spartan_Attribute_TypeBusinessRule", "Spartan_Attribute_Type")', function (data) {
                $(".BusinessRuleModal").html(data);
            });
        }
        function GetAddBusinessRule(RuleId) {
            $.get('@Url.Action("AddBusinessRule", "Spartan_Attribute_Type")', { BusinessRuleId: RuleId }, function (data) {
                $(".AddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Spartan_Attribute_Type/")";
    }

        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Spartan_Attribute_Type/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Spartan_Attribute_Type/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }

                    for (var i = 0; i < childElementObject.length; i++) {
                        $('.' + childElementObject[i].inputId + 'Header').show();
                        $('.' + childElementObject[i].inputId).parent().show();
                        $('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
                    }

                    $('#ConfigureSave').text('Save Settings');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
    </script>
<script type="text/javascript" src="~/Uploads/Scripts/Spartan_Attribute_Type.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Spartan_Attribute_TypeGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
}
