@model IList<Spartane.Web.Areas.Frontal.Models.Detalle_Facturacion_EspecialistasGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Folio
            </td>
                        <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Folio
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Fecha_de_Registro
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Folio_Factura
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Periodo_Facturado
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Cantidad
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Archivo_XML
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Archivo_PDF
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Estatus
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Fecha_programada_de_Pago
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Pagada
            </td>
            <td class="column1">
                @Resources.Detalle_Facturacion_EspecialistasResources.Fecha_de_pago
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Folio
                    </td>
					                    <td>
                        @item.Folio
                    </td>
                    <td>
                        @item.Fecha_de_Registro
                    </td>
                    <td>
                        @item.Folio_Factura
                    </td>
                    <td>
                        @item.Periodo_Facturado
                    </td>
                    <td>
                        @item.Cantidad
                    </td>
                    <td>
                        @item.Archivo_XML
                    </td>
                    <td>
                        @item.Archivo_PDF
                    </td>
                    <td>
                        @item.Estatus
                    </td>
                    <td>
                        @item.Fecha_programada_de_Pago
                    </td>
                    <td>
                        @item.Pagada
                    </td>
                    <td>
                        @item.Fecha_de_pago
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

