@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Configuracion_de_NotificacionesModel
@{

/*
    string Fecha_de_Registro = "";
    if (Model.Fecha_de_Registro == "")
    { Model.Fecha_de_Registro = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_inicio = "";
    if (Model.Fecha_inicio == "")
    { Model.Fecha_inicio = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_fin = "";
    if (Model.Fecha_fin == "")
    { Model.Fecha_fin = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

*/
    List<SelectListItem> varSpartan_User_Usuario_que_Registra = null;
    if (ViewBag.Spartan_Users_Usuario_que_Registra != null)
    { varSpartan_User_Usuario_que_Registra = (List<SelectListItem>)ViewBag.Spartan_Users_Usuario_que_Registra; }
    List<SelectListItem> varFuncionalidades_para_Notificacion_Funcionalidad = null;
    if (ViewBag.Funcionalidades_para_Notificacions_Funcionalidad != null)
    { varFuncionalidades_para_Notificacion_Funcionalidad = (List<SelectListItem>)ViewBag.Funcionalidades_para_Notificacions_Funcionalidad; }
    List<SelectListItem> varTipo_de_Notificacion_Tipo_de_Notificacion = null;
    if (ViewBag.Tipo_de_Notificacions_Tipo_de_Notificacion != null)
    { varTipo_de_Notificacion_Tipo_de_Notificacion = (List<SelectListItem>)ViewBag.Tipo_de_Notificacions_Tipo_de_Notificacion; }
    List<SelectListItem> varTipo_de_Accion_Notificacion_Tipo_de_Accion = null;
    if (ViewBag.Tipo_de_Accion_Notificacions_Tipo_de_Accion != null)
    { varTipo_de_Accion_Notificacion_Tipo_de_Accion = (List<SelectListItem>)ViewBag.Tipo_de_Accion_Notificacions_Tipo_de_Accion; }
    List<SelectListItem> varTipo_de_Recordatorio_Notificacion_Tipo_de_Recordatorio = null;
    if (ViewBag.Tipo_de_Recordatorio_Notificacions_Tipo_de_Recordatorio != null)
    { varTipo_de_Recordatorio_Notificacion_Tipo_de_Recordatorio = (List<SelectListItem>)ViewBag.Tipo_de_Recordatorio_Notificacions_Tipo_de_Recordatorio; }
    List<SelectListItem> varNombre_del_campo_en_MS_Fecha_a_validar = null;
    if (ViewBag.Nombre_del_campo_en_MSs_Fecha_a_validar != null)
    { varNombre_del_campo_en_MS_Fecha_a_validar = (List<SelectListItem>)ViewBag.Nombre_del_campo_en_MSs_Fecha_a_validar; }
    List<SelectListItem> varEstatus_Estatus = null;
    if (ViewBag.Estatuss_Estatus != null)
    { varEstatus_Estatus = (List<SelectListItem>)ViewBag.Estatuss_Estatus; }

    Permission permissionRoles_para_Notificar = ViewBag.PermissionRoles_para_Notificar;
    Permission permissionDetalle_Frecuencia_Notificaciones = ViewBag.PermissionDetalle_Frecuencia_Notificaciones;

    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Configuracion_de_NotificacionesResources.Configuracion_de_Notificaciones
                <button onclick="Configuracion_de_NotificacionesGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configuracion_de_NotificacionesBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Configuracion_de_NotificacionesResources.Configuracion_de_Notificaciones</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Configuracion_de_NotificacionesDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Configuracion_de_NotificacionesPropertyBusinessModal" id="Configuracion_de_NotificacionesPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Configuracion_de_NotificacionesBusinessRule-form" onclick="Configuracion_de_NotificacionesGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Configuracion_de_NotificacionesBusinessRuleModal" id="Configuracion_de_NotificacionesBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
                    <div aria-hidden="true" class="modal fade in AddRoles_para_NotificarModal" id="AddRoles_para_Notificar-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>

                    <div aria-hidden="true" class="modal fade in AddDetalle_Frecuencia_NotificacionesModal" id="AddDetalle_Frecuencia_Notificaciones-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    </div>


        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Configuracion_de_Notificaciones", FormMethod.Post, new { id = "CreateConfiguracion_de_Notificaciones", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Configuracion_de_NotificacionesCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Configuracion_de_NotificacionesResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="260550" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Folio">
                                    <label class="form-control" for="Folio" id="lblFolio">
                                    @if (Model.Folio== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Folio</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_de_Registro">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Fecha_de_Registro</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Registro" data-attribute="260551" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Fecha_de_Registro">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_de_Registro"  name="Fecha_de_Registro" type="text" value="@Model.Fecha_de_Registro">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divHora_de_Registro">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Hora_de_Registro</label>
                                <div class="col-sm-8" data-field-id="Hora_de_Registro" data-attribute="260552" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Hora_de_Registro">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Hora_de_Registro"  name="Hora_de_Registro" type="text" data-autoclose="true" value="@Model.Hora_de_Registro">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divUsuario_que_Registra">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Usuario_que_Registra</label>
                                <div class="col-sm-8" data-field-id="Usuario_que_Registra" data-attribute="260553" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Usuario_que_Registra">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Usuario que Registra must be a number." data-val-required="The Usuario que Registra field is required." id="Usuario_que_Registra" name="Usuario_que_Registra">
                                        <option value=""></option>
                                        @if (varSpartan_User_Usuario_que_Registra != null){ 
                                            foreach (var itemUsuario_que_Registra in varSpartan_User_Usuario_que_Registra)
                                            {
                                                if (itemUsuario_que_Registra.Value == Convert.ToString(Model.Usuario_que_Registra))
                                                {
                                                    <option value="@itemUsuario_que_Registra.Value" selected>@itemUsuario_que_Registra.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemUsuario_que_Registra.Value">@itemUsuario_que_Registra.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Usuario_que_Registra" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260553).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Spartan_User', 'Usuario_que_Registra');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNombre_de_la_Notificacion">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Nombre_de_la_Notificacion</label>
                                <div class="col-sm-8" data-field-id="Nombre_de_la_Notificacion" data-attribute="260555" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Nombre_de_la_Notificacion">
                                    <input class="form-control Datos_Generales" id="Nombre_de_la_Notificacion" name="Nombre_de_la_Notificacion" type="text" value="@Model.Nombre_de_la_Notificacion">
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre_de_la_Notificacion" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                        <div class="form-group" id="divDirigido_a">
	                     <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Dirigido_a</label>
	                     <div class="col-sm-8" data-field-id="Dirigido_a" data-attribute="260556" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Dirigido_a">
		                  <select id="ddlDirigido_aMult" name="ddlDirigido_aMult" class="form-control chosen-select" multiple="multiple">
		                  </select>
	                     </div>
                        </div>
                            <div class="form-group" id="divEs_permanente">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Es_permanente</label>
                                <div class="col-sm-8" data-field-id="Es_permanente" data-attribute="260557" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Es_permanente">
                                    @Html.CheckBoxFor(m => m.Es_permanente, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divFuncionalidad">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Funcionalidad</label>
                                <div class="col-sm-8" data-field-id="Funcionalidad" data-attribute="260591" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Funcionalidad">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Funcionalidad must be a number." data-val-required="The Funcionalidad field is required." id="Funcionalidad" name="Funcionalidad">
                                        <option value=""></option>
                                        @if (varFuncionalidades_para_Notificacion_Funcionalidad != null){ 
                                            foreach (var itemFuncionalidad in varFuncionalidades_para_Notificacion_Funcionalidad)
                                            {
                                                if (itemFuncionalidad.Value == Convert.ToString(Model.Funcionalidad))
                                                {
                                                    <option value="@itemFuncionalidad.Value" selected>@itemFuncionalidad.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemFuncionalidad.Value">@itemFuncionalidad.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Funcionalidad" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260591).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Funcionalidades_para_Notificacion', 'Funcionalidad');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Notificacion">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Tipo_de_Notificacion</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Notificacion" data-attribute="260592" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Tipo_de_Notificacion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Notificación: must be a number." data-val-required="The Tipo de Notificación: field is required." id="Tipo_de_Notificacion" name="Tipo_de_Notificacion">
                                        <option value=""></option>
                                        @if (varTipo_de_Notificacion_Tipo_de_Notificacion != null){ 
                                            foreach (var itemTipo_de_Notificacion in varTipo_de_Notificacion_Tipo_de_Notificacion)
                                            {
                                                if (itemTipo_de_Notificacion.Value == Convert.ToString(Model.Tipo_de_Notificacion))
                                                {
                                                    <option value="@itemTipo_de_Notificacion.Value" selected>@itemTipo_de_Notificacion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Notificacion.Value">@itemTipo_de_Notificacion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Notificacion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260592).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Notificacion', 'Tipo_de_Notificacion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Accion">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Tipo_de_Accion</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Accion" data-attribute="260593" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Tipo_de_Accion">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Acción: must be a number." data-val-required="The Tipo de Acción: field is required." id="Tipo_de_Accion" name="Tipo_de_Accion">
                                        <option value=""></option>
                                        @if (varTipo_de_Accion_Notificacion_Tipo_de_Accion != null){ 
                                            foreach (var itemTipo_de_Accion in varTipo_de_Accion_Notificacion_Tipo_de_Accion)
                                            {
                                                if (itemTipo_de_Accion.Value == Convert.ToString(Model.Tipo_de_Accion))
                                                {
                                                    <option value="@itemTipo_de_Accion.Value" selected>@itemTipo_de_Accion.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Accion.Value">@itemTipo_de_Accion.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Accion" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260593).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Accion_Notificacion', 'Tipo_de_Accion');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divTipo_de_Recordatorio">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Tipo_de_Recordatorio</label>
                                <div class="col-sm-8" data-field-id="Tipo_de_Recordatorio" data-attribute="260594" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Tipo_de_Recordatorio">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Tipo de Recordatorio: must be a number." data-val-required="The Tipo de Recordatorio: field is required." id="Tipo_de_Recordatorio" name="Tipo_de_Recordatorio">
                                        <option value=""></option>
                                        @if (varTipo_de_Recordatorio_Notificacion_Tipo_de_Recordatorio != null){ 
                                            foreach (var itemTipo_de_Recordatorio in varTipo_de_Recordatorio_Notificacion_Tipo_de_Recordatorio)
                                            {
                                                if (itemTipo_de_Recordatorio.Value == Convert.ToString(Model.Tipo_de_Recordatorio))
                                                {
                                                    <option value="@itemTipo_de_Recordatorio.Value" selected>@itemTipo_de_Recordatorio.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemTipo_de_Recordatorio.Value">@itemTipo_de_Recordatorio.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Tipo_de_Recordatorio" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260594).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Tipo_de_Recordatorio_Notificacion', 'Tipo_de_Recordatorio');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divFecha_inicio">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Fecha_inicio</label>
                                <div class="col-sm-8" data-field-id="Fecha_inicio" data-attribute="260595" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Fecha_inicio">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_inicio"  name="Fecha_inicio" type="text" value="@Model.Fecha_inicio">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divTiene_fecha_de_finalizacion_definida">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Tiene_fecha_de_finalizacion_definida</label>
                                <div class="col-sm-8" data-field-id="Tiene_fecha_de_finalizacion_definida" data-attribute="260596" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Tiene_fecha_de_finalizacion_definida">
                                    @Html.CheckBoxFor(m => m.Tiene_fecha_de_finalizacion_definida, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divCantidad_de_dias_a_validar">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Cantidad_de_dias_a_validar</label>
                                <div class="col-sm-8" data-field-id="Cantidad_de_dias_a_validar" data-attribute="260597" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Cantidad_de_dias_a_validar">
                                    <input class="form-control inputNumber Datos_Generales" id="Cantidad_de_dias_a_validar" name="Cantidad_de_dias_a_validar" type="text" value="@Model.Cantidad_de_dias_a_validar">
                                    @*<span class="field-validation-valid" data-valmsg-for="Cantidad_de_dias_a_validar" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divFecha_a_validar">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Fecha_a_validar</label>
                                <div class="col-sm-8" data-field-id="Fecha_a_validar" data-attribute="260598" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Fecha_a_validar">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Fecha a validar must be a number." data-val-required="The Fecha a validar field is required." id="Fecha_a_validar" name="Fecha_a_validar">
                                        <option value=""></option>
                                        @if (varNombre_del_campo_en_MS_Fecha_a_validar != null){ 
                                            foreach (var itemFecha_a_validar in varNombre_del_campo_en_MS_Fecha_a_validar)
                                            {
                                                if (itemFecha_a_validar.Value == Convert.ToString(Model.Fecha_a_validar))
                                                {
                                                    <option value="@itemFecha_a_validar.Value" selected>@itemFecha_a_validar.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemFecha_a_validar.Value">@itemFecha_a_validar.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Fecha_a_validar" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260598).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Nombre_del_campo_en_MS', 'Fecha_a_validar');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divFecha_fin">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Fecha_fin</label>
                                <div class="col-sm-8" data-field-id="Fecha_fin" data-attribute="260599" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Fecha_fin">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12 Datos_Generales" id="Fecha_fin"  name="Fecha_fin" type="text" value="@Model.Fecha_fin">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="divEstatus">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Estatus</label>
                                <div class="col-sm-8" data-field-id="Estatus" data-attribute="260600" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Estatus">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Estatus" name="Estatus">
                                        <option value=""></option>
                                        @if (varEstatus_Estatus != null){ 
                                            foreach (var itemEstatus in varEstatus_Estatus)
                                            {
                                                if (itemEstatus.Value == Convert.ToString(Model.Estatus))
                                                {
                                                    <option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstatus.Value">@itemEstatus.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estatus" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 260600).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estatus', 'Estatus');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNotificar_por_correo">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Notificar_por_correo</label>
                                <div class="col-sm-8" data-field-id="Notificar_por_correo" data-attribute="260601" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Notificar_por_correo">
                                    @Html.CheckBoxFor(m => m.Notificar_por_correo, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divTexto_que_llevara_el_correo">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Texto_que_llevara_el_correo</label>
                                <div class="col-sm-8" data-field-id="Texto_que_llevara_el_correo" data-attribute="260602" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Texto_que_llevara_el_correo">
                                    <textarea id="Texto_que_llevara_el_correo" name="Texto_que_llevara_el_correo" class="form-control Datos_Generales" rows="4" cols="50">@Model.Texto_que_llevara_el_correo</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Texto_que_llevara_el_correo" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divNotificacion_push">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Notificacion_push</label>
                                <div class="col-sm-8" data-field-id="Notificacion_push" data-attribute="260603" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Notificacion_push">
                                    @Html.CheckBoxFor(m => m.Notificacion_push, new { @class = "i-checks Datos_Generales" })
                                </div>
                            </div>
                            <div class="form-group" id="divTexto_a_mostrar_en_la_notificacion_Push">
                                <label class="col-sm-2 control-label">@Resources.Configuracion_de_NotificacionesResources.Texto_a_mostrar_en_la_notificacion_Push</label>
                                <div class="col-sm-8" data-field-id="Texto_a_mostrar_en_la_notificacion_Push" data-attribute="260604" data-field-name="@Resources.Configuracion_de_NotificacionesResources.Texto_a_mostrar_en_la_notificacion_Push">
                                    <textarea id="Texto_a_mostrar_en_la_notificacion_Push" name="Texto_a_mostrar_en_la_notificacion_Push" class="form-control Datos_Generales" rows="4" cols="50">@Model.Texto_a_mostrar_en_la_notificacion_Push</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Texto_a_mostrar_en_la_notificacion_Push" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div id="divFrecuencia_Notificacion">
                            <div class="ibox-title">
                                <h5>@Resources.Configuracion_de_NotificacionesResources.Frecuencia_Notificacion</h5>
                                <div class="ibox-tools">
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="">
									@if (permissionDetalle_Frecuencia_Notificaciones.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Frecuencia_NotificacionesfnClickAddRow();" href="javascript:void(0);" title="@Resources.Resources.AddNewRow" class="Detalle_Frecuencia_NotificacionesAddRow btn btn-primary">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </a>
                                    }
                                    <button onclick="Configuracion_de_NotificacionesGetBusinessRule('', 'Al Guardar o al Eliminar una Row', '260620')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configuracion_de_NotificacionesBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToCreateGrid">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
									@if (permissionDetalle_Frecuencia_Notificaciones.New && !ViewBag.Consult)
                                    {
                                        <a onclick="Detalle_Frecuencia_NotificacionesfnOpenAddRowPopUp();" data-toggle="modal" title="@Resources.Resources.AddNewRow" data-target="#AddDetalle_Frecuencia_Notificaciones-form" data-backdrop="static" data-keyboard="false" class="btn_mrpopup btn btn-primary">
                                            <i class="glyphicon glyphicon-new-window"></i>
                                        </a>
                                    }  
                                </div>

                                <br />

                                <div style='overflow-x: auto;'>
                                    <table class="table table-striped table-bordered table-hover childValidateTable" id="Detalle_Frecuencia_NotificacionesGrid">
                                        <thead>
                                            <tr>
                                                <th class="ActionHeader"><span>@Resources.Resources.Actions</span></th>


                                                <th class="FrecuenciaHeader"><span>
<button type="button" data-attribute="260607" data-field-id="Detalle_Frecuencia_NotificacionesFrecuencia" data-field-name="@Resources.Detalle_Frecuencia_NotificacionesResources.Frecuencia" data-toggle="modal" data-target="#Configuracion_de_NotificacionesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Frecuencia_NotificacionesResources.Frecuencia">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Frecuencia_NotificacionesResources.Frecuencia</span></th>
                                                <th class="DiaHeader"><span>
<button type="button" data-attribute="260608" data-field-id="Detalle_Frecuencia_NotificacionesDia" data-field-name="@Resources.Detalle_Frecuencia_NotificacionesResources.Dia" data-toggle="modal" data-target="#Configuracion_de_NotificacionesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Frecuencia_NotificacionesResources.Dia">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Frecuencia_NotificacionesResources.Dia</span></th>
                                                <th class="HoraHeader"><span>
<button type="button" data-attribute="260609" data-field-id="Detalle_Frecuencia_NotificacionesHora" data-field-name="@Resources.Detalle_Frecuencia_NotificacionesResources.Hora" data-toggle="modal" data-target="#Configuracion_de_NotificacionesBusinessRule-form" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton btnPopupBusinessRules">
                                                            <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleFor@Resources.Detalle_Frecuencia_NotificacionesResources.Hora">
                                                                <i class="fa fa-cogs fa-spin"></i>
                                                            </a>
                                                        </button>@Resources.Detalle_Frecuencia_NotificacionesResources.Hora</span></th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
                                <input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Configuracion_de_NotificacionesGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Configuracion_de_NotificacionesCreateForm');"  />
									<button onclick="Configuracion_de_NotificacionesGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configuracion_de_NotificacionesBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Configuracion_de_NotificacionesGuardarYNuevo" onclick="return checkClientValidate('Configuracion_de_NotificacionesCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Configuracion_de_NotificacionesGuardarYCopia" onclick="return checkClientValidate('Configuracion_de_NotificacionesCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnConfiguracion_de_NotificacionesBusinessRuleFieldId" />
                                <input type="hidden" id="hdnConfiguracion_de_NotificacionesBusinessRuleFieldName" />
                                <input type="hidden" id="hdnConfiguracion_de_NotificacionesBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Configuracion_de_NotificacionesCancelar" name="Configuracion_de_NotificacionesCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Configuracion_de_NotificacionesGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Configuracion_de_NotificacionesBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Configuracion_de_Notificaciones.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Configuracion_de_NotificacionesGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Configuracion_de_NotificacionesCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('44689');
		               GetDirigido_a_Roles_para_NotificarItem();

              
            GetDetalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionItem();
            GetDetalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionItem();

           
              showDetalle_Frecuencia_NotificacionesGrid(null);

		   
			
             @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
             }
             EjecutarValidacionesAlComienzo();
                         $('#Fecha_de_Registro').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Hora_de_Registro').clockpicker();
            $('#Fecha_inicio').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Fecha_fin').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			

        });

var Roles_para_NotificarDataDataTable;
var Roles_para_NotificarTable;
var Dirigido_a_Roles_para_NotificarItems;
        function GetDirigido_a_Roles_para_NotificarItem() {
            Dirigido_a_Roles_para_NotificarItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Configuracion_de_Notificaciones/GetDirigido_a_Roles_para_NotificarAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Dirigido_a_Roles_para_NotificarItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
var Roles_para_NotificarData = [];
function getRoles_para_NotificarData() {
	$.ajax({
		url: "@Url.Content("~/Frontal/Configuracion_de_Notificaciones/GetRoles_para_Notificar")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceFolio").val() != "" ? "&RelationId=" + $("#ReferenceFolio").val() : ""),
		type: 'GET',
		dataType: "json",
		async: false,
		success: function (result) {
			Roles_para_NotificarDataDataTable = result.data;
			$("#ddlDirigido_aMult").val(result.data);
			$("#ddlDirigido_aMult").trigger('chosen:updated');
		},
		error: function (result) {
			showNotification("@Resources.Resources.ErrorContactingServer", "error");
		}
	});
}

function FillDirigido_a() {
try {
	for (var i = 0; i < Dirigido_a_Roles_para_NotificarItems.length ; i++) {
 
		var d = Dirigido_a_Roles_para_NotificarItems[i]
                $("#ddlDirigido_aMult").append(new Option(
		d.Descripcion, d.Clave
));
	}
	$(".chosen-select").chosen({ width: "100%", no_results_text: "Oops, nothing found!" });
	$('#ddlDirigido_aMult').children("selected").each(function () {
		$(this).prop("selected", false);
	});

	if (Roles_para_NotificarDataDataTable != undefined)
	{
		if (Roles_para_NotificarDataDataTable.length > 0)
		{
			var array = [];
			for (var j = 0; j < Roles_para_NotificarDataDataTable.length; j++)
			{
                               
				array.push(Roles_para_NotificarDataDataTable[j].Rol);


			}
			$('#ddlDirigido_aMult').val(array);
		}  
	}
	$('#ddlDirigido_aMult').trigger('chosen:updated');
}
catch (err) {
	alert(err.message);
}
}
function SendRoles_para_Notificar(callBack, FolioId) {
            Roles_para_NotificarData = GetRoles_para_NotificarFromDataTable();

            if (Roles_para_NotificarData.length > 0 || $("#ReferenceFolio").val() != FolioId) {
                if ($("#ReferenceFolio").val() != "0" && FolioId ==null)
                    FolioId = $("#ReferenceFolio").val();                
                if ($("#ReferenceFolio").val() == '')
                    $("#ReferenceFolio").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Configuracion_de_Notificaciones/PostRoles_para_Notificar?MasterId=")' + FolioId + "&referenceId=" + $("#ReferenceFolio").val(),
                    type: 'POST',
                    data: GetRoles_para_Notificar(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(FolioId);
            }
            return true;
        }

        function ShowMessagePendingRowRoles_para_Notificar()
        {
            alert('@string.Format(Resources.Resources.PendingRow, "Dirigido a:")')
        }

$(function () {
FillDirigido_a();
});
        var Detalle_Frecuencia_NotificacionesinsertRowCurrentIndex = -1;
        var Detalle_Frecuencia_NotificacionesDataDataTable;
        function getDetalle_Frecuencia_NotificacionesData() {
            $.ajax({
                url: "@Url.Content("~/Frontal/Configuracion_de_Notificaciones/GetDetalle_Frecuencia_Notificaciones")" + "?draw=1&start=1&length=2147483647" + ($("#ReferenceFolio").val() != "" ? "&RelationId=" + $("#ReferenceFolio").val() : ""),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                    Detalle_Frecuencia_NotificacionesDataDataTable = result.data;
                    showDetalle_Frecuencia_NotificacionesGrid(result.data);
                    $('#Detalle_Frecuencia_NotificacionesGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Frecuencia_NotificacionesGrid .gridDatePicker').attr("readonly", "");
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
        function Detalle_Frecuencia_NotificacionesGetUpdateRowControls(data, nameOfTable, rowIndex) {

            var columnData = [];
            var counter = 0;
            var inputData = "<input type='text' class='fullWidth form-control' />";

           columnData[counter++] = $($(GetDetalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionDropDown()).val(data.Frecuencia)).addClass('Frecuencia inputNumber').attr('id', nameOfTable + 'Frecuencia' + rowIndex).attr('data-field', 'Frecuencia').after($.parseHTML(addNew('Detalle_Frecuencia_Notificaciones', 'Tipo_Frecuencia_Notificacion','Frecuencia', 260607)));
           columnData[counter++] = $($(GetDetalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionDropDown()).val(data.Dia)).addClass('Dia inputNumber').attr('id', nameOfTable + 'Dia' + rowIndex).attr('data-field', 'Dia').after($.parseHTML(addNew('Detalle_Frecuencia_Notificaciones', 'Tipo_Dia_Notificacion','Dia', 260608)));
            columnData[counter++] = $($($.parseHTML(GetGridTimePicker())).val(data.Hora)).addClass('Hora').attr('id', nameOfTable + 'Hora' + rowIndex).attr('data-field', 'Hora');

            return columnData;
        }



        function GetFileInfo(fileData, fileUploadData) {

            var $div = $("<div>");
            if (fileUploadData != null && fileUploadData.files.length > 0) {

                $div.append("<label>" + fileUploadData.files[0].name + "</label>");
                //<i class="fa fa-times-circle" id='removeFileAttachment'>
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;

            } else if (fileUploadData != null) {
                return $.parseHTML(GetFileUploader());
            } else {
                $div.append("<label>" + fileData.FileName + "</label>");
                $div.append($("<i class='fa fa-times-circle' id='removeFileAttachment'>").click(function () {
                    if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
                        var parent = $(this).parent().parent();
                        parent.empty();
                        parent.append("<input type='file'>");
                    }
                }));
                return $div;
            }
        }

        var removedDetalle_Frecuencia_NotificacionesData = [];
        function Detalle_Frecuencia_NotificacionesDeleteRow(rowIndex, row) {
            var rowIndexTable = Detalle_Frecuencia_NotificacionesTable.fnGetPosition($(row).parent().parent()[0]);
            var permission = {            
                 Delete: '@permissionDetalle_Frecuencia_Notificaciones.Delete' == 'True'
            };
            if (!permission.Delete || isConsultMode)
                return;            
            if (confirm(htmlDecode("@Resources.Resources.DeleteConfirm"))) {
              if (EjecutarValidacionesAlEliminarMRDetalle_Frecuencia_Notificaciones('Detalle_Frecuencia_Notificaciones_', '_' + rowIndex)) {
                var prevData = Detalle_Frecuencia_NotificacionesTable.fnGetData(rowIndexTable );
                removedDetalle_Frecuencia_NotificacionesData.push(prevData);
                Detalle_Frecuencia_NotificacionesTable.fnDeleteRow(rowIndexTable );
				showDetalle_Frecuencia_NotificacionesGrid(Detalle_Frecuencia_NotificacionesTable.fnGetData());
              }
            }
			initiateUIControls();
        }

        function Detalle_Frecuencia_NotificacionesrowCreationGrid(row, data, index) {
            var permission =  {            
                 Edit: '@permissionDetalle_Frecuencia_Notificaciones.Edit' == 'True',
                 Delete: '@permissionDetalle_Frecuencia_Notificaciones.Delete' == 'True'
            };
            setDetalle_Frecuencia_NotificacionesValidation();
            var Detalle_Frecuencia_NotificacionesRowElement = "Detalle_Frecuencia_Notificaciones_" + index.toString();
            $(row).addClass(Detalle_Frecuencia_NotificacionesRowElement);
            var nameOfTable='Detalle_Frecuencia_Notificaciones_';
            var rowIndex = '_' + index;
            Detalle_Frecuencia_NotificacionesinsertRowCurrentIndex = index;

            row.innerHTML = "";

            if (data.IsInsertRow) {

                if (row.childNodes.length != 0) {
                    for (var i = 0; i < row.childNodes.length; i++) {
                        row.childNodes[i].remove();
                    }
                }
                var controls = GetInsertDetalle_Frecuencia_NotificacionesRowControls(index);
                var actionColInsert = $('<td>');

                var abc = "if(dynamicFieldValidation('" + Detalle_Frecuencia_NotificacionesRowElement + "')){ Detalle_Frecuencia_NotificacionesInsertRow(" + index + "); }";
                var insertRowHTML = '<a  data-toggle="tooltip" title="Confirmar Registro" onclick="' + abc + '">';
                $('<i class="fa fa-check">').appendTo($(insertRowHTML).appendTo(actionColInsert));
				$('<i class="fa fa-times">').appendTo($("<a data-toggle='tooltip' title='Cancelar Registro' onclick='Detalle_Frecuencia_NotificacionesCancelRow(" + index + ")'>").appendTo(actionColInsert));
                actionColInsert.appendTo(row);

                for (i = 0; i < controls.length; i++) {
					var idHeader = $(controls[i]).data('field') + 'Header';
					if($(controls[i]).length > 1){
						idHeader = $($(controls[i])[1]).data('field') + 'Header';
					}					

					var classe = ($('#Detalle_Frecuencia_NotificacionesGrid .' + idHeader).hasClass('dt-right') ? "dt-right" : "") + $('#Detalle_Frecuencia_NotificacionesGrid .' + idHeader ).css('display') == 'none' ? " hide" : "";
				   
					if ($(controls[i]).next().length > 0) {
					    var div = $(controls[i]).next();
					    $('<td class="' + classe + '">').append($(controls[i])).append(div).appendTo(row);
					}else
					    $(controls[i]).appendTo($('<td class="' + classe + '">').appendTo(row));
					
                }
                $('#Detalle_Frecuencia_NotificacionesGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('#Detalle_Frecuencia_NotificacionesGrid .gridDatePicker').attr("readonly", "");
                return;
            }

            var actionCol = $('<td>');
			var edit = "<a title='@Resources.Resources.Edit' class='edit-MR' onclick='Detalle_Frecuencia_NotificacionesEditRow(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                edit = "";
            var editPopUp = "<a title='@Resources.Resources.Edit' class='edit-popup-MR' data-toggle='modal' data-target='#AddDetalle_Frecuencia_Notificaciones-form' onclick='Detalle_Frecuencia_NotificacionesEditRowPopup(" + index + ", this)'>";
            if (!permission.Edit || isConsultMode)
                editPopUp = "";
            var eliminar = "<a title='@Resources.Resources.Delete' class='eliminar-MR' onclick='Detalle_Frecuencia_NotificacionesDeleteRow(" + index + ", this)'>";
            if (!permission.Delete || isConsultMode)
                eliminar = "";
            $('<i class="fa fa-pencil">').appendTo($(edit).appendTo(actionCol));
            //$('<i class="fa fa-edit">').appendTo($(editPopUp).appendTo(actionCol));
            $('<i class="fa fa-trash-o">').appendTo($(eliminar).appendTo(actionCol));
			if ($('.Action' + 'Header').css('display') != 'none')
				actionCol.appendTo(row);

            if ($('.Frecuencia' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Frecuencia'+rowIndex+'">').text(GetDetalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionName(data.Frecuencia)).appendTo(row);
	    else 
		$('<td style="display:none;" id="'+nameOfTable+'Frecuencia'+rowIndex+'">').text(GetDetalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionName(data.Frecuencia)).appendTo(row);
            if ($('.Dia' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Dia'+rowIndex+'">').text(GetDetalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionName(data.Dia)).appendTo(row);
	    else 
		$('<td style="display:none;" id="'+nameOfTable+'Dia'+rowIndex+'">').text(GetDetalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionName(data.Dia)).appendTo(row);
            if ($('.Hora' + 'Header').css('display') != 'none')
                $('<td id="'+nameOfTable+'Hora'+rowIndex+'">').text(data.Hora).appendTo(row);
            else
                $('<td style="display:none;" id="'+nameOfTable+'Hora'+rowIndex+'">').text(data.Hora).appendTo(row);

        }

        var Detalle_Frecuencia_NotificacionesTable;
        function showDetalle_Frecuencia_NotificacionesGrid(dataSet) {
            //removedDetalle_Frecuencia_NotificacionesData = [];
            Detalle_Frecuencia_NotificacionesTable = $('#Detalle_Frecuencia_NotificacionesGrid').dataTable({
                dom: '<"html5buttons"B>lTgitp',
                buttons: [
                ],
                "createdRow": Detalle_Frecuencia_NotificacionesrowCreationGrid,
                "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]],
                data: dataSet,
                "columns": [
                    { "data": null, 'visible': true, "orderable": false },

                    { "data": "Frecuencia", "orderable": false },
                    { "data": "Dia", "orderable": false },
                    { "data": "Hora", "orderable": false },

                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                    "zeroRecords": "@Resources.Resources.NothingFound",
                    "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                    "infoEmpty": "@Resources.Resources.NoRecords",
                    "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                    "sSearch": "@Resources.Resources.Search",
                    "paginate": {
                        "previous": "@Resources.Resources.Previous",
                        "next": "@Resources.Resources.Next"
                    }
                },
				"bDestroy": true,
                "fnDrawCallback": function (settings) {
                    setDetalle_Frecuencia_NotificacionesValidation();
                }
            }).on('init.dt', function (e, data) {
                $('a').tooltip();
            }).on('draw.dt', function () {
                $('#Detalle_Frecuencia_NotificacionesGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                $('.gridDatePicker').inputmask("99-99-9999", { "placeholder": "dd-mm-yyyy" });
            });
        }


    var Detalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionItems;
        function GetDetalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionItem() {
            Detalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Configuracion_de_Notificaciones/GetDetalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Detalle_Frecuencia_Notificaciones_Tipo_Frecuencia_NotificacionItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
    var Detalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionItems;
        function GetDetalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionItem() {
            Detalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionItems = null;
            var ajaxUrl = "@Url.Content("~/Frontal/Configuracion_de_Notificaciones/GetDetalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionAll")";
            $.ajax({
                url: ajaxUrl,
                type: 'GET',
                dataType: "json",
                async: false,
                global: false,
                success: function (result) {
                    Detalle_Frecuencia_Notificaciones_Tipo_Dia_NotificacionItems = result;
                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }


        var Detalle_Frecuencia_NotificacionesData = [];
        var Detalle_Frecuencia_NotificacionesdeletedItem = [];
        var Detalle_Frecuencia_NotificacionesDataMain = [];
        var Detalle_Frecuencia_NotificacionesDataMainPages = [];
        var Detalle_Frecuencia_NotificacionesnewItemCount = 0;
        var Detalle_Frecuencia_NotificacionesmaxItemIndex = 0;
        var Detalle_Frecuencia_NotificacionesDataMainInitialized = false;

        function SendDetalle_Frecuencia_Notificaciones(callBack, FolioId) {
            Detalle_Frecuencia_NotificacionesData = GetDetalle_Frecuencia_NotificacionesFromDataTable();

            if (Detalle_Frecuencia_NotificacionesData.length > 0 || $("#ReferenceFolio").val() != FolioId) {
                if ($("#ReferenceFolio").val() != "0" && FolioId ==null)
                    FolioId = $("#ReferenceFolio").val();                
                if ($("#ReferenceFolio").val() == '')
                    $("#ReferenceFolio").val('0');
                $.ajax({
                    url: '@Url.Content("~/Frontal/Configuracion_de_Notificaciones/PostDetalle_Frecuencia_Notificaciones?MasterId=")' + FolioId + "&referenceId=" + $("#ReferenceFolio").val(),
                    type: 'POST',
                    data: GetDetalle_Frecuencia_Notificaciones(),
                    async: true,
                    success: function (result) {

                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            } else {
                //showNotification("@Resources.Resources.SaveSuccess", "success");
                //callBack(FolioId);
            }
            return true;
        }

        function GetAddDetalle_Frecuencia_NotificacionesPopup(currentRowIndex, mode, id) {

            $.ajax({
                url: "@Url.Action("AddDetalle_Frecuencia_Notificaciones", "Detalle_Frecuencia_Notificaciones")",
                type: "GET",
                async: false,
                data: { rowIndex: currentRowIndex, functionMode: mode, id: id },
                success: function (data) {
                    $(".AddDetalle_Frecuencia_NotificacionesModal").html(data);
                },
                error: function () {

                }
            });

            @*$.get('@Url.Action("AddDetalle_Frecuencia_Notificaciones", "Detalle_Frecuencia_Notificaciones")', { rowIndex: currentRowIndex }, function (data) {
                $(".AddDetalle_Frecuencia_NotificacionesModal").html(data);
            });*@
        }

        function ShowMessagePendingRowDetalle_Frecuencia_Notificaciones()
        {
            //alert('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Frecuencia Notificación"))')
	    showNotification('@Html.Raw(string.Format(Resources.Resources.PendingRow, "Frecuencia Notificación"))', "warning");
        }


        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });









        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Configuracion_de_Notificaciones/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendConfiguracion_de_NotificacionesData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateConfiguracion_de_Notificaciones").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateConfiguracion_de_Notificaciones")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceFolio").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Configuracion_de_NotificacionesCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Configuracion_de_Notificaciones/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Configuracion_de_NotificacionesBusinessRuleModal").html(data);
			});
		}
                function Configuracion_de_NotificacionesGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('44689');
			$('#Screen').val('Configuracion_de_Notificaciones');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Configuracion_de_NotificacionesBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Configuracion_de_Notificaciones/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Configuracion_de_Notificaciones/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Configuracion_de_Notificaciones/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Configuracion_de_Notificaciones/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Configuracion_de_Notificaciones/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateConfiguracion_de_Notificaciones').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Configuracion_de_NotificacionesGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Configuracion_de_Notificaciones/Get_Datos_Generales")?Id=" + $("#ReferenceFolio").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Folio').val(result.data.Folio);
                    $('#Fecha_de_Registro').val(result.data.Fecha_de_Registro);
                    $('#Hora_de_Registro').val(result.data.Hora_de_Registro);
                    $('#Usuario_que_Registra').val(result.data.Usuario_que_Registra);
                    $('#Nombre_de_la_Notificacion').val(result.data.Nombre_de_la_Notificacion);
                    getRoles_para_NotificarData();
                    $('#Es_permanente').prop('checked', result.data.Es_permanente);
                    $('#Funcionalidad').val(result.data.Funcionalidad);
                    $('#Tipo_de_Notificacion').val(result.data.Tipo_de_Notificacion);
                    $('#Tipo_de_Accion').val(result.data.Tipo_de_Accion);
                    $('#Tipo_de_Recordatorio').val(result.data.Tipo_de_Recordatorio);
                    $('#Fecha_inicio').val(result.data.Fecha_inicio);
                    $('#Tiene_fecha_de_finalizacion_definida').prop('checked', result.data.Tiene_fecha_de_finalizacion_definida);
                    $('#Cantidad_de_dias_a_validar').val(result.data.Cantidad_de_dias_a_validar);
                    $('#Fecha_a_validar').val(result.data.Fecha_a_validar);
                    $('#Fecha_fin').val(result.data.Fecha_fin);
                    $('#Estatus').val(result.data.Estatus);
                    $('#Notificar_por_correo').prop('checked', result.data.Notificar_por_correo);
                    $('#Texto_que_llevara_el_correo').val(result.data.Texto_que_llevara_el_correo);
                    $('#Notificacion_push').prop('checked', result.data.Notificacion_push);
                    $('#Texto_a_mostrar_en_la_notificacion_Push').val(result.data.Texto_a_mostrar_en_la_notificacion_Push);
                    Detalle_Frecuencia_NotificacionesDataDataTable = result.Frecuencia_Notificacion;
                    showDetalle_Frecuencia_NotificacionesGrid(result.Frecuencia_Notificacion);
                    $('#Detalle_Frecuencia_NotificacionesGrid .inputMoney').inputmask("currency", { prefix: "$", rightAlign: false });
                    $('#Detalle_Frecuencia_NotificacionesGrid .gridDatePicker').attr("readonly", "");

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Folio', newId);
			                data.append('Fecha_de_Registro', $('#Fecha_de_Registro').val());
                data.append('Hora_de_Registro', $('#Hora_de_Registro').val());
                data.append('Usuario_que_Registra', $('#Usuario_que_Registra').val());
                data.append('Nombre_de_la_Notificacion', $('#Nombre_de_la_Notificacion').val());
                data.append('Es_permanente', $('#Es_permanente').prop('checked'));
                data.append('Funcionalidad', $('#Funcionalidad').val());
                data.append('Tipo_de_Notificacion', $('#Tipo_de_Notificacion').val());
                data.append('Tipo_de_Accion', $('#Tipo_de_Accion').val());
                data.append('Tipo_de_Recordatorio', $('#Tipo_de_Recordatorio').val());
                data.append('Fecha_inicio', $('#Fecha_inicio').val());
                data.append('Tiene_fecha_de_finalizacion_definida', $('#Tiene_fecha_de_finalizacion_definida').prop('checked'));
                data.append('Cantidad_de_dias_a_validar', $('#Cantidad_de_dias_a_validar').val());
                data.append('Fecha_a_validar', $('#Fecha_a_validar').val());
                data.append('Fecha_fin', $('#Fecha_fin').val());
                data.append('Estatus', $('#Estatus').val());
                data.append('Notificar_por_correo', $('#Notificar_por_correo').prop('checked'));
                data.append('Texto_que_llevara_el_correo', $('#Texto_que_llevara_el_correo').val());
                data.append('Notificacion_push', $('#Notificacion_push').prop('checked'));
                data.append('Texto_a_mostrar_en_la_notificacion_Push', $('#Texto_a_mostrar_en_la_notificacion_Push').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Configuracion_de_Notificaciones/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    					    SendRoles_para_Notificar(null, newId);
					    SendDetalle_Frecuencia_Notificaciones(null, newId);

					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Configuracion_de_Notificaciones_cmbLabelSelect" name="Configuracion_de_Notificaciones_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

