@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Spartan_FormatAdvanceSearchModel
@{
    List<SelectListItem> varSpartan_Format_Type = null;
    if (ViewBag.Spartan_Format_Types != null)
    { varSpartan_Format_Type = (List<SelectListItem>)ViewBag.Spartan_Format_Types; }    

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Spartan_Format", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
                <div class="MarginBottom ">
                    <h3>@Resources.Spartan_FormatResources.FormatId</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromFormatId, new { @class = "form-control greaterThanZero", @type = "text", @id = "txtAdvanceFromFormatId" })
                    @Html.ValidationMessageFor(m => m.FromFormatId)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToFormatId, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @id = "txtAdvanceToFormatId", @data_min = "txtAdvanceFromFormatId" })
                    @Html.ValidationMessageFor(m => m.ToFormatId)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_FormatResources.Registration_Date</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <div class="input-daterange input-group" id="datepicker">
                        <span class="input-group-addon">@Resources.Resources.From</span>
                        @Html.TextBoxFor(m => m.FromRegistration_Date, new { @class = "input-sm form-control", @type = "text", @id = "txtAdvanceFromRegistration_Date" })
                        @Html.ValidationMessageFor(m => m.FromRegistration_Date)
                        <span class="input-group-addon">@Resources.Resources.To</span>
                        @Html.TextBoxFor(m => m.ToRegistration_Date, new { @class = "input-sm form-control", @type = "text", @id = "txtAdvanceToRegistration_Date" })
                        @Html.ValidationMessageFor(m => m.ToRegistration_Date)
                    </div>
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Spartan_FormatResources.Registration_Hour</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    <div class="input-group clockpicker" data-autoclose="true">
                        @Html.TextBoxFor(m => m.FromRegistration_Hour, new { @class = "form-control", @id = "txtAdvanceFromRegistration_Hour" })
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                    <label class="">@Resources.Resources.To: </label>
                    <div class="input-group clockpicker" data-autoclose="true">
                        @Html.TextBoxFor(m => m.ToRegistration_Hour, new { @class = "form-control greaterThanTime", @id = "txtAdvanceToRegistration_Hour", @data_min = "txtAdvanceFromRegistration_Hour" })
                        <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Spartan_FormatResources.Registration_User</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromRegistration_User, new { @class = "form-control greaterThanZero", @type = "text", @id = "txtAdvanceFromRegistration_User" })
                    @Html.ValidationMessageFor(m => m.FromRegistration_User)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToRegistration_User, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @id = "txtAdvanceToRegistration_User", @data_min = "txtAdvanceFromRegistration_User" })
                    @Html.ValidationMessageFor(m => m.ToRegistration_User)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_FormatResources.Format_Name</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Format_NameFilter, filters, new { @class = "form-control", @id = "ddlFormat_NameFilter" })
                    @Html.TextBoxFor(m => m.Format_Name, new { @class = "form-control", @type = "text", @id = "txtFormat_Name" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_FormatResources.Format_Type</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Format_TypeFilter, filters, new { @class = "form-control", @id = "ddlFormat_TypeFilter" })
                    @Html.TextBoxFor(m => m.AdvanceFormat_Type, new { @class = "form-control", @type = "text", @id = "txtAdvanceFormat_Type" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varSpartan_Format_Type!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceFormat_TypeMultiple, varSpartan_Format_Type,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceFormat_Type"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_FormatResources.Search</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.SearchFilter, filters, new { @class = "form-control", @id = "ddlSearchFilter" })
                    @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @type = "text", @id = "txtSearch" })
                </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Spartan_FormatResources.Object</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromObject, new { @class = "form-control greaterThanZero", @type = "text", @id = "txtAdvanceFromObject" })
                    @Html.ValidationMessageFor(m => m.FromObject)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToObject, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @id = "txtAdvanceToObject", @data_min = "txtAdvanceFromObject" })
                    @Html.ValidationMessageFor(m => m.ToObject)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_FormatResources.Header</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.HeaderFilter, filters, new { @class = "form-control", @id = "ddlHeaderFilter" })
                    @Html.TextBoxFor(m => m.Header, new { @class = "form-control", @type = "text", @id = "txtHeader" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_FormatResources.Body</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.BodyFilter, filters, new { @class = "form-control", @id = "ddlBodyFilter" })
                    @Html.TextBoxFor(m => m.Body, new { @class = "form-control", @type = "text", @id = "txtBody" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Spartan_FormatResources.Footer</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.FooterFilter, filters, new { @class = "form-control", @id = "ddlFooterFilter" })
                    @Html.TextBoxFor(m => m.Footer, new { @class = "form-control", @type = "text", @id = "txtFooter" })
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Spartan_Format/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromFormatId").val() != "" || $("#txtAdvanceToFormatId").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatFormatIdFrom = $("#txtAdvanceFromFormatId").val();
            advanceSearch.Spartan_FormatFormatIdTo = $("#txtAdvanceToFormatId").val();
        }
        if ($("#txtAdvanceFromRegistration_Date").val() != "" || $("#txtAdvanceToRegistration_Date").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatRegistration_DateFrom = $("#txtAdvanceFromRegistration_Date").val();
            advanceSearch.Spartan_FormatRegistration_DateTo = $("#txtAdvanceToRegistration_Date").val();
        }
        if ($("#txtAdvanceRegistration_Hour").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatRegistration_Hour = $("#txtAdvanceRegistration_Hour").val();
            advanceSearch.Spartan_FormatRegistration_HourSearchType = $("#ddlAdvanceRegistration_HourFilter").val();
        }
        if ($("#txtAdvanceFromRegistration_User").val() != "" || $("#txtAdvanceToRegistration_User").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatRegistration_UserFrom = $("#txtAdvanceFromRegistration_User").val();
            advanceSearch.Spartan_FormatRegistration_UserTo = $("#txtAdvanceToRegistration_User").val();
        }
        if ($("#txtAdvanceFormat_Name").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatFormat_Name = $("#txtAdvanceFormat_Name").val();
            advanceSearch.Spartan_FormatFormat_NameSearchType = $("#ddlAdvanceFormat_NameFilter").val();
        }
        advanceSearch.Format_TypeSearchType = 0;
        if ($('#ddlAdvanceFormat_Type').val().length > 0 || $("#txtAdvanceFormat_Type").val() == "") {


            if (isSpartan_FormatTextSearch) {
                advanceSearch.Format_TypeName = $("#txtAdvanceFormat_Type").val();
                advanceSearch.Format_TypeNameSearchType = $("#ddlAdvanceFormat_Type").val();
                advanceSearch.Format_TypeSearchType = 1;
            }
            else {

                advanceSearch.Format_TypeToSearch = $("#ddlAdvanceFormat_Type").val();
                advanceSearch.Format_TypeSearchType = 2;
            }
        }
        if ($("#txtAdvanceSearch").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatSearch = $("#txtAdvanceSearch").val();
            advanceSearch.Spartan_FormatSearchSearchType = $("#ddlAdvanceSearchFilter").val();
        }
        if ($("#txtAdvanceFromObject").val() != "" || $("#txtAdvanceToObject").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatObjectFrom = $("#txtAdvanceFromObject").val();
            advanceSearch.Spartan_FormatObjectTo = $("#txtAdvanceToObject").val();
        }
        if ($("#txtAdvanceHeader").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatHeader = $("#txtAdvanceHeader").val();
            advanceSearch.Spartan_FormatHeaderSearchType = $("#ddlAdvanceHeaderFilter").val();
        }
        if ($("#txtAdvanceBody").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatBody = $("#txtAdvanceBody").val();
            advanceSearch.Spartan_FormatBodySearchType = $("#ddlAdvanceBodyFilter").val();
        }
        if ($("#txtAdvanceFooter").val() != "") {
            hasParameter = true;
            advanceSearch.Spartan_FormatFooter = $("#txtAdvanceFooter").val();
            advanceSearch.Spartan_FormatFooterSearchType = $("#ddlAdvanceFooterFilter").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblSpartan_Format').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isSpartan_FormatTextSearch = true;

    $(document).ready(function () {
        $('.clockpicker').clockpicker();
        $("#txtAdvanceFormat_Type").keypress(function () {
            isSpartan_FormatTextSearch = true;
            $("#ddlAdvanceFormat_Type").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceFormat_Type").change(function () {
            isSpartan_FormatTextSearch = false;
            $("#txtAdvanceFormat_Type").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {



            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });

        });

    </script>
}

