@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Datos_Bancarios_EspecialistasModel
@{


    List<SelectListItem> varBancos_Banco = null;
    if (ViewBag.Bancoss_Banco != null)
    { varBancos_Banco = (List<SelectListItem>)ViewBag.Bancoss_Banco; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Datos Bancarios Especialistas
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Datos_Bancarios_EspecialistasRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Datos_Bancarios_EspecialistasPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Datos Bancarios Especialistas
								<button onclick="Datos_Bancarios_EspecialistasGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Datos_Bancarios_EspecialistasBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Datos_Bancarios_EspecialistasResources.Datos_Bancarios_Especialistas</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Datos_Bancarios_EspecialistasDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Datos_Bancarios_EspecialistasPropertyBusinessModal" id="Datos_Bancarios_EspecialistasPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Datos_Bancarios_EspecialistasBusinessRule-form" onclick="Datos_Bancarios_EspecialistasGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Datos_Bancarios_EspecialistasPropertyModal" id="Datos_Bancarios_EspecialistasPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Datos_Bancarios_EspecialistasBusinessRuleModal" id="Datos_Bancarios_EspecialistasBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Datos_Bancarios_EspecialistasAddBusinessRuleModal" id="Datos_Bancarios_EspecialistasAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Datos_Bancarios_Especialistas", FormMethod.Post, new { id = "CreateDatos_Bancarios_Especialistas", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Datos_Bancarios_EspecialistasCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Datos_Bancarios_EspecialistasResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="258644" data-field-name="@Resources.Datos_Bancarios_EspecialistasResources.Folio">
                                    <label class="form-control" for="Datos_Bancarios_EspecialistasFolio" id="Datos_Bancarios_EspecialistasFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divBanco">
	<label class="col-sm-2 control-label">@Resources.Datos_Bancarios_EspecialistasResources.Banco</label>
	<div class="col-sm-8" data-field-id="Banco" data-attribute="258646" data-field-name="@Resources.Datos_Bancarios_EspecialistasResources.Banco">
		<select class="form-control" data-val="true" data-val-number="The field Banco must be a number." data-val-required="The Banco field is required." id="Datos_Bancarios_EspecialistasBanco" name="Datos_Bancarios_EspecialistasBanco">
			<option value=""></option>
			@if (varBancos_Banco != null){ 
				foreach (var itemBanco in varBancos_Banco)
				{
					if (itemBanco.Value == Convert.ToString(Model.Banco))
					{
						<option value="@itemBanco.Value" selected>@itemBanco.Text</option>
					}
					else
					{
						<option value="@itemBanco.Value">@itemBanco.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divCLABE_Interbancaria">
                                <label class="col-sm-2 control-label">@Resources.Datos_Bancarios_EspecialistasResources.CLABE_Interbancaria</label>
                                <div class="col-sm-8" data-field-id="CLABE_Interbancaria" data-attribute="258647" data-field-name="@Resources.Datos_Bancarios_EspecialistasResources.CLABE_Interbancaria">
                                    <input class="form-control" id="Datos_Bancarios_EspecialistasCLABE_Interbancaria" name="Datos_Bancarios_EspecialistasCLABE_Interbancaria" type="text" value="@Model.CLABE_Interbancaria">
                                </div>
                            </div>
<div class="form-group" id="divNum_Cuenta">
                                <label class="col-sm-2 control-label">@Resources.Datos_Bancarios_EspecialistasResources.Num_Cuenta</label>
                                <div class="col-sm-8" data-field-id="Num_Cuenta" data-attribute="258648" data-field-name="@Resources.Datos_Bancarios_EspecialistasResources.Num_Cuenta">
                                    <input class="form-control" id="Datos_Bancarios_EspecialistasNum_Cuenta" name="Datos_Bancarios_EspecialistasNum_Cuenta" type="text" value="@Model.Num_Cuenta">
                                </div>
                            </div>
<div class="form-group" id="divNombre_del_Titular">
                                <label class="col-sm-2 control-label">@Resources.Datos_Bancarios_EspecialistasResources.Nombre_del_Titular</label>
                                <div class="col-sm-8" data-field-id="Nombre_del_Titular" data-attribute="258649" data-field-name="@Resources.Datos_Bancarios_EspecialistasResources.Nombre_del_Titular">
                                    <input class="form-control" id="Datos_Bancarios_EspecialistasNombre_del_Titular" name="Datos_Bancarios_EspecialistasNombre_del_Titular" type="text" value="@Model.Nombre_del_Titular">
                                </div>
                            </div>
<div class="form-group" id="divPrincipal">
                                <label class="col-sm-2 control-label">@Resources.Datos_Bancarios_EspecialistasResources.Principal</label>
                                <div class="col-sm-8" data-field-id="Principal" data-attribute="258650" data-field-name="@Resources.Datos_Bancarios_EspecialistasResources.Principal">
                                    @Html.CheckBoxFor(m => m.Principal, new { @class = "i-checks" })
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Datos_Bancarios_EspecialistasConfigureSave" name="Datos_Bancarios_EspecialistasConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDatos_Bancarios_EspecialistasConfigureType" />
												<input type="hidden" id="hdnDatos_Bancarios_EspecialistasBusinessRuleFieldId" />
												<input type="hidden" id="hdnDatos_Bancarios_EspecialistasBusinessRuleFieldName" />
												<input type="hidden" id="hdnDatos_Bancarios_EspecialistasBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Datos_Bancarios_EspecialistasGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Datos_Bancarios_EspecialistasBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Datos_Bancarios_Especialistas.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Datos_Bancarios_EspecialistasGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Datos_Bancarios_EspecialistasCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/MedicosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Datos_Bancarios_EspecialistasRowElement = "Datos_Bancarios_EspecialistasPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Datos_Bancarios_EspecialistasRowElement + "')){ Datos_Bancarios_EspecialistasInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDatos_Bancarios_EspecialistasData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDatos_Bancarios_Especialistas").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDatos_Bancarios_Especialistas")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Datos_Bancarios_EspecialistasCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Datos_Bancarios_Especialistas/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Datos_Bancarios_EspecialistasPropertyBag", "Datos_Bancarios_Especialistas")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Datos_Bancarios_EspecialistasGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldId').val(FieldId);
				$('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldName').val(FieldName);
				$('#hdnDatos_Bancarios_EspecialistasBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldId').val(), FieldName: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldName').val(), ObjectId: '44424', Attribute: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleAttribute').val(), Screen: 'Datos_Bancarios_Especialistas' }, function (data) {
                $(".Datos_Bancarios_EspecialistasBusinessRuleModal").html(data);
            });
        }
        function Datos_Bancarios_EspecialistasGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldId').val(FieldId);
				$('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldName').val(FieldName);
				$('#hdnDatos_Bancarios_EspecialistasBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldId').val(), FieldName: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldName').val(), ObjectId: '44424', Attribute: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleAttribute').val(), Screen: 'Datos_Bancarios_Especialistas' }, function (data) {
                $(".Datos_Bancarios_EspecialistasAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldId').val(), FieldName: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldName').val(), ObjectId: '44424', Attribute: $('#hdnDatos_Bancarios_EspecialistasBusinessRuleAttribute').val(), Screen: 'Datos_Bancarios_Especialistas' }, function (data) {
				$(".Datos_Bancarios_EspecialistasBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Datos_Bancarios_Especialistas/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Datos_Bancarios_Especialistas/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Datos_Bancarios_Especialistas/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDatos_Bancarios_EspecialistasConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDatos_Bancarios_EspecialistasConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Datos_Bancarios_Especialistas/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDatos_Bancarios_EspecialistasConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Datos_Bancarios_Especialistas/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Datos_Bancarios_Especialistas' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Datos_Bancarios_Especialistas' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Datos_Bancarios_EspecialistasConfigureSave').text('Save Settings');
                    $('#hdnDatos_Bancarios_EspecialistasConfigureType').val("1");
                });
            }
        }
		$('#CreateDatos_Bancarios_Especialistas').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldId').val(fieldId);
			$('#hdnDatos_Bancarios_EspecialistasBusinessRuleFieldName').val(fieldName);
			$('#hdnDatos_Bancarios_EspecialistasBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
