@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_de_PadecimientosModel
@{


    List<SelectListItem> varPadecimientos_Padecimiento = null;
    if (ViewBag.Padecimientoss_Padecimiento != null)
    { varPadecimientos_Padecimiento = (List<SelectListItem>)ViewBag.Padecimientoss_Padecimiento; }
    List<SelectListItem> varTiempo_Padecimiento_Tiempo_con_el_diagnostico = null;
    if (ViewBag.Tiempo_Padecimientos_Tiempo_con_el_diagnostico != null)
    { varTiempo_Padecimiento_Tiempo_con_el_diagnostico = (List<SelectListItem>)ViewBag.Tiempo_Padecimientos_Tiempo_con_el_diagnostico; }
    List<SelectListItem> varRespuesta_Logica_Intervencion_quirurgica = null;
    if (ViewBag.Respuesta_Logicas_Intervencion_quirurgica != null)
    { varRespuesta_Logica_Intervencion_quirurgica = (List<SelectListItem>)ViewBag.Respuesta_Logicas_Intervencion_quirurgica; }
    List<SelectListItem> varEstatus_Padecimiento_Estado_actual = null;
    if (ViewBag.Estatus_Padecimientos_Estado_actual != null)
    { varEstatus_Padecimiento_Estado_actual = (List<SelectListItem>)ViewBag.Estatus_Padecimientos_Estado_actual; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle de Padecimientos
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_de_PadecimientosRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_de_PadecimientosPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle de Padecimientos
								<button onclick="Detalle_de_PadecimientosGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_PadecimientosBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_de_PadecimientosResources.Detalle_de_Padecimientos</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_de_PadecimientosDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_de_PadecimientosPropertyBusinessModal" id="Detalle_de_PadecimientosPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_de_PadecimientosBusinessRule-form" onclick="Detalle_de_PadecimientosGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_PadecimientosPropertyModal" id="Detalle_de_PadecimientosPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_PadecimientosBusinessRuleModal" id="Detalle_de_PadecimientosBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_de_PadecimientosAddBusinessRuleModal" id="Detalle_de_PadecimientosAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_de_Padecimientos", FormMethod.Post, new { id = "CreateDetalle_de_Padecimientos", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_de_PadecimientosCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_PadecimientosResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="257616" data-field-name="@Resources.Detalle_de_PadecimientosResources.Folio">
                                    <label class="form-control" for="Detalle_de_PadecimientosFolio" id="Detalle_de_PadecimientosFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divPadecimiento">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_PadecimientosResources.Padecimiento</label>
	<div class="col-sm-8" data-field-id="Padecimiento" data-attribute="257617" data-field-name="@Resources.Detalle_de_PadecimientosResources.Padecimiento">
		<select class="form-control" data-val="true" data-val-number="The field Padecimiento must be a number." data-val-required="The Padecimiento field is required." id="Detalle_de_PadecimientosPadecimiento" name="Detalle_de_PadecimientosPadecimiento">
			<option value=""></option>
			@if (varPadecimientos_Padecimiento != null){ 
				foreach (var itemPadecimiento in varPadecimientos_Padecimiento)
				{
					if (itemPadecimiento.Value == Convert.ToString(Model.Padecimiento))
					{
						<option value="@itemPadecimiento.Value" selected>@itemPadecimiento.Text</option>
					}
					else
					{
						<option value="@itemPadecimiento.Value">@itemPadecimiento.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divTiempo_con_el_diagnostico">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_PadecimientosResources.Tiempo_con_el_diagnostico</label>
	<div class="col-sm-8" data-field-id="Tiempo_con_el_diagnostico" data-attribute="257618" data-field-name="@Resources.Detalle_de_PadecimientosResources.Tiempo_con_el_diagnostico">
		<select class="form-control" data-val="true" data-val-number="The field Tiempo con el diagnóstico must be a number." data-val-required="The Tiempo con el diagnóstico field is required." id="Detalle_de_PadecimientosTiempo_con_el_diagnostico" name="Detalle_de_PadecimientosTiempo_con_el_diagnostico">
			<option value=""></option>
			@if (varTiempo_Padecimiento_Tiempo_con_el_diagnostico != null){ 
				foreach (var itemTiempo_con_el_diagnostico in varTiempo_Padecimiento_Tiempo_con_el_diagnostico)
				{
					if (itemTiempo_con_el_diagnostico.Value == Convert.ToString(Model.Tiempo_con_el_diagnostico))
					{
						<option value="@itemTiempo_con_el_diagnostico.Value" selected>@itemTiempo_con_el_diagnostico.Text</option>
					}
					else
					{
						<option value="@itemTiempo_con_el_diagnostico.Value">@itemTiempo_con_el_diagnostico.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divIntervencion_quirurgica">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_PadecimientosResources.Intervencion_quirurgica</label>
	<div class="col-sm-8" data-field-id="Intervencion_quirurgica" data-attribute="259119" data-field-name="@Resources.Detalle_de_PadecimientosResources.Intervencion_quirurgica">
		<select class="form-control" data-val="true" data-val-number="The field ¿Has sido intervenido quirúrgicamente a causa de este padecimiento? must be a number." data-val-required="The ¿Has sido intervenido quirúrgicamente a causa de este padecimiento? field is required." id="Detalle_de_PadecimientosIntervencion_quirurgica" name="Detalle_de_PadecimientosIntervencion_quirurgica">
			<option value=""></option>
			@if (varRespuesta_Logica_Intervencion_quirurgica != null){ 
				foreach (var itemIntervencion_quirurgica in varRespuesta_Logica_Intervencion_quirurgica)
				{
					if (itemIntervencion_quirurgica.Value == Convert.ToString(Model.Intervencion_quirurgica))
					{
						<option value="@itemIntervencion_quirurgica.Value" selected>@itemIntervencion_quirurgica.Text</option>
					}
					else
					{
						<option value="@itemIntervencion_quirurgica.Value">@itemIntervencion_quirurgica.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divTratamiento">
                                <label class="col-sm-2 control-label">@Resources.Detalle_de_PadecimientosResources.Tratamiento</label>
                                <div class="col-sm-8" data-field-id="Tratamiento" data-attribute="257619" data-field-name="@Resources.Detalle_de_PadecimientosResources.Tratamiento">
                                    <input class="form-control" id="Detalle_de_PadecimientosTratamiento" name="Detalle_de_PadecimientosTratamiento" type="text" value="@Model.Tratamiento">
                                </div>
                            </div>
<div class="form-group" id="divEstado_actual">
	<label class="col-sm-2 control-label">@Resources.Detalle_de_PadecimientosResources.Estado_actual</label>
	<div class="col-sm-8" data-field-id="Estado_actual" data-attribute="257620" data-field-name="@Resources.Detalle_de_PadecimientosResources.Estado_actual">
		<select class="form-control" data-val="true" data-val-number="The field Estado actual must be a number." data-val-required="The Estado actual field is required." id="Detalle_de_PadecimientosEstado_actual" name="Detalle_de_PadecimientosEstado_actual">
			<option value=""></option>
			@if (varEstatus_Padecimiento_Estado_actual != null){ 
				foreach (var itemEstado_actual in varEstatus_Padecimiento_Estado_actual)
				{
					if (itemEstado_actual.Value == Convert.ToString(Model.Estado_actual))
					{
						<option value="@itemEstado_actual.Value" selected>@itemEstado_actual.Text</option>
					}
					else
					{
						<option value="@itemEstado_actual.Value">@itemEstado_actual.Text</option>
					}
				}
			}
		</select>
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_de_PadecimientosConfigureSave" name="Detalle_de_PadecimientosConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_de_PadecimientosConfigureType" />
												<input type="hidden" id="hdnDetalle_de_PadecimientosBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_de_PadecimientosBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_de_PadecimientosBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_de_PadecimientosGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_de_PadecimientosBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_de_Padecimientos.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_de_PadecimientosGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_de_PadecimientosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/PacientesCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_de_PadecimientosRowElement = "Detalle_de_PadecimientosPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_de_PadecimientosRowElement + "')){ Detalle_de_PadecimientosInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_de_PadecimientosData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_de_Padecimientos").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_de_Padecimientos")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_de_PadecimientosCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_de_Padecimientos/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_de_PadecimientosPropertyBag", "Detalle_de_Padecimientos")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_de_PadecimientosGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_de_PadecimientosBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_de_PadecimientosBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_de_PadecimientosBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_de_PadecimientosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_PadecimientosBusinessRuleFieldName').val(), ObjectId: '44309', Attribute: $('#hdnDetalle_de_PadecimientosBusinessRuleAttribute').val(), Screen: 'Detalle_de_Padecimientos' }, function (data) {
                $(".Detalle_de_PadecimientosBusinessRuleModal").html(data);
            });
        }
        function Detalle_de_PadecimientosGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_de_PadecimientosBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_de_PadecimientosBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_de_PadecimientosBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_de_PadecimientosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_PadecimientosBusinessRuleFieldName').val(), ObjectId: '44309', Attribute: $('#hdnDetalle_de_PadecimientosBusinessRuleAttribute').val(), Screen: 'Detalle_de_Padecimientos' }, function (data) {
                $(".Detalle_de_PadecimientosAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_de_PadecimientosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_de_PadecimientosBusinessRuleFieldName').val(), ObjectId: '44309', Attribute: $('#hdnDetalle_de_PadecimientosBusinessRuleAttribute').val(), Screen: 'Detalle_de_Padecimientos' }, function (data) {
				$(".Detalle_de_PadecimientosBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_de_Padecimientos/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_de_Padecimientos/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_de_Padecimientos/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_de_PadecimientosConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_de_PadecimientosConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_de_Padecimientos/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_de_PadecimientosConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_de_Padecimientos/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_de_Padecimientos' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_de_Padecimientos' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_de_PadecimientosConfigureSave').text('Save Settings');
                    $('#hdnDetalle_de_PadecimientosConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_de_Padecimientos').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_de_PadecimientosBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_de_PadecimientosBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_de_PadecimientosBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
