@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Planes_AlimenticiosModel
@{

    string Fecha = "";
    if (Model.Fecha == "")
    { Model.Fecha = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varTiempos_de_Comida_Tiempo_de_Comida = null;
    if (ViewBag.Tiempos_de_Comidas_Tiempo_de_Comida != null)
    { varTiempos_de_Comida_Tiempo_de_Comida = (List<SelectListItem>)ViewBag.Tiempos_de_Comidas_Tiempo_de_Comida; }
    List<SelectListItem> varDias_de_la_semana_Numero_de_Dia = null;
    if (ViewBag.Dias_de_la_semanas_Numero_de_Dia != null)
    { varDias_de_la_semana_Numero_de_Dia = (List<SelectListItem>)ViewBag.Dias_de_la_semanas_Numero_de_Dia; }
    List<SelectListItem> varPlatillos_Platillo = null;
    if (ViewBag.Platilloss_Platillo != null)
    { varPlatillos_Platillo = (List<SelectListItem>)ViewBag.Platilloss_Platillo; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Planes Alimenticios
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Planes_AlimenticiosRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Planes_AlimenticiosPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Planes Alimenticios
								<button onclick="Detalle_Planes_AlimenticiosGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Planes_AlimenticiosBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Planes_AlimenticiosResources.Detalle_Planes_Alimenticios</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Planes_AlimenticiosDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Planes_AlimenticiosPropertyBusinessModal" id="Detalle_Planes_AlimenticiosPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Planes_AlimenticiosBusinessRule-form" onclick="Detalle_Planes_AlimenticiosGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Planes_AlimenticiosPropertyModal" id="Detalle_Planes_AlimenticiosPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Planes_AlimenticiosBusinessRuleModal" id="Detalle_Planes_AlimenticiosBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Planes_AlimenticiosAddBusinessRuleModal" id="Detalle_Planes_AlimenticiosAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Planes_Alimenticios", FormMethod.Post, new { id = "CreateDetalle_Planes_Alimenticios", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Planes_AlimenticiosCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Planes_AlimenticiosResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="259770" data-field-name="@Resources.Detalle_Planes_AlimenticiosResources.Folio">
                                    <label class="form-control" for="Detalle_Planes_AlimenticiosFolio" id="Detalle_Planes_AlimenticiosFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divTiempo_de_Comida">
	<label class="col-sm-2 control-label">@Resources.Detalle_Planes_AlimenticiosResources.Tiempo_de_Comida</label>
	<div class="col-sm-8" data-field-id="Tiempo_de_Comida" data-attribute="259772" data-field-name="@Resources.Detalle_Planes_AlimenticiosResources.Tiempo_de_Comida">
		<select class="form-control" data-val="true" data-val-number="The field Tiempo de Comida must be a number." data-val-required="The Tiempo de Comida field is required." id="Detalle_Planes_AlimenticiosTiempo_de_Comida" name="Detalle_Planes_AlimenticiosTiempo_de_Comida">
			<option value=""></option>
			@if (varTiempos_de_Comida_Tiempo_de_Comida != null){ 
				foreach (var itemTiempo_de_Comida in varTiempos_de_Comida_Tiempo_de_Comida)
				{
					if (itemTiempo_de_Comida.Value == Convert.ToString(Model.Tiempo_de_Comida))
					{
						<option value="@itemTiempo_de_Comida.Value" selected>@itemTiempo_de_Comida.Text</option>
					}
					else
					{
						<option value="@itemTiempo_de_Comida.Value">@itemTiempo_de_Comida.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNumero_de_Dia">
	<label class="col-sm-2 control-label">@Resources.Detalle_Planes_AlimenticiosResources.Numero_de_Dia</label>
	<div class="col-sm-8" data-field-id="Numero_de_Dia" data-attribute="259773" data-field-name="@Resources.Detalle_Planes_AlimenticiosResources.Numero_de_Dia">
		<select class="form-control" data-val="true" data-val-number="The field Número de Día must be a number." data-val-required="The Número de Día field is required." id="Detalle_Planes_AlimenticiosNumero_de_Dia" name="Detalle_Planes_AlimenticiosNumero_de_Dia">
			<option value=""></option>
			@if (varDias_de_la_semana_Numero_de_Dia != null){ 
				foreach (var itemNumero_de_Dia in varDias_de_la_semana_Numero_de_Dia)
				{
					if (itemNumero_de_Dia.Value == Convert.ToString(Model.Numero_de_Dia))
					{
						<option value="@itemNumero_de_Dia.Value" selected>@itemNumero_de_Dia.Text</option>
					}
					else
					{
						<option value="@itemNumero_de_Dia.Value">@itemNumero_de_Dia.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divFecha">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Planes_AlimenticiosResources.Fecha</label>
                                <div class="col-sm-8" data-field-id="Fecha" data-attribute="259774" data-field-name="@Resources.Detalle_Planes_AlimenticiosResources.Fecha">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Planes_AlimenticiosFecha" readonly="readonly" name="Detalle_Planes_AlimenticiosFecha" type="text" value="@Model.Fecha">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divPlatillo">
	<label class="col-sm-2 control-label">@Resources.Detalle_Planes_AlimenticiosResources.Platillo</label>
	<div class="col-sm-8" data-field-id="Platillo" data-attribute="259775" data-field-name="@Resources.Detalle_Planes_AlimenticiosResources.Platillo">
		<select class="form-control" data-val="true" data-val-number="The field Platillo must be a number." data-val-required="The Platillo field is required." id="Detalle_Planes_AlimenticiosPlatillo" name="Detalle_Planes_AlimenticiosPlatillo">
			<option value=""></option>
			@if (varPlatillos_Platillo != null){ 
				foreach (var itemPlatillo in varPlatillos_Platillo)
				{
					if (itemPlatillo.Value == Convert.ToString(Model.Platillo))
					{
						<option value="@itemPlatillo.Value" selected>@itemPlatillo.Text</option>
					}
					else
					{
						<option value="@itemPlatillo.Value">@itemPlatillo.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divModificado">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Planes_AlimenticiosResources.Modificado</label>
                                <div class="col-sm-8" data-field-id="Modificado" data-attribute="259776" data-field-name="@Resources.Detalle_Planes_AlimenticiosResources.Modificado">
                                    @Html.CheckBoxFor(m => m.Modificado, new { @class = "i-checks" })
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Planes_AlimenticiosConfigureSave" name="Detalle_Planes_AlimenticiosConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Planes_AlimenticiosConfigureType" />
												<input type="hidden" id="hdnDetalle_Planes_AlimenticiosBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Planes_AlimenticiosBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Planes_AlimenticiosBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Planes_AlimenticiosGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Planes_AlimenticiosBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Planes_Alimenticios.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Planes_AlimenticiosGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Planes_AlimenticiosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Planes_AlimenticiosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Planes_AlimenticiosRowElement = "Detalle_Planes_AlimenticiosPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Planes_AlimenticiosRowElement + "')){ Detalle_Planes_AlimenticiosInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Detalle_Planes_AlimenticiosFecha').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Planes_AlimenticiosData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Planes_Alimenticios").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Planes_Alimenticios")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Planes_AlimenticiosCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Planes_Alimenticios/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Planes_AlimenticiosPropertyBag", "Detalle_Planes_Alimenticios")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Planes_AlimenticiosGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Planes_AlimenticiosBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldName').val(), ObjectId: '44569', Attribute: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleAttribute').val(), Screen: 'Detalle_Planes_Alimenticios' }, function (data) {
                $(".Detalle_Planes_AlimenticiosBusinessRuleModal").html(data);
            });
        }
        function Detalle_Planes_AlimenticiosGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Planes_AlimenticiosBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldName').val(), ObjectId: '44569', Attribute: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleAttribute').val(), Screen: 'Detalle_Planes_Alimenticios' }, function (data) {
                $(".Detalle_Planes_AlimenticiosAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldName').val(), ObjectId: '44569', Attribute: $('#hdnDetalle_Planes_AlimenticiosBusinessRuleAttribute').val(), Screen: 'Detalle_Planes_Alimenticios' }, function (data) {
				$(".Detalle_Planes_AlimenticiosBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Planes_Alimenticios/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Planes_Alimenticios/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Planes_Alimenticios/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Planes_AlimenticiosConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Planes_AlimenticiosConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Planes_Alimenticios/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Planes_AlimenticiosConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Planes_Alimenticios/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Planes_Alimenticios' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Planes_Alimenticios' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Planes_AlimenticiosConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Planes_AlimenticiosConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Planes_Alimenticios').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Planes_AlimenticiosBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Planes_AlimenticiosBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
