@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Planes_AlimenticiosAdvanceSearchModel
@{
    List<SelectListItem> varTiempos_de_Comida_Tiempo_de_Comida = null;
    if (ViewBag.Tiempos_de_Comidas_Tiempo_de_Comida != null)
    { varTiempos_de_Comida_Tiempo_de_Comida = (List<SelectListItem>)ViewBag.Tiempos_de_Comidas_Tiempo_de_Comida; }
    List<SelectListItem> varDias_de_la_semana_Numero_de_Dia = null;
    if (ViewBag.Dias_de_la_semanas_Numero_de_Dia != null)
    { varDias_de_la_semana_Numero_de_Dia = (List<SelectListItem>)ViewBag.Dias_de_la_semanas_Numero_de_Dia; }
    List<SelectListItem> varPlatillos_Platillo = null;
    if (ViewBag.Platilloss_Platillo != null)
    { varPlatillos_Platillo = (List<SelectListItem>)ViewBag.Platilloss_Platillo; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_Planes_Alimenticios", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Planes_AlimenticiosResources.Folio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromFolio, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.FromFolio)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToFolio, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToFolio", @data_min = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.ToFolio)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Planes_AlimenticiosResources.Tiempo_de_Comida</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Tiempo_de_ComidaFilter, filters, new { @class = "form-control", @id = "ddlTiempo_de_ComidaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceTiempo_de_Comida, new { @class = "form-control", @type = "text", @id = "txtAdvanceTiempo_de_Comida" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTiempos_de_Comida_Tiempo_de_Comida!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceTiempo_de_ComidaMultiple, varTiempos_de_Comida_Tiempo_de_Comida,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceTiempo_de_Comida"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Planes_AlimenticiosResources.Numero_de_Dia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_DiaFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_DiaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceNumero_de_Dia, new { @class = "form-control", @type = "text", @id = "txtAdvanceNumero_de_Dia" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varDias_de_la_semana_Numero_de_Dia!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceNumero_de_DiaMultiple, varDias_de_la_semana_Numero_de_Dia,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceNumero_de_Dia"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_Planes_AlimenticiosResources.Fecha</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha" name="FromFecha" type="text" value="@Model.FromFecha" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha" name="ToFecha" type="text" value="@Model.ToFecha" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Planes_AlimenticiosResources.Platillo</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.PlatilloFilter, filters, new { @class = "form-control", @id = "ddlPlatilloFilter" })
                    @Html.TextBoxFor(m => m.AdvancePlatillo, new { @class = "form-control", @type = "text", @id = "txtAdvancePlatillo" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varPlatillos_Platillo!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvancePlatilloMultiple, varPlatillos_Platillo,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvancePlatillo"
                        });
                    }
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_Planes_Alimenticios/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromFolio").val() != "" || $("#txtAdvanceToFolio").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Planes_AlimenticiosFolioFrom = $("#txtAdvanceFromFolio").val();
            advanceSearch.Detalle_Planes_AlimenticiosFolioTo = $("#txtAdvanceToFolio").val();
        }
        advanceSearch.Tiempo_de_ComidaSearchType = 0;
        if ($('#ddlAdvanceTiempo_de_Comida').val().length > 0 || $("#txtAdvanceTiempo_de_Comida").val() == "") {


            if (isDetalle_Planes_AlimenticiosTextSearch) {
                advanceSearch.Tiempo_de_ComidaName = $("#txtAdvanceTiempo_de_Comida").val();
                advanceSearch.Tiempo_de_ComidaNameSearchType = $("#ddlAdvanceTiempo_de_Comida").val();
                advanceSearch.Tiempo_de_ComidaSearchType = 1;
            }
            else {

                advanceSearch.Tiempo_de_ComidaToSearch = $("#ddlAdvanceTiempo_de_Comida").val();
                advanceSearch.Tiempo_de_ComidaSearchType = 2;
            }
        }
        advanceSearch.Numero_de_DiaSearchType = 0;
        if ($('#ddlAdvanceNumero_de_Dia').val().length > 0 || $("#txtAdvanceNumero_de_Dia").val() == "") {


            if (isDetalle_Planes_AlimenticiosTextSearch) {
                advanceSearch.Numero_de_DiaName = $("#txtAdvanceNumero_de_Dia").val();
                advanceSearch.Numero_de_DiaNameSearchType = $("#ddlAdvanceNumero_de_Dia").val();
                advanceSearch.Numero_de_DiaSearchType = 1;
            }
            else {

                advanceSearch.Numero_de_DiaToSearch = $("#ddlAdvanceNumero_de_Dia").val();
                advanceSearch.Numero_de_DiaSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha").val() != "" || $("#txtAdvanceToFecha").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Planes_AlimenticiosFechaFrom = $("#txtAdvanceFromFecha").val();
            advanceSearch.Detalle_Planes_AlimenticiosFechaTo = $("#txtAdvanceToFecha").val();
        }
        advanceSearch.PlatilloSearchType = 0;
        if ($('#ddlAdvancePlatillo').val().length > 0 || $("#txtAdvancePlatillo").val() == "") {


            if (isDetalle_Planes_AlimenticiosTextSearch) {
                advanceSearch.PlatilloName = $("#txtAdvancePlatillo").val();
                advanceSearch.PlatilloNameSearchType = $("#ddlAdvancePlatillo").val();
                advanceSearch.PlatilloSearchType = 1;
            }
            else {

                advanceSearch.PlatilloToSearch = $("#ddlAdvancePlatillo").val();
                advanceSearch.PlatilloSearchType = 2;
            }
        }
        if ($("#ddlAdvanceModificado").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Planes_AlimenticiosModificado = $("#ddlAdvanceModificado").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_Planes_Alimenticios').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_Planes_AlimenticiosTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceTiempo_de_Comida").keypress(function () {
            isDetalle_Planes_AlimenticiosTextSearch = true;
            $("#ddlAdvanceTiempo_de_Comida").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceTiempo_de_Comida").change(function () {
            isDetalle_Planes_AlimenticiosTextSearch = false;
            $("#txtAdvanceTiempo_de_Comida").val('');
        });
        $("#txtAdvanceNumero_de_Dia").keypress(function () {
            isDetalle_Planes_AlimenticiosTextSearch = true;
            $("#ddlAdvanceNumero_de_Dia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceNumero_de_Dia").change(function () {
            isDetalle_Planes_AlimenticiosTextSearch = false;
            $("#txtAdvanceNumero_de_Dia").val('');
        });
        $("#txtAdvancePlatillo").keypress(function () {
            isDetalle_Planes_AlimenticiosTextSearch = true;
            $("#ddlAdvancePlatillo").val('').trigger("chosen:updated");
        });

        $("#ddlAdvancePlatillo").change(function () {
            isDetalle_Planes_AlimenticiosTextSearch = false;
            $("#txtAdvancePlatillo").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

