@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Suscripciones_PacienteModel
@{

    string Fecha_de_inicio = "";
    if (Model.Fecha_de_inicio == "")
    { Model.Fecha_de_inicio = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_fin = "";
    if (Model.Fecha_fin == "")
    { Model.Fecha_fin = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varPlanes_de_Suscripcion_Suscripcion = null;
    if (ViewBag.Planes_de_Suscripcions_Suscripcion != null)
    { varPlanes_de_Suscripcion_Suscripcion = (List<SelectListItem>)ViewBag.Planes_de_Suscripcions_Suscripcion; }
 List<SelectListItem> varFrecuencia_de_pago_Pacientes_Frecuencia_de_Pago = null;
    if (ViewBag.Frecuencia_de_pago_Pacientess_Frecuencia_de_Pago != null)
    { varFrecuencia_de_pago_Pacientes_Frecuencia_de_Pago = (List<SelectListItem>)ViewBag.Frecuencia_de_pago_Pacientess_Frecuencia_de_Pago; }
    List<SelectListItem> varEstatus_de_Suscripcion_Estatus = null;
    if (ViewBag.Estatus_de_Suscripcions_Estatus != null)
    { varEstatus_de_Suscripcion_Estatus = (List<SelectListItem>)ViewBag.Estatus_de_Suscripcions_Estatus; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Suscripciones Paciente
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Suscripciones_PacienteRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Suscripciones_PacientePop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Suscripciones Paciente
								<button onclick="Detalle_Suscripciones_PacienteGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Suscripciones_PacienteBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Suscripciones_PacienteResources.Detalle_Suscripciones_Paciente</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Suscripciones_PacienteDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Suscripciones_PacientePropertyBusinessModal" id="Detalle_Suscripciones_PacientePropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Suscripciones_PacienteBusinessRule-form" onclick="Detalle_Suscripciones_PacienteGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Suscripciones_PacientePropertyModal" id="Detalle_Suscripciones_PacientePropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Suscripciones_PacienteBusinessRuleModal" id="Detalle_Suscripciones_PacienteBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Suscripciones_PacienteAddBusinessRuleModal" id="Detalle_Suscripciones_PacienteAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Suscripciones_Paciente", FormMethod.Post, new { id = "CreateDetalle_Suscripciones_Paciente", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Suscripciones_PacienteCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Suscripciones_PacienteResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="258408" data-field-name="@Resources.Detalle_Suscripciones_PacienteResources.Folio">
                                    <label class="form-control" for="Detalle_Suscripciones_PacienteFolio" id="Detalle_Suscripciones_PacienteFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divSuscripcion">
	<label class="col-sm-2 control-label">@Resources.Detalle_Suscripciones_PacienteResources.Suscripcion</label>
	<div class="col-sm-8" data-field-id="Suscripcion" data-attribute="258410" data-field-name="@Resources.Detalle_Suscripciones_PacienteResources.Suscripcion">
		<select class="form-control" data-val="true" data-val-number="The field Suscripción must be a number." data-val-required="The Suscripción field is required." id="Detalle_Suscripciones_PacienteSuscripcion" name="Detalle_Suscripciones_PacienteSuscripcion">
			<option value=""></option>
			@if (varPlanes_de_Suscripcion_Suscripcion != null){ 
				foreach (var itemSuscripcion in varPlanes_de_Suscripcion_Suscripcion)
				{
					if (itemSuscripcion.Value == Convert.ToString(Model.Suscripcion))
					{
						<option value="@itemSuscripcion.Value" selected>@itemSuscripcion.Text</option>
					}
					else
					{
						<option value="@itemSuscripcion.Value">@itemSuscripcion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divFecha_de_inicio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Suscripciones_PacienteResources.Fecha_de_inicio</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_inicio" data-attribute="258412" data-field-name="@Resources.Detalle_Suscripciones_PacienteResources.Fecha_de_inicio">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Suscripciones_PacienteFecha_de_inicio" readonly="readonly" name="Detalle_Suscripciones_PacienteFecha_de_inicio" type="text" value="@Model.Fecha_de_inicio">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divFecha_fin">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Suscripciones_PacienteResources.Fecha_fin</label>
                                <div class="col-sm-8" data-field-id="Fecha_fin" data-attribute="258413" data-field-name="@Resources.Detalle_Suscripciones_PacienteResources.Fecha_fin">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Suscripciones_PacienteFecha_fin" readonly="readonly" name="Detalle_Suscripciones_PacienteFecha_fin" type="text" value="@Model.Fecha_fin">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divNombre_de_la_Suscripcion">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Suscripciones_PacienteResources.Nombre_de_la_Suscripcion</label>
                                <div class="col-sm-8" data-field-id="Nombre_de_la_Suscripcion" data-attribute="258414" data-field-name="@Resources.Detalle_Suscripciones_PacienteResources.Nombre_de_la_Suscripcion">
                                    <input class="form-control" id="Detalle_Suscripciones_PacienteNombre_de_la_Suscripcion" name="Detalle_Suscripciones_PacienteNombre_de_la_Suscripcion" type="text" value="@Model.Nombre_de_la_Suscripcion">
                                </div>
                            </div>
<div class="form-group" id="divFrecuencia_de_Pago">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Suscripciones_PacienteResources.Frecuencia_de_Pago</label>
                                <div class="col-sm-8" data-field-id="Frecuencia_de_Pago" data-attribute="258415" data-field-name="@Resources.Detalle_Suscripciones_PacienteResources.Frecuencia_de_Pago">
                                    <select class='fullWidth AutoCompleteFrecuencia_de_pago_Pacientes form-control select2-dropdown' data-val="true" id="Detalle_Suscripciones_PacienteFrecuencia_de_Pago" name="Detalle_Suscripciones_PacienteFrecuencia_de_Pago">
                                        <option value="@Model.Frecuencia_de_Pago">@(Model.Frecuencia_de_PagoNombre??Model.Frecuencia_de_PagoNombre)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divCosto">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Suscripciones_PacienteResources.Costo</label>
                                <div class="col-sm-8" data-field-id="Costo" data-attribute="258416" data-field-name="@Resources.Detalle_Suscripciones_PacienteResources.Costo">
                                    <input class="form-control col-md-12 inputNumber" id="Detalle_Suscripciones_PacienteCosto" name="Detalle_Suscripciones_PacienteCosto" type="text" min="0.00" max="999999.99" value="@Model.Costo.ToString()">
                                </div>
                            </div>
<div class="form-group" id="divEstatus">
	<label class="col-sm-2 control-label">@Resources.Detalle_Suscripciones_PacienteResources.Estatus</label>
	<div class="col-sm-8" data-field-id="Estatus" data-attribute="258417" data-field-name="@Resources.Detalle_Suscripciones_PacienteResources.Estatus">
		<select class="form-control" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Detalle_Suscripciones_PacienteEstatus" name="Detalle_Suscripciones_PacienteEstatus">
			<option value=""></option>
			@if (varEstatus_de_Suscripcion_Estatus != null){ 
				foreach (var itemEstatus in varEstatus_de_Suscripcion_Estatus)
				{
					if (itemEstatus.Value == Convert.ToString(Model.Estatus))
					{
						<option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
					}
					else
					{
						<option value="@itemEstatus.Value">@itemEstatus.Text</option>
					}
				}
			}
		</select>
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Suscripciones_PacienteConfigureSave" name="Detalle_Suscripciones_PacienteConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Suscripciones_PacienteConfigureType" />
												<input type="hidden" id="hdnDetalle_Suscripciones_PacienteBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Suscripciones_PacienteBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Suscripciones_PacienteBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Suscripciones_PacienteGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Suscripciones_PacienteBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Suscripciones_Paciente.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Suscripciones_PacienteGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Suscripciones_PacienteCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/PacientesCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Suscripciones_PacienteRowElement = "Detalle_Suscripciones_PacientePop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Suscripciones_PacienteRowElement + "')){ Detalle_Suscripciones_PacienteInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Detalle_Suscripciones_PacienteFecha_de_inicio').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Detalle_Suscripciones_PacienteFecha_fin').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });
       var AutoCompleteFrecuencia_de_PagoData =[];
       $(".AutoCompleteDetalle_Suscripciones_Paciente_Frecuencia_de_Pago").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Suscripciones_Paciente/GetDetalle_Suscripciones_Paciente_Frecuencia_de_Pago_Frecuencia_de_pago_Pacientes")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Suscripciones_Paciente_Frecuencia_de_Pago_Frecuencia_de_pago_PacientesData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Suscripciones_Paciente_Frecuencia_de_Pago");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Suscripciones_PacienteData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Suscripciones_Paciente").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Suscripciones_Paciente")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Suscripciones_PacienteCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Suscripciones_Paciente/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Suscripciones_PacientePropertyBag", "Detalle_Suscripciones_Paciente")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Suscripciones_PacienteGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Suscripciones_PacienteBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldName').val(), ObjectId: '44398', Attribute: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleAttribute').val(), Screen: 'Detalle_Suscripciones_Paciente' }, function (data) {
                $(".Detalle_Suscripciones_PacienteBusinessRuleModal").html(data);
            });
        }
        function Detalle_Suscripciones_PacienteGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Suscripciones_PacienteBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldName').val(), ObjectId: '44398', Attribute: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleAttribute').val(), Screen: 'Detalle_Suscripciones_Paciente' }, function (data) {
                $(".Detalle_Suscripciones_PacienteAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldName').val(), ObjectId: '44398', Attribute: $('#hdnDetalle_Suscripciones_PacienteBusinessRuleAttribute').val(), Screen: 'Detalle_Suscripciones_Paciente' }, function (data) {
				$(".Detalle_Suscripciones_PacienteBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Suscripciones_Paciente/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Suscripciones_Paciente/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Suscripciones_Paciente/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Suscripciones_PacienteConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Suscripciones_PacienteConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Suscripciones_Paciente/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Suscripciones_PacienteConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Suscripciones_Paciente/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Suscripciones_Paciente' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Suscripciones_Paciente' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Suscripciones_PacienteConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Suscripciones_PacienteConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Suscripciones_Paciente').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Suscripciones_PacienteBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Suscripciones_PacienteBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
