@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Horarios_ActividadModel
@{


    List<SelectListItem> varDetalle_Registro_en_Actividad_Evento_Codigo_de_Reservacion = null;
    if (ViewBag.Detalle_Registro_en_Actividad_Eventos_Codigo_de_Reservacion != null)
    { varDetalle_Registro_en_Actividad_Evento_Codigo_de_Reservacion = (List<SelectListItem>)ViewBag.Detalle_Registro_en_Actividad_Eventos_Codigo_de_Reservacion; }
    List<SelectListItem> varParentescos_Empleados_Parentesco_con_el_Empleado = null;
    if (ViewBag.Parentescos_Empleadoss_Parentesco_con_el_Empleado != null)
    { varParentescos_Empleados_Parentesco_con_el_Empleado = (List<SelectListItem>)ViewBag.Parentescos_Empleadoss_Parentesco_con_el_Empleado; }
    List<SelectListItem> varSexo_Sexo = null;
    if (ViewBag.Sexos_Sexo != null)
    { varSexo_Sexo = (List<SelectListItem>)ViewBag.Sexos_Sexo; }
    List<SelectListItem> varEstatus_Reservaciones_Actividad_Estatus_de_la_Reservacion = null;
    if (ViewBag.Estatus_Reservaciones_Actividads_Estatus_de_la_Reservacion != null)
    { varEstatus_Reservaciones_Actividad_Estatus_de_la_Reservacion = (List<SelectListItem>)ViewBag.Estatus_Reservaciones_Actividads_Estatus_de_la_Reservacion; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Horarios Actividad
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Horarios_ActividadRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Horarios_ActividadPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Horarios Actividad
								<button onclick="Detalle_Horarios_ActividadGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Horarios_ActividadBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Horarios_ActividadResources.Detalle_Horarios_Actividad</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Horarios_ActividadDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Horarios_ActividadPropertyBusinessModal" id="Detalle_Horarios_ActividadPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Horarios_ActividadBusinessRule-form" onclick="Detalle_Horarios_ActividadGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Horarios_ActividadPropertyModal" id="Detalle_Horarios_ActividadPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Horarios_ActividadBusinessRuleModal" id="Detalle_Horarios_ActividadBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Horarios_ActividadAddBusinessRuleModal" id="Detalle_Horarios_ActividadAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Horarios_Actividad", FormMethod.Post, new { id = "CreateDetalle_Horarios_Actividad", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Horarios_ActividadCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="258762" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Folio">
                                    <label class="form-control" for="Detalle_Horarios_ActividadFolio" id="Detalle_Horarios_ActividadFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divReservada">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Reservada</label>
                                <div class="col-sm-8" data-field-id="Reservada" data-attribute="258764" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Reservada">
                                    @Html.CheckBoxFor(m => m.Reservada, new { @class = "i-checks" })
                                </div>
                            </div>
<div class="form-group" id="divNumero_de_Cita">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Numero_de_Cita</label>
	<div class="col-sm-8" data-field-id="Numero_de_Cita" data-attribute="258765" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Numero_de_Cita">
		<input class="form-control inputNumber" id="Detalle_Horarios_ActividadNumero_de_Cita" name="Detalle_Horarios_ActividadNumero_de_Cita" type="text" value="@Model.Numero_de_Cita">
	</div>
</div>
<div class="form-group" id="divHora_inicio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Hora_inicio</label>
                                <div class="col-sm-8" data-field-id="Hora_inicio" data-attribute="258766" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Hora_inicio">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12" id="Detalle_Horarios_ActividadHora_inicio" readonly="readonly" name="Detalle_Horarios_ActividadHora_inicio" type="text" data-autoclose="true" value="@Model.Hora_inicio">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divHora_fin">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Hora_fin</label>
                                <div class="col-sm-8" data-field-id="Hora_fin" data-attribute="258767" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Hora_fin">
                                    <div class='input-group date' id='timePicker'>
                                        <input class="form-control col-md-12" id="Detalle_Horarios_ActividadHora_fin" readonly="readonly" name="Detalle_Horarios_ActividadHora_fin" type="text" data-autoclose="true" value="@Model.Hora_fin">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divHorario">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Horario</label>
                                <div class="col-sm-8" data-field-id="Horario" data-attribute="258768" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Horario">
                                    <input class="form-control" id="Detalle_Horarios_ActividadHorario" name="Detalle_Horarios_ActividadHorario" type="text" value="@Model.Horario">
                                </div>
                            </div>
<div class="form-group" id="divCodigo_de_Reservacion">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Codigo_de_Reservacion</label>
	<div class="col-sm-8" data-field-id="Codigo_de_Reservacion" data-attribute="258769" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Codigo_de_Reservacion">
		<select class="form-control" data-val="true" data-val-number="The field Código de Reservación must be a number." data-val-required="The Código de Reservación field is required." id="Detalle_Horarios_ActividadCodigo_de_Reservacion" name="Detalle_Horarios_ActividadCodigo_de_Reservacion">
			<option value=""></option>
			@if (varDetalle_Registro_en_Actividad_Evento_Codigo_de_Reservacion != null){ 
				foreach (var itemCodigo_de_Reservacion in varDetalle_Registro_en_Actividad_Evento_Codigo_de_Reservacion)
				{
					if (itemCodigo_de_Reservacion.Value == Convert.ToString(Model.Codigo_de_Reservacion))
					{
						<option value="@itemCodigo_de_Reservacion.Value" selected>@itemCodigo_de_Reservacion.Text</option>
					}
					else
					{
						<option value="@itemCodigo_de_Reservacion.Value">@itemCodigo_de_Reservacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divNumero_de_Empleado">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Numero_de_Empleado</label>
                                <div class="col-sm-8" data-field-id="Numero_de_Empleado" data-attribute="258770" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Numero_de_Empleado">
                                    <input class="form-control" id="Detalle_Horarios_ActividadNumero_de_Empleado" name="Detalle_Horarios_ActividadNumero_de_Empleado" type="text" value="@Model.Numero_de_Empleado">
                                </div>
                            </div>
<div class="form-group" id="divFamiliar_del_Empleado">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Familiar_del_Empleado</label>
                                <div class="col-sm-8" data-field-id="Familiar_del_Empleado" data-attribute="258771" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Familiar_del_Empleado">
                                    @Html.CheckBoxFor(m => m.Familiar_del_Empleado, new { @class = "i-checks" })
                                </div>
                            </div>
<div class="form-group" id="divNombre_Completo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Nombre_Completo</label>
                                <div class="col-sm-8" data-field-id="Nombre_Completo" data-attribute="258772" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Nombre_Completo">
                                    <input class="form-control" id="Detalle_Horarios_ActividadNombre_Completo" name="Detalle_Horarios_ActividadNombre_Completo" type="text" value="@Model.Nombre_Completo">
                                </div>
                            </div>
<div class="form-group" id="divParentesco_con_el_Empleado">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Parentesco_con_el_Empleado</label>
	<div class="col-sm-8" data-field-id="Parentesco_con_el_Empleado" data-attribute="258773" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Parentesco_con_el_Empleado">
		<select class="form-control" data-val="true" data-val-number="The field Parentesco con el Empleado must be a number." data-val-required="The Parentesco con el Empleado field is required." id="Detalle_Horarios_ActividadParentesco_con_el_Empleado" name="Detalle_Horarios_ActividadParentesco_con_el_Empleado">
			<option value=""></option>
			@if (varParentescos_Empleados_Parentesco_con_el_Empleado != null){ 
				foreach (var itemParentesco_con_el_Empleado in varParentescos_Empleados_Parentesco_con_el_Empleado)
				{
					if (itemParentesco_con_el_Empleado.Value == Convert.ToString(Model.Parentesco_con_el_Empleado))
					{
						<option value="@itemParentesco_con_el_Empleado.Value" selected>@itemParentesco_con_el_Empleado.Text</option>
					}
					else
					{
						<option value="@itemParentesco_con_el_Empleado.Value">@itemParentesco_con_el_Empleado.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divSexo">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Sexo</label>
	<div class="col-sm-8" data-field-id="Sexo" data-attribute="258774" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Sexo">
		<select class="form-control" data-val="true" data-val-number="The field Sexo must be a number." data-val-required="The Sexo field is required." id="Detalle_Horarios_ActividadSexo" name="Detalle_Horarios_ActividadSexo">
			<option value=""></option>
			@if (varSexo_Sexo != null){ 
				foreach (var itemSexo in varSexo_Sexo)
				{
					if (itemSexo.Value == Convert.ToString(Model.Sexo))
					{
						<option value="@itemSexo.Value" selected>@itemSexo.Text</option>
					}
					else
					{
						<option value="@itemSexo.Value">@itemSexo.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divEdad">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Edad</label>
	<div class="col-sm-8" data-field-id="Edad" data-attribute="258775" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Edad">
		<input class="form-control inputNumber" id="Detalle_Horarios_ActividadEdad" name="Detalle_Horarios_ActividadEdad" type="text" value="@Model.Edad">
	</div>
</div>
<div class="form-group" id="divEstatus_de_la_Reservacion">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Estatus_de_la_Reservacion</label>
	<div class="col-sm-8" data-field-id="Estatus_de_la_Reservacion" data-attribute="258776" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Estatus_de_la_Reservacion">
		<select class="form-control" data-val="true" data-val-number="The field Estatus de la Reservación must be a number." data-val-required="The Estatus de la Reservación field is required." id="Detalle_Horarios_ActividadEstatus_de_la_Reservacion" name="Detalle_Horarios_ActividadEstatus_de_la_Reservacion">
			<option value=""></option>
			@if (varEstatus_Reservaciones_Actividad_Estatus_de_la_Reservacion != null){ 
				foreach (var itemEstatus_de_la_Reservacion in varEstatus_Reservaciones_Actividad_Estatus_de_la_Reservacion)
				{
					if (itemEstatus_de_la_Reservacion.Value == Convert.ToString(Model.Estatus_de_la_Reservacion))
					{
						<option value="@itemEstatus_de_la_Reservacion.Value" selected>@itemEstatus_de_la_Reservacion.Text</option>
					}
					else
					{
						<option value="@itemEstatus_de_la_Reservacion.Value">@itemEstatus_de_la_Reservacion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divAsistio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Asistio</label>
                                <div class="col-sm-8" data-field-id="Asistio" data-attribute="258777" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Asistio">
                                    @Html.CheckBoxFor(m => m.Asistio, new { @class = "i-checks" })
                                </div>
                            </div>
<div class="form-group" id="divFrecuencia_Cardiaca_ppm">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Frecuencia_Cardiaca_ppm</label>
	<div class="col-sm-8" data-field-id="Frecuencia_Cardiaca_ppm" data-attribute="261298" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Frecuencia_Cardiaca_ppm">
		<input class="form-control inputNumber" id="Detalle_Horarios_ActividadFrecuencia_Cardiaca_ppm" name="Detalle_Horarios_ActividadFrecuencia_Cardiaca_ppm" type="text" value="@Model.Frecuencia_Cardiaca_ppm">
	</div>
</div>
<div class="form-group" id="divPresion_sistolica_mm_Hg">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Presion_sistolica_mm_Hg</label>
	<div class="col-sm-8" data-field-id="Presion_sistolica_mm_Hg" data-attribute="261299" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Presion_sistolica_mm_Hg">
		<input class="form-control inputNumber" id="Detalle_Horarios_ActividadPresion_sistolica_mm_Hg" name="Detalle_Horarios_ActividadPresion_sistolica_mm_Hg" type="text" value="@Model.Presion_sistolica_mm_Hg">
	</div>
</div>
<div class="form-group" id="divPresion_diastolica_mm_Hg">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Presion_diastolica_mm_Hg</label>
	<div class="col-sm-8" data-field-id="Presion_diastolica_mm_Hg" data-attribute="261300" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Presion_diastolica_mm_Hg">
		<input class="form-control inputNumber" id="Detalle_Horarios_ActividadPresion_diastolica_mm_Hg" name="Detalle_Horarios_ActividadPresion_diastolica_mm_Hg" type="text" value="@Model.Presion_diastolica_mm_Hg">
	</div>
</div>
<div class="form-group" id="divPeso_actual_kg">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Peso_actual_kg</label>
                                <div class="col-sm-8" data-field-id="Peso_actual_kg" data-attribute="261301" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Peso_actual_kg">
                                    <input class="form-control col-md-12 inputNumber" id="Detalle_Horarios_ActividadPeso_actual_kg" name="Detalle_Horarios_ActividadPeso_actual_kg" type="text" min="0.00" max="999999.99" value="@Model.Peso_actual_kg.ToString()">
                                </div>
                            </div>
<div class="form-group" id="divEstatura_m">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Estatura_m</label>
                                <div class="col-sm-8" data-field-id="Estatura_m" data-attribute="261302" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Estatura_m">
                                    <input class="form-control col-md-12 inputNumber" id="Detalle_Horarios_ActividadEstatura_m" name="Detalle_Horarios_ActividadEstatura_m" type="text" min="0.00" max="999999.99" value="@Model.Estatura_m.ToString()">
                                </div>
                            </div>
<div class="form-group" id="divCircunferencia_de_cintura_cm">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Circunferencia_de_cintura_cm</label>
	<div class="col-sm-8" data-field-id="Circunferencia_de_cintura_cm" data-attribute="261303" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Circunferencia_de_cintura_cm">
		<input class="form-control inputNumber" id="Detalle_Horarios_ActividadCircunferencia_de_cintura_cm" name="Detalle_Horarios_ActividadCircunferencia_de_cintura_cm" type="text" value="@Model.Circunferencia_de_cintura_cm">
	</div>
</div>
<div class="form-group" id="divCircunferencia_de_cadera_cm">
	<label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Circunferencia_de_cadera_cm</label>
	<div class="col-sm-8" data-field-id="Circunferencia_de_cadera_cm" data-attribute="261304" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Circunferencia_de_cadera_cm">
		<input class="form-control inputNumber" id="Detalle_Horarios_ActividadCircunferencia_de_cadera_cm" name="Detalle_Horarios_ActividadCircunferencia_de_cadera_cm" type="text" value="@Model.Circunferencia_de_cadera_cm">
	</div>
</div>
<div class="form-group" id="divDiagnostico">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Horarios_ActividadResources.Diagnostico</label>
                                <div class="col-sm-8" data-field-id="Diagnostico" data-attribute="261305" data-field-name="@Resources.Detalle_Horarios_ActividadResources.Diagnostico">
                                    <input class="form-control" id="Detalle_Horarios_ActividadDiagnostico" name="Detalle_Horarios_ActividadDiagnostico" type="text" value="@Model.Diagnostico">
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Horarios_ActividadConfigureSave" name="Detalle_Horarios_ActividadConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Horarios_ActividadConfigureType" />
												<input type="hidden" id="hdnDetalle_Horarios_ActividadBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Horarios_ActividadBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Horarios_ActividadBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Horarios_ActividadGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Horarios_ActividadBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Horarios_Actividad.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Horarios_ActividadGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Horarios_ActividadCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Actividades_del_EventoCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Horarios_ActividadRowElement = "Detalle_Horarios_ActividadPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Horarios_ActividadRowElement + "')){ Detalle_Horarios_ActividadInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Detalle_Horarios_ActividadHora_inicio').clockpicker();
            $('#Detalle_Horarios_ActividadHora_fin').clockpicker();


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Horarios_ActividadData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Horarios_Actividad").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Horarios_Actividad")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Horarios_ActividadCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Horarios_Actividad/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Horarios_ActividadPropertyBag", "Detalle_Horarios_Actividad")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Horarios_ActividadGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Horarios_ActividadBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Horarios_ActividadBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Horarios_ActividadBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Horarios_ActividadBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Horarios_ActividadBusinessRuleFieldName').val(), ObjectId: '44437', Attribute: $('#hdnDetalle_Horarios_ActividadBusinessRuleAttribute').val(), Screen: 'Detalle_Horarios_Actividad' }, function (data) {
                $(".Detalle_Horarios_ActividadBusinessRuleModal").html(data);
            });
        }
        function Detalle_Horarios_ActividadGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Horarios_ActividadBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Horarios_ActividadBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Horarios_ActividadBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Horarios_ActividadBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Horarios_ActividadBusinessRuleFieldName').val(), ObjectId: '44437', Attribute: $('#hdnDetalle_Horarios_ActividadBusinessRuleAttribute').val(), Screen: 'Detalle_Horarios_Actividad' }, function (data) {
                $(".Detalle_Horarios_ActividadAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Horarios_ActividadBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Horarios_ActividadBusinessRuleFieldName').val(), ObjectId: '44437', Attribute: $('#hdnDetalle_Horarios_ActividadBusinessRuleAttribute').val(), Screen: 'Detalle_Horarios_Actividad' }, function (data) {
				$(".Detalle_Horarios_ActividadBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Horarios_Actividad/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Horarios_Actividad/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Horarios_Actividad/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Horarios_ActividadConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Horarios_ActividadConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Horarios_Actividad/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Horarios_ActividadConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Horarios_Actividad/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Horarios_Actividad' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Horarios_Actividad' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Horarios_ActividadConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Horarios_ActividadConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Horarios_Actividad').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Horarios_ActividadBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Horarios_ActividadBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Horarios_ActividadBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
