@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Especialistas_PacientesAdvanceSearchModel
@{
    List<SelectListItem> varSpartan_User_Especialista = null;
    if (ViewBag.Spartan_Users_Especialista != null)
    { varSpartan_User_Especialista = (List<SelectListItem>)ViewBag.Spartan_Users_Especialista; }
    List<SelectListItem> varEspecialidades_Especialidad = null;
    if (ViewBag.Especialidadess_Especialidad != null)
    { varEspecialidades_Especialidad = (List<SelectListItem>)ViewBag.Especialidadess_Especialidad; }
    List<SelectListItem> varEstatus_Paciente_Estatus = null;
    if (ViewBag.Estatus_Pacientes_Estatus != null)
    { varEstatus_Paciente_Estatus = (List<SelectListItem>)ViewBag.Estatus_Pacientes_Estatus; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_Especialistas_Pacientes", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Especialistas_PacientesResources.Folio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromFolio, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.FromFolio)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToFolio, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToFolio", @data_min = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.ToFolio)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Especialistas_PacientesResources.Especialista</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EspecialistaFilter, filters, new { @class = "form-control", @id = "ddlEspecialistaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEspecialista, new { @class = "form-control", @type = "text", @id = "txtAdvanceEspecialista" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varSpartan_User_Especialista!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEspecialistaMultiple, varSpartan_User_Especialista,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEspecialista"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Especialistas_PacientesResources.Especialidad</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EspecialidadFilter, filters, new { @class = "form-control", @id = "ddlEspecialidadFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEspecialidad, new { @class = "form-control", @type = "text", @id = "txtAdvanceEspecialidad" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEspecialidades_Especialidad!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEspecialidadMultiple, varEspecialidades_Especialidad,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEspecialidad"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_Especialistas_PacientesResources.Fecha_inicio</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_inicio" name="FromFecha_inicio" type="text" value="@Model.FromFecha_inicio" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_inicio" name="ToFecha_inicio" type="text" value="@Model.ToFecha_inicio" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_Especialistas_PacientesResources.Fecha_fin</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha_fin" name="FromFecha_fin" type="text" value="@Model.FromFecha_fin" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha_fin" name="ToFecha_fin" type="text" value="@Model.ToFecha_fin" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Especialistas_PacientesResources.Cantidad_consultas</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromCantidad_consultas, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromCantidad_consultas" })
                    @Html.ValidationMessageFor(m => m.FromCantidad_consultas)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToCantidad_consultas, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToCantidad_consultas", @data_min = "txtAdvanceFromCantidad_consultas" })
                    @Html.ValidationMessageFor(m => m.ToCantidad_consultas)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Especialistas_PacientesResources.Estatus</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EstatusFilter, filters, new { @class = "form-control", @id = "ddlEstatusFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEstatus, new { @class = "form-control", @type = "text", @id = "txtAdvanceEstatus" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEstatus_Paciente_Estatus!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEstatusMultiple, varEstatus_Paciente_Estatus,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEstatus"
                        });
                    }
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_Especialistas_Pacientes/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromFolio").val() != "" || $("#txtAdvanceToFolio").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Especialistas_PacientesFolioFrom = $("#txtAdvanceFromFolio").val();
            advanceSearch.Detalle_Especialistas_PacientesFolioTo = $("#txtAdvanceToFolio").val();
        }
        advanceSearch.EspecialistaSearchType = 0;
        if ($('#ddlAdvanceEspecialista').val().length > 0 || $("#txtAdvanceEspecialista").val() == "") {


            if (isDetalle_Especialistas_PacientesTextSearch) {
                advanceSearch.EspecialistaName = $("#txtAdvanceEspecialista").val();
                advanceSearch.EspecialistaNameSearchType = $("#ddlAdvanceEspecialista").val();
                advanceSearch.EspecialistaSearchType = 1;
            }
            else {

                advanceSearch.EspecialistaToSearch = $("#ddlAdvanceEspecialista").val();
                advanceSearch.EspecialistaSearchType = 2;
            }
        }
        advanceSearch.EspecialidadSearchType = 0;
        if ($('#ddlAdvanceEspecialidad').val().length > 0 || $("#txtAdvanceEspecialidad").val() == "") {


            if (isDetalle_Especialistas_PacientesTextSearch) {
                advanceSearch.EspecialidadName = $("#txtAdvanceEspecialidad").val();
                advanceSearch.EspecialidadNameSearchType = $("#ddlAdvanceEspecialidad").val();
                advanceSearch.EspecialidadSearchType = 1;
            }
            else {

                advanceSearch.EspecialidadToSearch = $("#ddlAdvanceEspecialidad").val();
                advanceSearch.EspecialidadSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha_inicio").val() != "" || $("#txtAdvanceToFecha_inicio").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Especialistas_PacientesFecha_inicioFrom = $("#txtAdvanceFromFecha_inicio").val();
            advanceSearch.Detalle_Especialistas_PacientesFecha_inicioTo = $("#txtAdvanceToFecha_inicio").val();
        }
        if ($("#txtAdvanceFromFecha_fin").val() != "" || $("#txtAdvanceToFecha_fin").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Especialistas_PacientesFecha_finFrom = $("#txtAdvanceFromFecha_fin").val();
            advanceSearch.Detalle_Especialistas_PacientesFecha_finTo = $("#txtAdvanceToFecha_fin").val();
        }
        if ($("#txtAdvanceFromCantidad_consultas").val() != "" || $("#txtAdvanceToCantidad_consultas").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Especialistas_PacientesCantidad_consultasFrom = $("#txtAdvanceFromCantidad_consultas").val();
            advanceSearch.Detalle_Especialistas_PacientesCantidad_consultasTo = $("#txtAdvanceToCantidad_consultas").val();
        }
        if ($("#ddlAdvancePrincipal").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Especialistas_PacientesPrincipal = $("#ddlAdvancePrincipal").val();
        }
        advanceSearch.EstatusSearchType = 0;
        if ($('#ddlAdvanceEstatus').val().length > 0 || $("#txtAdvanceEstatus").val() == "") {


            if (isDetalle_Especialistas_PacientesTextSearch) {
                advanceSearch.EstatusName = $("#txtAdvanceEstatus").val();
                advanceSearch.EstatusNameSearchType = $("#ddlAdvanceEstatus").val();
                advanceSearch.EstatusSearchType = 1;
            }
            else {

                advanceSearch.EstatusToSearch = $("#ddlAdvanceEstatus").val();
                advanceSearch.EstatusSearchType = 2;
            }
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_Especialistas_Pacientes').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_Especialistas_PacientesTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceEspecialista").keypress(function () {
            isDetalle_Especialistas_PacientesTextSearch = true;
            $("#ddlAdvanceEspecialista").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEspecialista").change(function () {
            isDetalle_Especialistas_PacientesTextSearch = false;
            $("#txtAdvanceEspecialista").val('');
        });
        $("#txtAdvanceEspecialidad").keypress(function () {
            isDetalle_Especialistas_PacientesTextSearch = true;
            $("#ddlAdvanceEspecialidad").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEspecialidad").change(function () {
            isDetalle_Especialistas_PacientesTextSearch = false;
            $("#txtAdvanceEspecialidad").val('');
        });
        $("#txtAdvanceEstatus").keypress(function () {
            isDetalle_Especialistas_PacientesTextSearch = true;
            $("#ddlAdvanceEstatus").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEstatus").change(function () {
            isDetalle_Especialistas_PacientesTextSearch = false;
            $("#txtAdvanceEstatus").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

