@model IList<Spartane.Web.Areas.Frontal.Models.Spartan_ChangePasswordAutorizationGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Spartan_ChangePasswordAutorizationResources.Clave
            </td>
                        <td class="column1">
                @Resources.Spartan_ChangePasswordAutorizationResources.Fecha_de_Registro
            </td>
            <td class="column1">
                @Resources.Spartan_ChangePasswordAutorizationResources.Hora_de_Registro
            </td>
            <td class="column1">
                @Resources.Spartan_ChangePasswordAutorizationResources.Usuario
            </td>
            <td class="column1">
                @Resources.Spartan_ChangePasswordAutorizationResources.Estatus
            </td>
            <td class="column1">
                @Resources.Spartan_ChangePasswordAutorizationResources.Email
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Clave
                    </td>
					                    <td>
                        @item.Fecha_de_Registro
                    </td>
                    <td>
                        @item.Hora_de_Registro
                    </td>
                    <td>
                        @item.UsuarioName
                    </td>
                    <td>
                        @item.EstatusDescripcion
                    </td>
                    <td>
                        @item.Email
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>

