@using System.Collections.Generic
@using System.Web.UI.WebControls
@using Spartane.Core.Domain.Caracteristicas_platillo;

@using Spartane.Core.Domain.Permission
@using Spartane.Web.Areas.WebApiConsumer
@using Spartane.Web.Helpers
@{
    ViewBag.Title = Resources.Resources.Index;
    Permission permission = ViewBag.Permission;
    var advanceSearch = (bool)ViewBag.AdvanceSearch;


}
<style>
    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }
</style>
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Resources.Caracteristicas_platilloResources.Caracteristicas_platillo</h2>
        
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                
            </li>
            <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Caracteristicas_platilloResources.Caracteristicas_platillo</strong>
                }
                
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
		@{
            if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
            {
                <h2>&nbsp;</h2>
                <button onclick="Caracteristicas_platilloGetBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton" data-toggle="modal" data-target="#Caracteristicas_platilloBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
                <div aria-hidden="true" class="modal fade in Caracteristicas_platilloPropertyBusinessModal" id="Caracteristicas_platilloPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Property & Business Rules
                                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
                                    </div>
                                    <div class="clearfix col-sm-12">&nbsp;</div>
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Caracteristicas_platilloBusinessRule-form" onclick="Caracteristicas_platilloGetBusinessRule()">Business Rule</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                </div>
                <div aria-hidden="true" data-backdrop="static" class="modal fade in Caracteristicas_platilloBusinessRuleModal" id="Caracteristicas_platilloBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                </div>
                <div aria-hidden="true" data-backdrop="static" class="modal fade in Caracteristicas_platilloAddBusinessRuleModal" id="Caracteristicas_platilloAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                </div>
            }
		}
    </div>
</div>

<input type="hidden" value="List" name="Operation" id="Operation" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>

<span id="popupNotification"></span>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div id="jsGrid">
                    </div>

                    @* Model Start Here *@

                    @using (Ajax.BeginForm("", "", new AjaxOptions { OnSuccess="" }))
                    {
                        
                    }
                    
                     @* Model Print Start*@
                    <div id="exportModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">@Resources.Resources.Export</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-3">@Resources.Resources.ExportOptions:</div>
                                        <div class="col-md-8 col-md-offset-0">
                                            <label class="">
                                                <input type="radio" name="optradio" value="1" checked="true">@Resources.Resources.ExporOnlyCurrent
                                            </label>
                                            <label class="">
                                                <input type="radio" name="optradio" value="0">@Resources.Resources.ExporAllRecords
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                            </div>
                                        </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resources.Close</button>
                                    <button type="button" id="btnPrint" class="btn btn-primary" onclick="return PrintDocument(3);">@Resources.Resources.Print</button>
                                    <button type="button" id="btnPdf" class="btn btn-primary" onclick="return Export(1);">@Resources.Resources.Export</button>
                                    <button type="button" id="btnExcel" class="btn btn-primary" onclick="return Export(2);">@Resources.Resources.Export</button>
                                    <button type="button" id="btnCSV" class="btn btn-primary" onclick="return Export(4);">@Resources.Resources.Export</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
					@* Model Print Format Start*@
                    <div id="printFormatModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">@Resources.Resources.Print @Resources.Spartan_FormatResources.Format </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div id="spartan_formats" class="col-md-6 col-md-offset-0">
                                                                                                                   
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resources.Close</button>
                                        <button type="button" id="btnPrint" class="btn btn-primary" onclick="return ExportToPdfFormats();">@Resources.Resources.Print @Resources.Resources.PDF</button>         
                                    </div>
                                    <div class="row">
                                    </div>
                                </div>                              
                            </div>
                            <!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <div id="botonera">
						@if (permission.New)
                        { 
                            @Html.ActionLink(Resources.Resources.Create, "Create", "Caracteristicas_platillo", new { @class = "btn btn-primary" })
                        }
                        @Html.ActionLink(@Resources.Resources.AdvanceSearch, "ShowAdvanceFilter", "Caracteristicas_platillo", new { previousFilters = advanceSearch }, new { @class = ("btn btn-primary") })
                        <button onclick="ClearFilter()" class=" btn btn-primary">@Resources.Resources.ClearFilter</button>
                                </div>
                    <div class="table-responsive">

                        <table id="tblCaracteristicas_platillo" class="table table-striped table-bordered table-hover dataTables-example scroll_content" style="overflow-x:scroll;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Resources.Resources.Actions</th>
                                    <th>@Resources.Caracteristicas_platilloResources.Folio</th>
                                    <th>@Resources.Caracteristicas_platilloResources.Caracteristicas</th>

                                </tr>
                            </thead>
                            <tfoot style="display:table-header-group;">
                                <tr>
                                    <td></td>
                                    <td class="filterColumn" s-spartan="number"></td>
                                    <td class="filterColumn" s-spartan="text"></td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/plugins/dataPickerStyles")
@Styles.Render("~/plugins/clockpickerStyles")
@Styles.Render("~/plugins/awesomeCheckboxStyles")

@Scripts.Render("~/plugins/dataTables")
@Scripts.Render("~/plugins/dataPicker")
@Scripts.Render("~/plugins/clockpicker")
@*@Scripts.Render("~/plugins/slimScroll")*@

<script type="text/javascript" src="~/Scripts/Custom/tablePlugin.js"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Caracteristicas_platilloIndexRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<style>
    .dataTables_filter {
        display: none;
    }

    div.dataTables_info {
        display: inline-block;
        float: left;
    }
</style>

<script type="text/javascript">
	var MRWhere = '';
    var MROrder = '';
    var table;
    var currentFilter;
     var permission = {
        Consult: '@permission.Consult.ToString()' == 'True',
        New: '@permission.New.ToString()' == 'True',
        Edit: '@permission.Edit.ToString()' == 'True',
        Delete: '@permission.Delete.ToString()' == 'True',
        Export: '@permission.Export.ToString()' == 'True',
        Print: '@permission.Print.ToString()' == 'True',
        Configure: '@permission.Configure.ToString()' == 'True',
    };

    $(document).ready(function () {	
	$('.loading').show();
        $("#frmAdvanceSearch").submit(function (e) {
            e.preventDefault();
            InitiateAdvanceSearch();
        });
        $('a').tooltip();
    });

    var advanceSearchQuery = "@(advanceSearch)", isCaracteristicas_platilloTextSearch = true;

    function ClearFilter() {

        $('.filterData').each(function( index, element ){
            if ($(this).attr('type') != 'checkbox') {
                $(this).val('');
            }
            else {
                $(this).attr('checked', false);
            }
        });
        advanceSearchQuery = "False";
        ClearFilterConfig();
        table.search('').columns().search('').draw();
    }

    function ClearFilterConfig() {
        $.ajax({
            url: '@Url.Content("~/Frontal/Caracteristicas_platillo/ClearAdvanceFilter")',
            type: 'POST',
            dataType: "json",
            success: function (result) {
            },
            error: function (result) {
                showNotification("@Resources.Resources.ErrorContactingServer", "error");
                return null;
            }
        });
    }

    //Used to initiate advance function
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblCaracteristicas_platillo').DataTable().draw();
        return false;
    }

    function GetAdvanceSearchQuery() {
        return advanceSearchQuery;
    }

    function VisibilityAdvanceSearch() {
        $('#btnAdvanceSearch').click();
        return false;
    }

    function Export(format) {
	 var counter = 1;
        currentFilter = table.page.info();
		 var where= MRWhere;
		var order = MROrder;

        var queryString = GetQueryString();

        var Folio =  $($('table td .filterData.form-control:input')[counter++]).val();
        var Caracteristicas =  $($('table td .filterData.form-control:input')[counter++]).val();


        var queryString = "&Folio=" + Folio 
        + "&Caracteristicas=" + Caracteristicas
 + "&iSortCol=" + table.settings()[0].aoColumns[table.settings()[0].aLastSort[0].col].data + "&sSortDir=" + table.settings()[0].aLastSort[0].dir;

        var url = "@Url.Content("~/Frontal/Caracteristicas_platillo/Export?format=")" + format
            + "&pageIndex=" + ($('#exportModal :radio:checked').val() == "0" ? 1 : currentFilter.page + 1)
            + "&pageSize=" + ($('#exportModal :radio:checked').val() == "0" ? 0 : currentFilter.length)
		    + "&where=" + where + "&order=" + order + 
			+ "&columnsVisible=" + table.columns().visible().join(",") + queryString;
        window.open(url, '_blank');
    };

    function GetQueryString() {
	
	 var counter = 0;
        var Folio =  $($('table td .filterData.form-control:input')[counter++]).val();
        var Caracteristicas =  $($('table td .filterData.form-control:input')[counter++]).val();


        return "&Folio=" + Folio 
        + "&Caracteristicas=" + Caracteristicas
;

    }
	
	
	$(document).on("click", ".editor_print", function () {
		var idRecord = $(this).data('idrecord');
        GetFormats(idRecord);
        $("#printFormatModal").data('idrecord', idRecord);
    });
	
	function GetFormats(idRecord) {

        $('#spartan_formats').empty();
        $.ajax({
            url: '@Url.Content("~/Frontal/Caracteristicas_platillo/GetFormats?RecordId=")' + idRecord,
            type: 'Get',
            async: true,
            contentType: "multipart/form-data",
            success: function (result) {
                if (result < 0) {

                } else {
                    $.each(result, function (index, element) {
                        var div = "<div id=''>" +
                             "<label>" +
                                "<input type='checkbox' name='optradioFormat' value='" + element.Value + "' />" + element.Text +
                                    "</label>" +
                                "</div>";

                        $('#spartan_formats').append(div);
                    });
                    $("#printFormatModal").modal('show');
                }
            },
            error: function (result) {
                showNotification("@Resources.Resources.ErrorContactingServer", "error");
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
	 function ExportToPdfFormats()
    {
        var RecordId = $("#printFormatModal").data('idrecord');
        var FormatId = $("input:radio[name='optradioFormat']:checked").val();
        var i = 1;
        $("input:checkbox[name='optradioFormat']:checked").each(function (index, item) {
            if ($(item).is(':checked')) {
                debugger
                var FormatId = $(item).val();
                var url = "@Url.Content("~/Frontal/Caracteristicas_platillo/PrintFormats?idFormat=")" + FormatId + "&RecordId=" + RecordId;
                var printWindow = window.open(url,'Imprimir Formato ' + i.toString() + '_blank');
                i++;

            }
        });
    }
	
    function PrintDocument(format) {

        var counter = 1;
        currentFilter = table.page.info();
		
		   var where = MRWhere;
        var order = MROrder;

		var queryString = GetQueryString();
		
		var url = "@Url.Content("~/Frontal/Caracteristicas_platillo/Print")?format=3"
				+ "&pageIndex=" + ($('#exportModal :radio:checked').val() == "0" ? 1 : currentFilter.page + 1)
				+ "&pageSize=" + ($('#exportModal :radio:checked').val() == "0" ? 0 : currentFilter.length)
				+ "&where=" + where + "&order=" + order + queryString;

        $.ajax({

            url: url,
            async:false,
            success: function (data) {
                var printWindow = window.open();
                var title = '@Resources.Resources.PrintText';
                printWindow.document.write('<title>' + title + '</title>');
                printWindow.document.write(data);
				printWindow.document.getElementById("columnsVisible").text = table.columns().visible().join(",");
                printWindow.print();
                //printWindow.close();

            },
            error: function () {
                alert("Error");
            }
        });

    }

    function SetTitle(printWindow) {
        if (printWindow.document) {
            printWindow.document.title = "Características platillo Print";
        } else {
            setTimeout(SetTitle, 10);
        }
    }

    Serialize = function (obj) {
        var str = [];
        for (var p in obj)
            if (obj.hasOwnProperty(p)) {
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
            }
        return str.join("&");
    }
    function GetContentType() {
        switch ($('#myModal #sel1').val()) {
            case "1":
                return "application/pdf; charset=utf-8";
            case "2":
                return "application/vnd.ms-excel; charset=utf-8";
        }
        return null;
    }

    var isInitialized = false;
    var filterState = JSON.parse(localStorage.getItem("GRID_STATE_MANAGEMENT"));

    $(function () {
        //Popup
        $("#btnExportPopUpOpen").click(function () {
            $('#myModal').modal('show');
        });

        $(document).on("click", ".buttons-pdf", function (e, data) {

            $("#btnPrint").hide();
            $("#btnExcel").hide();
            $("#btnPdf").show();
            $("#btnCSV").hide();
            $('#exportModal').modal('show');

        });

        $(document).on("click", ".buttons-print", function (e, data) {

            $("#btnPdf").hide();
            $("#btnExcel").hide();
            $("#btnPrint").show();
            $("#btnCSV").hide();
            $('#exportModal').modal('show');
        });

        $(document).on("click", ".buttons-excel", function (e, data) {

            $("#btnPdf").hide();
            $("#btnExcel").show();
            $("#btnPrint").hide();
            $("#btnCSV").hide();
            $(this).bind();
            $('#exportModal').modal('show');
        });

        $(document).on("click", ".buttons-csv", function (e, data) {


            $("#btnPdf").hide();
            $("#btnExcel").hide();
            $("#btnPrint").hide();
            $("#btnCSV").show();
            $('#exportModal').modal('show');

        });

		setFilterNew('tblCaracteristicas_platillo');
		
		var oDatatableStateData;
        // initialize datatable variable
        table = $('#tblCaracteristicas_platillo').DataTable({
            dom: '<"html5buttons"B>lTfgt<"bottom"ip>',
            //"dom": '<"top"f>rt<"bottom"ilp><"clear">'
            buttons: [
                { extend: 'copy', text: '@Resources.Resources.Copy', exportOptions: { columns: [1 ,':visible'] }, className: !permission.Export ? 'hide' : '', },
                { extend: 'csv', text: '@Resources.Resources.CSV', exportOptions: { columns: [1 ,2 ] }, className: !permission.Export ? 'hide' : '', },
                { extend: 'excel', title: '@Resources.Resources.Excel', text: '@Resources.Resources.Excel', exportOptions: { columns: [1 ,2 ] }, className: !permission.Export ? 'hide' : '', },
                { extend: 'pdf', title: '@Resources.Resources.PDF', text: '@Resources.Resources.PDF', exportOptions: { columns: [1 ,2 ] }, className: !permission.Export ? 'hide' : '', },
                {
                    extend: 'print', title: '@Resources.Resources.PrintText', text: '@Resources.Resources.Print', exportOptions: { columns: [1 ,2 ] }, className: !permission.Print ? 'hide' : '',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');

                        if (!permission.Print) {
                            $(win.document.body).addClass('disabled');
                            $(win.document.body).attr('disabled', 'true');
                        }
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ],
            "processing": true,
            "serverSide": true,
            "info": true,
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "@Resources.Resources.All"]],            
			 "ajax": function (data, callback, settings, aoData) {
                $.ajax({
                    url: "@Url.Content("~/Frontal/Caracteristicas_platillo/GetCaracteristicas_platilloList")", 
                    method: 'Post',
                    data: { "sEcho": data.draw, "iDisplayStart": data.start, "iDisplayLength": data.length, "sortDirection": data.order[0].dir, "sortColumn": data.order[0].column, "columns": data.columns, "where": MRWhere, "order": MROrder, "filters": GetQueryString(), "AdvanceSearch": GetAdvanceSearchQuery() }
                }).done(callback);
            },
            "fnServerParams": function ( aoData ) {
                //aoData.push({ "name": "AdvanceSearch", "value": GetAdvanceSearchQuery() });
            },
            "bStateSave": true,
            "fnStateSave": function (oSettings, oData) {
                localStorage.setItem(JSON.stringify(oData), 'Caracteristicas_platilloDatatable_');
            },
            "fnStateLoad": function (oSettings) {
                var data = localStorage.getItem('Caracteristicas_platilloDatatable_');
                return JSON.parse(data);
            },
            "fnStateLoaded": function (oSettings, oData) {
                oDatatableStateData = oData;              
                setFilterState('tblCaracteristicas_platillo', oDatatableStateData); 
            },
            "aoColumns": [
                {
                    "data": null,
                    "className": "center actionColumn text-nowrap",
					"orderable": false, 					
					"render": function (data, type, full, meta) {
                        var edit = '<a title="@Resources.Resources.Edit" href="@Url.Action("Create", "Caracteristicas_platillo")?Id=' + data.Folio + '" class="editor_edit edit-MR"><i class="fa fa-edit"></i></a>';
                        if (!permission.Edit)
                            edit = '';
                        var consult = '<a title="@Resources.Resources.Consult" href="@Url.Action("Create", "Caracteristicas_platillo")?Id=' + data.Folio + '&consult=1"  class="editor_remove"><i class="fa fa-male"></i></a>';
                        if (!permission.Consult)
                            consult = '';
                        var print = '<a title="@Resources.Resources.Print" data-toggle="modal" data-target="#printFormatModal" data-idrecord="' + data.Folio + '"  class="editor_print print-MR"><i class="fa fa-print"></i></a>';
                        if (!permission.Print)
                            print = '';
                        var del = '<a title="@Resources.Resources.Delete" onclick="DeleteCaracteristicas_platillo(\'' + data.Folio + '\')" class="editor_remove eliminar-MR"><i class="fa fa-times"></i></a>';
                        if (!permission.Delete)
                            del = '';
                        return edit + del + consult + print;
                    }
                }, 
                { "data": "Folio", "orderable": true, "name": "Folio" }
                ,{ "data": "Caracteristicas", "orderable": true, "name": "Caracteristicas", "render": function (data) { return htmlDecode(data != null && data.length > 100 ? (data.substring(0,100) + '...') : data ); } }

            ],
			"colReorder": true,
            "order": [[1, "asc"]],
			"scrollX": true,
			"scrollY": '55vh',
			"scrollCollapse": true,
			"drawCallback": function( settings ) {
			    $('.dataTables_scrollBody').animate({
			        scrollTop: 0,
			        scrollLeft: 0,
			    }, '200');
			},
             "language": {
                "lengthMenu": "@Resources.Resources.Display" + " _MENU_ " + "@Resources.Resources.RecordsPerPage",
                "zeroRecords": " ",
                "info": "@Resources.Resources.ShowingPages" + " _PAGE_ " + "@Resources.Resources.of" + " _PAGES_",
                "infoEmpty": "@Resources.Resources.NoRecords",
                "infoFiltered": "(" + "@Resources.Resources.FilteredFrom" + " _MAX_ " + "@Resources.Resources.TotalRecords" + ")",
                "paginate": {
                    "previous": "@Resources.Resources.Previous",
                    "next": "@Resources.Resources.Next"
					},
                    "buttons": {
                        "copyTitle": "@Resources.Resources.CopyToClipboard",
                        "copySuccess": {
                            "_": "%d " + "@Resources.Resources.Copiedlines",
                            "1": "1 " +  "@Resources.Resources.Copiedline"
                        }
                    }
				}
    }).on('init.dt', function (e, data) {
        var classNamePDF = $(this).dataTableExt.buttons.pdfHtml5.className.split(" ");
        var classNameExcel = $(this).dataTableExt.buttons.excelHtml5.className.split(" ");
        var classNamePrint = $(this).dataTableExt.buttons.print.className.split(" ");
        var classNameCSV = $(this).dataTableExt.buttons.csvHtml5.className.split(" ");
        $('.' + classNamePDF[0]).unbind();
        $('.' + classNameExcel[0]).unbind();
        $('.' + classNamePrint[0]).unbind();
        $('.' + classNameCSV[0]).unbind();
        $('a').tooltip();
        EjecutarValidacionesDespuesDeCrearLista();
		
		$('#tblCaracteristicas_platillo').show().css({
            "width": "auto",
            "min-width": "100%"
        });

        $('.loading').hide();
	table.columns.adjust();
    });

		ApplySearch(table);
		$('tfoot tr').insertAfter($('thead tr'));
		

        $('.clockpicker').clockpicker();

        $('.datepicker').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: "dd-mm-yyyy"
        });
    });

    function DeleteCaracteristicas_platillo(Folio) {
       if (confirm(htmlDecode('@Resources.Resources.DeleteRecord'))) {
            $.ajax({
                url: '@Url.Content("~/Frontal/Caracteristicas_platillo/Delete?id=")' + Folio,
                type: 'DELETE',
                success: function (result) {
                    if (result) {
                        table.draw();
                        showNotification('@Resources.Resources.DeleteSuccess', "success");
                    } else {
                        showNotification('@Resources.Resources.DeleteError', "error");
                    }

                }
            });
        }
    }
</script>

<script type="text/javascript">
	function OpenRules() {
        $.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
            $(".Caracteristicas_platilloBusinessRuleModal").html(data);
            $(".Caracteristicas_platilloBusinessRuleModal").modal('show');           
        });
    }
    function Caracteristicas_platilloGetBusinessRule() {
        $('#FieldId').val();
        $('#FieldName').val('');
        $('#ObjectId').val('44552');
        $('#Attribute').val('3');
        $('#Screen').val('Caracteristicas_platillo');
        OpenRules();
    }

    function GetPropertyBag() {
        $.get('@Url.Action("Caracteristicas_platilloPropertyBag", "Caracteristicas_platillo")', function (data) {
            $(".PropertyModal").html(data);
        });
    }
</script>
<input type="hidden" id="FieldId" name="FieldId" value="" />
<input type="hidden" id="FieldName" name="FieldName" value="" />
<input type="hidden" id="ObjectId" name="ObjectId" value="" />
<input type="hidden" id="Attribute" name="Attribute" value="" />
<input type="hidden" id="Screen" name="Screen" value="" />
@section Styles {
    
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
}

