@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Contactos_EmpresaModel
@{

/*

*/
    List<SelectListItem> varRespuesta_Logica_Contacto_Principal = null;
    if (ViewBag.Respuesta_Logicas_Contacto_Principal != null)
    { varRespuesta_Logica_Contacto_Principal = (List<SelectListItem>)ViewBag.Respuesta_Logicas_Contacto_Principal; }
    List<SelectListItem> varareas_Empresas_Area = null;
    if (ViewBag.areas_Empresass_Area != null)
    { varareas_Empresas_Area = (List<SelectListItem>)ViewBag.areas_Empresass_Area; }
    List<SelectListItem> varRespuesta_Logica_Acceso_al_Sistema = null;
    if (ViewBag.Respuesta_Logicas_Acceso_al_Sistema != null)
    { varRespuesta_Logica_Acceso_al_Sistema = (List<SelectListItem>)ViewBag.Respuesta_Logicas_Acceso_al_Sistema; }
    List<SelectListItem> varRespuesta_Logica_Recibe_Alertas = null;
    if (ViewBag.Respuesta_Logicas_Recibe_Alertas != null)
    { varRespuesta_Logica_Recibe_Alertas = (List<SelectListItem>)ViewBag.Respuesta_Logicas_Recibe_Alertas; }
    List<SelectListItem> varEstatus_Estatus = null;
    if (ViewBag.Estatuss_Estatus != null)
    { varEstatus_Estatus = (List<SelectListItem>)ViewBag.Estatuss_Estatus; }


    Permission permission = ViewBag.Permission;
	
	if (ViewBag.IsPartial)
   { 
       Layout = "~/Areas/Frontal/Views/Shared/_LayoutPopup.cshtml";
   }
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">@Resources.Resources.Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">@Resources.Resources.Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Detalle_Contactos_EmpresaResources.Detalle_Contactos_Empresa
                <button onclick="Detalle_Contactos_EmpresaGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Contactos_EmpresaBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="active">
                @if (Session["PhaseName"] != null)
                {
                    <strong>@Session["PhaseName"].ToString()</strong>
                }
                else
                {
                    <strong>@Resources.Detalle_Contactos_EmpresaResources.Detalle_Contactos_Empresa</strong>
                }
                
            </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Detalle_Contactos_EmpresaDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Detalle_Contactos_EmpresaPropertyBusinessModal" id="Detalle_Contactos_EmpresaPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                          @Resources.Resources.titleBussinesRules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">@Resources.Resources.Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">@Resources.Resources.Property</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Detalle_Contactos_EmpresaBusinessRule-form" onclick="Detalle_Contactos_EmpresaGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Contactos_EmpresaBusinessRuleModal" id="Detalle_Contactos_EmpresaBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Detalle_Contactos_Empresa", FormMethod.Post, new { id = "CreateDetalle_Contactos_Empresa", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Detalle_Contactos_EmpresaCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Detalle_Contactos_EmpresaResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="258500" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Folio">
                                    <label class="form-control" for="Folio" id="lblFolio">
                                    @if (Model.Folio== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Folio</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divNombre_completo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Nombre_completo</label>
                                <div class="col-sm-8" data-field-id="Nombre_completo" data-attribute="258502" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Nombre_completo">
                                    <textarea id="Nombre_completo" name="Nombre_completo" class="form-control Datos_Generales" rows="4" cols="50">@Model.Nombre_completo</textarea>
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre_completo" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divCorreo">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Correo</label>
                                <div class="col-sm-8" data-field-id="Correo" data-attribute="258503" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Correo">
                                    <input class="form-control Datos_Generales" id="Correo" name="Correo" type="text" value="@Model.Correo">
                                    @*<span class="field-validation-valid" data-valmsg-for="Correo" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divTelefono">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Telefono</label>
                                <div class="col-sm-8" data-field-id="Telefono" data-attribute="258504" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Telefono">
                                    <input class="form-control Datos_Generales" id="Telefono" name="Telefono" type="text" value="@Model.Telefono">
                                    @*<span class="field-validation-valid" data-valmsg-for="Telefono" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divContacto_Principal">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Contacto_Principal</label>
                                <div class="col-sm-8" data-field-id="Contacto_Principal" data-attribute="258505" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Contacto_Principal">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Contacto Principal must be a number." data-val-required="The Contacto Principal field is required." id="Contacto_Principal" name="Contacto_Principal">
                                        <option value=""></option>
                                        @if (varRespuesta_Logica_Contacto_Principal != null){ 
                                            foreach (var itemContacto_Principal in varRespuesta_Logica_Contacto_Principal)
                                            {
                                                if (itemContacto_Principal.Value == Convert.ToString(Model.Contacto_Principal))
                                                {
                                                    <option value="@itemContacto_Principal.Value" selected>@itemContacto_Principal.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemContacto_Principal.Value">@itemContacto_Principal.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Contacto_Principal" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258505).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Respuesta_Logica', 'Contacto_Principal');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divArea">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Area</label>
                                <div class="col-sm-8" data-field-id="Area" data-attribute="258506" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Area">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Área must be a number." data-val-required="The Área field is required." id="Area" name="Area">
                                        <option value=""></option>
                                        @if (varareas_Empresas_Area != null){ 
                                            foreach (var itemArea in varareas_Empresas_Area)
                                            {
                                                if (itemArea.Value == Convert.ToString(Model.Area))
                                                {
                                                    <option value="@itemArea.Value" selected>@itemArea.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemArea.Value">@itemArea.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Area" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258506).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('areas_Empresas', 'Area');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divAcceso_al_Sistema">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Acceso_al_Sistema</label>
                                <div class="col-sm-8" data-field-id="Acceso_al_Sistema" data-attribute="258507" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Acceso_al_Sistema">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Acceso al Sistema must be a number." data-val-required="The Acceso al Sistema field is required." id="Acceso_al_Sistema" name="Acceso_al_Sistema">
                                        <option value=""></option>
                                        @if (varRespuesta_Logica_Acceso_al_Sistema != null){ 
                                            foreach (var itemAcceso_al_Sistema in varRespuesta_Logica_Acceso_al_Sistema)
                                            {
                                                if (itemAcceso_al_Sistema.Value == Convert.ToString(Model.Acceso_al_Sistema))
                                                {
                                                    <option value="@itemAcceso_al_Sistema.Value" selected>@itemAcceso_al_Sistema.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemAcceso_al_Sistema.Value">@itemAcceso_al_Sistema.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Acceso_al_Sistema" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258507).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Respuesta_Logica', 'Acceso_al_Sistema');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divNombre_de_usuario">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Nombre_de_usuario</label>
                                <div class="col-sm-8" data-field-id="Nombre_de_usuario" data-attribute="258508" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Nombre_de_usuario">
                                    <input class="form-control Datos_Generales" id="Nombre_de_usuario" name="Nombre_de_usuario" type="text" value="@Model.Nombre_de_usuario">
                                    @*<span class="field-validation-valid" data-valmsg-for="Nombre_de_usuario" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divRecibe_Alertas">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Recibe_Alertas</label>
                                <div class="col-sm-8" data-field-id="Recibe_Alertas" data-attribute="258509" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Recibe_Alertas">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Recibe Alertas must be a number." data-val-required="The Recibe Alertas field is required." id="Recibe_Alertas" name="Recibe_Alertas">
                                        <option value=""></option>
                                        @if (varRespuesta_Logica_Recibe_Alertas != null){ 
                                            foreach (var itemRecibe_Alertas in varRespuesta_Logica_Recibe_Alertas)
                                            {
                                                if (itemRecibe_Alertas.Value == Convert.ToString(Model.Recibe_Alertas))
                                                {
                                                    <option value="@itemRecibe_Alertas.Value" selected>@itemRecibe_Alertas.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemRecibe_Alertas.Value">@itemRecibe_Alertas.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Recibe_Alertas" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258509).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Respuesta_Logica', 'Recibe_Alertas');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divEstatus">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Estatus</label>
                                <div class="col-sm-8" data-field-id="Estatus" data-attribute="258510" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Estatus">
                                    <select class="form-control Datos_Generales" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Estatus" name="Estatus">
                                        <option value=""></option>
                                        @if (varEstatus_Estatus != null){ 
                                            foreach (var itemEstatus in varEstatus_Estatus)
                                            {
                                                if (itemEstatus.Value == Convert.ToString(Model.Estatus))
                                                {
                                                    <option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemEstatus.Value">@itemEstatus.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Estatus" data-valmsg-replace="true"></span>*@
                                </div>
								@if (PermissionHelper.GetRoleObjectPermission(Convert.ToInt32(Spartane.Web.SessionHelper.Role), 0, 0, 258510).New)
                                {                        
                                <div class="col-sm-1 abm-icons">
                                    <a id="Estado_New" onclick="GetCatalogPopup('Estatus', 'Estatus');" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                                }
                            </div>
                            <div class="form-group" id="divFolio_Empresas">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Contactos_EmpresaResources.Folio_Empresas</label>
                                <div class="col-sm-8" data-field-id="Folio_Empresas" data-attribute="258529" data-field-name="@Resources.Detalle_Contactos_EmpresaResources.Folio_Empresas">
                                    <input class="form-control inputNumber Datos_Generales" id="Folio_Empresas" name="Folio_Empresas" type="text" value="@Model.Folio_Empresas">
                                    @*<span class="field-validation-valid" data-valmsg-for="Folio_Empresas" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
                                <input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Detalle_Contactos_EmpresaGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Detalle_Contactos_EmpresaCreateForm');"  />
									<button onclick="Detalle_Contactos_EmpresaGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Contactos_EmpresaBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>                                    

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Detalle_Contactos_EmpresaGuardarYNuevo" onclick="return checkClientValidate('Detalle_Contactos_EmpresaCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Detalle_Contactos_EmpresaGuardarYCopia" onclick="return checkClientValidate('Detalle_Contactos_EmpresaCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnDetalle_Contactos_EmpresaBusinessRuleFieldId" />
                                <input type="hidden" id="hdnDetalle_Contactos_EmpresaBusinessRuleFieldName" />
                                <input type="hidden" id="hdnDetalle_Contactos_EmpresaBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Detalle_Contactos_EmpresaCancelar" name="Detalle_Contactos_EmpresaCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Detalle_Contactos_EmpresaGetBusinessRule('', 'Al Cancelar', '4')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Contactos_EmpresaBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        /*i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }*/

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Contactos_Empresa.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Contactos_EmpresaGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Contactos_EmpresaCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        


	function GetTraduction(text) {
         switch (text.toLowerCase()) {
            case 'edit':
                return "@Resources.Resources.Edit";          
            case 'delete':
                return "@Resources.Resources.Delete";               
            case 'required':
                return "@Resources.Resources.Required";              
            case 'notrequired':
                return "@Resources.Resources.NotRequired";           
            case 'enabled':
                return "@Resources.Resources.Enabled";         
            case 'disabled':
                return "@Resources.Resources.Disabled";           
            case 'visible':
                return "@Resources.Resources.Visible";            
            case 'botvisible':
                return "@Resources.Resources.InVisible";
            case 'messagednoinvisible':
                return "@Resources.Resources.messagedNoInVisible";
            case 'messagednoreadonly':
                return "@Resources.Resources.messagedNoReadOnly";
            case 'defaultvalue':
                return "@Resources.Resources.DefaultValue";
            case 'helptext':
                return "@Resources.Resources.HelpText";                     
            default:
                return "";
        }
    }
	
	    var isPartial = ('@ViewBag.IsPartial' == 'True');
        var isMR = ('@ViewBag.isMR' == 'True');
        var nameMR = '@ViewBag.nameMR';
		var nameAttribute = '@ViewBag.nameAttribute';
		var Tab_Datos_Generales = true;


        $(document).ready(function () {
            $('#ObjectId').val('44412');
		   
		   
			
             @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }
			else
            {
                <text>
				if (Tab_Datos_Generales)
					Fill_Datos_Generales();


                </text>
             }
             EjecutarValidacionesAlComienzo();
             

            initiateUIControls();
			$('a').tooltip();
			$('.loading').css('display', 'none');
			

        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
            $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });
			$('td.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });
			$('td input.inputMoney').inputmask("currency", { greedy: false, prefix: "$ ", rightAlign: false });

        }

    </script>

<script type="text/javascript">


   function GetCatalogPopup(catalog, nameAttribute, isMR, nameMR) {
        if (!isMR)
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, nameAttribute = "AttributoNombre" })";
        else
            var url = "@Url.Action("Create", "Catalog", new { Module_Id = "1", isPartial = true, isMR = true, nameMR = "Multirenglon",nameAttribute= "AttributoNombre" })";

        url = url.replace("Catalog", catalog).replace("Multirenglon", nameMR).replace("AttributoNombre", nameAttribute);

        window.open(htmlDecode(url), '_blank', 'left=200,top=100,width=850,height=550,toolbar=0,resizable=0');
    }

    function RefreshCatalog(catalog, control) {

	 if ($('#' + control).hasClass('AutoComplete'))   {
		   if ($('#' + control).attr("data-isfilter") == "true") {
				eval(GetReglaFilter(control, $('#ObjectId').val()));
				return;
			}
		}
			
			var url = '@Url.Content("~/Frontal/Detalle_Contactos_Empresa/GetCatalogAll")';
			url = url.replace(/Catalog/g, catalog);

			$.ajax({
				url: url,
				async: true,
				success:function(result)
				{
					addItemsToSelect($('#' + control), result);
				},
				error: function (result)
				{
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				}
			});
		
    }


        function SendDetalle_Contactos_EmpresaData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Contactos_Empresa").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Contactos_Empresa")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
			var id = $("#ReferenceFolio").val();
            var isNew = $('#hdnIsNew').val();
           
			if (Tab_Datos_Generales && !checkClientValidate('Detalle_Contactos_EmpresaCreateForm', 'Datos_Generales')) {
				return false;
			}						


			
			if (isNew == "True")
            {
                id = CreateID();
            }
			
			
			if (Tab_Datos_Generales)
				Save_Datos_Generales(id);


			showNotification("@Resources.Resources.SaveSuccess", "success");
			callBack(id);
            return true;
        };
		function CreateID()
		{
			var newId = 0;
			$.ajax({
				url: '@Url.Content("~/Frontal/Detalle_Contactos_Empresa/CreateID")',
				type: 'GET',
				async: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "error");
					} else {
						newId = result;
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "error");
				},
				cache: false,
				contentType: false,
				processData: false
			});
			return newId;
		}
		
		function OpenRules()
		{
			$.get('@Url.Action("Index", "Business_Rule_Creation")', {}, function (data) {
				$(".Detalle_Contactos_EmpresaBusinessRuleModal").html(data);
			});
		}
                function Detalle_Contactos_EmpresaGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
			        $('#FieldId').val(FieldId);
				$('#FieldName').val(FieldName);
				$('#Attribute').val(Attribute);
			}
			$('#ObjectId').val('44412');
			$('#Screen').val('Detalle_Contactos_Empresa');
			OpenRules();
               }

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Detalle_Contactos_EmpresaBackToGrid() {
        		if (isPartial)
			window.close('', '_parent', '');
        else
			location.href = "@Url.Content("~/Frontal/Detalle_Contactos_Empresa/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Contactos_Empresa/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Contactos_Empresa/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Contactos_Empresa/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Contactos_Empresa/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
							var mainElementAttributes = '<div class="col-sm-2">';
							mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "@Resources.Resources.Required" : "@Resources.Resources.NotRequired") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "@Resources.Resources.Visible" : "@Resources.Resources.InVisible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "@Resources.Resources.Disabled" : "@Resources.Resources.Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
							mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
							mainElementAttributes += '</div>';
							$('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

							$('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                  }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                     $('#ConfigureSave').text('@Html.Raw(Resources.Resources.Save  +" "+ Resources.Resources.Settings)');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Contactos_Empresa').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#FieldId').val(fieldId);
			$('#FieldName').val(fieldName);
			$('#Attribute').val(attribute);
                        Detalle_Contactos_EmpresaGetBusinessRule();
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
		
		function Fill_Datos_Generales()
        {
            $.ajax({
                url: "@Url.Content("~/Frontal/Detalle_Contactos_Empresa/Get_Datos_Generales")?Id=" + $("#ReferenceFolio").val(),
                type: 'GET',
                dataType: "json",
                async: false,
                success: function (result) {
                                        $('#Folio').val(result.data.Folio);
                    $('#Nombre_completo').val(result.data.Nombre_completo);
                    $('#Correo').val(result.data.Correo);
                    $('#Telefono').val(result.data.Telefono);
                    $('#Contacto_Principal').val(result.data.Contacto_Principal);
                    $('#Area').val(result.data.Area);
                    $('#Acceso_al_Sistema').val(result.data.Acceso_al_Sistema);
                    $('#Nombre_de_usuario').val(result.data.Nombre_de_usuario);
                    $('#Recibe_Alertas').val(result.data.Recibe_Alertas);
                    $('#Estatus').val(result.data.Estatus);
                    $('#Folio_Empresas').val(result.data.Folio_Empresas);

                },
                error: function (result) {
                    showNotification("@Resources.Resources.ErrorContactingServer", "error");
                }
            });
        }
		
		function Save_Datos_Generales(newId) {
			var data = new FormData();
			data.append('Folio', newId);
			                data.append('Nombre_completo', $('#Nombre_completo').val());
                data.append('Correo', $('#Correo').val());
                data.append('Telefono', $('#Telefono').val());
                data.append('Contacto_Principal', $('#Contacto_Principal').val());
                data.append('Area', $('#Area').val());
                data.append('Acceso_al_Sistema', $('#Acceso_al_Sistema').val());
                data.append('Nombre_de_usuario', $('#Nombre_de_usuario').val());
                data.append('Recibe_Alertas', $('#Recibe_Alertas').val());
                data.append('Estatus', $('#Estatus').val());
                data.append('Folio_Empresas', $('#Folio_Empresas').val());

			$.ajax({
				url: '@Url.Content("~/Frontal/Detalle_Contactos_Empresa/Post_Datos_Generales")',
				type: 'POST',
				data: data,
				async: false,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (result) {
					if (result < 0) {
						showNotification("@Resources.Resources.ErrorSave", "Error al guardar Datos_Generales");
					} else {
						newId = result;
                    
					}
				},
				error: function (result) {
					showNotification("@Resources.Resources.ErrorContactingServer", "Error al guardar Datos_Generales");
				},
				cache: false
			});
		}


    </script>
}
    <input type="hidden" id="FieldId" name="FieldId" value="" />
    <input type="hidden" id="FieldName" name="FieldName" value="" />
    <input type="hidden" id="ObjectId" name="ObjectId" value="" />
    <input type="hidden" id="Attribute" name="Attribute" value="" />
    <input type="hidden" id="Screen" name="Screen" value="" />
     <input type="hidden" id="Detalle_Contactos_Empresa_cmbLabelSelect" name="Detalle_Contactos_Empresa_cmbLabelSelect" value="@Resources.Resources.CmbSelect" />

