@model IList<Spartane.Web.Areas.Frontal.Models.Spartan_BR_HistoryGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Key_History
            </td>
                        <td class="column1">
                @Resources.Spartan_BR_HistoryResources.User_logged
            </td>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Status
            </td>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Change_Date
            </td>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Hour_Date
            </td>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Time_elapsed
            </td>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Change_Type
            </td>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Conditions
            </td>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Actions_True
            </td>
            <td class="column1">
                @Resources.Spartan_BR_HistoryResources.Actions_False
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Key_History
                    </td>
					                    <td>
                        @item.User_loggedName
                    </td>
                    <td>
                        @item.StatusDescription
                    </td>
                    <td>
                        @item.Change_Date
                    </td>
                    <td>
                        @item.Hour_Date
                    </td>
                    <td>
                        @item.Time_elapsed
                    </td>
                    <td>
                        @item.Change_TypeDescription
                    </td>
                    <td>
                        @item.Conditions
                    </td>
                    <td>
                        @item.Actions_True
                    </td>
                    <td>
                        @item.Actions_False
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>

