@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Spartan_WorkFlow_Type_Work_DistributionModel
@{




    Permission permission = ViewBag.Permission;
}

<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                Spartan WorkFlow Type of Work Distribution
                <button onclick="Spartan_WorkFlow_Type_Work_DistributionGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Spartan_WorkFlow_Type_Work_DistributionBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="">
                    <label>@Resources.Spartan_WorkFlow_Type_Work_DistributionResources.Spartan_WorkFlow_Type_Work_Distribution</label>
                </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Spartan_WorkFlow_Type_Work_DistributionDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Spartan_WorkFlow_Type_Work_DistributionPropertyBusinessModal" id="Spartan_WorkFlow_Type_Work_DistributionPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        Property & Business Rules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Spartan_WorkFlow_Type_Work_DistributionBusinessRule-form" onclick="Spartan_WorkFlow_Type_Work_DistributionGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_WorkFlow_Type_Work_DistributionBusinessRuleModal" id="Spartan_WorkFlow_Type_Work_DistributionBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_WorkFlow_Type_Work_DistributionAddBusinessRuleModal" id="Spartan_WorkFlow_Type_Work_DistributionAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }
        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Spartan_WorkFlow_Type_Work_Distribution", FormMethod.Post, new { id = "CreateSpartan_WorkFlow_Type_Work_Distribution", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Spartan_WorkFlow_Type_Work_DistributionCreateForm" id="viewmodeledit">
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> Datos Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divType_of_Work_DistributionId">
                                <label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_Type_Work_DistributionResources.Type_of_Work_DistributionId</label>
                                <div class="col-sm-8" data-field-id="Type_of_Work_DistributionId" data-attribute="163577" data-field-name="@Resources.Spartan_WorkFlow_Type_Work_DistributionResources.Type_of_Work_DistributionId">
                                    <label class="form-control" for="Type_of_Work_DistributionId" id="lblType_of_Work_DistributionId">@Model.Type_of_Work_DistributionId</label>
                                </div>
                            </div>
                            <div class="form-group" id="divDescription">
                                <label class="col-sm-2 control-label">@Resources.Spartan_WorkFlow_Type_Work_DistributionResources.Description</label>
                                <div class="col-sm-8" data-field-id="Description" data-attribute="163578" data-field-name="@Resources.Spartan_WorkFlow_Type_Work_DistributionResources.Description">
                                    <input class="form-control" id="Description" name="Description" type="text" value="@Model.Description">
                                    @*<span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Type_of_Work_DistributionId" id="ReferenceType_of_Work_DistributionId" />
                                <input type="hidden" value="@Model.Type_of_Work_DistributionId" name="Type_of_Work_DistributionId" id="Type_of_Work_DistributionIdId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Spartan_WorkFlow_Type_Work_DistributionGuardar" class="btn btn-w-m btn-primary" onclick="return checkClientValidate('Spartan_WorkFlow_Type_Work_DistributionCreateForm');"  />
									<button onclick="Spartan_WorkFlow_Type_Work_DistributionGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Spartan_WorkFlow_Type_Work_DistributionBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </button>

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Spartan_WorkFlow_Type_Work_DistributionGuardarYNuevo" onclick="return checkClientValidate('Spartan_WorkFlow_Type_Work_DistributionCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Spartan_WorkFlow_Type_Work_DistributionGuardarYCopia" onclick="return checkClientValidate('Spartan_WorkFlow_Type_Work_DistributionCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success"  />
                                    <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldId" />
                                <input type="hidden" id="hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldName" />
                                <input type="hidden" id="hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Spartan_WorkFlow_Type_Work_DistributionCancelar" name="Spartan_WorkFlow_Type_Work_DistributionCancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Spartan_WorkFlow_Type_Work_DistributionGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Spartan_WorkFlow_Type_Work_DistributionBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Spartan_WorkFlow_Type_Work_Distribution.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Spartan_WorkFlow_Type_Work_DistributionGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Spartan_WorkFlow_Type_Work_DistributionCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>

@section Scripts {


    <script type="text/javascript">
        



        $(document).ready(function () {



            initiateUIControls();
			$('a').tooltip();
			EjecutarValidacionesAlComienzo();

        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }

    </script>

<script type="text/javascript">

        function SendSpartan_WorkFlow_Type_Work_DistributionData(callBack) {
				
		 var arr = []; 
		 $("form#CreateSpartan_WorkFlow_Type_Work_Distribution").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateSpartan_WorkFlow_Type_Work_Distribution")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});
		
		
            
            var isNew = $('#hdnIsNew').val();
            var formData = new FormData($("form#CreateSpartan_WorkFlow_Type_Work_Distribution")[0]);
            if (checkClientValidate('Spartan_WorkFlow_Type_Work_DistributionCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Spartan_WorkFlow_Type_Work_Distribution/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
        function GetPropertyBag() {
            $.get('@Url.Action("Spartan_WorkFlow_Type_Work_DistributionPropertyBag", "Spartan_WorkFlow_Type_Work_Distribution")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Spartan_WorkFlow_Type_Work_DistributionGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldId').val(FieldId);
				$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldName').val(FieldName);
				$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldName').val(), ObjectId: '32551', Attribute: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleAttribute').val(), Screen: 'Spartan_WorkFlow_Type_Work_Distribution' }, function (data) {
                $(".Spartan_WorkFlow_Type_Work_DistributionBusinessRuleModal").html(data);
            });
        }
        function Spartan_WorkFlow_Type_Work_DistributionGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldId').val(FieldId);
				$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldName').val(FieldName);
				$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldName').val(), ObjectId: '32551', Attribute: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleAttribute').val(), Screen: 'Spartan_WorkFlow_Type_Work_Distribution' }, function (data) {
                $(".Spartan_WorkFlow_Type_Work_DistributionAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldName').val(), ObjectId: '32551', Attribute: $('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleAttribute').val(), Screen: 'Spartan_WorkFlow_Type_Work_Distribution' }, function (data) {
				$(".Spartan_WorkFlow_Type_Work_DistributionBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Spartan_WorkFlow_Type_Work_DistributionBackToGrid() {
        location.href = "@Url.Content("~/Frontal/Spartan_WorkFlow_Type_Work_Distribution/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Spartan_WorkFlow_Type_Work_Distribution/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Spartan_WorkFlow_Type_Work_Distribution/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Spartan_WorkFlow_Type_Work_Distribution/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Spartan_WorkFlow_Type_Work_Distribution/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#ConfigureSave').text('Save Settings');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateSpartan_WorkFlow_Type_Work_Distribution').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldId').val(fieldId);
			$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleFieldName').val(fieldName);
			$('#hdnSpartan_WorkFlow_Type_Work_DistributionBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
                var extraAllowedContent = 'img[!src];a[!href];span(!h-card)[!data-class_name];span[!data-physical_name];span[!data-logical_name];span[!data-fieldpath];span[!contenteditable];span[!role]'
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
    </script>
}
