@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Pagos_EspecialistasModel
@{

    string Fecha_Limite_de_Pago = "";
    if (Model.Fecha_Limite_de_Pago == "")
    { Model.Fecha_Limite_de_Pago = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Pago = "";
    if (Model.Fecha_de_Pago == "")
    { Model.Fecha_de_Pago = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Suscripcion = "";
    if (Model.Fecha_de_Suscripcion == "")
    { Model.Fecha_de_Suscripcion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varPlanes_de_Suscripcion_Especialistas_Plan_de_Suscripcion = null;
    if (ViewBag.Planes_de_Suscripcion_Especialistass_Plan_de_Suscripcion != null)
    { varPlanes_de_Suscripcion_Especialistas_Plan_de_Suscripcion = (List<SelectListItem>)ViewBag.Planes_de_Suscripcion_Especialistass_Plan_de_Suscripcion; }
    List<SelectListItem> varFormas_de_Pago_Forma_de_Pago = null;
    if (ViewBag.Formas_de_Pagos_Forma_de_Pago != null)
    { varFormas_de_Pago_Forma_de_Pago = (List<SelectListItem>)ViewBag.Formas_de_Pagos_Forma_de_Pago; }
    List<SelectListItem> varEstatus_de_Pago_Estatus = null;
    if (ViewBag.Estatus_de_Pagos_Estatus != null)
    { varEstatus_de_Pago_Estatus = (List<SelectListItem>)ViewBag.Estatus_de_Pagos_Estatus; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Pagos Especialistas
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Pagos_EspecialistasRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Pagos_EspecialistasPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Pagos Especialistas
								<button onclick="Detalle_Pagos_EspecialistasGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Pagos_EspecialistasBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Pagos_EspecialistasResources.Detalle_Pagos_Especialistas</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Pagos_EspecialistasDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Pagos_EspecialistasPropertyBusinessModal" id="Detalle_Pagos_EspecialistasPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Pagos_EspecialistasBusinessRule-form" onclick="Detalle_Pagos_EspecialistasGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Pagos_EspecialistasPropertyModal" id="Detalle_Pagos_EspecialistasPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Pagos_EspecialistasBusinessRuleModal" id="Detalle_Pagos_EspecialistasBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Pagos_EspecialistasAddBusinessRuleModal" id="Detalle_Pagos_EspecialistasAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Pagos_Especialistas", FormMethod.Post, new { id = "CreateDetalle_Pagos_Especialistas", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Pagos_EspecialistasCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="258651" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Folio">
                                    <label class="form-control" for="Detalle_Pagos_EspecialistasFolio" id="Detalle_Pagos_EspecialistasFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divPlan_de_Suscripcion">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Plan_de_Suscripcion</label>
	<div class="col-sm-8" data-field-id="Plan_de_Suscripcion" data-attribute="258653" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Plan_de_Suscripcion">
		<select class="form-control" data-val="true" data-val-number="The field Plan de Suscripción must be a number." data-val-required="The Plan de Suscripción field is required." id="Detalle_Pagos_EspecialistasPlan_de_Suscripcion" name="Detalle_Pagos_EspecialistasPlan_de_Suscripcion">
			<option value=""></option>
			@if (varPlanes_de_Suscripcion_Especialistas_Plan_de_Suscripcion != null){ 
				foreach (var itemPlan_de_Suscripcion in varPlanes_de_Suscripcion_Especialistas_Plan_de_Suscripcion)
				{
					if (itemPlan_de_Suscripcion.Value == Convert.ToString(Model.Plan_de_Suscripcion))
					{
						<option value="@itemPlan_de_Suscripcion.Value" selected>@itemPlan_de_Suscripcion.Text</option>
					}
					else
					{
						<option value="@itemPlan_de_Suscripcion.Value">@itemPlan_de_Suscripcion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divConcepto_de_Pago">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Concepto_de_Pago</label>
                                <div class="col-sm-8" data-field-id="Concepto_de_Pago" data-attribute="258654" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Concepto_de_Pago">
                                    <input class="form-control" id="Detalle_Pagos_EspecialistasConcepto_de_Pago" name="Detalle_Pagos_EspecialistasConcepto_de_Pago" type="text" value="@Model.Concepto_de_Pago">
                                </div>
                            </div>
<div class="form-group" id="divFecha_Limite_de_Pago">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Fecha_Limite_de_Pago</label>
                                <div class="col-sm-8" data-field-id="Fecha_Limite_de_Pago" data-attribute="258655" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Fecha_Limite_de_Pago">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Pagos_EspecialistasFecha_Limite_de_Pago" readonly="readonly" name="Detalle_Pagos_EspecialistasFecha_Limite_de_Pago" type="text" value="@Model.Fecha_Limite_de_Pago">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divRecordatorio_dias">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Recordatorio_dias</label>
	<div class="col-sm-8" data-field-id="Recordatorio_dias" data-attribute="258656" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Recordatorio_dias">
		<input class="form-control inputNumber" id="Detalle_Pagos_EspecialistasRecordatorio_dias" name="Detalle_Pagos_EspecialistasRecordatorio_dias" type="text" value="@Model.Recordatorio_dias">
	</div>
</div>
<div class="form-group" id="divForma_de_Pago">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Forma_de_Pago</label>
	<div class="col-sm-8" data-field-id="Forma_de_Pago" data-attribute="258657" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Forma_de_Pago">
		<select class="form-control" data-val="true" data-val-number="The field Forma de Pago must be a number." data-val-required="The Forma de Pago field is required." id="Detalle_Pagos_EspecialistasForma_de_Pago" name="Detalle_Pagos_EspecialistasForma_de_Pago">
			<option value=""></option>
			@if (varFormas_de_Pago_Forma_de_Pago != null){ 
				foreach (var itemForma_de_Pago in varFormas_de_Pago_Forma_de_Pago)
				{
					if (itemForma_de_Pago.Value == Convert.ToString(Model.Forma_de_Pago))
					{
						<option value="@itemForma_de_Pago.Value" selected>@itemForma_de_Pago.Text</option>
					}
					else
					{
						<option value="@itemForma_de_Pago.Value">@itemForma_de_Pago.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divFecha_de_Pago">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Fecha_de_Pago</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Pago" data-attribute="258658" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Fecha_de_Pago">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Pagos_EspecialistasFecha_de_Pago" readonly="readonly" name="Detalle_Pagos_EspecialistasFecha_de_Pago" type="text" value="@Model.Fecha_de_Pago">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divEstatus">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Estatus</label>
	<div class="col-sm-8" data-field-id="Estatus" data-attribute="258659" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Estatus">
		<select class="form-control" data-val="true" data-val-number="The field Estatus must be a number." data-val-required="The Estatus field is required." id="Detalle_Pagos_EspecialistasEstatus" name="Detalle_Pagos_EspecialistasEstatus">
			<option value=""></option>
			@if (varEstatus_de_Pago_Estatus != null){ 
				foreach (var itemEstatus in varEstatus_de_Pago_Estatus)
				{
					if (itemEstatus.Value == Convert.ToString(Model.Estatus))
					{
						<option value="@itemEstatus.Value" selected>@itemEstatus.Text</option>
					}
					else
					{
						<option value="@itemEstatus.Value">@itemEstatus.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divFecha_de_Suscripcion">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Fecha_de_Suscripcion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Suscripcion" data-attribute="258660" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Fecha_de_Suscripcion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Pagos_EspecialistasFecha_de_Suscripcion" readonly="readonly" name="Detalle_Pagos_EspecialistasFecha_de_Suscripcion" type="text" value="@Model.Fecha_de_Suscripcion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divNumero_de_Pago">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.Numero_de_Pago</label>
	<div class="col-sm-8" data-field-id="Numero_de_Pago" data-attribute="258661" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.Numero_de_Pago">
		<input class="form-control inputNumber" id="Detalle_Pagos_EspecialistasNumero_de_Pago" name="Detalle_Pagos_EspecialistasNumero_de_Pago" type="text" value="@Model.Numero_de_Pago">
	</div>
</div>
<div class="form-group" id="divDe_Total_de_Pagos">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_EspecialistasResources.De_Total_de_Pagos</label>
	<div class="col-sm-8" data-field-id="De_Total_de_Pagos" data-attribute="258662" data-field-name="@Resources.Detalle_Pagos_EspecialistasResources.De_Total_de_Pagos">
		<input class="form-control inputNumber" id="Detalle_Pagos_EspecialistasDe_Total_de_Pagos" name="Detalle_Pagos_EspecialistasDe_Total_de_Pagos" type="text" value="@Model.De_Total_de_Pagos">
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Pagos_EspecialistasConfigureSave" name="Detalle_Pagos_EspecialistasConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Pagos_EspecialistasConfigureType" />
												<input type="hidden" id="hdnDetalle_Pagos_EspecialistasBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Pagos_EspecialistasBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Pagos_EspecialistasBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Pagos_EspecialistasGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Pagos_EspecialistasBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Pagos_Especialistas.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Pagos_EspecialistasGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Pagos_EspecialistasCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/MedicosCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Pagos_EspecialistasRowElement = "Detalle_Pagos_EspecialistasPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Pagos_EspecialistasRowElement + "')){ Detalle_Pagos_EspecialistasInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Detalle_Pagos_EspecialistasFecha_Limite_de_Pago').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Detalle_Pagos_EspecialistasFecha_de_Pago').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Detalle_Pagos_EspecialistasFecha_de_Suscripcion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Pagos_EspecialistasData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Pagos_Especialistas").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Pagos_Especialistas")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Pagos_EspecialistasCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Pagos_Especialistas/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Pagos_EspecialistasPropertyBag", "Detalle_Pagos_Especialistas")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Pagos_EspecialistasGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Pagos_EspecialistasBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldName').val(), ObjectId: '44425', Attribute: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleAttribute').val(), Screen: 'Detalle_Pagos_Especialistas' }, function (data) {
                $(".Detalle_Pagos_EspecialistasBusinessRuleModal").html(data);
            });
        }
        function Detalle_Pagos_EspecialistasGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Pagos_EspecialistasBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldName').val(), ObjectId: '44425', Attribute: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleAttribute').val(), Screen: 'Detalle_Pagos_Especialistas' }, function (data) {
                $(".Detalle_Pagos_EspecialistasAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldName').val(), ObjectId: '44425', Attribute: $('#hdnDetalle_Pagos_EspecialistasBusinessRuleAttribute').val(), Screen: 'Detalle_Pagos_Especialistas' }, function (data) {
				$(".Detalle_Pagos_EspecialistasBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Pagos_Especialistas/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Pagos_Especialistas/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Pagos_Especialistas/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Pagos_EspecialistasConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Pagos_EspecialistasConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Pagos_Especialistas/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Pagos_EspecialistasConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Pagos_Especialistas/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Pagos_Especialistas' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Pagos_Especialistas' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Pagos_EspecialistasConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Pagos_EspecialistasConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Pagos_Especialistas').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Pagos_EspecialistasBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Pagos_EspecialistasBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
