@model IList<Spartane.Web.Areas.Frontal.Models.PacientesGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.PacientesResources.Folio
            </td>
                        <td class="column1">
                @Resources.PacientesResources.Folio
            </td>
            <td class="column1">
                @Resources.PacientesResources.Fecha_de_Registro
            </td>
            <td class="column1">
                @Resources.PacientesResources.Hora_de_Registro
            </td>
            <td class="column1">
                @Resources.PacientesResources.Usuario_que_Registra
            </td>
            <td class="column1">
                @Resources.PacientesResources.Es_nuevo_registro
            </td>
            <td class="column1">
                @Resources.PacientesResources.Tipo_de_Registro
            </td>
            <td class="column1">
                @Resources.PacientesResources.Tipo_de_Paciente
            </td>
            <td class="column1">
                @Resources.PacientesResources.Usuario_Registrado
            </td>
            <td class="column1">
                @Resources.PacientesResources.Empresa
            </td>
            <td class="column1">
                @Resources.PacientesResources.Numero_de_Empleado
            </td>
            <td class="column1">
                @Resources.PacientesResources.Nombres
            </td>
            <td class="column1">
                @Resources.PacientesResources.Apellido_Paterno
            </td>
            <td class="column1">
                @Resources.PacientesResources.Apellido_Materno
            </td>
            <td class="column1">
                @Resources.PacientesResources.Nombre_Completo
            </td>
            <td class="column1">
                @Resources.PacientesResources.Celular
            </td>
            <td class="column1">
                @Resources.PacientesResources.Email
            </td>
            <td class="column1">
                @Resources.PacientesResources.Fecha_de_nacimiento
            </td>
            <td class="column1">
                @Resources.PacientesResources.Nombre_del_Padre_o_Tutor
            </td>
            <td class="column1">
                @Resources.PacientesResources.Pais_de_nacimiento
            </td>
            <td class="column1">
                @Resources.PacientesResources.Lugar_de_nacimiento
            </td>
            <td class="column1">
                @Resources.PacientesResources.Sexo
            </td>
            <td class="column1">
                @Resources.PacientesResources.Estado_Civil
            </td>
            <td class="column1">
                @Resources.PacientesResources.Calle
            </td>
            <td class="column1">
                @Resources.PacientesResources.Numero_exterior
            </td>
            <td class="column1">
                @Resources.PacientesResources.Numero_interior
            </td>
            <td class="column1">
                @Resources.PacientesResources.Colonia
            </td>
            <td class="column1">
                @Resources.PacientesResources.CP
            </td>
            <td class="column1">
                @Resources.PacientesResources.Ciudad
            </td>
            <td class="column1">
                @Resources.PacientesResources.Pais
            </td>
            <td class="column1">
                @Resources.PacientesResources.Estado
            </td>
            <td class="column1">
                @Resources.PacientesResources.Ocupacion
            </td>
            <td class="column1">
                @Resources.PacientesResources.Cantidad_hijos
            </td>
            <td class="column1">
                @Resources.PacientesResources.Objetivo
            </td>
            <td class="column1">
                @Resources.PacientesResources.Estatus_Paciente
            </td>
            <td class="column1">
                @Resources.PacientesResources.Plan_Alimenticio_Completo
            </td>
            <td class="column1">
                @Resources.PacientesResources.Plan_Rutina_Completa
            </td>
            <td class="column1">
                @Resources.PacientesResources.Cuenta_con_padecimientos
            </td>
            <td class="column1">
                @Resources.PacientesResources.Frecuencia_Cardiaca
            </td>
            <td class="column1">
                @Resources.PacientesResources.Frecuencia_Respiratoria
            </td>
            <td class="column1">
                @Resources.PacientesResources.Presion_sistolica
            </td>
            <td class="column1">
                @Resources.PacientesResources.Presion_diastolica
            </td>
            <td class="column1">
                @Resources.PacientesResources.Peso_actual
            </td>
            <td class="column1">
                @Resources.PacientesResources.Estatura
            </td>
            <td class="column1">
                @Resources.PacientesResources.Peso_habitual
            </td>
            <td class="column1">
                @Resources.PacientesResources.Circunferencia_de_cintura_cm
            </td>
            <td class="column1">
                @Resources.PacientesResources.Circunferencia_de_cadera_cm
            </td>
            <td class="column1">
                @Resources.PacientesResources.Anchura_de_muneca_mm
            </td>
            <td class="column1">
                @Resources.PacientesResources.Circunferencia_de_brazo_cm
            </td>
            <td class="column1">
                @Resources.PacientesResources.Pliegue_cutaneo_tricipital_mm
            </td>
            <td class="column1">
                @Resources.PacientesResources.Pliegue_cutaneo_bicipital_mm
            </td>
            <td class="column1">
                @Resources.PacientesResources.Pliegue_cutaneo_subescapular_mm
            </td>
            <td class="column1">
                @Resources.PacientesResources.Pliegue_cutaneo_supraespinal_mm
            </td>
            <td class="column1">
                @Resources.PacientesResources.Edad_Metabolica
            </td>
            <td class="column1">
                @Resources.PacientesResources.Agua_corporal
            </td>
            <td class="column1">
                @Resources.PacientesResources.Grasa_Visceral
            </td>
            <td class="column1">
                @Resources.PacientesResources.Grasa_Corporal
            </td>
            <td class="column1">
                @Resources.PacientesResources.Grasa_Corporal_kg
            </td>
            <td class="column1">
                @Resources.PacientesResources.Masa_Muscular_kg
            </td>
            <td class="column1">
                @Resources.PacientesResources.Masa_Muscular_
            </td>
            <td class="column1">
                @Resources.PacientesResources.Esta_embarazada
            </td>
            <td class="column1">
                @Resources.PacientesResources.Tu_embarazo_es_multiple
            </td>
            <td class="column1">
                @Resources.PacientesResources.Semana_de_gestacion
            </td>
            <td class="column1">
                @Resources.PacientesResources.Peso_pregestacional
            </td>
            <td class="column1">
                @Resources.PacientesResources.Toma_anticonceptivos
            </td>
            <td class="column1">
                @Resources.PacientesResources.Nombre_del_Anticonceptivo
            </td>
            <td class="column1">
                @Resources.PacientesResources.Dosis
            </td>
            <td class="column1">
                @Resources.PacientesResources.Climaterio
            </td>
            <td class="column1">
                @Resources.PacientesResources.Fecha_Climaterio
            </td>
            <td class="column1">
                @Resources.PacientesResources.Terapia_reemplazo_hormonal
            </td>
            <td class="column1">
                @Resources.PacientesResources.Tipo_Dieta
            </td>
            <td class="column1">
                @Resources.PacientesResources.Suplementos
            </td>
            <td class="column1">
                @Resources.PacientesResources.Consumo_de_sal
            </td>
            <td class="column1">
                @Resources.PacientesResources.Grasas_Preferencias
            </td>
            <td class="column1">
                @Resources.PacientesResources.Comidas_cantidad
            </td>
            <td class="column1">
                @Resources.PacientesResources.Preparacion_Preferencias
            </td>
            <td class="column1">
                @Resources.PacientesResources.Entre_comidas
            </td>
            <td class="column1">
                @Resources.PacientesResources.Apetito
            </td>
            <td class="column1">
                @Resources.PacientesResources.Habitos_Modificacion
            </td>
            <td class="column1">
                @Resources.PacientesResources.Horario_hambre
            </td>
            <td class="column1">
                @Resources.PacientesResources.Cuando_cambia_mi_estado_de_animo
            </td>
            <td class="column1">
                @Resources.PacientesResources.Medicamentos_bajar_peso
            </td>
            <td class="column1">
                @Resources.PacientesResources.Cual_medicamento
            </td>
            <td class="column1">
                @Resources.PacientesResources.Frecuencia_Ejercicio
            </td>
            <td class="column1">
                @Resources.PacientesResources.Duracion_Ejercicio
            </td>
            <td class="column1">
                @Resources.PacientesResources.Tipo_Ejercicio
            </td>
            <td class="column1">
                @Resources.PacientesResources.Antiguedad_Ejercicio
            </td>
            <td class="column1">
                @Resources.PacientesResources.IMC
            </td>
            <td class="column1">
                @Resources.PacientesResources.Interpretacion_IMC
            </td>
            <td class="column1">
                @Resources.PacientesResources.IMC_Pediatria
            </td>
            <td class="column1">
                @Resources.PacientesResources.Complexion_corporal
            </td>
            <td class="column1">
                @Resources.PacientesResources.Interpretacion_complexion_corporal
            </td>
            <td class="column1">
                @Resources.PacientesResources.Distribucion_de_grasa_corporal
            </td>
            <td class="column1">
                @Resources.PacientesResources.Interpretacion_grasa_corporal
            </td>
            <td class="column1">
                @Resources.PacientesResources.Indice_cintura_cadera
            </td>
            <td class="column1">
                @Resources.PacientesResources.Interpretacion_indice
            </td>
            <td class="column1">
                @Resources.PacientesResources.Consumo_de_agua_resultado
            </td>
            <td class="column1">
                @Resources.PacientesResources.Interpretacion_agua
            </td>
            <td class="column1">
                @Resources.PacientesResources.Frecuencia_cardiaca_en_Esfuerzo
            </td>
            <td class="column1">
                @Resources.PacientesResources.Interpretacion_frecuencia
            </td>
            <td class="column1">
                @Resources.PacientesResources.Dificultad_de_Rutina_de_Ejercicios
            </td>
            <td class="column1">
                @Resources.PacientesResources.Interpretacion_dificultad
            </td>
            <td class="column1">
                @Resources.PacientesResources.Calorias
            </td>
            <td class="column1">
                @Resources.PacientesResources.Interpretacion_calorias
            </td>
            <td class="column1">
                @Resources.PacientesResources.Observaciones
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Folio
                    </td>
					                    <td>
                        @item.Folio
                    </td>
                    <td>
                        @item.Fecha_de_Registro
                    </td>
                    <td>
                        @item.Hora_de_Registro
                    </td>
                    <td>
                        @item.Usuario_que_RegistraName
                    </td>
                    <td>
                        @item.Es_nuevo_registro
                    </td>
                    <td>
                        @item.Tipo_de_RegistroDescripcion
                    </td>
                    <td>
                        @item.Tipo_de_PacienteDescripcion
                    </td>
                    <td>
                        @item.Usuario_RegistradoName
                    </td>
                    <td>
                        @item.EmpresaNombre_de_la_Empresa
                    </td>
                    <td>
                        @item.Numero_de_Empleado
                    </td>
                    <td>
                        @item.Nombres
                    </td>
                    <td>
                        @item.Apellido_Paterno
                    </td>
                    <td>
                        @item.Apellido_Materno
                    </td>
                    <td>
                        @item.Nombre_Completo
                    </td>
                    <td>
                        @item.Celular
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Fecha_de_nacimiento
                    </td>
                    <td>
                        @item.Nombre_del_Padre_o_Tutor
                    </td>
                    <td>
                        @item.Pais_de_nacimientoNombre_del_Pais
                    </td>
                    <td>
                        @item.Lugar_de_nacimientoNombre_del_Estado
                    </td>
                    <td>
                        @item.SexoDescripcion
                    </td>
                    <td>
                        @item.Estado_CivilDescripcion
                    </td>
                    <td>
                        @item.Calle
                    </td>
                    <td>
                        @item.Numero_exterior
                    </td>
                    <td>
                        @item.Numero_interior
                    </td>
                    <td>
                        @item.Colonia
                    </td>
                    <td>
                        @item.CP
                    </td>
                    <td>
                        @item.Ciudad
                    </td>
                    <td>
                        @item.PaisNombre_del_Pais
                    </td>
                    <td>
                        @item.EstadoNombre_del_Estado
                    </td>
                    <td>
                        @item.Ocupacion
                    </td>
                    <td>
                        @item.Cantidad_hijos
                    </td>
                    <td>
                        @item.ObjetivoDescripcion
                    </td>
                    <td>
                        @item.Estatus_PacienteDescripcion
                    </td>
                    <td>
                        @item.Plan_Alimenticio_Completo
                    </td>
                    <td>
                        @item.Plan_Rutina_Completa
                    </td>
                    <td>
                        @item.Cuenta_con_padecimientosDescripcion
                    </td>
                    <td>
                        @item.Frecuencia_Cardiaca
                    </td>
                    <td>
                        @item.Frecuencia_Respiratoria
                    </td>
                    <td>
                        @item.Presion_sistolica
                    </td>
                    <td>
                        @item.Presion_diastolica
                    </td>
                    <td>
                        @item.Peso_actual
                    </td>
                    <td>
                        @item.Estatura
                    </td>
                    <td>
                        @item.Peso_habitual
                    </td>
                    <td>
                        @item.Circunferencia_de_cintura_cm
                    </td>
                    <td>
                        @item.Circunferencia_de_cadera_cm
                    </td>
                    <td>
                        @item.Anchura_de_muneca_mm
                    </td>
                    <td>
                        @item.Circunferencia_de_brazo_cm
                    </td>
                    <td>
                        @item.Pliegue_cutaneo_tricipital_mm
                    </td>
                    <td>
                        @item.Pliegue_cutaneo_bicipital_mm
                    </td>
                    <td>
                        @item.Pliegue_cutaneo_subescapular_mm
                    </td>
                    <td>
                        @item.Pliegue_cutaneo_supraespinal_mm
                    </td>
                    <td>
                        @item.Edad_Metabolica
                    </td>
                    <td>
                        @item.Agua_corporal
                    </td>
                    <td>
                        @item.Grasa_Visceral
                    </td>
                    <td>
                        @item.Grasa_Corporal
                    </td>
                    <td>
                        @item.Grasa_Corporal_kg
                    </td>
                    <td>
                        @item.Masa_Muscular_kg
                    </td>
                    <td>
                        @item.Masa_Muscular_
                    </td>
                    <td>
                        @item.Esta_embarazadaDescripcion
                    </td>
                    <td>
                        @item.Tu_embarazo_es_multipleDescripcion
                    </td>
                    <td>
                        @item.Semana_de_gestacion
                    </td>
                    <td>
                        @item.Peso_pregestacional
                    </td>
                    <td>
                        @item.Toma_anticonceptivosDescripcion
                    </td>
                    <td>
                        @item.Nombre_del_Anticonceptivo
                    </td>
                    <td>
                        @item.Dosis
                    </td>
                    <td>
                        @item.ClimaterioDescripcion
                    </td>
                    <td>
                        @item.Fecha_Climaterio
                    </td>
                    <td>
                        @item.Terapia_reemplazo_hormonalDescripcion
                    </td>
                    <td>
                        @item.Tipo_DietaDescripcion
                    </td>
                    <td>
                        @item.SuplementosDescripcion
                    </td>
                    <td>
                        @item.Consumo_de_salDescripcion
                    </td>
                    <td>
                        @item.Grasas_PreferenciasDescripcion
                    </td>
                    <td>
                        @item.Comidas_cantidadDescripcion
                    </td>
                    <td>
                        @item.Preparacion_PreferenciasDescripcion
                    </td>
                    <td>
                        @item.Entre_comidasDescripcion
                    </td>
                    <td>
                        @item.ApetitoDescripcion
                    </td>
                    <td>
                        @item.Habitos_ModificacionDescripcion
                    </td>
                    <td>
                        @item.Horario_hambreDescripcion
                    </td>
                    <td>
                        @item.Cuando_cambia_mi_estado_de_animoDescripcion
                    </td>
                    <td>
                        @item.Medicamentos_bajar_pesoDescripcion
                    </td>
                    <td>
                        @item.Cual_medicamento
                    </td>
                    <td>
                        @item.Frecuencia_EjercicioDescripcion
                    </td>
                    <td>
                        @item.Duracion_EjercicioDescripcion
                    </td>
                    <td>
                        @item.Tipo_EjercicioDescripcion
                    </td>
                    <td>
                        @item.Antiguedad_EjercicioDescripcion
                    </td>
                    <td>
                        @item.IMC
                    </td>
                    <td>
                        @item.Interpretacion_IMCDescripcion
                    </td>
                    <td>
                        @item.IMC_PediatriaDescripcion
                    </td>
                    <td>
                        @item.Complexion_corporal
                    </td>
                    <td>
                        @item.Interpretacion_complexion_corporalDescripcion
                    </td>
                    <td>
                        @item.Distribucion_de_grasa_corporal
                    </td>
                    <td>
                        @item.Interpretacion_grasa_corporalDescripcion
                    </td>
                    <td>
                        @item.Indice_cintura_cadera
                    </td>
                    <td>
                        @item.Interpretacion_indiceDescripcion
                    </td>
                    <td>
                        @item.Consumo_de_agua_resultado
                    </td>
                    <td>
                        @item.Interpretacion_aguaDescripcion
                    </td>
                    <td>
                        @item.Frecuencia_cardiaca_en_Esfuerzo
                    </td>
                    <td>
                        @item.Interpretacion_frecuenciaDescripcion
                    </td>
                    <td>
                        @item.Dificultad_de_Rutina_de_EjerciciosDificultad
                    </td>
                    <td>
                        @item.Interpretacion_dificultadDescripcion
                    </td>
                    <td>
                        @item.Calorias
                    </td>
                    <td>
                        @item.Interpretacion_caloriasDescripcion
                    </td>
                    <td>
                        @item.Observaciones
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

