@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Spartan_Report_Advance_FilterModel
@{

/*

*/
    List<SelectListItem> varSpartan_Report_Report = null;
    if (ViewBag.Spartan_Reports_Report != null)
    { varSpartan_Report_Report = (List<SelectListItem>)ViewBag.Spartan_Reports_Report; }
    List<SelectListItem> varSpartan_Metadata_AttributeId = null;
    if (ViewBag.Spartan_Metadatas_AttributeId != null)
    { varSpartan_Metadata_AttributeId = (List<SelectListItem>)ViewBag.Spartan_Metadatas_AttributeId; }


    Permission permission = ViewBag.Permission;
}
<div class="loading style-2"><div class="loading-wheel"></div></div>
<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
                    <div class="col-sm-7">
                        <input type="text" title="Value" class="form-control" id="txtAttributeValue" />
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary" onclick="SaveValue()">Submit</a>
                    </div>
                    <input type="hidden" id="hdnAttributType" />
                    <input type="hidden" id="hdnAttributElement" />
                    <input type="hidden" id="hdnAttributNumber" />
                    <input type="hidden" id="hdnElementType" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row wrapper border-bottom white-bg page-heading">

    <div class="row">
        <div class="col-lg-10">
            <h2>
                @Resources.Spartan_Report_Advance_FilterResources.Spartan_Report_Advance_Filter
                <button onclick="Spartan_Report_Advance_FilterGetBusinessRule('', 'Al Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Spartan_Report_Advance_FilterBusinessRule-form">
                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                        <i class="fa fa-cogs fa-spin"></i>
                    </a>
                </button>
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
                </li>
                <li class="">
                    <label>@Resources.Spartan_Report_Advance_FilterResources.Spartan_Report_Advance_Filter</label>
                </li>
                <li class="active">
                    <strong>@Resources.Resources.Create</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

            @{
                if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
                {
                    <h2>&nbsp;</h2>
                    <button onclick="Spartan_Report_Advance_FilterDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
                        <i class="fa fa-cogs fa-spin"></i>
                    </button>

                    <div aria-hidden="true" class="modal fade in Spartan_Report_Advance_FilterPropertyBusinessModal" id="Spartan_Report_Advance_FilterPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        Property & Business Rules
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
                                        </div>
                                        <div class="clearfix col-sm-12">&nbsp;</div>
                                        <div class="col-sm-12">
                                            <a class="btn btn-primary full-width" data-dismiss="modal" data-toggle="modal" data-target="#Spartan_Report_Advance_FilterBusinessRule-form" onclick="Spartan_Report_Advance_FilterGetBusinessRule()">Business Rule</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div aria-hidden="true" data-backdrop="static" class="modal fade in PropertyModal" id="PropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_Report_Advance_FilterBusinessRuleModal" id="Spartan_Report_Advance_FilterBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>
					<div aria-hidden="true" data-backdrop="static" class="modal fade in Spartan_Report_Advance_FilterAddBusinessRuleModal" id="Spartan_Report_Advance_FilterAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
					</div>


                }
            }

        </div>
    </div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm("Post", "Spartan_Report_Advance_Filter", FormMethod.Post, new { id = "CreateSpartan_Report_Advance_Filter", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                                <input type="hidden" id="hdnIsNew" name="hdnIsNew" value="@ViewBag.IsNew.ToString()" />
                <span id="popupNotification"></span>
                <div class="container-fluid Spartan_Report_Advance_FilterCreateForm" id="viewmodeledit">
				 <div class="alert alert-warning" id="controlsRequerid" style="display:none">
                        <a href="#" class="close" onclick="$('#controlsRequerid').hide();">&times;</a>
                        <span id="textRequired"></span>
                 </div>
			<div class="tabs-container">
                        	<ul class="nav nav-tabs">
<li class="active"><a data-toggle="tab" href="#tabDatos_Generales"> @Resources.Spartan_Report_Advance_FilterResources.TabDatos_Generales</a></li>

                        	</ul>
	                	<div class="tab-content">
                            <div id="tabDatos_Generales" class="tab-pane active">
                                <div class="panel-body">
                            <div class="form-group" id="divClave">
                                <label class="col-sm-2 control-label">@Resources.Spartan_Report_Advance_FilterResources.Clave</label>
                                <div class="col-sm-8" data-field-id="Clave" data-attribute="185771" data-field-name="@Resources.Spartan_Report_Advance_FilterResources.Clave">
                                    <label class="form-control" for="Clave" id="lblClave">
                                    @if (Model.Clave== 0)
                                        {
                                            <text>@Resources.Resources.ClaveDefault</text>
                                        }
                                        else
                                        { 
                                            <text>@Model.Clave</text>
                                        }
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="divReport">
                                <label class="col-sm-2 control-label">@Resources.Spartan_Report_Advance_FilterResources.Report</label>
                                <div class="col-sm-8" data-field-id="Report" data-attribute="185772" data-field-name="@Resources.Spartan_Report_Advance_FilterResources.Report">
                                    <select class="form-control" data-val="true" data-val-number="The field Report must be a number." data-val-required="The Report field is required." id="Report" name="Report">
                                        <option value=""></option>
                                        @if (varSpartan_Report_Report != null){ 
                                            foreach (var itemReport in varSpartan_Report_Report)
                                            {
                                                if (itemReport.Value == Convert.ToString(Model.Report))
                                                {
                                                    <option value="@itemReport.Value" selected>@itemReport.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemReport.Value">@itemReport.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="Report" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divAttributeId">
                                <label class="col-sm-2 control-label">@Resources.Spartan_Report_Advance_FilterResources.AttributeId</label>
                                <div class="col-sm-8" data-field-id="AttributeId" data-attribute="185775" data-field-name="@Resources.Spartan_Report_Advance_FilterResources.AttributeId">
                                    <select class="form-control" data-val="true" data-val-number="The field AttributeId must be a number." data-val-required="The AttributeId field is required." id="AttributeId" name="AttributeId">
                                        <option value=""></option>
                                        @if (varSpartan_Metadata_AttributeId != null){ 
                                            foreach (var itemAttributeId in varSpartan_Metadata_AttributeId)
                                            {
                                                if (itemAttributeId.Value == Convert.ToString(Model.AttributeId))
                                                {
                                                    <option value="@itemAttributeId.Value" selected>@itemAttributeId.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@itemAttributeId.Value">@itemAttributeId.Text</option>
                                                }
                                            }
                                        }
                                    </select>
                                    @*<span class="field-validation-valid" data-valmsg-for="AttributeId" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divDefect_Value_From">
                                <label class="col-sm-2 control-label">@Resources.Spartan_Report_Advance_FilterResources.Defect_Value_From</label>
                                <div class="col-sm-8" data-field-id="Defect_Value_From" data-attribute="185776" data-field-name="@Resources.Spartan_Report_Advance_FilterResources.Defect_Value_From">
                                    <input class="form-control" id="Defect_Value_From" name="Defect_Value_From" type="text" value="@Model.Defect_Value_From">
                                    @*<span class="field-validation-valid" data-valmsg-for="Defect_Value_From" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            <div class="form-group" id="divDefect_Value_To">
                                <label class="col-sm-2 control-label">@Resources.Spartan_Report_Advance_FilterResources.Defect_Value_To</label>
                                <div class="col-sm-8" data-field-id="Defect_Value_To" data-attribute="185787" data-field-name="@Resources.Spartan_Report_Advance_FilterResources.Defect_Value_To">
                                    <input class="form-control" id="Defect_Value_To" name="Defect_Value_To" type="text" value="@Model.Defect_Value_To">
                                    @*<span class="field-validation-valid" data-valmsg-for="Defect_Value_To" data-valmsg-replace="true"></span>*@
                                </div>
                            </div>
                            </div>
                                </div>

				</div>	
                    <br />
                            <div class="form-actions fluid">
                                <input type="hidden" value="@Model.Clave" id="ReferenceClave" />
                                <input type="hidden" value="@Model.Clave" name="Clave" id="ClaveId" />
                                <input type="hidden" value="@ViewBag.Operation" name="Operation" id="Operation" />
                                @if (!ViewBag.Consult)
                                {
                                    <input type="button" value="@Resources.Resources.Guardar" id="Spartan_Report_Advance_FilterGuardar" class="btn btn-w-m btn-primary btn_save" onclick="return checkClientValidate('Spartan_Report_Advance_FilterCreateForm');"  />
									<button onclick="Spartan_Report_Advance_FilterGetBusinessRule('', 'Al Guardar o al Cerrar la Pantalla', '2')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Spartan_Report_Advance_FilterBusinessRule-form">
                                        <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleBeforeSave">
                                            <i class="fa fa-cogs fa-spin"></i>
                                        </a>
                                    </button>
                                    <button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </button>

                                    <input type="button" value="@Resources.Resources.GuardarNuevo" id="Spartan_Report_Advance_FilterGuardarYNuevo" onclick="return checkClientValidate('Spartan_Report_Advance_FilterCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandnew"  />
                                    <input type="button" value="@Resources.Resources.GuardarCopia" id="Spartan_Report_Advance_FilterGuardarYCopia" onclick="return checkClientValidate('Spartan_Report_Advance_FilterCreateForm');" data-bind="    click: saveAndNew" class="btn btn-w-m btn-success btn_saveandcopy"  />
                                    if (permission.Configure)
                                    {
                                        <a title="@Resources.Resources.Configure" id="ConfigureSave" name="ConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success btn-configure">@Resources.Resources.Configure</a>
                                    }
                                    else
                                    {
                                        <a title="@Resources.Resources.NoPermission" class="btn btn-danger btn-configure">@Resources.Resources.Configure</a>
                                    }
                                }

                                <input type="hidden" id="hdnConfigureType" />
								<input type="hidden" id="hdnSpartan_Report_Advance_FilterBusinessRuleFieldId" />
                                <input type="hidden" id="hdnSpartan_Report_Advance_FilterBusinessRuleFieldName" />
                                <input type="hidden" id="hdnSpartan_Report_Advance_FilterBusinessRuleAttribute" />

                                <input type="button" value="@Resources.Resources.Cancelar" id="Spartan_Report_Advance_FilterCancelar" name="Spartan_Report_Advance_FilterCancelar" class="btn btn-danger noConsult btn_cancelar" data-bind="click: cancel" tabindex="16" />

                                <button onclick="Spartan_Report_Advance_FilterGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Spartan_Report_Advance_FilterBusinessRule-form">
                                    <a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
                                        <i class="fa fa-cogs fa-spin"></i>
                                    </a>
                                </button>
                            </div>
						</div>
					</div>
                }
        </div>
    </div>
</div>
<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />

@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Spartan_Report_Advance_Filter.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Spartan_Report_Advance_FilterGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Spartan_Report_Advance_FilterCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

@section Scripts {


    <script type="text/javascript">
        



        $(document).ready(function () {
            
		   
             @if(ViewBag.IsNew)
            { 
                <text>$('input:checkbox').prop('checked', false);</text>
            }


            initiateUIControls();
			$('a').tooltip();
			EjecutarValidacionesAlComienzo();
			$('.loading').css('display', 'none');

        });



        function initiateUIControls() {
             $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();
			 $('.inputMoney').inputmask("currency", { greedy: false, prefix: "", rightAlign: false });

        }

    </script>

<script type="text/javascript">

        function SendSpartan_Report_Advance_FilterData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateSpartan_Report_Advance_Filter").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateSpartan_Report_Advance_Filter")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Spartan_Report_Advance_FilterCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Spartan_Report_Advance_Filter/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
        function GetPropertyBag() {
            $.get('@Url.Action("Spartan_Report_Advance_FilterPropertyBag", "Spartan_Report_Advance_Filter")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Spartan_Report_Advance_FilterGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldId').val(FieldId);
				$('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldName').val(FieldName);
				$('#hdnSpartan_Report_Advance_FilterBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldName').val(), ObjectId: '34982', Attribute: $('#hdnSpartan_Report_Advance_FilterBusinessRuleAttribute').val(), Screen: 'Spartan_Report_Advance_Filter' }, function (data) {
                $(".Spartan_Report_Advance_FilterBusinessRuleModal").html(data);
            });
        }
        function Spartan_Report_Advance_FilterGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldId').val(FieldId);
				$('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldName').val(FieldName);
				$('#hdnSpartan_Report_Advance_FilterBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldName').val(), ObjectId: '34982', Attribute: $('#hdnSpartan_Report_Advance_FilterBusinessRuleAttribute').val(), Screen: 'Spartan_Report_Advance_Filter' }, function (data) {
                $(".Spartan_Report_Advance_FilterAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldId').val(), FieldName: $('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldName').val(), ObjectId: '34982', Attribute: $('#hdnSpartan_Report_Advance_FilterBusinessRuleAttribute').val(), Screen: 'Spartan_Report_Advance_Filter' }, function (data) {
				$(".Spartan_Report_Advance_FilterBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function Spartan_Report_Advance_FilterBackToGrid() {
        location.href = "@Url.Content("~/Frontal/Spartan_Report_Advance_Filter/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Spartan_Report_Advance_Filter/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Spartan_Report_Advance_Filter/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Spartan_Report_Advance_Filter/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Spartan_Report_Advance_Filter/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					 if (childElementObject != null) {
                        for (var j = 0; j < childElementObject.length; j++) {
                            var table = childElementObject[j].table.trim();
                            var grid = '#' + table + 'Grid';
                            $(grid).find("thead").find("tr").find("th").each(function () {
                                for (var i = 0; i < childElementObject[j].elements.length; i++) {
                                    if ($(this).hasClass(childElementObject[j].elements[i].inputId + 'Header')) {
                                        $(this).show();
                                        $(this).parent().show();
                                        $(this).append(returnAttributeHTML(childElementObject[j].elements[i], table, i));
                                    }
                                }
                            });
                        }

                    }
                    $('#ConfigureSave').text('Save Settings');
                    $('#hdnConfigureType').val("1");
                });
            }
        }
		$('#CreateSpartan_Report_Advance_Filter').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldId').val(fieldId);
			$('#hdnSpartan_Report_Advance_FilterBusinessRuleFieldName').val(fieldName);
			$('#hdnSpartan_Report_Advance_FilterBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors            
  var filebrowserBrowseUrl = '../../ckfinder/ckfinder.html';
  var filebrowserImageBrowseUrl = '../../ckfinder/ckfinder.html?type=Images';
  var filebrowserUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Files';
  var filebrowserImageUploadUrl = '../../ckfinder/connector?command=QuickUpload&type=Images';
		
    </script>
}
