@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Resultados_ConsultasModel
@{

    string Fecha_de_Consulta = "";
    if (Model.Fecha_de_Consulta == "")
    { Model.Fecha_de_Consulta = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varPacientes_Folio_Pacientes = null;
    if (ViewBag.Pacientess_Folio_Pacientes != null)
    { varPacientes_Folio_Pacientes = (List<SelectListItem>)ViewBag.Pacientess_Folio_Pacientes; }
    List<SelectListItem> varIndicadores_Consultas_Indicador = null;
    if (ViewBag.Indicadores_Consultass_Indicador != null)
    { varIndicadores_Consultas_Indicador = (List<SelectListItem>)ViewBag.Indicadores_Consultass_Indicador; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Resultados Consultas
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Resultados_ConsultasRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Resultados_ConsultasPop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Resultados Consultas
								<button onclick="Detalle_Resultados_ConsultasGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Resultados_ConsultasBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Resultados_ConsultasResources.Detalle_Resultados_Consultas</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Resultados_ConsultasDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Resultados_ConsultasPropertyBusinessModal" id="Detalle_Resultados_ConsultasPropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Resultados_ConsultasBusinessRule-form" onclick="Detalle_Resultados_ConsultasGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Resultados_ConsultasPropertyModal" id="Detalle_Resultados_ConsultasPropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Resultados_ConsultasBusinessRuleModal" id="Detalle_Resultados_ConsultasBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Resultados_ConsultasAddBusinessRuleModal" id="Detalle_Resultados_ConsultasAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Resultados_Consultas", FormMethod.Post, new { id = "CreateDetalle_Resultados_Consultas", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Resultados_ConsultasCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Resultados_ConsultasResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="258446" data-field-name="@Resources.Detalle_Resultados_ConsultasResources.Folio">
                                    <label class="form-control" for="Detalle_Resultados_ConsultasFolio" id="Detalle_Resultados_ConsultasFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divFolio_Pacientes">
	<label class="col-sm-2 control-label">@Resources.Detalle_Resultados_ConsultasResources.Folio_Pacientes</label>
	<div class="col-sm-8" data-field-id="Folio_Pacientes" data-attribute="258453" data-field-name="@Resources.Detalle_Resultados_ConsultasResources.Folio_Pacientes">
		<select class="form-control" data-val="true" data-val-number="The field Paciente must be a number." data-val-required="The Paciente field is required." id="Detalle_Resultados_ConsultasFolio_Pacientes" name="Detalle_Resultados_ConsultasFolio_Pacientes">
			<option value=""></option>
			@if (varPacientes_Folio_Pacientes != null){ 
				foreach (var itemFolio_Pacientes in varPacientes_Folio_Pacientes)
				{
					if (itemFolio_Pacientes.Value == Convert.ToString(Model.Folio_Pacientes))
					{
						<option value="@itemFolio_Pacientes.Value" selected>@itemFolio_Pacientes.Text</option>
					}
					else
					{
						<option value="@itemFolio_Pacientes.Value">@itemFolio_Pacientes.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divFecha_de_Consulta">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Resultados_ConsultasResources.Fecha_de_Consulta</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Consulta" data-attribute="258451" data-field-name="@Resources.Detalle_Resultados_ConsultasResources.Fecha_de_Consulta">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Resultados_ConsultasFecha_de_Consulta" readonly="readonly" name="Detalle_Resultados_ConsultasFecha_de_Consulta" type="text" value="@Model.Fecha_de_Consulta">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divIndicador">
	<label class="col-sm-2 control-label">@Resources.Detalle_Resultados_ConsultasResources.Indicador</label>
	<div class="col-sm-8" data-field-id="Indicador" data-attribute="258448" data-field-name="@Resources.Detalle_Resultados_ConsultasResources.Indicador">
		<select class="form-control" data-val="true" data-val-number="The field Indicador must be a number." data-val-required="The Indicador field is required." id="Detalle_Resultados_ConsultasIndicador" name="Detalle_Resultados_ConsultasIndicador">
			<option value=""></option>
			@if (varIndicadores_Consultas_Indicador != null){ 
				foreach (var itemIndicador in varIndicadores_Consultas_Indicador)
				{
					if (itemIndicador.Value == Convert.ToString(Model.Indicador))
					{
						<option value="@itemIndicador.Value" selected>@itemIndicador.Text</option>
					}
					else
					{
						<option value="@itemIndicador.Value">@itemIndicador.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divResultado">
	<label class="col-sm-2 control-label">@Resources.Detalle_Resultados_ConsultasResources.Resultado</label>
	<div class="col-sm-8" data-field-id="Resultado" data-attribute="258449" data-field-name="@Resources.Detalle_Resultados_ConsultasResources.Resultado">
		<input class="form-control inputNumber" id="Detalle_Resultados_ConsultasResultado" name="Detalle_Resultados_ConsultasResultado" type="text" value="@Model.Resultado">
	</div>
</div>
<div class="form-group" id="divInterpretacion">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Resultados_ConsultasResources.Interpretacion</label>
                                <div class="col-sm-8" data-field-id="Interpretacion" data-attribute="258450" data-field-name="@Resources.Detalle_Resultados_ConsultasResources.Interpretacion">
                                    <input class="form-control" id="Detalle_Resultados_ConsultasInterpretacion" name="Detalle_Resultados_ConsultasInterpretacion" type="text" value="@Model.Interpretacion">
                                </div>
                            </div>
<div class="form-group" id="divIMC">
	<label class="col-sm-2 control-label">@Resources.Detalle_Resultados_ConsultasResources.IMC</label>
	<div class="col-sm-8" data-field-id="IMC" data-attribute="259679" data-field-name="@Resources.Detalle_Resultados_ConsultasResources.IMC">
		<input class="form-control inputNumber" id="Detalle_Resultados_ConsultasIMC" name="Detalle_Resultados_ConsultasIMC" type="text" value="@Model.IMC">
	</div>
</div>
<div class="form-group" id="divIMC_Pediatria">
	<label class="col-sm-2 control-label">@Resources.Detalle_Resultados_ConsultasResources.IMC_Pediatria</label>
	<div class="col-sm-8" data-field-id="IMC_Pediatria" data-attribute="259680" data-field-name="@Resources.Detalle_Resultados_ConsultasResources.IMC_Pediatria">
		<input class="form-control inputNumber" id="Detalle_Resultados_ConsultasIMC_Pediatria" name="Detalle_Resultados_ConsultasIMC_Pediatria" type="text" value="@Model.IMC_Pediatria">
	</div>
</div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Resultados_ConsultasConfigureSave" name="Detalle_Resultados_ConsultasConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Resultados_ConsultasConfigureType" />
												<input type="hidden" id="hdnDetalle_Resultados_ConsultasBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Resultados_ConsultasBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Resultados_ConsultasBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Resultados_ConsultasGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Resultados_ConsultasBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Resultados_Consultas.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Resultados_ConsultasGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Resultados_ConsultasCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/ConsultasCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Resultados_ConsultasRowElement = "Detalle_Resultados_ConsultasPop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Resultados_ConsultasRowElement + "')){ Detalle_Resultados_ConsultasInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Detalle_Resultados_ConsultasFecha_de_Consulta').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Resultados_ConsultasData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Resultados_Consultas").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Resultados_Consultas")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Resultados_ConsultasCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Resultados_Consultas/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Resultados_ConsultasPropertyBag", "Detalle_Resultados_Consultas")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Resultados_ConsultasGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Resultados_ConsultasBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldName').val(), ObjectId: '44405', Attribute: $('#hdnDetalle_Resultados_ConsultasBusinessRuleAttribute').val(), Screen: 'Detalle_Resultados_Consultas' }, function (data) {
                $(".Detalle_Resultados_ConsultasBusinessRuleModal").html(data);
            });
        }
        function Detalle_Resultados_ConsultasGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Resultados_ConsultasBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldName').val(), ObjectId: '44405', Attribute: $('#hdnDetalle_Resultados_ConsultasBusinessRuleAttribute').val(), Screen: 'Detalle_Resultados_Consultas' }, function (data) {
                $(".Detalle_Resultados_ConsultasAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldName').val(), ObjectId: '44405', Attribute: $('#hdnDetalle_Resultados_ConsultasBusinessRuleAttribute').val(), Screen: 'Detalle_Resultados_Consultas' }, function (data) {
				$(".Detalle_Resultados_ConsultasBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Resultados_Consultas/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Resultados_Consultas/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Resultados_Consultas/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Resultados_ConsultasConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Resultados_ConsultasConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Resultados_Consultas/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Resultados_ConsultasConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Resultados_Consultas/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Resultados_Consultas' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Resultados_Consultas' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Resultados_ConsultasConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Resultados_ConsultasConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Resultados_Consultas').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Resultados_ConsultasBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Resultados_ConsultasBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
