@using System
@using System.Collections.Generic
@using System.Globalization
@using Spartane.Core.Domain.Permission
@using Spartane.Core.Domain.Spartane_File
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Pagos_PacienteModel
@{

    string Fecha_de_Suscripcion = "";
    if (Model.Fecha_de_Suscripcion == "")
    { Model.Fecha_de_Suscripcion = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_Limite_de_Pago = "";
    if (Model.Fecha_Limite_de_Pago == "")
    { Model.Fecha_Limite_de_Pago = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }
    string Fecha_de_Pago = "";
    if (Model.Fecha_de_Pago == "")
    { Model.Fecha_de_Pago = DateTime.Now.ToString(ConfigurationProperty.DateFormat); }

    List<SelectListItem> varPlanes_de_Suscripcion_Suscripcion = null;
    if (ViewBag.Planes_de_Suscripcions_Suscripcion != null)
    { varPlanes_de_Suscripcion_Suscripcion = (List<SelectListItem>)ViewBag.Planes_de_Suscripcions_Suscripcion; }
 List<SelectListItem> varFormas_de_Pago_Forma_de_Pago = null;
    if (ViewBag.Formas_de_Pagos_Forma_de_Pago != null)
    { varFormas_de_Pago_Forma_de_Pago = (List<SelectListItem>)ViewBag.Formas_de_Pagos_Forma_de_Pago; }
 List<SelectListItem> varEstatus_de_Pago_Estatus = null;
    if (ViewBag.Estatus_de_Pagos_Estatus != null)
    { varEstatus_de_Pago_Estatus = (List<SelectListItem>)ViewBag.Estatus_de_Pagos_Estatus; }


    Permission permission = ViewBag.Permission;
}
<div class="modal-dialog" style="width:95%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">
                Add Detalle Pagos Paciente
                <button data-dismiss="modal" class="close" type="button" onclick="@(ViewBag.functionMode == 0 ? "Detalle_Pagos_PacienteRemoveAddRow("+ ViewBag.currentRowIndex +")" : "")"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </h4>
        </div>
        <div class="modal-body scroll_content">
            <div class="form-horizontal Detalle_Pagos_PacientePop_@ViewBag.currentRowIndex">
				<div class="modal fade in" id="dvAttributeValue" style="background-color:rgba(0, 0, 0, 0.7);">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="form-group">
									<label class="col-sm-3 control-label" id="lblAttributeType">Value</label>
									<div class="col-sm-7">
										<input type="text" title="Value" class="form-control" id="txtAttributeValue" />
									</div>
									<div class="col-sm-2">
										<a class="btn btn-primary" onclick="SaveValue()">Submit</a>
									</div>
									<input type="hidden" id="hdnAttributType" />
									<input type="hidden" id="hdnAttributElement" />
									<input type="hidden" id="hdnAttributNumber" />
									<input type="hidden" id="hdnElementType" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wrapper border-bottom white-bg page-heading">

					<div class="row">
						<div class="col-lg-10">
							<h2>
								Detalle Pagos Paciente
								<button onclick="Detalle_Pagos_PacienteGetBusinessRule('', 'Abrir Pantalla', '0')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Pagos_PacienteBusinessRule-form">
									<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
										<i class="fa fa-cogs fa-spin"></i>
									</a>
								</button>
							</h2>
							<ol class="breadcrumb">
								<li>
									<a href="@Url.Action("Index", "Home")">@Resources.Resources.Home</a>
								</li>
								<li class="">
									<label>@Resources.Detalle_Pagos_PacienteResources.Detalle_Pagos_Paciente</label>
								</li>
								<li class="active">
									<strong>@Resources.Resources.Create</strong>
								</li>
							</ol>
						</div>
						<div class="col-lg-2">

							@{
								if (Convert.ToInt32(Spartane.Web.SessionHelper.Role) == (int)Spartane.Core.Enums.SpartanRoleEnum.Admin)
								{
									<h2>&nbsp;</h2>
									<button onclick="Detalle_Pagos_PacienteDisplayBusinessRule()" type="button" class="btn btn-info btn-lg displayBusinessProperyButton">
										<i class="fa fa-cogs fa-spin"></i>
									</button>

									<div aria-hidden="true" class="modal fade in Detalle_Pagos_PacientePropertyBusinessModal" id="Detalle_Pagos_PacientePropertyBusinessModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">
														Property & Business Rules
														<button class="close" type="button" onclick="$(this).parent().parent().parent().parent().parent().modal('hide');"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
													</h4>
												</div>
												<div class="modal-body">
													<div class="row">
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#PropertyModal-form" onclick="GetPropertyBag()">Properties</a>
														</div>
														<div class="clearfix col-sm-12">&nbsp;</div>
														<div class="col-sm-12">
															<a class="btn btn-primary full-width" data-toggle="modal" data-target="#Detalle_Pagos_PacienteBusinessRule-form" onclick="Detalle_Pagos_PacienteGetBusinessRule()">Business Rule</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									 <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Pagos_PacientePropertyModal" id="Detalle_Pagos_PacientePropertyModal-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
									<div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Pagos_PacienteBusinessRuleModal" id="Detalle_Pagos_PacienteBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
									</div>
                                    <div aria-hidden="true" data-backdrop="static" class="modal fade in Detalle_Pagos_PacienteAddBusinessRuleModal" id="Detalle_Pagos_PacienteAddBusinessRule-form" style="display: none; background-color:rgba(0, 0, 0, 0.7);">
                                    </div>

				
								}
							}
						</div>
					</div>

				<div class="wrapper wrapper-content animated fadeInRight">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							@using (Html.BeginForm("Post", "Detalle_Pagos_Paciente", FormMethod.Post, new { id = "CreateDetalle_Pagos_Paciente", @readonly = "true", @class = "form-horizontal", enctype = "multipart/form-data" }))
							{
								<span id="popupNotification"></span>
								<div class="container-fluid Detalle_Pagos_PacienteCreateForm" id="viewmodeledit">
							<div class="tabs-container">
											<ul class="nav nav-tabs">
				@@groupers@@
											</ul>
										<div class="tab-content">
				<div class="form-group" id="divFolio">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Folio</label>
                                <div class="col-sm-8" data-field-id="Folio" data-attribute="258418" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Folio">
                                    <label class="form-control" for="Detalle_Pagos_PacienteFolio" id="Detalle_Pagos_PacienteFolio">@Model.Folio</label>
                                </div>
                            </div>
<div class="form-group" id="divSuscripcion">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Suscripcion</label>
	<div class="col-sm-8" data-field-id="Suscripcion" data-attribute="258420" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Suscripcion">
		<select class="form-control" data-val="true" data-val-number="The field Suscripción must be a number." data-val-required="The Suscripción field is required." id="Detalle_Pagos_PacienteSuscripcion" name="Detalle_Pagos_PacienteSuscripcion">
			<option value=""></option>
			@if (varPlanes_de_Suscripcion_Suscripcion != null){ 
				foreach (var itemSuscripcion in varPlanes_de_Suscripcion_Suscripcion)
				{
					if (itemSuscripcion.Value == Convert.ToString(Model.Suscripcion))
					{
						<option value="@itemSuscripcion.Value" selected>@itemSuscripcion.Text</option>
					}
					else
					{
						<option value="@itemSuscripcion.Value">@itemSuscripcion.Text</option>
					}
				}
			}
		</select>
	</div>
</div>
<div class="form-group" id="divConcepto_de_Pago">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Concepto_de_Pago</label>
                                <div class="col-sm-8" data-field-id="Concepto_de_Pago" data-attribute="258421" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Concepto_de_Pago">
                                    <input class="form-control" id="Detalle_Pagos_PacienteConcepto_de_Pago" name="Detalle_Pagos_PacienteConcepto_de_Pago" type="text" value="@Model.Concepto_de_Pago">
                                </div>
                            </div>
<div class="form-group" id="divFecha_de_Suscripcion">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Fecha_de_Suscripcion</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Suscripcion" data-attribute="258437" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Fecha_de_Suscripcion">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Pagos_PacienteFecha_de_Suscripcion" readonly="readonly" name="Detalle_Pagos_PacienteFecha_de_Suscripcion" type="text" value="@Model.Fecha_de_Suscripcion">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divNumero_de_Pago">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Numero_de_Pago</label>
	<div class="col-sm-8" data-field-id="Numero_de_Pago" data-attribute="258438" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Numero_de_Pago">
		<input class="form-control inputNumber" id="Detalle_Pagos_PacienteNumero_de_Pago" name="Detalle_Pagos_PacienteNumero_de_Pago" type="text" value="@Model.Numero_de_Pago">
	</div>
</div>
<div class="form-group" id="divDe_Total_de_Pagos">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.De_Total_de_Pagos</label>
	<div class="col-sm-8" data-field-id="De_Total_de_Pagos" data-attribute="258439" data-field-name="@Resources.Detalle_Pagos_PacienteResources.De_Total_de_Pagos">
		<input class="form-control inputNumber" id="Detalle_Pagos_PacienteDe_Total_de_Pagos" name="Detalle_Pagos_PacienteDe_Total_de_Pagos" type="text" value="@Model.De_Total_de_Pagos">
	</div>
</div>
<div class="form-group" id="divFecha_Limite_de_Pago">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Fecha_Limite_de_Pago</label>
                                <div class="col-sm-8" data-field-id="Fecha_Limite_de_Pago" data-attribute="258422" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Fecha_Limite_de_Pago">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Pagos_PacienteFecha_Limite_de_Pago" readonly="readonly" name="Detalle_Pagos_PacienteFecha_Limite_de_Pago" type="text" value="@Model.Fecha_Limite_de_Pago">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divRecordatorio_dias">
	<label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Recordatorio_dias</label>
	<div class="col-sm-8" data-field-id="Recordatorio_dias" data-attribute="258423" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Recordatorio_dias">
		<input class="form-control inputNumber" id="Detalle_Pagos_PacienteRecordatorio_dias" name="Detalle_Pagos_PacienteRecordatorio_dias" type="text" value="@Model.Recordatorio_dias">
	</div>
</div>
<div class="form-group" id="divForma_de_Pago">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Forma_de_Pago</label>
                                <div class="col-sm-8" data-field-id="Forma_de_Pago" data-attribute="258424" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Forma_de_Pago">
                                    <select class='fullWidth AutoCompleteFormas_de_Pago form-control select2-dropdown' data-val="true" id="Detalle_Pagos_PacienteForma_de_Pago" name="Detalle_Pagos_PacienteForma_de_Pago">
                                        <option value="@Model.Forma_de_Pago">@(Model.Forma_de_PagoNombre??Model.Forma_de_PagoNombre)</option>
                                    </select>
                                </div>
                            </div>
<div class="form-group" id="divFecha_de_Pago">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Fecha_de_Pago</label>
                                <div class="col-sm-8" data-field-id="Fecha_de_Pago" data-attribute="258425" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Fecha_de_Pago">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input class="form-control col-md-12" id="Detalle_Pagos_PacienteFecha_de_Pago" readonly="readonly" name="Detalle_Pagos_PacienteFecha_de_Pago" type="text" value="@Model.Fecha_de_Pago">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
<div class="form-group" id="divEstatus">
                                <label class="col-sm-2 control-label">@Resources.Detalle_Pagos_PacienteResources.Estatus</label>
                                <div class="col-sm-8" data-field-id="Estatus" data-attribute="258426" data-field-name="@Resources.Detalle_Pagos_PacienteResources.Estatus">
                                    <select class='fullWidth AutoCompleteEstatus_de_Pago form-control select2-dropdown' data-val="true" id="Detalle_Pagos_PacienteEstatus" name="Detalle_Pagos_PacienteEstatus">
                                        <option value="@Model.Estatus">@(Model.EstatusDescripcion??Model.EstatusDescripcion)</option>
                                    </select>
                                </div>
                            </div>

								</div>	
							</div>
									<br />
											<div class="form-actions fluid">
												<input type="hidden" value="@Model.Folio" id="ReferenceFolio" />
												<input type="hidden" value="@Model.Folio" name="Folio" id="FolioId" />
												@if (!ViewBag.Consult)
												{
													<div id="dvSaveJob" style="display:inline-block"></div>

													<button type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton">
														<i class="fa fa-cogs fa-spin"></i>
													</button>
													<a title="@Resources.Resources.Configure" id="Detalle_Pagos_PacienteConfigureSave" name="Detalle_Pagos_PacienteConfigureSave" onclick="SaveElementAttributes()" class="btn btn-success">@Resources.Resources.Configure</a>
												}

												<input type="hidden" id="hdnDetalle_Pagos_PacienteConfigureType" />
												<input type="hidden" id="hdnDetalle_Pagos_PacienteBusinessRuleFieldId" />
												<input type="hidden" id="hdnDetalle_Pagos_PacienteBusinessRuleFieldName" />
												<input type="hidden" id="hdnDetalle_Pagos_PacienteBusinessRuleAttribute" />

												<input data-dismiss="modal" type="button" value="@Resources.Resources.Cancelar" class="btn btn-danger noConsult" data-bind="click: cancel" tabindex="16" />

												<button onclick="Detalle_Pagos_PacienteGetBusinessRule('', 'Al Cancelar', '3')" type="button" class="btn btn-info btn-lg displayBusinessProperyButton displayRuleButton" data-toggle="modal" data-target="#Detalle_Pagos_PacienteBusinessRule-form">
													<a class="top" title="" data-placement="right" data-toggle="tooltip" href="#" data-original-title="@Resources.Resources.BusinessRuleToBegin">
														<i class="fa fa-cogs fa-spin"></i>
													</a>
												</button>
											</div>
										</div>
								}

							</div>
						</div>
					</div>
				</div>
					<input id="hdnApplicationDirectory" type="hidden" value="@Url.Content("~/")" />
				</div>
			</div>
		</div>
</div>
@section Styles {
<link href="@Url.Content("~/Content/BootstrapDatePicker/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
<style>
    .dataTables_filter {
        display: none;
    }
    .select2-results{background-color:#fff;}
    .select2-container .select2-dropdown{height:auto !important;}

    div.dataTables_info {
        display: inline-block;
        float: right;
    }
        i {
        font-size: 25px !important;
        display: block;
        color: #676a6c;
        margin-left: 6px;
        margin-right: 6px;
    }

    .fullWidth {
        width: 100%;
    }
</style>
}

<script type="text/javascript" src="~/Uploads/Scripts/Detalle_Pagos_Paciente.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Scripts/Custom/Detalle_Pagos_PacienteGeneral.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/Detalle_Pagos_PacienteCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script type="text/javascript" src="~/Uploads/Scripts/Rules/PacientesCreateRules.js?v=@DateTime.Now.ToString("ddMMyyyyhhmmss")"></script>
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>

    <script type="text/javascript">
        



        $(document).ready(function () {
			var currentIndex = @ViewBag.currentRowIndex

            var Detalle_Pagos_PacienteRowElement = "Detalle_Pagos_PacientePop_" + currentIndex.toString();
            var abc = "if(dynamicFieldValidation('" + Detalle_Pagos_PacienteRowElement + "')){ Detalle_Pagos_PacienteInsertRowFromPopup(" + currentIndex + "); }";
            var insertRowHTML = '<a class="btn btn-primary m-b" onclick="' + abc + '">Save</a>';
            $('#dvSaveJob').html(insertRowHTML);
			
            $('#Detalle_Pagos_PacienteFecha_de_Suscripcion').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Detalle_Pagos_PacienteFecha_Limite_de_Pago').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            $('#Detalle_Pagos_PacienteFecha_de_Pago').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });


            initiateUIControls();
            EjecutarValidacionesAlComienzo();
			$('a').tooltip();
        });
       var AutoCompleteForma_de_PagoData =[];
       $(".AutoCompleteDetalle_Pagos_Paciente_Forma_de_Pago").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Pagos_Paciente/GetDetalle_Pagos_Paciente_Forma_de_Pago_Formas_de_Pago")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Pagos_Paciente_Forma_de_Pago_Formas_de_PagoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Pagos_Paciente_Forma_de_Pago");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });
       var AutoCompleteEstatusData =[];
       $(".AutoCompleteDetalle_Pagos_Paciente_Estatus").select2({
            dropdownCssClass: 'fullWidth form-control',
            ajax: {
                url: "@Url.Content("~/Frontal/Detalle_Pagos_Paciente/GetDetalle_Pagos_Paciente_Estatus_Estatus_de_Pago")",
		cache: false,
                dataType: 'json',
                async: true,
                global: false,
                data: function (params) {
                    return {
                        query: params.term, 
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    return {
                        results: GetAutoCompleteDetalle_Pagos_Paciente_Estatus_Estatus_de_PagoData(data),
                        pagination: {
                            more: false 
                        }
                    };
                }
            },
            escapeMarkup: function (markup) { return markup; }, 
            minimumInputLength: 1,
        });
        var $eventExternal = $(".AutoCompleteDetalle_Pagos_Paciente_Estatus");
        $eventExternal.on("select2:open", function (e) {
            $('.select2-search__field').val('');
            $('.select2-search__field').keyup();
        });



        function initiateUIControls() {
            $('.gridDatePicker').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "@ConfigurationProperty.DateFormatDatePicker"
            });
            //Time Picker
            $('.gridTimePicker').clockpicker();

        }
		
		function SendDetalle_Pagos_PacienteData(callBack) {
			
					
		 var arr = []; 
		 $("form#CreateDetalle_Pagos_Paciente").find(':input').each(function( index ) {		 
			if ($(this).prop('disabled')==true|| $(this).prop('disabled')=="disabled")
			{		
				arr.push($(this).attr('id')); 
				$(this).prop('disabled', false);  	
			}
	    });
		
             var formData = new FormData($("form#CreateDetalle_Pagos_Paciente")[0]);
			$.each( arr, function( key, value ) {
			  $('#' +value).prop('disabled', true);
			});

            var isNew = $('#hdnIsNew').val();
           
            if (checkClientValidate('Detalle_Pagos_PacienteCreateForm')) {
                $.ajax({
                    url: '@Url.Content("~/Frontal/Detalle_Pagos_Paciente/Post?IsNew=")' + isNew,
                    type: 'POST',
                    data: formData,
                    async: true,
                    success: function (result) {
                        if (result < 0) {
                            showNotification("@Resources.Resources.ErrorSave", "error");
                        } else {

                            showNotification("@Resources.Resources.SaveSuccess", "success");
                            callBack(result);
                        }
                    },
                    error: function (result) {
                        showNotification("@Resources.Resources.ErrorContactingServer", "error");
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        };
		
        function GetPropertyBag() {
            $.get('@Url.Action("Detalle_Pagos_PacientePropertyBag", "Detalle_Pagos_Paciente")', function (data) {
                $(".PropertyModal").html(data);
            });
        }
        function Detalle_Pagos_PacienteGetBusinessRule(FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null)
			{
				$('#hdnDetalle_Pagos_PacienteBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Pagos_PacienteBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Pagos_PacienteBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("BusinessRule", "BussinessRule")', { FieldId: $('#hdnDetalle_Pagos_PacienteBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Pagos_PacienteBusinessRuleFieldName').val(), ObjectId: '44399', Attribute: $('#hdnDetalle_Pagos_PacienteBusinessRuleAttribute').val(), Screen: 'Detalle_Pagos_Paciente' }, function (data) {
                $(".Detalle_Pagos_PacienteBusinessRuleModal").html(data);
            });
        }
        function Detalle_Pagos_PacienteGetAddBusinessRule(RuleId, FieldId, FieldName, Attribute) {
			if (FieldId != null && FieldName != null) {
				$('#hdnDetalle_Pagos_PacienteBusinessRuleFieldId').val(FieldId);
				$('#hdnDetalle_Pagos_PacienteBusinessRuleFieldName').val(FieldName);
				$('#hdnDetalle_Pagos_PacienteBusinessRuleAttribute').val(Attribute);
			}
            $.get('@Url.Action("AddBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Pagos_PacienteBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Pagos_PacienteBusinessRuleFieldName').val(), ObjectId: '44399', Attribute: $('#hdnDetalle_Pagos_PacienteBusinessRuleAttribute').val(), Screen: 'Detalle_Pagos_Paciente' }, function (data) {
                $(".Detalle_Pagos_PacienteAddBusinessRuleModal").html(data);
                $(".datatable").DataTable();
            });
        }
		function RemoveBusinessRule(RuleId) {
			$.get('@Url.Action("RemoveBusinessRule", "BussinessRule")', { BusinessRuleId: RuleId, FieldId: $('#hdnDetalle_Pagos_PacienteBusinessRuleFieldId').val(), FieldName: $('#hdnDetalle_Pagos_PacienteBusinessRuleFieldName').val(), ObjectId: '44399', Attribute: $('#hdnDetalle_Pagos_PacienteBusinessRuleAttribute').val(), Screen: 'Detalle_Pagos_Paciente' }, function (data) {
				$(".Detalle_Pagos_PacienteBusinessRuleModal").html(data);
			});
		}

    var permission = {
        Consult: '@permission.Consult' == 'True',
        New: '@permission.New' == 'True',
        Edit: '@permission.Edit' == 'True',
        Delete: '@permission.Delete' == 'True',
        Export: '@permission.Export' == 'True',
        Print: '@permission.Print' == 'True',
        Configure: '@permission.Configure' == 'True',
    };

    
    //MR-var statusItems;
    //MR-var stateItems;
    //MR-var cityItems = [];
    var isConsultMode = "@ViewBag.Consult" == "True";
    Consult(isConsultMode);
        function Consult(val) {
            if (val) {
                $(':input').attr('readonly', 'readonly');
                $(':input').attr('disabled', 'true');
                $('.noConsult').removeAttr('readonly');
                $('.noConsult').removeAttr('disabled');
            }
        }

    function BackToGrid() {
        location.href = "@Url.Content("~/Frontal/Detalle_Pagos_Paciente/")";
    }
	
	function ReadScriptSettings(callback)
    {
        $.post("@Url.Content("~/Frontal/Detalle_Pagos_Paciente/ReadScriptSettings")", function (data) {
            mainElementObject = JSON.parse(data.MainElement);
			if (data.ChildElement != null) {
                childElementObject = JSON.parse(data.ChildElement);
            }
            callback();
        });
    }

    function SaveSettingsWithoutReload() {
        $.post("@Url.Content("~/Frontal/Detalle_Pagos_Paciente/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
            //$('#hdnDetalle_Pagos_PacienteConfigureType').val("0");
        }, "json");
    }
	
        function SaveElementAttributes() {
            if ($('#hdnDetalle_Pagos_PacienteConfigureType').val() == "1") {
                $.post("@Url.Content("~/Frontal/Detalle_Pagos_Paciente/WriteScriptSettings")", { CustomModuleAttributeList: mainElementObject, ChildModuleAttributeList: childElementObject }, function (data) {
                    $('#hdnDetalle_Pagos_PacienteConfigureType').val("0");
                    location.reload(true);
                }, "json");
            } else {
                $.post("@Url.Content("~/Frontal/Detalle_Pagos_Paciente/ReadScriptSettings")", function (data) {
                    mainElementObject = JSON.parse(data.MainElement);
                    childElementObject = JSON.parse(data.ChildElement);

                    for (var i = 0; i < mainElementObject.length; i++) {
                        var mainElementAttributes = '<div class="col-sm-2">';
                        mainElementAttributes += '<div class="displayAttributes requiredAttribute"><a class="requiredClick" title="' + (mainElementObject[i].IsRequired == true ? "Required" : "Not Required") + '" onclick="setRequired(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsRequired == true ? "@Url.Content("~/Images/Required.png")" : "@Url.Content("~/Images/Not-Required.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes visibleAttribute"><a class="visibleClick" title="' + (mainElementObject[i].IsVisible == true ? "Visible" : "In Visible") + '" onclick="setVisible(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsVisible == true ? "@Url.Content("~/Images/Visible.png")" : "@Url.Content("~/Images/InVisible.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes readOnlyAttribute"><a class="readOnlyClick" title="' + (mainElementObject[i].IsReadOnly == true ? "Disabled" : "Enabled") + '" onclick="setReadOnly(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].IsReadOnly == true ? "@Url.Content("~/Images/Disabled.png")" : "@Url.Content("~/Images/Enabled.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes defaultValueAttribute"><a id="hlDefaultValue_' + i.toString() + '" class="defaultValueClick" title="' + (mainElementObject[i].DefaultValue) + '" onclick="setDefaultValue(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].DefaultValue != '' && mainElementObject[i].DefaultValue != null ? "@Url.Content("~/Images/default-value.png")" : "@Url.Content("~/Images/Not-Default-Value.png")") + '" alt="" /></a></div>';
                        mainElementAttributes += '<div class="displayAttributes helpTextAttribute"><a id="hlHelpText_' + i.toString() + '" class="helpTextClick" title="' + (mainElementObject[i].HelpText) + '" onclick="setHelpText(' + i.toString() + ', this, 1)"><img src="' + (mainElementObject[i].HelpText != '' && mainElementObject[i].HelpText != null ? "@Url.Content("~/Images/green-help.png")" : "@Url.Content("~/Images/red-help.jpg")") + '" alt="" /></a></div>';
                        mainElementAttributes += '</div>';
                        $('#Detalle_Pagos_Paciente' + mainElementObject[i].inputId).parent().closest('.form-group').show();

                        $('#Detalle_Pagos_Paciente' + mainElementObject[i].inputId).closest('.col-sm-8').after(mainElementAttributes);
                    }
					if (childElementObject != null) {
						for (var i = 0; i < childElementObject.length; i++) {
							$('.' + childElementObject[i].inputId + 'Header').show();
							$('.' + childElementObject[i].inputId).parent().show();
							$('.' + childElementObject[i].inputId + 'Header').append(returnAttributeHTML(i));
						}
					}
                    $('#Detalle_Pagos_PacienteConfigureSave').text('Save Settings');
                    $('#hdnDetalle_Pagos_PacienteConfigureType').val("1");
                });
            }
        }
		$('#CreateDetalle_Pagos_Paciente').on('click', '.btnPopupBusinessRules', function () {
			var fieldId = $(this).data('field-id');
			var fieldName = $(this).data('field-name');
			var attribute = $(this).data('attribute');
			$('#hdnDetalle_Pagos_PacienteBusinessRuleFieldId').val(fieldId);
			$('#hdnDetalle_Pagos_PacienteBusinessRuleFieldName').val(fieldName);
			$('#hdnDetalle_Pagos_PacienteBusinessRuleAttribute').val(attribute);
		});
		//Initialize HTML Editors
		
    </script>
