@using System.Collections.Generic
@using Spartane.Web.Areas.Frontal.Models
@using Spartane.Web.Helpers
@model Spartane.Web.Areas.Frontal.Models.Detalle_Planes_de_RutinasAdvanceSearchModel
@{
    List<SelectListItem> varDias_de_la_semana_Numero_de_Dia = null;
    if (ViewBag.Dias_de_la_semanas_Numero_de_Dia != null)
    { varDias_de_la_semana_Numero_de_Dia = (List<SelectListItem>)ViewBag.Dias_de_la_semanas_Numero_de_Dia; }
    List<SelectListItem> varTipo_de_Enfoque_del_Ejercicio_Enfoque_del_Ejercicio = null;
    if (ViewBag.Tipo_de_Enfoque_del_Ejercicios_Enfoque_del_Ejercicio != null)
    { varTipo_de_Enfoque_del_Ejercicio_Enfoque_del_Ejercicio = (List<SelectListItem>)ViewBag.Tipo_de_Enfoque_del_Ejercicios_Enfoque_del_Ejercicio; }
    List<SelectListItem> varEjercicios_Ejercicio = null;
    if (ViewBag.Ejercicioss_Ejercicio != null)
    { varEjercicios_Ejercicio = (List<SelectListItem>)ViewBag.Ejercicioss_Ejercicio; }

    var filters = (List<SelectListItem>)ViewBag.Filter;
}
<style>
    .input-validation-error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .MarginBottom {
        margin-bottom: 1%;
    }

    #divAdvanceSearch input {
        margin-right: 2%;
    }

    #divAdvanceSearch button {
        margin-right: 2%;
    }

    #divAdvanceSearch select {
        margin-right: 2%;
    }

    #divAdvanceSearch h3 {
        margin-top: 2%;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins" id="divAdvanceSearch">
        <div class="ibox-content">
            @using (Html.BeginForm("ShowAdvanceFilter", "Detalle_Planes_de_Rutinas", FormMethod.Post, new { @id = "frmAdvanceSearch", @role = "form" }))
            {
				<input type="hidden" value="-1" name="idFilter" id="idFilter" />
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Planes_de_RutinasResources.Folio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromFolio, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.FromFolio)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToFolio, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToFolio", @data_min = "txtAdvanceFromFolio" })
                    @Html.ValidationMessageFor(m => m.ToFolio)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Planes_de_RutinasResources.Numero_de_Dia</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Numero_de_DiaFilter, filters, new { @class = "form-control", @id = "ddlNumero_de_DiaFilter" })
                    @Html.TextBoxFor(m => m.AdvanceNumero_de_Dia, new { @class = "form-control", @type = "text", @id = "txtAdvanceNumero_de_Dia" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varDias_de_la_semana_Numero_de_Dia!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceNumero_de_DiaMultiple, varDias_de_la_semana_Numero_de_Dia,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceNumero_de_Dia"
                        });
                    }
                </div>
        <div class="MarginBottom ">
            <h3>@Resources.Detalle_Planes_de_RutinasResources.Fecha</h3>
        </div>
        <div class="MarginBottom form-inline">
            <label class="">@Resources.Resources.From:</label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceFromFecha" name="FromFecha" type="text" value="@Model.FromFecha" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <label class="">@Resources.Resources.To: </label>
            <div class="input-group date">
                <input class="form-control" id="txtAdvanceToFecha" name="ToFecha" type="text" value="@Model.ToFecha" />
                <span class="form-inline input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
                <div class="MarginBottom ">
                    <h3>@Resources.Detalle_Planes_de_RutinasResources.Orden_de_Realizacion</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.From:</label>
                    @Html.TextBoxFor(m => m.FromOrden_de_Realizacion, new { @class = "form-control greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceFromOrden_de_Realizacion" })
                    @Html.ValidationMessageFor(m => m.FromOrden_de_Realizacion)
                    <label class="">@Resources.Resources.To: </label>
                    @Html.TextBoxFor(m => m.ToOrden_de_Realizacion, new { @class = "form-control greaterThan greaterThanZero", @type = "text", @onkeypress = "return isNumberKey(this, event);", @id = "txtAdvanceToOrden_de_Realizacion", @data_min = "txtAdvanceFromOrden_de_Realizacion" })
                    @Html.ValidationMessageFor(m => m.ToOrden_de_Realizacion)
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Planes_de_RutinasResources.Secuencia_del_Ejercicio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Secuencia_del_EjercicioFilter, filters, new { @class = "form-control", @id = "ddlSecuencia_del_EjercicioFilter" })
                    @Html.TextBoxFor(m => m.Secuencia_del_Ejercicio, new { @class = "form-control", @type = "text", @id = "txtSecuencia_del_Ejercicio" })
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Planes_de_RutinasResources.Enfoque_del_Ejercicio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.Enfoque_del_EjercicioFilter, filters, new { @class = "form-control", @id = "ddlEnfoque_del_EjercicioFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEnfoque_del_Ejercicio, new { @class = "form-control", @type = "text", @id = "txtAdvanceEnfoque_del_Ejercicio" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varTipo_de_Enfoque_del_Ejercicio_Enfoque_del_Ejercicio!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEnfoque_del_EjercicioMultiple, varTipo_de_Enfoque_del_Ejercicio_Enfoque_del_Ejercicio,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEnfoque_del_Ejercicio"
                        });
                    }
                </div>
                <div class="MarginBottom">
                    <h3>@Resources.Detalle_Planes_de_RutinasResources.Ejercicio</h3>
                </div>
                <div class="MarginBottom form-inline">
                    <label class="">@Resources.Resources.Filter:</label>
                    @Html.DropDownListFor(m => m.EjercicioFilter, filters, new { @class = "form-control", @id = "ddlEjercicioFilter" })
                    @Html.TextBoxFor(m => m.AdvanceEjercicio, new { @class = "form-control", @type = "text", @id = "txtAdvanceEjercicio" })
                    <label class="">@Resources.Resources.OrSelect </label>
                    @if (varEjercicios_Ejercicio!=null)
                    {
                        @Html.ListBoxFor(m => m.AdvanceEjercicioMultiple, varEjercicios_Ejercicio,
                        new
                        {
                            @class = "form-control chosen-select",
                            @multiple = "multiple",
                            @data_placeholder = "",
                            @style = "width: 350px;",
                            @id = "ddlAdvanceEjercicio"
                        });
                    }
                </div>

                <div class="MarginBottom form-inline">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resources.Search"><a class="btn btn-primary" href="@Url.Content("~/Frontal/Detalle_Planes_de_Rutinas/")" value=" ">@Resources.Resources.Cancelar</a>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function InitiateAdvanceSearch() {
        var advanceSearch = {}, hasParameter = false;
        if ($("#txtAdvanceFromFolio").val() != "" || $("#txtAdvanceToFolio").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Planes_de_RutinasFolioFrom = $("#txtAdvanceFromFolio").val();
            advanceSearch.Detalle_Planes_de_RutinasFolioTo = $("#txtAdvanceToFolio").val();
        }
        advanceSearch.Numero_de_DiaSearchType = 0;
        if ($('#ddlAdvanceNumero_de_Dia').val().length > 0 || $("#txtAdvanceNumero_de_Dia").val() == "") {


            if (isDetalle_Planes_de_RutinasTextSearch) {
                advanceSearch.Numero_de_DiaName = $("#txtAdvanceNumero_de_Dia").val();
                advanceSearch.Numero_de_DiaNameSearchType = $("#ddlAdvanceNumero_de_Dia").val();
                advanceSearch.Numero_de_DiaSearchType = 1;
            }
            else {

                advanceSearch.Numero_de_DiaToSearch = $("#ddlAdvanceNumero_de_Dia").val();
                advanceSearch.Numero_de_DiaSearchType = 2;
            }
        }
        if ($("#txtAdvanceFromFecha").val() != "" || $("#txtAdvanceToFecha").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Planes_de_RutinasFechaFrom = $("#txtAdvanceFromFecha").val();
            advanceSearch.Detalle_Planes_de_RutinasFechaTo = $("#txtAdvanceToFecha").val();
        }
        if ($("#txtAdvanceFromOrden_de_Realizacion").val() != "" || $("#txtAdvanceToOrden_de_Realizacion").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Planes_de_RutinasOrden_de_RealizacionFrom = $("#txtAdvanceFromOrden_de_Realizacion").val();
            advanceSearch.Detalle_Planes_de_RutinasOrden_de_RealizacionTo = $("#txtAdvanceToOrden_de_Realizacion").val();
        }
        if ($("#txtAdvanceSecuencia_del_Ejercicio").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Planes_de_RutinasSecuencia_del_Ejercicio = $("#txtAdvanceSecuencia_del_Ejercicio").val();
            advanceSearch.Detalle_Planes_de_RutinasSecuencia_del_EjercicioSearchType = $("#ddlAdvanceSecuencia_del_EjercicioFilter").val();
        }
        advanceSearch.Enfoque_del_EjercicioSearchType = 0;
        if ($('#ddlAdvanceEnfoque_del_Ejercicio').val().length > 0 || $("#txtAdvanceEnfoque_del_Ejercicio").val() == "") {


            if (isDetalle_Planes_de_RutinasTextSearch) {
                advanceSearch.Enfoque_del_EjercicioName = $("#txtAdvanceEnfoque_del_Ejercicio").val();
                advanceSearch.Enfoque_del_EjercicioNameSearchType = $("#ddlAdvanceEnfoque_del_Ejercicio").val();
                advanceSearch.Enfoque_del_EjercicioSearchType = 1;
            }
            else {

                advanceSearch.Enfoque_del_EjercicioToSearch = $("#ddlAdvanceEnfoque_del_Ejercicio").val();
                advanceSearch.Enfoque_del_EjercicioSearchType = 2;
            }
        }
        advanceSearch.EjercicioSearchType = 0;
        if ($('#ddlAdvanceEjercicio').val().length > 0 || $("#txtAdvanceEjercicio").val() == "") {


            if (isDetalle_Planes_de_RutinasTextSearch) {
                advanceSearch.EjercicioName = $("#txtAdvanceEjercicio").val();
                advanceSearch.EjercicioNameSearchType = $("#ddlAdvanceEjercicio").val();
                advanceSearch.EjercicioSearchType = 1;
            }
            else {

                advanceSearch.EjercicioToSearch = $("#ddlAdvanceEjercicio").val();
                advanceSearch.EjercicioSearchType = 2;
            }
        }
        if ($("#ddlAdvanceRealizado").val() != "") {
            hasParameter = true;
            advanceSearch.Detalle_Planes_de_RutinasRealizado = $("#ddlAdvanceRealizado").val();
        }

        advanceSearchQuery = hasParameter ? JSON.stringify(advanceSearch) : "";
        $('#tblDetalle_Planes_de_Rutinas').DataTable().draw();
        return false;
    }

    var advanceSearchQuery = "", isDetalle_Planes_de_RutinasTextSearch = true;

    $(document).ready(function () {
        $('.clock').clockpicker();
		$('.date').datepicker({
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			calendarWeeks: true,
			autoclose: true,
			format: "@ConfigurationProperty.DateFormatDatePicker"
		});
        $("#txtAdvanceNumero_de_Dia").keypress(function () {
            isDetalle_Planes_de_RutinasTextSearch = true;
            $("#ddlAdvanceNumero_de_Dia").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceNumero_de_Dia").change(function () {
            isDetalle_Planes_de_RutinasTextSearch = false;
            $("#txtAdvanceNumero_de_Dia").val('');
        });
        $("#txtAdvanceEnfoque_del_Ejercicio").keypress(function () {
            isDetalle_Planes_de_RutinasTextSearch = true;
            $("#ddlAdvanceEnfoque_del_Ejercicio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEnfoque_del_Ejercicio").change(function () {
            isDetalle_Planes_de_RutinasTextSearch = false;
            $("#txtAdvanceEnfoque_del_Ejercicio").val('');
        });
        $("#txtAdvanceEjercicio").keypress(function () {
            isDetalle_Planes_de_RutinasTextSearch = true;
            $("#ddlAdvanceEjercicio").val('').trigger("chosen:updated");
        });

        $("#ddlAdvanceEjercicio").change(function () {
            isDetalle_Planes_de_RutinasTextSearch = false;
            $("#txtAdvanceEjercicio").val('');
        });

    });
</script>


@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/clockpickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")


    <script>
        //Adding Rules
        jQuery.validator.unobtrusive
      .adapters.addSingleVal("isnumberafter", "propertyname");
        jQuery.validator.unobtrusive
    .adapters.addSingleVal("isdateafter", "propertyname");

        //Number after method
        jQuery.validator.addMethod("isnumberafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {
                //if (Date.parse(val) <= Date.parse(otherVal)) {
                if (Number(val) < Number(otherVal)) {
                    return false;
                }
                        }
            return true;
        });

        //Date after after method
        jQuery.validator.addMethod("isdateafter", function (val, element, other) {
            var modelPrefix = element.name.substr(
                0, element.name.lastIndexOf(".") + 1);
            var otherVal = $("[name=" + modelPrefix + other + "]").val();
            if (val && otherVal) {

                if (GetDateObject(val) < GetDateObject(otherVal)) {

                    return false;
                    }
                }
            return true;
            });


        function GetDateObject(value) {
            var delimiter = GetDelimiter(dateFormat);
            var dateCollection = value.split(delimiter);
            var formatCollection = dateFormat.split(delimiter);
            var dateModel = GetDateModel(dateCollection, formatCollection);
            return new Date(dateModel.Year, dateModel.Month - 1, dateModel.Day);
        }
        //Used to get the date model by parsing the date and the format
        function GetDateModel(dateCollection,formatCollection) {
            var day, month, year;
            for (var i = 0; i < formatCollection.length; i++) {
                switch (formatCollection[i][0].toUpperCase()) {
                
                    case "D":
                        day = dateCollection[i];
                        break;

                    case "Y":
                        year = dateCollection[i];
                        break;

                    case "M":
                        month = dateCollection[i];
                        break;
                }
            }

            return {
                Day:day,
                Month:month,
                Year:year
            };
        }

        function GetDelimiter(format) {

            for (var i = 0; i < format.length; i++) {
                if (/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(format[i])) {
                    return format[i];
                }
            }
            return null;
        }

        var dateFormat = "@ConfigurationProperty.DateFormatDatePicker";

        $(document).ready(function () {
            $('.input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: dateFormat,
                message: 'The date is not a valid'
            });

            $(".chosen-select").chosen({ width: "22%", no_results_text: "Oops, nothing found!" });
			if ($('#IsFilterModal').val() == 'true') {
                $('.ShowAdvanceFilter #right-sidebar').css('display', 'none');
                $('.ShowAdvanceFilter .navbar-default').css('display', 'none');
                $('.ShowAdvanceFilter .border-bottom').css('display', 'none');
                $('.ShowAdvanceFilter #page-wrapper').css('margin', '0 auto');
                $('.ShowAdvanceFilter .btn-save').val('@Resources.Resources.Filter');
                $('.ShowAdvanceFilter .btn-cancelar').attr('data-dismiss', 'modal');
                $('.ShowAdvanceFilter .btn-cancelar').removeAttr('href');
                $('#idFilter').val($('#IdReport').val());
            }
        });

    </script>
}

