@model IList<Spartane.Web.Areas.Frontal.Models.EmpresasGridModel>

@{
    var rowCounter = 0;
}

<style>
    .table {
        width: 100%;
        border: 1px solid #cccccc;
        font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        /*border-collapse: separate !important;*/
        font-size: 13px;
    }

        .table td {
            padding: 2px;
            border:1px solid #cccccc;
        }

    .table tr:nth-of-type(2n+1) {
        background-color: #f9f9f9;
    }

        .table tr:nth-of-type(2n) {
            background-color: #8da0c2;
        }

    .table-row-1 td, .table-row-1 th {
    }

    .table-row-2 td, .table-row-2 th, thead {
    }

    .tableHeaderRow {
        font-weight: bold;
        border: 1px solid #ff6a00;
    }

    .column1 {
        width: 15%;
    }

    .column2 {
        width: 15%;
    }
</style>
<br />
<body onbeforeprint="ocultarcolumnas();">
 <span id="columnsVisible"></span>
<table class="table" cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <td class="column1">
                @Resources.EmpresasResources.Folio
            </td>
                        <td class="column1">
                @Resources.EmpresasResources.Folio
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Fecha_de_Registro
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Hora_de_Registro
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Usuario_que_Registra
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Nombre_de_la_Empresa
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Tipo_de_Empresa
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Email
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Telefono
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Calle
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Numero_exterior
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Numero_interior
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Colonia
            </td>
            <td class="column1">
                @Resources.EmpresasResources.CP
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Ciudad
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Estado
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Pais
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Estatus
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Regimen_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Nombre_o_Razon_Social
            </td>
            <td class="column1">
                @Resources.EmpresasResources.RFC
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Calle_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Numero_exterior_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Numero_interior_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Colonia_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.CP_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Ciudad_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Estado_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Pais_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Telefono_Fiscal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Fax
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Nombres_del_Representante_Legal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Apellido_Paterno_del_Representante_Legal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Apellido_Materno_del_Representante_Legal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Nombre_Completo_del_Representante_Legal
            </td>
            <td class="column1">
                @Resources.EmpresasResources.Cedula_Fiscal
            </td>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {                
                <tr>
                    <td>
                        @item.Folio
                    </td>
					                    <td>
                        @item.Folio
                    </td>
                    <td>
                        @item.Fecha_de_Registro
                    </td>
                    <td>
                        @item.Hora_de_Registro
                    </td>
                    <td>
                        @item.Usuario_que_RegistraName
                    </td>
                    <td>
                        @item.Nombre_de_la_Empresa
                    </td>
                    <td>
                        @item.Tipo_de_EmpresaDescripcion
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Telefono
                    </td>
                    <td>
                        @item.Calle
                    </td>
                    <td>
                        @item.Numero_exterior
                    </td>
                    <td>
                        @item.Numero_interior
                    </td>
                    <td>
                        @item.Colonia
                    </td>
                    <td>
                        @item.CP
                    </td>
                    <td>
                        @item.Ciudad
                    </td>
                    <td>
                        @item.EstadoNombre_del_Estado
                    </td>
                    <td>
                        @item.PaisNombre_del_Pais
                    </td>
                    <td>
                        @item.EstatusDescripcion
                    </td>
                    <td>
                        @item.Regimen_FiscalDescripcion
                    </td>
                    <td>
                        @item.Nombre_o_Razon_Social
                    </td>
                    <td>
                        @item.RFC
                    </td>
                    <td>
                        @item.Calle_Fiscal
                    </td>
                    <td>
                        @item.Numero_exterior_Fiscal
                    </td>
                    <td>
                        @item.Numero_interior_Fiscal
                    </td>
                    <td>
                        @item.Colonia_Fiscal
                    </td>
                    <td>
                        @item.CP_Fiscal
                    </td>
                    <td>
                        @item.Ciudad_Fiscal
                    </td>
                    <td>
                        @item.Estado_FiscalNombre_del_Estado
                    </td>
                    <td>
                        @item.Pais_FiscalNombre_del_Pais
                    </td>
                    <td>
                        @item.Telefono_Fiscal
                    </td>
                    <td>
                        @item.Fax
                    </td>
                    <td>
                        @item.Nombres_del_Representante_Legal
                    </td>
                    <td>
                        @item.Apellido_Paterno_del_Representante_Legal
                    </td>
                    <td>
                        @item.Apellido_Materno_del_Representante_Legal
                    </td>
                    <td>
                        @item.Nombre_Completo_del_Representante_Legal
                    </td>
                    <td>
                        @item.Cedula_Fiscal
                    </td>

                </tr>
                rowCounter++;
            }
        }
    </tbody>
</table>
</body>

<script>
    function ocultarcolumnas() {        
        var arr = document.getElementById('columnsVisible').text.split(',');
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] == "false") {
                show_hide_column(i-1, false);
            }
        }    
    };

    function show_hide_column(col_no, do_show) {
        var rows = document.getElementsByClassName('table')[0].rows;
        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].cells;
            if (col_no >= 0 && col_no < cols.length) {
                console.log(col_no);
                cols[col_no].style.display = do_show ? '' : 'none';
            }
        }
    }
</script>

